# Capstone Project

# Libraries

In [1]:
# Import Library 

import re
import requests
from re import search

import unicodedata
from bs4 import BeautifulSoup
from bs4 import Tag

from bs4 import NavigableString
from bs4 import SoupStrainer
from pprint import pprint

import numpy as np
from numpy import array
import pandas as pd 

import csv
import pickle

from collections import Counter
import datetime

from IPython.display import display
from IPython.core import display as ICD
pd.set_option('display.max_columns', 100)

# Define Text Normalization Function

In [2]:
def restore_windows_1252_characters(restore_string):
    """
    Replace C1 control characters in the Unicode string s by the
    characters at the corresponding code points in Windows-1252,
    where possible.
    """

def to_windows_1252(match):
    try:
        return bytes([ord(match.group(0))]).decode('windows-1252')
    except UnicodeDecodeError:
        # No character at the corresponding code point: remove it.
        return ''

    return re.sub(r'[\u0080-\u0099]', to_windows_1252, restore_string)

# Grab the Document Content

In [3]:
def grab_doc_content( brand, CIK ):
    
    company = {}
    
    company['auto'] = {}
    auto = {brand : CIK
           }
    company['auto'] = auto

    value = list(auto.copy().values())
    
    return value

In [4]:
GDC = grab_doc_content('Netflix', '0001065280')

In [5]:
master_filings_dict = {}
    
file_code = {}
    
file_text = {}

Accession_Number_URL = {}

In [6]:
# URL Directory For CIK    
dir_url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'
dir_url_list = [dir_url.format(x) for x in GDC]

#print('Directory URL: {}'.format(dir_url_list))
doc_url_list = [] 

# FOR-loop yielding Accession Numbers from CIK/URL Directory.
for CIK_num in GDC:

    doc_url = r'https://www.sec.gov/Archives/edgar/data/{CIKx}/{xx}/{yy}.txt'
    doc_url_new = doc_url.format(CIKx = CIK_num, xx='{xx}', yy ='{yy}')
    doc_url_list.append(doc_url_new)

In [7]:
def url_maker(dir_url):
    dir_url_list = [dir_url.format(x) for x in GDC]

    #print('Directory URL: {}'.format(dir_url_list))
    doc_url_list = [] 

    # FOR-loop yielding Accession Numbers from CIK/URL Directory.
    for CIK_num in GDC:

        doc_url = r'https://www.sec.gov/Archives/edgar/data/{CIKx}/{xx}/{yy}.txt'
        doc_url_new = doc_url.format(CIKx = CIK_num, xx='{xx}', yy ='{yy}')
        
        doc_url_list.append(doc_url_new)
        
        url_lists = zip( dir_url_list , doc_url_list )
        
    return url_lists

In [8]:
url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'
for dir_url, doc_url in url_maker(url): 
    print(1, dir_url)
    print(2, doc_url)

1 https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001065280&type=10-&dateb=&owner=include&count=100
2 https://www.sec.gov/Archives/edgar/data/0001065280/{xx}/{yy}.txt

In [9]:
Accession_Number_URL = {}
url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'

for dir_url, doc_url in url_maker(url):
    
    response = requests.get(dir_url)
    soup = BeautifulSoup(response.content, 'lxml')
    text = soup.get_text(strip=True)

    cleaned_text = re.findall('Acc-no: \d+-\d+-\d+' , text)

    accession_number = [n.replace('Acc-no: ', '') for n in cleaned_text]
    accessionnumber = [num.replace('-', '') for num in accession_number]

    accession_numbers = zip(accessionnumber, accession_number)
    
    cikk = [ cikk_.replace('CIK=', '') for cikk_ in re.findall('CIK=\d+', dir_url) ][0]
    CIKK = {cikk : accessionnumber}
    
    for (a,b) in accession_numbers: 
        master_filings_dict[b] = {}
        master_filings_dict[b]['sec_header_content'] = {}
        master_filings_dict[b]['filing_documents'] = None

        doc_url_single = doc_url.format(xx = a, yy = b)

        file_url_list = []

        

        file_url_list.append( doc_url_single )
        
        Accession_Number_URL.update({ b : file_url_list})

In [71]:
Accession_Number_URL

{'0001065280-20-000309': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528020000309/0001065280-20-000309.txt'],
 '0001065280-20-000155': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528020000155/0001065280-20-000155.txt'],
 '0001065280-20-000040': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528020000040/0001065280-20-000040.txt'],
 '0001065280-19-000368': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000368/0001065280-19-000368.txt'],
 '0001065280-19-000260': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000260/0001065280-19-000260.txt'],
 '0001065280-19-000157': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000157/0001065280-19-000157.txt'],
 '0001065280-19-000079': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000079/0001065280-19-000079.txt'],
 '0001065280-19-000043': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000043/0001065280-19-000043.txt'],
 '0001065280-18-000538': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528018000538/0001065280-18-000538.txt'],
 '0001065280-18-000360': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528018000360/0001065280-18-000360.txt'],
 '0001065280-18-000205': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528018000205/0001065280-18-000205.txt'],
 '0001628280-18-000941': ['https://www.sec.gov/Archives/edgar/data/0001065280/000162828018000941/0001628280-18-000941.txt'],
 '0001065280-18-000069': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528018000069/0001065280-18-000069.txt'],
 '0001065280-17-000180': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528017000180/0001065280-17-000180.txt'],
 '0001065280-17-000046': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528017000046/0001065280-17-000046.txt'],
 '0001628280-17-003939': ['https://www.sec.gov/Archives/edgar/data/0001065280/000162828017003939/0001628280-17-003939.txt'],
 '0001628280-17-000496': ['https://www.sec.gov/Archives/edgar/data/0001065280/000162828017000496/0001628280-17-000496.txt'],
 '0001065280-16-000081': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528016000081/0001065280-16-000081.txt'],
 '0001065280-16-000072': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528016000072/0001065280-16-000072.txt'],
 '0001065280-16-000057': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528016000057/0001065280-16-000057.txt'],
 '0001065280-16-000047': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528016000047/0001065280-16-000047.txt'],
 '0001065280-15-000038': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528015000038/0001065280-15-000038.txt'],
 '0001065280-15-000031': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528015000031/0001065280-15-000031.txt'],
 '0001065280-15-000017': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528015000017/0001065280-15-000017.txt'],
 '0001065280-15-000006': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528015000006/0001065280-15-000006.txt'],
 '0001065280-14-000028': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528014000028/0001065280-14-000028.txt'],
 '0001065280-14-000021': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528014000021/0001065280-14-000021.txt'],
 '0001065280-14-000012': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528014000012/0001065280-14-000012.txt'],
 '0001065280-14-000006': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528014000006/0001065280-14-000006.txt'],
 '0001065280-13-000036': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528013000036/0001065280-13-000036.txt'],
 '0001065280-13-000030': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528013000030/0001065280-13-000030.txt'],
 '0001065280-13-000020': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528013000020/0001065280-13-000020.txt'],
 '0001065280-13-000008': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528013000008/0001065280-13-000008.txt'],
 '0001065280-12-000023': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528012000023/0001065280-12-000023.txt'],
 '0001065280-12-000020': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528012000020/0001065280-12-000020.txt'],
 '0001065280-12-000012': ['https://www.sec.gov/Archives/edgar/data/0001065280/000106528012000012/0001065280-12-000012.txt'],
 '0001445305-12-001242': ['https://www.sec.gov/Archives/edgar/data/0001065280/000144530512001242/0001445305-12-001242.txt'],
 '0001193125-12-053009': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312512053009/0001193125-12-053009.txt'],
 '0001193125-11-297992': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312511297992/0001193125-11-297992.txt'],
 '0001193125-11-284366': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312511284366/0001193125-11-284366.txt'],
 '0001193125-11-198669': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312511198669/0001193125-11-198669.txt'],
 '0001193125-11-112061': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312511112061/0001193125-11-112061.txt'],
 '0001193125-11-040217': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312511040217/0001193125-11-040217.txt'],
 '0001193125-10-235785': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312510235785/0001193125-10-235785.txt'],
 '0001193125-10-167382': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312510167382/0001193125-10-167382.txt'],
 '0001193125-10-095215': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312510095215/0001193125-10-095215.txt'],
 '0001193125-10-036181': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312510036181/0001193125-10-036181.txt'],
 '0001193125-09-213071': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312509213071/0001193125-09-213071.txt'],
 '0001193125-09-160729': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312509160729/0001193125-09-160729.txt'],
 '0001193125-09-103685': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312509103685/0001193125-09-103685.txt'],
 '0001193125-09-037430': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312509037430/0001193125-09-037430.txt'],
 '0001193125-08-222820': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312508222820/0001193125-08-222820.txt'],
 '0001193125-08-173275': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312508173275/0001193125-08-173275.txt'],
 '0001193125-08-102742': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312508102742/0001193125-08-102742.txt'],
 '0001193125-08-040378': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312508040378/0001193125-08-040378.txt'],
 '0001193125-07-233664': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312507233664/0001193125-07-233664.txt'],
 '0001193125-07-171865': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312507171865/0001193125-07-171865.txt'],
 '0001193125-07-103250': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312507103250/0001193125-07-103250.txt'],
 '0001193125-07-042689': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312507042689/0001193125-07-042689.txt'],
 '0001193125-06-230314': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312506230314/0001193125-06-230314.txt'],
 '0001193125-06-167595': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312506167595/0001193125-06-167595.txt'],
 '0001193125-06-105115': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312506105115/0001193125-06-105115.txt'],
 '0001193125-06-056663': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312506056663/0001193125-06-056663.txt'],
 '0001193125-05-221711': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312505221711/0001193125-05-221711.txt'],
 '0001193125-05-161122': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312505161122/0001193125-05-161122.txt'],
 '0001193125-05-102632': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312505102632/0001193125-05-102632.txt'],
 '0001193125-05-051159': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312505051159/0001193125-05-051159.txt'],
 '0001193125-04-191186': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312504191186/0001193125-04-191186.txt'],
 '0001193125-04-128377': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312504128377/0001193125-04-128377.txt'],
 '0001193125-04-075632': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312504075632/0001193125-04-075632.txt'],
 '0001193125-04-031416': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312504031416/0001193125-04-031416.txt'],
 '0001193125-03-070952': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312503070952/0001193125-03-070952.txt'],
 '0001193125-03-027244': ['https://www.sec.gov/Archives/edgar/data/0001065280/000119312503027244/0001193125-03-027244.txt'],
 '0001012870-03-002583': ['https://www.sec.gov/Archives/edgar/data/0001065280/000101287003002583/0001012870-03-002583.txt'],
 '0000950168-03-001155': ['https://www.sec.gov/Archives/edgar/data/0001065280/000095016803001155/0000950168-03-001155.txt'],
 '0001021408-02-014175': ['https://www.sec.gov/Archives/edgar/data/0001065280/000102140802014175/0001021408-02-014175.txt'],
 '0001012870-02-003483': ['https://www.sec.gov/Archives/edgar/data/0001065280/000101287002003483/0001012870-02-003483.txt']}

In [10]:
A_N = []
for AN, url in Accession_Number_URL.items():
    
    if AN == '0001193125-08-173275':
        break
    else:
        A_N.append(AN)
        print(url)
print(A_N, '\n')
print(len(A_N))
print(url)

['https://www.sec.gov/Archives/edgar/data/0001065280/000106528020000309/0001065280-20-000309.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528020000155/0001065280-20-000155.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528020000040/0001065280-20-000040.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000368/0001065280-19-000368.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000260/0001065280-19-000260.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000157/0001065280-19-000157.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000079/0001065280-19-000079.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528019000043/0001065280-19-000043.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528018000538/0001065280-18-000538.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528018000360/0001065280-18-000360.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528018000205/0001065280-18-000205.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000162828018000941/0001628280-18-000941.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528018000069/0001065280-18-000069.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528017000180/0001065280-17-000180.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528017000046/0001065280-17-000046.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000162828017003939/0001628280-17-003939.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000162828017000496/0001628280-17-000496.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528016000081/0001065280-16-000081.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528016000072/0001065280-16-000072.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528016000057/0001065280-16-000057.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528016000047/0001065280-16-000047.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528015000038/0001065280-15-000038.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528015000031/0001065280-15-000031.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528015000017/0001065280-15-000017.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528015000006/0001065280-15-000006.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528014000028/0001065280-14-000028.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528014000021/0001065280-14-000021.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528014000012/0001065280-14-000012.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528014000006/0001065280-14-000006.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528013000036/0001065280-13-000036.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528013000030/0001065280-13-000030.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528013000020/0001065280-13-000020.txt']
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528013000008/0001065280-13-000008.txt']
['0001065280-20-000309', '0001065280-20-000155', '0001065280-20-000040', '0001065280-19-000368', '0001065280-19-000260', '0001065280-19-000157', '0001065280-19-000079', '0001065280-19-000043', '0001065280-18-000538', '0001065280-18-000360', '0001065280-18-000205', '0001628280-18-000941', '0001065280-18-000069', '0001065280-17-000180', '0001065280-17-000046', '0001628280-17-003939', '0001628280-17-000496', '0001065280-16-000081', '0001065280-16-000072', '0001065280-16-000057', '0001065280-16-000047', '0001065280-15-000038', '0001065280-15-000031', '0001065280-15-000017', '0001065280-15-000006', '0001065280-14-000028', '0001065280-14-000021', '0001065280-14-000012', '0001065280-14-000006', '0001065280-13-000036', '0001065280-13-000030', '0001065280-13-000020', '0001065280-13-000008']

33
['https://www.sec.gov/Archives/edgar/data/0001065280/000106528012000023/0001065280-12-000023.txt']

## Save each Filing.

In [73]:
QorK = {'10-Q' : [],
        '10-K' : []
       }

for acc_num, url in Accession_Number_URL.items():
    
    master_document_dict = {}
    
    # create a stop point
    if acc_num == '0001193125-08-173275':
        break

    else:
        
        # grab the response
        response = requests.get(url[0])

    # Soupify
        # pass it through the parser, in this case let's just use lxml because the tags seem to follow xml.
        soup = BeautifulSoup(response.content, 'lxml')
        filing_document = soup.find('document')
        
    # Parsing
        # Document type ->> document_id
        document_id = filing_document.type.find(text=True, recursive=False).strip()
        # Document sequence ->> document_sequence
        document_sequence = filing_document.sequence.find(text=True, recursive=False).strip()
        # Document filename ->> document_filename
        document_filename = filing_document.filename.find(text=True, recursive=False).strip()
        # Document description ->> document_description
        document_description = filing_document.description.find(text=True, recursive=False).strip()
        
    # Storage    
        # initalize our document dictionary
        master_document_dict[document_id] = {}

        # add the different parts, we parsed up above.
        master_document_dict[document_id]['document_sequence'] = document_sequence
        master_document_dict[document_id]['document_filename'] = document_filename
        master_document_dict[document_id]['document_description'] = document_description
        
# Scraping
        # grab the text portion of the document, this will be used to split the document into pages.
        filing_doc_text = filing_document.find('text').extract()

        # find all the thematic breaks, these help define page numbers and page breaks.
        all_thematic_breaks = filing_doc_text.find_all('hr')

        # Locate and store page number via list comprehension.
        all_page_numbers = [thematic_break.previous_sibling.get_text(strip=True) for thematic_break in all_thematic_breaks if len(str(thematic_break))>6]

        # convert all thematic breaks to a string so it can be used for parsing
        all_thematic_breaks = [str(thematic_break) for thematic_break in all_thematic_breaks]

        # prep the document text for splitting, this means converting it to a string.
        filing_doc_string = str(filing_doc_text)
    
        # handle the case where there are thematic breaks.
        if len(all_thematic_breaks) > 0: 

            # define the regex delimiter pattern, this would just be all of our thematic breaks.
            regex_delimiter_pattern = '|'.join(map(re.escape, all_thematic_breaks))

            # split the document along each thematic break.
            split_filing_string = re.split(regex_delimiter_pattern, filing_doc_string)

            # store the document itself
            master_document_dict[document_id]['pages_code'] = split_filing_string

        # handle the case where there are no thematic breaks.
        elif len(all_thematic_breaks) == 0:

            # handles so it will display correctly.
            split_filing_string = all_thematic_breaks

            # store the document as is, since there are no thematic breaks. In other words, no splitting.
            master_document_dict[document_id]['pages_code'] = [filing_doc_string]
            
        # display some information to the user.
        print('-'*80)
        print('The document {} was parsed.'.format(document_id))
        print('There was {} page(s) found.'.format(len(all_page_numbers)))
        print('There was {} thematic breaks(s) found.'.format(len(all_thematic_breaks)))

        # store the documents in the master_filing_dictionary.
        master_filings_dict[acc_num]['filing_documents'] = master_document_dict
        
        # if document is 10-Q
        if document_id == '10-Q':
            QorK['10-Q'].append(acc_num) # add acc_num to QorK in 10-Q as key
        
        # if document is 10-K
        if document_id == '10-K':
            QorK['10-K'].append(acc_num) # add acc_num to QorK in 10-K as key
        
        del master_document_dict
        
        print('-'*80)
        print('All the documents for filing {} were parsed and stored.'.format(acc_num))

--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 36 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-20-000309 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 30 page(s) found.
There was 31 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-20-000155 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 69 page(s) found.
There was 69 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-20-000040 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 38 page(s) found.
There was 39 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-19-000368 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 37 page(s) found.
There was 38 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-19-000260 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 31 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-19-000157 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K/A was parsed.
There was 6 page(s) found.
There was 6 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-19-000079 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 76 page(s) found.
There was 76 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-19-000043 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 36 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-18-000538 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 35 page(s) found.
There was 36 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-18-000360 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 30 page(s) found.
There was 31 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-18-000205 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K/A was parsed.
There was 69 page(s) found.
There was 69 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001628280-18-000941 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 67 page(s) found.
There was 67 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-18-000069 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 34 page(s) found.
There was 35 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-17-000180 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 33 page(s) found.
There was 34 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-17-000046 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 31 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001628280-17-003939 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 67 page(s) found.
There was 67 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001628280-17-000496 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 34 page(s) found.
There was 35 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-16-000081 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 34 page(s) found.
There was 35 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-16-000072 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 31 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-16-000057 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 66 page(s) found.
There was 66 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-16-000047 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 35 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-15-000038 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 35 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-15-000031 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 30 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-15-000017 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 69 page(s) found.
There was 69 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-15-000006 were parsed and stored.

--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 35 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-14-000028 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 34 page(s) found.
There was 36 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-14-000021 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 30 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-14-000012 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 71 page(s) found.
There was 71 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-14-000006 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 39 page(s) found.
There was 41 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-13-000036 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 38 page(s) found.
There was 40 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-13-000030 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 34 page(s) found.
There was 36 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-13-000020 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 72 page(s) found.
There was 72 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-13-000008 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q/A was parsed.
There was 20 page(s) found.
There was 21 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-12-000023 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 36 page(s) found.
There was 38 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-12-000020 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 36 page(s) found.
There was 38 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001065280-12-000012 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 30 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001445305-12-001242 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 78 page(s) found.
There was 78 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-12-053009 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q/A was parsed.
There was 34 page(s) found.
There was 34 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-297992 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 33 page(s) found.
There was 33 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-284366 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 32 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-198669 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 32 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-112061 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 72 page(s) found.
There was 72 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-040217 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 36 page(s) found.
There was 36 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-10-235785 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 35 page(s) found.
There was 35 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-10-167382 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 28 page(s) found.
There was 28 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-10-095215 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 78 page(s) found.
There was 78 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-10-036181 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 34 page(s) found.
There was 34 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-09-213071 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 33 page(s) found.
There was 33 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-09-160729 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 26 page(s) found.
There was 26 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-09-103685 were parsed and stored.

--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 75 page(s) found.
There was 75 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-09-037430 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 37 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-08-222820 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 37 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-08-173275 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 29 page(s) found.
There was 29 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-08-102742 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 73 page(s) found.
There was 73 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-08-040378 were parsed and stored.

AttributeError: 'NavigableString' object has no attribute 'get_text'

In [12]:
string_test = master_filings_dict['0000320193-20-000052']['filing_documents']['10-Q']['pages_code']

KeyError: '0000320193-20-000052'

## Anchor Check Function

In [12]:
# Variations of HTML anchors.
CBS_A = 'CONSOLIDATED BALANCE SHEETS'
CBS_B = 'Consolidated Balance Sheets'
CBS_C = 'Cash and cash equivalents'
# SoO_A = '<a name="Statements_of_Operations"' 
# SoO_B = 'id="CONSOLIDATED_STATEMENTS_OPERATIONS"'
# SoO3 = 'name="CONSOLIDATED_STATEMENTS_OPERATIONS"'
# CSoO10K = 'name="Consolidated_Statements_of_Operations"'
# CSoO10Knew = 'id="Consolidated_Statements_of_Operations"'

# CF_A = '<a name="Statements_of_Cash'
# CF_B = 'id="CONSOLIDATED_STATEMENTS_CASH_FLOWS"'
# CF3 = 'name="CONSOLIDATED_STATEMENTS_CASH_FLOWS"'
# CCF10K = 'name="Consolidated_Statements_of_Cash_Flows"'
# CCF10Knew = 'id="Consolidated_Statements_of_Cash_Flows"'

def anchor_check(page_code):
    
    # if the page has one of these anchors
    if (CBS_A in page_code) or (CBS_B in page_code) and (CBS_C in page_code):
        return True

    #elif (SoO_A in page_code) or (SoO_B in page_code) or (SoO3 in page_code) or (CSoO10K in page_code) or (CSoO10Knew in page_code) :
        #return True

    #elif (CF_A in page_code) or (CF_B in page_code) or (CF3 in page_code) or (CCF10K in page_code) or (CCF10Knew in page_code):
        #return True


    else:
        return False

## Cleaning Columns Function

In [13]:
month_dict = {'December' : 'Q4',
              'November' : 'Q4',
             'October' : 'Q4',
             'September' : 'Q3',
             'August': 'Q3',
             'July' : 'Q3',
             'June' : 'Q2',
             'May' : 'Q2',
             'April' : 'Q2',
             'March' : 'Q1',
             'Feburary' : 'Q1',
             'January' : 'Q1'}

In [14]:
col_name_variants = {
    'Inventor' : 'Inventory',
    'Total liabilities and' : 'Total liabilities and equity',
    'Common stock.*' : 'Common Stock',
    'Preferred stock.*': 'Preferred Stock',
    'Accounts receivable.*' : 'Accounts Receivable',
    'Accrued liabilities.*' : 'Accrued Liabilities',
    'Deferred revenue.*' : 'Deferred Revenue',
    'Redeemable noncontrolling interests in subsidiaries.*' : 'Noncontrolling interests in subsidiaries',
    'Short term investments.*' : 'Short term investments', 
    'Property|equipment.' : 'Property and Equipment',
    'Retained earnings.*' : 'Retained Earnings',
    'stockholders.*' : 'Shareholder Equity',
    '^Cash.*' : 'Cash',
    'Convertible senior notes.*' : 'Convertible Senior Notes'
}

In [15]:
def clean_col_name( name ):
    
    for detect, replacement in col_name_variants.items():

        if re.findall(detect, name, flags=re.I):

            n_column = name.replace(name, replacement) 

            return n_column 
            
    return name

In [16]:
# Throw column list-like object into cleaning function. 
def cleaning_column(r_column, m):
     
    column_list = []
    column_name = []
    
    for element_post, element in enumerate(r_column):
        
        # Handling the first "row" in the table i.e. column name.
        if element_post == 0:
#             print(element)
            ele_norm = unicodedata.normalize('NFKD', element)
            
            ele_norm = ele_norm.replace('net', '')
            
            ele_norm = ele_norm.replace( '-', ' ')
            
            s_ele_norm = re.sub(r"^\s+|\s+$", "", ele_norm)
            
            name = re.sub(r'(?=,|:|\.|\(){1}.*', repl='', string= s_ele_norm, flags=re.I)
            
            # clean_col_name function Choose old_if or new_dict
            clean_name = clean_col_name( name )
            ###
            column_name.append(clean_name)
            ###
            column_list.append(clean_name)
        
        # Handling the all the remaining "rows" in the table i.e. data/numbers.
        elif element not in ['\n$', '\n\xa0', '\n']:
                        
            n_element = element.replace( ',', '' )

            pattern = re.compile(r'[\d]+,[\d]+|[\d]+')

            res = pattern.findall(n_element)

            res = [int(ele) * m for ele in res]

            column_list.extend(res)

    return column_list

# Throw column list-like object into cleaning function. 
def cleaning_column(column, m):
     
    column_list = []

    for element_post, element in enumerate(column):
        
        # Handling the first "row" in the table i.e. column name.
        if element_post == 0:

            element = unicodedata.normalize('NFKD', element)
            
            element = element.replace( '\n', '')
            
            clean_ele = clean_col_name( element )
            
            column_list.append(clean_ele)
            
        # Use a dictionary to convert the Months into numbers.
        #elif element_post == :
            #month = re.sub('({})'.format('|'.join(map(re.escape, month_dict.keys()))), lambda m: month_dict[m.group()], dat)
            #column_list.extend(month)
        #elif element == '(' or ')': 
            #pint(element)
            #continue
            
        else:
            
            element = element.replace( '\n$' and '\n\xa0' and '\n', '0')
            
            element = element.replace( ',', '' )

            pattern = re.compile(r'[\d]+,[\d]+|[\d]+')

            res = pattern.findall(element)

            res = [int(ele) * m for ele in res]

            column_list.extend(res)

    return column_list

## Cleaning Tables Function

In [69]:
work_list = ['\xa0 \xa0', 'September\xa030, 2019', '\xa0', 'December\xa031, 2018']
test_list = ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2019', '\xa0', '2018']
print(Quarter(work_list))
print()
print(Quarter(test_list))

column used for quarter ['\xa0 \xa0', 'September\xa030, 2019', '\xa0', 'December\xa031, 2018']
multi_list [['September', '30,', '2019'], ['December', '31,', '2018']]
new_column used for year ['September', '30,', '2019', 'December', '31,', '2018']
letter September
letter 30,
letter 2019
letter December
letter 31,
letter 2018
Q ['Q3', 'Q4']
(['Quarter', 'Q3'], ['Year', '2019'])

column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2019', '\xa0', '2018']
multi_list [['As', 'of', 'December', '31,'], ['2019'], ['2018']]
new_column used for year ['As', 'of', 'December', '31,', '2019', '2018']
letter As
letter of
letter December
letter 31,
letter 2019
letter 2018
Q ['Q4']
(['Quarter', 'Q4'], ['Year', '2019'])

In [74]:
# New and imporved.
def Quarter( column ):
    
    print('column used for quarter', column)
    
    multi_list = [element.split() for element in column if element.split() != []]
    print('multi_list', multi_list)
    new_column = [item for sublist in multi_list for item in sublist]
    print('new_column used for year', new_column)
    months_key = list(month_dict.keys())
    Q = []
    Y = []
    
    for letter in new_column:
        letter = letter.encode('cp1252').decode("utf-8", "ignore")
#         print('letter', letter)
        try:
            month = re.findall( r'\w{}+'.format(months_key) , letter.replace(' ',  '') )
#             print('month', month)
            Q_num = month_dict[month[0]] 
    #         print('Q_num' , Q_num)
    
            if Q_num != []:
                Q.append(Q_num)
                
        except:
            continue
    #         print('~'*20)
        
    print('Q' , Q) 
#     Q_final = Q[0] 
#     print('Q_final' , Q_final)
    
    Q_final =['Quarter'] + Q[:1]
    
    
    for letter in new_column:   
        
        #print( letter.split(',') )
        
        Year = [re.compile(r'^[0-9]{4}$').findall(p_s_ele_norm) for p_s_ele_norm in letter.split(',') if re.compile(r'^[0-9]{4}$').findall(p_s_ele_norm) != []]
        Y.append(Year)
#     print(f'Y - {Y}')
    Y = [item for sublist in Y for item in sublist][0]
    
    Y.insert(0, 'Year')
    #Y.insert(1, 0)
    #Y.insert(1, 0)
    return Q_final, Y
    print( '\n', 'Q_final', Q_final, 'Y', Y)

# New and imporved. 
def Quarter( column ):
    
#     print(column)
    multi_list = [element.split() for element in column if element.split() != []]
#     print(multi_list)
    new_column = [item for sublist in multi_list for item in sublist]
#     print(new_column)
    Q = []
    Y = []
    
    for letter in column:
#         print('letter', letter)
        
        Q_num = [month_dict[word] for word in letter.split() if word in month_dict.keys() ]
#         print('Q_num' , Q_num)
        if Q_num != []:
            Q.append(Q_num)
#         print('~'*20)
        
#     print('Q' , Q) 
    Q_final = Q[0] 
#     print('Q_final' , Q_final)
    
    Q_final.insert(0, 'Quarter')
    
    for letter in new_column:        
        #print('new_column', new_column)
        Y = [re.compile(r'^[0-9]{4}$').findall(element) for element in new_column if re.compile(r'^[0-9]{4}$').findall(element) != []][0]
        
        Y.insert(0, 'Year')
        
    return Q_final, Y
#     print( '\n', 'Q_final', Q_final, 'Y', Y)

In [76]:
def table_extractor( page, multiplier, k ):
    
    # Convert string to BS object
    soup = BeautifulSoup(page, 'html5')

    # then get all the rows in the table.
    table_rows = soup.find_all('tr')
    
    if len( [tr.text for tr in table_rows[0].find_all('td')] ) < 3:
        del table_rows[0]
    
    single_table = []
    Date_column = []
    
    # Loop through each column, adding in three structures to single_table.
    for tr_post, tr in enumerate(table_rows):
        
        td = tr.find_all('td')

        column = [tr.text for tr in td]
        #print( 'tr_post', tr_post, len(column), column)
        # 10-Q 
        if k == '10-Q':
            
            if tr_post == 2:

                # Quarter Column
                col_Q, col_year = Quarter( column )
                single_table.append( col_Q )
                # Year Column
                single_table.append( col_year )

            elif tr_post > 3: 

                # Features Columns
                cleaned_data = cleaning_column( column , multiplier )
                if len(cleaned_data) > 10:
                    del cleaned_data[3]
                    
                single_table.append( cleaned_data )
                
        # 10-K
        elif k == '10-K':
            
            if tr_post == 1 or tr_post == 2:
                    
                Date_column.append(column)
                
            elif tr_post == 3:
                
                # Quarter Column
                col_date, col_year = Quarter([item for sublist in Date_column for item in sublist])
                single_table.append( col_date )
                # Year Column
                single_table.append( col_year )
                
            elif tr_post > 4:              
                
                cleaned_data = cleaning_column( column , 10**6 )
                if len(cleaned_data) > 10:
                    del cleaned_data[3]
                
                single_table.append( cleaned_data )
            
    return single_table

In [25]:
def df_clean( single_table ):
    #print(single_table)
    table_df = pd.DataFrame(single_table)

    table_df = table_df.transpose()  

    #table_df.drop(table_df.index[1:3], 0, inplace=True)

    #table_df.drop(table_df.index[2:], 0, inplace=True)

    table_df.columns = table_df.iloc[0]

    table_df = table_df.drop(table_df.index[0])
    
    return table_df

In [20]:
def table(page_code, k):
    
    doc_tables=[]

    for page_post, page in enumerate(page_code):
        
        if anchor_check(page) and ('in millions' in page):
            
            single_table = table_extractor( page, 10**6, k )
            
            table_df = df_clean(single_table)
                        
            doc_tables.append(table_df)
        
        elif anchor_check(page) and ('in thousands,' in page):
            
            #print('page_post', page_post)
            
            single_table = table_extractor( page, 10**3, k )

            table_df = df_clean(single_table)

            doc_tables.append(table_df)

                
    return doc_tables

# Exploring the Data

In [21]:
explore_dict = {}
for QK, AccNum_list in QorK.items():
    
    #for an_postition, acc_num in enumerate(AccNum_list): 
    if QK== '10-Q':
        Q_new = AccNum_list[0]
        Q_old = AccNum_list[-1]
        explore_dict[QK] = [Q_new, Q_old]

    if QK == '10-K':
        K_new = AccNum_list[0]
        K_old = AccNum_list[-1]
        explore_dict[QK] = [K_new, K_old]

In [22]:
explore_dict

{'10-Q': ['0001065280-20-000309', '0001065280-13-000020'],
 '10-K': ['0001065280-20-000040', '0001065280-13-000008']}

In [82]:
for QK, N_O in QorK.items():
    
    for an_postition, acc_num in enumerate(N_O):
        
        pages = master_filings_dict[acc_num]['filing_documents'][QK]['pages_code']
        print('\n', 'This is {} a {} document.'.format(acc_num, QK))
        test_df = table(pages, QK)
        table_df = test_df[0].drop([2]).reset_index(drop=True)
        print('Shape - ', table_df.shape)
        ICD.display(table_df)

 This is 0001065280-20-000309 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2020', '\xa0', 'December\xa031, 2019']
multi_list [['June', '30,', '2020'], ['December', '31,', '2019']]
new_column used for year ['June', '30,', '2020', 'December', '31,', '2019']
Q ['Q2', 'Q4']
Shape -  (1, 30)

,Quarter,Year,Assets,Current assets,Cash,Other current assets,Total current assets,Content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Short term debt,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2020,None,None,7153248000,1410891000,8564139000,25155117000,751941000,2704084000,37175281000,None,None,4664733000,446668000,986595000,1029261000,499161000,7626418000,3208164000,15294998000,1710948000,27840528000,None,None,3127813000,34072000,6241012000,9334753000,37175281000

 This is 0001065280-20-000155 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2020', '\xa0', 'December\xa031, 2019']
multi_list [['March', '31,', '2020'], ['December', '31,', '2019']]
new_column used for year ['March', '31,', '2020', 'December', '31,', '2019']
Q ['Q1', 'Q4']
Shape -  (1, 30)

,Quarter,Year,Assets,Current assets,Cash,Other current assets,Total current assets,Content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Short term debt,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2020,None,None,5151884000,1295897000,6447781000,25266889000,650455000,2694785000,35059910000,None,None,4761585000,545488000,1061090000,986753000,498809000,7853725000,3206051000,14170692000,1420148000,26650616000,None,None,2935532000,47054000,5520816000,8409294000,35059910000

 This is 0001065280-19-000368 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'September\xa030, 2019', '\xa0', 'December\xa031, 2018']
multi_list [['September', '30,', '2019'], ['December', '31,', '2018']]
new_column used for year ['September', '30,', '2019', 'December', '31,', '2018']
Q ['Q3', 'Q4']
Shape -  (1, 30)

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2019,None,None,4435018000,5151186000,892740000,5327758000,23234994000,481992000,1896967000,30941711000,None,None,4860542000,444129000,1037723000,915506000,7257900000,3419552000,12425746000,977008000,24080206000,None,None,2677972000,41246000,4224779000,6861505000,30941711000

 This is 0001065280-19-000260 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2019', '\xa0', 'December\xa031, 2018']
multi_list [['June', '30,', '2019'], ['December', '31,', '2018']]
new_column used for year ['June', '30,', '2019', 'December', '31,', '2018']
Q ['Q2', 'Q4']
Shape -  (1, 30)

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2019,None,None,5004247000,5151186000,872910000,5877157000,21945740000,452399000,1896043000,30171339000,None,None,4848201000,442194000,750812000,892777000,6933984000,3564440000,12594135000,973232000,24065791000,None,None,2566365000,20352000,3559535000,6105548000,30171339000

 This is 0001065280-19-000157 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2019', '\xa0', 'December\xa031, 2018']
multi_list [['March', '31,', '2019'], ['December', '31,', '2018']]
new_column used for year ['March', '31,', '2019', 'December', '31,', '2018']
Q ['Q1', 'Q4']
Shape -  (1, 30)

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2019,None,None,3348557000,5151186000,820350000,4168907000,20888785000,434372000,1726568000,27218632000,None,None,4863351000,439496000,746268000,808692000,6857807000,3560364000,10305023000,792380000,21515574000,None,None,2439773000,25600000,3288885000,5703058000,27218632000

 This is 0001065280-18-000538 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'September\xa030, 2018', '\xa0', 'December\xa031, 2017']
multi_list [['September', '30,', '2018'], ['December', '31,', '2017']]
new_column used for year ['September', '30,', '2018', 'December', '31,', '2017']
Q ['Q3', 'Q4']
Shape -  (1, 30)

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2018,None,None,3067534000,4987916000,674531000,8729981000,13408443000,371152000,856653000,23366229000,None,None,4613011000,441427000,527079000,716723000,6298240000,3593823000,8336586000,127927000,18356576000,None,None,2215736000,14508000,2808425000,5009653000,23366229000

 This is 0001065280-18-000360 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2018', '\xa0', 'December\xa031, 2017']
multi_list [['June', '30,', '2018'], ['December', '31,', '2017']]
new_column used for year ['June', '30,', '2018', 'December', '31,', '2017']
Q ['Q2', 'Q4']
Shape -  (1, 30)

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2018,None,None,3906357000,4803663000,636869000,9346889000,12292070000,349646000,674932000,22663537000,None,None,4541087000,448219000,392595000,697740000,6079641000,3604158000,8342067000,141071000,18166937000,None,None,2103437000,12427000,2405590000,4496600000,22663537000

 This is 0001065280-18-000205 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2018', '\xa0', 'December\xa031, 2017']
multi_list [['March', '31,', '2018'], ['December', '31,', '2017']]
new_column used for year ['March', '31,', '2018', 'December', '31,', '2017']
Q ['Q1', 'Q4']
Shape -  (1, 30)

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2018,None,None,2593666000,4626522000,597388000,7817576000,11314803000,341932000,678486000,20152797000,None,None,4466081000,436183000,429431000,673892000,6005587000,3444476000,6542373000,139631000,16132067000,None,None,1995225000,4264000,2021241000,4020730000,20152797000

 This is 0001065280-17-000180 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'September\xa030, 2017', '\xa0', 'December\xa031, 2016']
multi_list [['September', '30,', '2017'], ['December', '31,', '2016']]
new_column used for year ['September', '30,', '2017', 'December', '31,', '2016']
Q ['Q3', 'Q4']
Shape -  (1, 31)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2017,None,None,1746469000,266206000,4223387000,415492000,6385348000,9739704000,322421000,504067000,16951540000,None,None,4142086000,301443000,331723000,535425000,5310677000,3296504000,4888783000,128215000,13624179000,None,None,1807123000,25362000,1545600000,3327361000,16951540000

 This is 0001065280-17-000046 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2017', '\xa0', 'December\xa031, 2016']
multi_list [['June', '30,', '2017'], ['December', '31,', '2016']]
new_column used for year ['June', '30,', '2017', 'December', '31,', '2016']
Q ['Q2', 'Q4']
Shape -  (1, 31)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2017,None,None,1918777000,246125000,4149111000,386772000,6700785000,9078474000,309831000,428133000,16517223000,None,None,4095374000,273398000,248871000,505302000,5122945000,3356090000,4836502000,89186000,13404723000,None,None,1727858000,31368000,1416010000,3112500000,16517223000

 This is 0001628280-17-003939 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2017', '\xa0', 'December\xa031, 2016']
multi_list [['March', '31,', '2017'], ['December', '31,', '2016']]
new_column used for year ['March', '31,', '2017', 'December', '31,', '2016']
Q ['Q1', 'Q4']
Shape -  (1, 31)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2017,None,None,1077824000,263405000,4026615000,292486000,5660330000,8029112000,275083000,394571000,14359096000,None,None,3861447000,294831000,296258000,458693000,4911229000,3035430000,3365431000,73323000,11385413000,None,None,1669132000,45859000,1350410000,2973683000,14359096000

 This is 0001065280-16-000081 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'September\xa030, 2016', '\xa0', 'December\xa031, 2015']
multi_list [['September', '30,', '2016'], ['December', '31,', '2015']]
new_column used for year ['September', '30,', '2016', 'December', '31,', '2015']
Q ['Q3', 'Q4']
Shape -  (1, 31)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2016,None,None,969158000,374098000,3632399000,218238000,5193893000,6677674000,191876000,283895000,12347338000,None,None,3497214000,285753000,201232000,427206000,4411405000,2975189000,2373966000,57812000,9818372000,None,None,1503641000,36530000,1061855000,2528966000,12347338000

 This is 0001065280-16-000072 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2016', '\xa0', 'December\xa031, 2015']
multi_list [['June', '30,', '2016'], ['December', '31,', '2015']]
new_column used for year ['June', '30,', '2016', 'December', '31,', '2015']
Q ['Q2', 'Q4']
Shape -  (1, 31)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2016,None,None,1390925000,443303000,3349262000,203428000,5386918000,5742938000,162864000,300787000,11593507000,None,None,3242330000,240458000,172073000,396976000,4051837000,2698520000,2373085000,54231000,9177673000,None,None,1443707000,38211000,1010338000,2415834000,11593507000

 This is 0001065280-16-000057 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2016', '\xa0', 'December\xa031, 2015']
multi_list [['March', '31,', '2016'], ['December', '31,', '2015']]
new_column used for year ['March', '31,', '2016', 'December', '31,', '2015']
Q ['Q1', 'Q4']
Shape -  (1, 31)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2016,None,None,1605244000,467227000,3258641000,212724000,5543836000,5260160000,166254000,292024000,11262274000,None,None,3145861000,231914000,181634000,374223000,3933632000,2586098000,2372218000,53093000,8945041000,None,None,1382051000,34401000,969583000,2317233000,11262274000

 This is 0001065280-15-000038 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'September\xa030, 2015', '\xa0', 'December\xa031, 2014']
multi_list [['September', '30,', '2015'], ['December', '31,', '2014']]
new_column used for year ['September', '30,', '2015', 'December', '31,', '2014']
Q ['Q3', 'Q4']
Shape -  (1, 31)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2015,None,None,2115437000,494205000,2695184000,264887000,5569713000,3891790000,181268000,273496000,9916267000,None,None,2622964000,209365000,179350000,329739000,3341418000,1966854000,2400000000,40677000,7748949000,None,None,1306461000,37890000,898747000,2167318000,9916267000

 This is 0001065280-15-000031 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2015', '\xa0', 'December\xa031, 2014']
multi_list [['June', '30,', '2015'], ['December', '31,', '2014']]
new_column used for year ['June', '30,', '2015', 'December', '31,', '2014']
Q ['Q2', 'Q4']
Shape -  (1, 31)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2015,None,None,2293872000,502886000,2510946000,292806000,5600510000,3640767000,171396000,242188000,9654861000,None,None,2556180000,211729000,150406000,301754000,3220069000,1942624000,2400000000,60093000,7622786000,None,None,1200880000,38120000,869315000,2032075000,9654861000

 This is 0001065280-15-000017 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2015', '\xa0', 'December\xa031, 2014']
multi_list [['March', '31,', '2015'], ['December', '31,', '2014']]
new_column used for year ['March', '31,', '2015', 'December', '31,', '2014']
Q ['Q1', 'Q4']
Shape -  (1, 32)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2015,None,None,2454777000,502931000,2370447000,210901000,5539056000,3312353000,145816000,243401000,9240626000,None,None,2425619000,190567000,107323000,285340000,3008849000,1861791000,2400000000,60772000,7331412000,None,None,61000,1109327000,43154000,842980000,1909214000,9240626000

 This is 0001065280-14-000028 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'September\xa030, 2014', '\xa0', 'December\xa031, 2013']
multi_list [['September', '30,', '2014'], ['December', '31,', '2013']]
new_column used for year ['September', '30,', '2014', 'December', '31,', '2013']
Q ['Q3', 'Q4']
Shape -  (1, 32)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2014,None,None,1183217000,483602000,2006981000,149682000,3823482000,2631882000,144147000,178818000,6778329000,None,None,2074766000,150374000,70559000,252956000,2548655000,1510403000,900000000,94397000,5053455000,None,None,60000,987256000,1645000,735913000,1724874000,6778329000

 This is 0001065280-14-000021 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2014', '\xa0', 'December\xa031, 2013']
multi_list [['June', '30,', '2014'], ['December', '31,', '2013']]
new_column used for year ['June', '30,', '2014', 'December', '31,', '2013']
Q ['Q2', 'Q4']
Shape -  (1, 32)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2014,None,None,1214244000,500121000,1786341000,167674000,3668380000,2348796000,141715000,166931000,6325822000,None,None,1858020000,137226000,98548000,241330000,2335124000,1390770000,900000000,90223000,4716117000,None,None,60000,926525000,6502000,676618000,1609705000,6325822000

 This is 0001065280-14-000012 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2014', '\xa0', 'December\xa031, 2013']
multi_list [['March', '31,', '2014'], ['December', '31,', '2013']]
new_column used for year ['March', '31,', '2014', 'December', '31,', '2013']
Q ['Q1', 'Q4']
Shape -  (1, 32)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2014,None,None,1157450000,510793000,1771410000,147131000,3586784000,2179474000,133473000,148375000,6048106000,None,None,1844897000,133883000,54858000,230015000,2263653000,1321879000,900000000,84216000,4569748000,None,None,60000,868195000,4503000,605600000,1478358000,6048106000

 This is 0001065280-13-000036 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'September\xa030, 2013', '\xa0', 'December\xa031, 2012']
multi_list [['September', '30,', '2013'], ['December', '31,', '2012']]
new_column used for year ['September', '30,', '2013', 'December', '31,', '2012']
Q ['Q3', 'Q4']
Shape -  (1, 34)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2013,None,None,439056000,695931000,1577514000,30522000,106255000,2849278000,1808387000,127263000,116397000,4901325000,None,None,1591981000,100899000,46433000,195823000,1935136000,1179055000,500000000,200000000,82764000,3696955000,None,None,59000,698677000,1570000,504064000,1204370000,4901325000

 This is 0001065280-13-000030 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2013', '\xa0', 'December\xa031, 2012']
multi_list [['June', '30,', '2013'], ['December', '31,', '2012']]
new_column used for year ['June', '30,', '2013', 'December', '31,', '2012']
Q ['Q2', 'Q4']
Shape -  (1, 34)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2013,None,None,370678000,709432000,1363609000,32064000,94539000,2570322000,1682202000,127931000,100296000,4480751000,None,None,1321217000,103441000,59035000,186571000,1670264000,1124249000,500000000,200000000,80616000,3375129000,None,None,59000,634985000,1664000,472242000,1105622000,4480751000

 This is 0001065280-13-000020 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2013', '\xa0', 'December\xa031, 2012']
multi_list [['March', '31,', '2013'], ['December', '31,', '2012']]
new_column used for year ['March', '31,', '2013', 'December', '31,', '2012']
Q ['Q1', 'Q4']
Shape -  (1, 34)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2013,None,None,418051000,607821000,1391505000,57254000,82469000,2557100000,1576674000,129319000,100196000,4363289000,None,None,1355010000,102822000,52004000,178878000,1688714000,1083427000,500000000,200000000,78229000,3550370000,None,None,56000,369801000,291000,442771000,812919000,4363289000

 This is 0001065280-12-000020 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'September\xa030, 2012', '\xa0', 'December 31, 2011']
multi_list [['September', '30,', '2012'], ['December', '31,', '2011']]
new_column used for year ['September', '30,', '2012', 'December', '31,', '2011']
Q ['Q3', 'Q4']
Shape -  (1, 34)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2012,None,None,370298000,428057000,1335769000,33152000,57742000,2225018000,1366566000,133603000,83646000,3808833000,None,None,1280885000,91511000,70681000,155146000,1598223000,1030979000,200000000,200000000,62791000,3091993000,None,None,56000,281593000,3006000,432185000,716840000,3808833000

 This is 0001065280-12-000012 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'June\xa030, 2012', '\xa0', 'December 31, 2011']
multi_list [['June', '30,', '2012'], ['December', '31,', '2011']]
new_column used for year ['June', '30,', '2012', 'December', '31,', '2011']
Q ['Q2', 'Q4']
Shape -  (1, 34)

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2012,None,None,402251000,411092000,1223638000,48510000,52294000,2137785000,1147805000,124644000,68056000,3478290000,None,None,1204209000,90961000,50884000,152790000,1498844000,829163000,200000000,200000000,62057000,2790064000,None,None,56000,262699000,961000,424510000,688226000,3478290000

 This is 0001445305-12-001242 a 10-Q document.
column used for quarter ['\xa0 \xa0', 'March\xa031, 2012', '\xa0', 'December 31, 2011']
multi_list [['March', '31,', '2012'], ['December', '31,', '2011']]
new_column used for year ['March', '31,', '2012', 'December', '31,', '2011']
Q ['Q1', 'Q4']
Shape -  (1, 33)

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Long term debt,Long term debt due to related party,Non current content liabilities,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2012,None,395992000,408534000,1155443000,53013000,45759000,2058741000,1226274000,128197000,67247000,3480459000,None,None,1163839000,83119000,49106000,150602000,1446666000,200000000,200000000,908188000,62203000,2817057000,None,None,55000,243424000,1577000,418346000,663402000,3480459000

 This is 0001193125-11-284366 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'September\xa030,2011', '\xa0', '\xa0\xa0', 'December\xa031,2010', '\xa0']
multi_list [['September', '30,2011'], ['December', '31,2010']]
new_column used for year ['September', '30,2011', 'December', '31,2010']
Q ['Q3', 'Q4']
Shape -  (1, 41)

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2011,None,159199000,206573000,705398000,77146000,41797000,None,1190113000,570210000,143993000,28743000,28499000,None,1961558000,None,None,None,750107000,54671000,2259000,160929000,None,967966000,200000000,32400000,372840000,None,1573206000,None,None,53000,51622000,588000,387711000,None,388352000,None,1961558000,None

 This is 0001193125-11-198669 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'June\xa030,2011', '\xa0', '\xa0\xa0', 'December\xa031,2010', '\xa0']
multi_list [['June', '30,2011'], ['December', '31,2010']]
new_column used for year ['June', '30,2011', 'December', '31,2010']
Q ['Q2', 'Q4']
Shape -  (1, 41)

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2011,None,175207000,201200000,499434000,59811000,33792000,None,969444000,425246000,136948000,25883000,13172000,None,1570693000,None,None,None,533436000,44137000,2199000,146937000,None,726709000,200000000,32986000,276964000,None,1236659000,None,None,53000,51622000,884000,333097000,None,334034000,None,1570693000,None

 This is 0001193125-11-112061 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'March\xa031,2011', '\xa0', '\xa0\xa0', 'December\xa031,2010', '\xa0']
multi_list [['March', '31,2011'], ['December', '31,2010']]
new_column used for year ['March', '31,2011', 'December', '31,2010']
Q ['Q1', 'Q4']
Shape -  (1, 42)

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2011,None,150419000,192302000,265933000,74597000,38351000,None,721602000,197554000,134800000,22452000,13780000,None,1090188000,None,None,None,None,301009000,44123000,2141000,143045000,None,490318000,200000000,33564000,90584000,None,814466000,None,None,52000,51622000,590000,275080000,None,275722000,None,1090188000,None

 This is 0001193125-10-235785 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'September\xa030,2010', '\xa0', '\xa0\xa0', 'December\xa031,2009', '\xa0']
multi_list [['September', '30,2010'], ['December', '31,2009']]
new_column used for year ['September', '30,2010', 'December', '31,2009']
Q ['Q3', 'Q4']
Shape -  (1, 40)

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2010,None,113108000,143705000,138389000,59322000,37723000,None,492247000,120047000,125057000,19219000,13713000,None,770283000,None,None,None,170120000,36974000,2027000,102986000,None,312107000,200000000,34659000,31542000,None,578308000,None,None,52000,1279000,190644000,None,191975000,None,770283000,None

 This is 0001193125-10-167382 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'June\xa030,2010', '\xa0\xa0', 'December\xa031,2009']
multi_list [['June', '30,2010'], ['December', '31,2009']]
new_column used for year ['June', '30,2010', 'December', '31,2009']
Q ['Q2', 'Q4']
Shape -  (1, 40)

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2010,None,107327000,171758000,93123000,33837000,35173000,None,441218000,94666000,123292000,21951000,12845000,None,693972000,None,None,None,120031000,34746000,1971000,101419000,None,258167000,200000000,35185000,23980000,None,517332000,None,None,52000,802000,175786000,None,176640000,None,693972000,None

 This is 0001193125-10-095215 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'March\xa031,2010', '\xa0\xa0', 'December\xa031,2009']
multi_list [['March', '31,2010'], ['December', '31,2009']]
new_column used for year ['March', '31,2010', 'December', '31,2009']
Q ['Q1', 'Q4']
Shape -  (1, 40)

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Prepaid and other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2010,None,79861000,186469000,55566000,31704000,25938000,None,379538000,109431000,127165000,18791000,13368000,None,648293000,None,None,None,102703000,38718000,1917000,100109000,None,243447000,200000000,35704000,22407000,None,501558000,None,None,52000,487000,146196000,None,146735000,None,648293000,None

 This is 0001193125-09-213071 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'September\xa030,2009', '\xa0', '\xa0', 'December\xa031,2008', '\xa0']
multi_list [['September', '30,2009'], ['December', '31,2008']]
new_column used for year ['September', '30,2009', 'December', '31,2008']
Q ['Q3', 'Q4']
Shape -  (1, 43)

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost \nrespectively),Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2009,None,55717000,99745000,11947000,10671000,32937000,5706000,18239000,None,234962000,104539000,122119000,17244000,13267000,None,492131000,None,None,None,93451000,29606000,1342000,79123000,None,203522000,36940000,19467000,None,259929000,None,None,64000,378549000,340362000,552000,193399000,None,232202000,None,492131000,None

 This is 0001193125-09-160729 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'June\xa030,2009', '\xa0', '\xa0', 'December\xa031,2008', '\xa0']
multi_list [['June', '30,2009'], ['December', '31,2008']]
new_column used for year ['June', '30,2009', 'December', '31,2008']
Q ['Q2', 'Q4']
Shape -  (1, 43)

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2009,None,87471000,167498000,11430000,14671000,33519000,5594000,22381000,None,342564000,100316000,120346000,17225000,11542000,None,591993000,None,None,None,101634000,27782000,1275000,80495000,None,211186000,37301000,19135000,None,267622000,None,None,64000,375574000,215250000,725000,163258000,None,324371000,None,591993000,None

 This is 0001193125-09-103685 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'March 31,2009', '\xa0', '\xa0', 'December\xa031,2008', '\xa0']
multi_list [['March', '31,2009'], ['December', '31,2008']]
new_column used for year ['March', '31,2009', 'December', '31,2008']
Q ['Q1', 'Q4']
Shape -  (1, 43)

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2009,None,115131000,171358000,8210000,13957000,33299000,5542000,17383000,None,364880000,105361000,123817000,23107000,11513000,None,628678000,None,None,None,112767000,32108000,1215000,80623000,None,226713000,37656000,17997000,None,282366000,None,None,63000,358620000,142739000,447000,130815000,None,346312000,None,628678000,None

 This is 0001193125-08-222820 a 10-Q document.
column used for quarter ['\xa0', '\xa0\xa0', 'September\xa030,2008', '\xa0', '\xa0', 'December\xa031,2007']
multi_list [['September', '30,2008'], ['December', '31,2007']]
new_column used for year ['September', '30,2008', 'December', '31,2007']
Q ['Q3', 'Q4']
Shape -  (1, 42)

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2008,None,111524000,139304000,9982000,15274000,7023000,18268000,None,301375000,122558000,128541000,19831000,10694000,None,582999000,None,None,None,109277000,31625000,1090000,65897000,None,207889000,38287000,11990000,None,258166000,None,None,62000,331489000,90028000,2410000,85720000,None,324833000,None,582999000,None

 This is 0001065280-20-000040 a 10-K document.
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2019', '\xa0', '2018']
multi_list [['As', 'of', 'December', '31,'], ['2019'], ['2018']]
new_column used for year ['As', 'of', 'December', '31,', '2019', '2018']
Q ['Q4']
Shape -  (1, 29)

,Quarter,Year,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2019,5018437000000,5151186000000,1160067000000,6178504000000,24504567000000,565221000000,2727420000000,33975712000000,None,None,4413561000000,674347000000,843043000000,924745000000,6855696000000,3334323000000,14759260000000,1444276000000,26393555000000,None,None,None,2793929000000,23521000000,4811749000000,7582157000000,33975712000000

 This is 0001065280-19-000043 a 10-K document.
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2018', '\xa0', '2017']
multi_list [['As', 'of', 'December', '31,'], ['2018'], ['2017']]
new_column used for year ['As', 'of', 'December', '31,', '2018', '2017']
Q ['Q4']
Shape -  (1, 29)

,Quarter,Year,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2018,3794483000000,5151186000000,748466000000,9694135000000,14960954000000,418281000000,901030000000,25974400000000,None,None,4686019000000,562985000000,477417000000,760899000000,6487320000000,3759026000000,10360058000000,129231000000,20735635000000,None,None,None,2315988000000,19582000000,2942359000000,5238765000000,25974400000000

 This is 0001065280-18-000069 a 10-K document.
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2017', '\xa0', '2016']
multi_list [['As', 'of', 'December', '31,'], ['2017'], ['2016']]
new_column used for year ['As', 'of', 'December', '31,', '2017', '2016']
Q ['Q4']
Shape -  (1, 30)

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2017,2822795000000,266206000000,4310934000000,536245000000,7669974000000,10371055000000,319404000000,652309000000,19012742000000,None,None,4173041000000,359555000000,315094000000,618622000000,5466312000000,3329796000000,6499432000000,135246000000,15430786000000,None,None,None,1871396000000,20557000000,1731117000000,3581956000000,19012742000000

 This is 0001628280-17-000496 a 10-K document.
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2016', '\xa0', '2015']
multi_list [['As', 'of', 'December', '31,'], ['2016'], ['2015']]
new_column used for year ['As', 'of', 'December', '31,', '2016', '2015']
Q ['Q4']
Shape -  (1, 30)

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2016,1467576000000,266206000000,3726307000000,260202000000,5720291000000,7274501000000,250395000000,341423000000,13586610000000,None,None,3632711000000,312842000000,197632000000,443472000000,4586657000000,2894654000000,3364311000000,61188000000,10906810000000,None,None,None,1599762000000,48565000000,1128603000000,2679800000000,13586610000000

 This is 0001065280-16-000047 a 10-K document.
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2015', '\xa0', '2014']
multi_list [['As', 'of', 'December', '31,'], ['2015'], ['2014']]
new_column used for year ['As', 'of', 'December', '31,', '2015', '2014']
Q ['Q4']
Shape -  (1, 30)

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2015,1809330000000,501385000000,2905998000000,215127000000,5431840000000,4312817000000,173412000000,284802000000,10202871000000,None,None,2789023000000,253491000000,140389000000,346721000000,3529624000000,2026360000000,2371362000000,52099000000,7979445000000,None,None,None,1324809000000,43308000000,941925000000,2223426000000,10202871000000

 This is 0001065280-15-000006 a 10-K document.
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2014', '\xa0', '2013']
multi_list [['As', 'of', 'December', '31,'], ['2014'], ['2013']]
new_column used for year ['As', 'of', 'December', '31,', '2014', '2013']
Q ['Q4']
Shape -  (1, 31)

,Quarter,Year,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2014,1113608000000,494888000000,2125702000000,206271000000,3940469000000,2773326000000,149875000000,192981000000,7056651000000,None,None,2117241000000,201581000000,69746000000,274586000000,2663154000000,1575832000000,900000000000,59957000000,5198943000000,None,None,None,60000000,1042810000000,4446000000,819284000000,1857708000000,7056651000000

 This is 0001065280-14-000006 a 10-K document.
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2013', '\xa0', '2012']
multi_list [['As', 'of', 'December', '31,'], ['2013'], ['2012']]
new_column used for year ['As', 'of', 'December', '31,', '2013', '2012']
Q ['Q4']
Shape -  (1, 32)

,Quarter,Year,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2013,604965000000,595440000000,1706421000000,151937000000,3058763000000,2091071000000,133605000000,129124000000,5412563000000,None,None,1775983000000,108435000000,54018000000,215767000000,2154203000000,1345590000000,500000000000,200000000000,79209000000,4079002000000,None,None,None,60000000,777441000000,3575000000,552485000000,1333561000000,5412563000000

 This is 0001065280-13-000008 a 10-K document.
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2012', '\xa0', '2011']
multi_list [['As', 'of', 'December', '31,'], ['2012'], ['2011']]
new_column used for year ['As', 'of', 'December', '31,', '2012', '2011']
Q ['Q4']
Shape -  (1, 33)

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2012,290291000000,457787000000,1368162000000,59929000000,64622000000,2240791000000,1506008000000,131681000000,89410000000,3967890000000,None,None,1366847000000,86468000000,53139000000,169472000000,1675926000000,1076622000000,200000000000,200000000000,70669000000,3223217000000,None,None,None,56000000,301616000000,2919000000,440082000000,744673000000,3967890000000

 This is 0001193125-12-053009 a 10-K document.
column used for quarter ['\xa0', '\xa0\xa0', 'As of December\xa031,', '\xa0', '\xa0\xa0', '\xa0\xa0', '2011', '\xa0', '\xa0\xa0', '2010', '\xa0']
multi_list [['As', 'of', 'December', '31,'], ['2011'], ['2010']]
new_column used for year ['As', 'of', 'December', '31,', '2011', '2010']
Q ['Q4']
Shape -  (1, 41)

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Non current content library,Property and Equipment,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Content accounts payable,Other accounts payable,Accrued expenses,Deferred Revenue,,Total current liabilities,Long term debt,Long term debt due to related party,Non current content liabilities,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2011,508053000000,289758000000,919709000000,56007000000,57330000000,None,1830857000000,1046934000000,136353000000,55052000000,None,3069196000000,None,None,None,924706000000,87860000000,63693000000,148796000000,None,1225055000000,200000000000,200000000000,739628000000,61703000000,None,2426386000000,None,None,None,55000000,219119000000,706000000,422930000000,None,642810000000,None,3069196000000,None

 This is 0001193125-11-040217 a 10-K document.
column used for quarter ['\xa0', '\xa0\xa0', 'As of December\xa031,', '\xa0', '\xa0', '\xa0\xa0', '2010', '\xa0', '\xa0\xa0', '2009', '\xa0']
multi_list [['As', 'of', 'December', '31,'], ['2010'], ['2009']]
new_column used for year ['As', 'of', 'December', '31,', '2010', '2009']
Q ['Q4']
Shape -  (1, 41)

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2010,194499000000,155888000000,181006000000,62217000000,47357000000,None,640967000000,180973000000,128570000000,17467000000,14090000000,None,982067000000,None,None,None,222824000000,36489000000,2083000000,127183000000,None,388579000000,200000000000,34123000000,69201000000,None,691903000000,None,None,None,53000000,51622000000,750000000,237739000000,None,290164000000,None,982067000000,None

 This is 0001193125-10-036181 a 10-K document.
column used for quarter ['\xa0', '\xa0\xa0', 'As of December\xa031,', '\xa0', '\xa0', '\xa0\xa0', '2009', '\xa0\xa0', '2008', '\xa0']
multi_list [['As', 'of', 'December', '31,'], ['2009'], ['2008']]
new_column used for year ['As', 'of', 'December', '31,', '2009', '2008']
Q ['Q4']
Shape -  (1, 43)

,Quarter,Year,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2009,134224000000,186018000000,12491000000,17133000000,37329000000,23818000000,None,411013000000,108810000000,131653000000,15958000000,12300000000,None,679734000000,None,None,None,91475000000,33387000000,1410000000,100097000000,None,226369000000,200000000000,36572000000,17650000000,None,480591000000,None,None,None,53000000,338577000000,100020000000,273000000,198817000000,None,199143000000,None,679734000000,None

 This is 0001193125-09-037430 a 10-K document.
column used for quarter ['\xa0', '\xa0\xa0', 'As of\xa0December\xa031,', '\xa0', '\xa0\xa0', '2008', '\xa0', '\xa0', '2007']
multi_list [['As', 'of', 'December', '31,'], ['2008'], ['2007']]
new_column used for year ['As', 'of', 'December', '31,', '2008', '2007']
Q ['Q4']
Shape -  (1, 43)

,Quarter,Year,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2008,139881000000,157390000000,8122000000,18417000000,18691000000,5617000000,13329000000,None,361447000000,98547000000,124948000000,22409000000,10595000000,None,617946000000,None,None,None,100344000000,31394000000,1152000000,83127000000,None,216017000000,37988000000,16786000000,None,270791000000,None,None,None,62000000,338577000000,100020000000,84000000,108452000000,None,347155000000,None,617946000000,None

# Save Files Locally.

In [83]:
Checklist = {}

for k, v in QorK.items():
    value_list = []
    for i, vv in enumerate(v):

        # first grab 10-Q documents only
        pages = master_filings_dict[v[i]]['filing_documents'][k]['pages_code']

        try:
            # Extract Table from html code and wrap it as a list of df.
            table_df_list = table(pages, k)      
            table_df = table_df_list[0].drop([2]).reset_index(drop=True)
            ICD.display(table_df)

            with open('{}-{}.csv'.format(v[i], k), "wb") as fp:   # Pickling
                pickle.dump(table_df, fp)

            # display a status to the user.
            print('All the pages from {} document {} have been tableized and saved.'.format(k, v[i]))
        
        except: 
            value_list.append(vv)
            print('Something went wrong in file {}, file type = {}'.format(v[i], k))
        
        print('-'*80) 
    Checklist['{}'.format(k)] = value_list
    del value_list

column used for quarter ['\xa0 \xa0', 'June\xa030, 2020', '\xa0', 'December\xa031, 2019']
multi_list [['June', '30,', '2020'], ['December', '31,', '2019']]
new_column used for year ['June', '30,', '2020', 'December', '31,', '2019']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Other current assets,Total current assets,Content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Short term debt,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2020,None,None,7153248000,1410891000,8564139000,25155117000,751941000,2704084000,37175281000,None,None,4664733000,446668000,986595000,1029261000,499161000,7626418000,3208164000,15294998000,1710948000,27840528000,None,None,3127813000,34072000,6241012000,9334753000,37175281000

All the pages from 10-Q document 0001065280-20-000309 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2020', '\xa0', 'December\xa031, 2019']
multi_list [['March', '31,', '2020'], ['December', '31,', '2019']]
new_column used for year ['March', '31,', '2020', 'December', '31,', '2019']
Q ['Q1', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Other current assets,Total current assets,Content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Short term debt,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2020,None,None,5151884000,1295897000,6447781000,25266889000,650455000,2694785000,35059910000,None,None,4761585000,545488000,1061090000,986753000,498809000,7853725000,3206051000,14170692000,1420148000,26650616000,None,None,2935532000,47054000,5520816000,8409294000,35059910000

All the pages from 10-Q document 0001065280-20-000155 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'September\xa030, 2019', '\xa0', 'December\xa031, 2018']
multi_list [['September', '30,', '2019'], ['December', '31,', '2018']]
new_column used for year ['September', '30,', '2019', 'December', '31,', '2018']
Q ['Q3', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2019,None,None,4435018000,5151186000,892740000,5327758000,23234994000,481992000,1896967000,30941711000,None,None,4860542000,444129000,1037723000,915506000,7257900000,3419552000,12425746000,977008000,24080206000,None,None,2677972000,41246000,4224779000,6861505000,30941711000

All the pages from 10-Q document 0001065280-19-000368 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'June\xa030, 2019', '\xa0', 'December\xa031, 2018']
multi_list [['June', '30,', '2019'], ['December', '31,', '2018']]
new_column used for year ['June', '30,', '2019', 'December', '31,', '2018']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2019,None,None,5004247000,5151186000,872910000,5877157000,21945740000,452399000,1896043000,30171339000,None,None,4848201000,442194000,750812000,892777000,6933984000,3564440000,12594135000,973232000,24065791000,None,None,2566365000,20352000,3559535000,6105548000,30171339000

All the pages from 10-Q document 0001065280-19-000260 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2019', '\xa0', 'December\xa031, 2018']
multi_list [['March', '31,', '2019'], ['December', '31,', '2018']]
new_column used for year ['March', '31,', '2019', 'December', '31,', '2018']
Q ['Q1', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2019,None,None,3348557000,5151186000,820350000,4168907000,20888785000,434372000,1726568000,27218632000,None,None,4863351000,439496000,746268000,808692000,6857807000,3560364000,10305023000,792380000,21515574000,None,None,2439773000,25600000,3288885000,5703058000,27218632000

All the pages from 10-Q document 0001065280-19-000157 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'September\xa030, 2018', '\xa0', 'December\xa031, 2017']
multi_list [['September', '30,', '2018'], ['December', '31,', '2017']]
new_column used for year ['September', '30,', '2018', 'December', '31,', '2017']
Q ['Q3', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2018,None,None,3067534000,4987916000,674531000,8729981000,13408443000,371152000,856653000,23366229000,None,None,4613011000,441427000,527079000,716723000,6298240000,3593823000,8336586000,127927000,18356576000,None,None,2215736000,14508000,2808425000,5009653000,23366229000

All the pages from 10-Q document 0001065280-18-000538 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'June\xa030, 2018', '\xa0', 'December\xa031, 2017']
multi_list [['June', '30,', '2018'], ['December', '31,', '2017']]
new_column used for year ['June', '30,', '2018', 'December', '31,', '2017']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2018,None,None,3906357000,4803663000,636869000,9346889000,12292070000,349646000,674932000,22663537000,None,None,4541087000,448219000,392595000,697740000,6079641000,3604158000,8342067000,141071000,18166937000,None,None,2103437000,12427000,2405590000,4496600000,22663537000

All the pages from 10-Q document 0001065280-18-000360 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2018', '\xa0', 'December\xa031, 2017']
multi_list [['March', '31,', '2018'], ['December', '31,', '2017']]
new_column used for year ['March', '31,', '2018', 'December', '31,', '2017']
Q ['Q1', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2018,None,None,2593666000,4626522000,597388000,7817576000,11314803000,341932000,678486000,20152797000,None,None,4466081000,436183000,429431000,673892000,6005587000,3444476000,6542373000,139631000,16132067000,None,None,1995225000,4264000,2021241000,4020730000,20152797000

All the pages from 10-Q document 0001065280-18-000205 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'September\xa030, 2017', '\xa0', 'December\xa031, 2016']
multi_list [['September', '30,', '2017'], ['December', '31,', '2016']]
new_column used for year ['September', '30,', '2017', 'December', '31,', '2016']
Q ['Q3', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2017,None,None,1746469000,266206000,4223387000,415492000,6385348000,9739704000,322421000,504067000,16951540000,None,None,4142086000,301443000,331723000,535425000,5310677000,3296504000,4888783000,128215000,13624179000,None,None,1807123000,25362000,1545600000,3327361000,16951540000

All the pages from 10-Q document 0001065280-17-000180 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'June\xa030, 2017', '\xa0', 'December\xa031, 2016']
multi_list [['June', '30,', '2017'], ['December', '31,', '2016']]
new_column used for year ['June', '30,', '2017', 'December', '31,', '2016']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2017,None,None,1918777000,246125000,4149111000,386772000,6700785000,9078474000,309831000,428133000,16517223000,None,None,4095374000,273398000,248871000,505302000,5122945000,3356090000,4836502000,89186000,13404723000,None,None,1727858000,31368000,1416010000,3112500000,16517223000

All the pages from 10-Q document 0001065280-17-000046 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2017', '\xa0', 'December\xa031, 2016']
multi_list [['March', '31,', '2017'], ['December', '31,', '2016']]
new_column used for year ['March', '31,', '2017', 'December', '31,', '2016']
Q ['Q1', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2017,None,None,1077824000,263405000,4026615000,292486000,5660330000,8029112000,275083000,394571000,14359096000,None,None,3861447000,294831000,296258000,458693000,4911229000,3035430000,3365431000,73323000,11385413000,None,None,1669132000,45859000,1350410000,2973683000,14359096000

All the pages from 10-Q document 0001628280-17-003939 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'September\xa030, 2016', '\xa0', 'December\xa031, 2015']
multi_list [['September', '30,', '2016'], ['December', '31,', '2015']]
new_column used for year ['September', '30,', '2016', 'December', '31,', '2015']
Q ['Q3', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2016,None,None,969158000,374098000,3632399000,218238000,5193893000,6677674000,191876000,283895000,12347338000,None,None,3497214000,285753000,201232000,427206000,4411405000,2975189000,2373966000,57812000,9818372000,None,None,1503641000,36530000,1061855000,2528966000,12347338000

All the pages from 10-Q document 0001065280-16-000081 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'June\xa030, 2016', '\xa0', 'December\xa031, 2015']
multi_list [['June', '30,', '2016'], ['December', '31,', '2015']]
new_column used for year ['June', '30,', '2016', 'December', '31,', '2015']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2016,None,None,1390925000,443303000,3349262000,203428000,5386918000,5742938000,162864000,300787000,11593507000,None,None,3242330000,240458000,172073000,396976000,4051837000,2698520000,2373085000,54231000,9177673000,None,None,1443707000,38211000,1010338000,2415834000,11593507000

All the pages from 10-Q document 0001065280-16-000072 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2016', '\xa0', 'December\xa031, 2015']
multi_list [['March', '31,', '2016'], ['December', '31,', '2015']]
new_column used for year ['March', '31,', '2016', 'December', '31,', '2015']
Q ['Q1', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2016,None,None,1605244000,467227000,3258641000,212724000,5543836000,5260160000,166254000,292024000,11262274000,None,None,3145861000,231914000,181634000,374223000,3933632000,2586098000,2372218000,53093000,8945041000,None,None,1382051000,34401000,969583000,2317233000,11262274000

All the pages from 10-Q document 0001065280-16-000057 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'September\xa030, 2015', '\xa0', 'December\xa031, 2014']
multi_list [['September', '30,', '2015'], ['December', '31,', '2014']]
new_column used for year ['September', '30,', '2015', 'December', '31,', '2014']
Q ['Q3', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2015,None,None,2115437000,494205000,2695184000,264887000,5569713000,3891790000,181268000,273496000,9916267000,None,None,2622964000,209365000,179350000,329739000,3341418000,1966854000,2400000000,40677000,7748949000,None,None,1306461000,37890000,898747000,2167318000,9916267000

All the pages from 10-Q document 0001065280-15-000038 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'June\xa030, 2015', '\xa0', 'December\xa031, 2014']
multi_list [['June', '30,', '2015'], ['December', '31,', '2014']]
new_column used for year ['June', '30,', '2015', 'December', '31,', '2014']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2015,None,None,2293872000,502886000,2510946000,292806000,5600510000,3640767000,171396000,242188000,9654861000,None,None,2556180000,211729000,150406000,301754000,3220069000,1942624000,2400000000,60093000,7622786000,None,None,1200880000,38120000,869315000,2032075000,9654861000

All the pages from 10-Q document 0001065280-15-000031 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2015', '\xa0', 'December\xa031, 2014']
multi_list [['March', '31,', '2015'], ['December', '31,', '2014']]
new_column used for year ['March', '31,', '2015', 'December', '31,', '2014']
Q ['Q1', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2015,None,None,2454777000,502931000,2370447000,210901000,5539056000,3312353000,145816000,243401000,9240626000,None,None,2425619000,190567000,107323000,285340000,3008849000,1861791000,2400000000,60772000,7331412000,None,None,61000,1109327000,43154000,842980000,1909214000,9240626000

All the pages from 10-Q document 0001065280-15-000017 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'September\xa030, 2014', '\xa0', 'December\xa031, 2013']
multi_list [['September', '30,', '2014'], ['December', '31,', '2013']]
new_column used for year ['September', '30,', '2014', 'December', '31,', '2013']
Q ['Q3', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2014,None,None,1183217000,483602000,2006981000,149682000,3823482000,2631882000,144147000,178818000,6778329000,None,None,2074766000,150374000,70559000,252956000,2548655000,1510403000,900000000,94397000,5053455000,None,None,60000,987256000,1645000,735913000,1724874000,6778329000

All the pages from 10-Q document 0001065280-14-000028 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'June\xa030, 2014', '\xa0', 'December\xa031, 2013']
multi_list [['June', '30,', '2014'], ['December', '31,', '2013']]
new_column used for year ['June', '30,', '2014', 'December', '31,', '2013']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2014,None,None,1214244000,500121000,1786341000,167674000,3668380000,2348796000,141715000,166931000,6325822000,None,None,1858020000,137226000,98548000,241330000,2335124000,1390770000,900000000,90223000,4716117000,None,None,60000,926525000,6502000,676618000,1609705000,6325822000

All the pages from 10-Q document 0001065280-14-000021 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2014', '\xa0', 'December\xa031, 2013']
multi_list [['March', '31,', '2014'], ['December', '31,', '2013']]
new_column used for year ['March', '31,', '2014', 'December', '31,', '2013']
Q ['Q1', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2014,None,None,1157450000,510793000,1771410000,147131000,3586784000,2179474000,133473000,148375000,6048106000,None,None,1844897000,133883000,54858000,230015000,2263653000,1321879000,900000000,84216000,4569748000,None,None,60000,868195000,4503000,605600000,1478358000,6048106000

All the pages from 10-Q document 0001065280-14-000012 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'September\xa030, 2013', '\xa0', 'December\xa031, 2012']
multi_list [['September', '30,', '2013'], ['December', '31,', '2012']]
new_column used for year ['September', '30,', '2013', 'December', '31,', '2012']
Q ['Q3', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2013,None,None,439056000,695931000,1577514000,30522000,106255000,2849278000,1808387000,127263000,116397000,4901325000,None,None,1591981000,100899000,46433000,195823000,1935136000,1179055000,500000000,200000000,82764000,3696955000,None,None,59000,698677000,1570000,504064000,1204370000,4901325000

All the pages from 10-Q document 0001065280-13-000036 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'June\xa030, 2013', '\xa0', 'December\xa031, 2012']
multi_list [['June', '30,', '2013'], ['December', '31,', '2012']]
new_column used for year ['June', '30,', '2013', 'December', '31,', '2012']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2013,None,None,370678000,709432000,1363609000,32064000,94539000,2570322000,1682202000,127931000,100296000,4480751000,None,None,1321217000,103441000,59035000,186571000,1670264000,1124249000,500000000,200000000,80616000,3375129000,None,None,59000,634985000,1664000,472242000,1105622000,4480751000

All the pages from 10-Q document 0001065280-13-000030 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2013', '\xa0', 'December\xa031, 2012']
multi_list [['March', '31,', '2013'], ['December', '31,', '2012']]
new_column used for year ['March', '31,', '2013', 'December', '31,', '2012']
Q ['Q1', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2013,None,None,418051000,607821000,1391505000,57254000,82469000,2557100000,1576674000,129319000,100196000,4363289000,None,None,1355010000,102822000,52004000,178878000,1688714000,1083427000,500000000,200000000,78229000,3550370000,None,None,56000,369801000,291000,442771000,812919000,4363289000

All the pages from 10-Q document 0001065280-13-000020 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'September\xa030, 2012', '\xa0', 'December 31, 2011']
multi_list [['September', '30,', '2012'], ['December', '31,', '2011']]
new_column used for year ['September', '30,', '2012', 'December', '31,', '2011']
Q ['Q3', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2012,None,None,370298000,428057000,1335769000,33152000,57742000,2225018000,1366566000,133603000,83646000,3808833000,None,None,1280885000,91511000,70681000,155146000,1598223000,1030979000,200000000,200000000,62791000,3091993000,None,None,56000,281593000,3006000,432185000,716840000,3808833000

All the pages from 10-Q document 0001065280-12-000020 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'June\xa030, 2012', '\xa0', 'December 31, 2011']
multi_list [['June', '30,', '2012'], ['December', '31,', '2011']]
new_column used for year ['June', '30,', '2012', 'December', '31,', '2011']
Q ['Q2', 'Q4']

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2012,None,None,402251000,411092000,1223638000,48510000,52294000,2137785000,1147805000,124644000,68056000,3478290000,None,None,1204209000,90961000,50884000,152790000,1498844000,829163000,200000000,200000000,62057000,2790064000,None,None,56000,262699000,961000,424510000,688226000,3478290000

All the pages from 10-Q document 0001065280-12-000012 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0 \xa0', 'March\xa031, 2012', '\xa0', 'December 31, 2011']
multi_list [['March', '31,', '2012'], ['December', '31,', '2011']]
new_column used for year ['March', '31,', '2012', 'December', '31,', '2011']
Q ['Q1', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Long term debt,Long term debt due to related party,Non current content liabilities,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2012,None,395992000,408534000,1155443000,53013000,45759000,2058741000,1226274000,128197000,67247000,3480459000,None,None,1163839000,83119000,49106000,150602000,1446666000,200000000,200000000,908188000,62203000,2817057000,None,None,55000,243424000,1577000,418346000,663402000,3480459000

All the pages from 10-Q document 0001445305-12-001242 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'September\xa030,2011', '\xa0', '\xa0\xa0', 'December\xa031,2010', '\xa0']
multi_list [['September', '30,2011'], ['December', '31,2010']]
new_column used for year ['September', '30,2011', 'December', '31,2010']
Q ['Q3', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2011,None,159199000,206573000,705398000,77146000,41797000,None,1190113000,570210000,143993000,28743000,28499000,None,1961558000,None,None,None,750107000,54671000,2259000,160929000,None,967966000,200000000,32400000,372840000,None,1573206000,None,None,53000,51622000,588000,387711000,None,388352000,None,1961558000,None

All the pages from 10-Q document 0001193125-11-284366 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'June\xa030,2011', '\xa0', '\xa0\xa0', 'December\xa031,2010', '\xa0']
multi_list [['June', '30,2011'], ['December', '31,2010']]
new_column used for year ['June', '30,2011', 'December', '31,2010']
Q ['Q2', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2011,None,175207000,201200000,499434000,59811000,33792000,None,969444000,425246000,136948000,25883000,13172000,None,1570693000,None,None,None,533436000,44137000,2199000,146937000,None,726709000,200000000,32986000,276964000,None,1236659000,None,None,53000,51622000,884000,333097000,None,334034000,None,1570693000,None

All the pages from 10-Q document 0001193125-11-198669 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'March\xa031,2011', '\xa0', '\xa0\xa0', 'December\xa031,2010', '\xa0']
multi_list [['March', '31,2011'], ['December', '31,2010']]
new_column used for year ['March', '31,2011', 'December', '31,2010']
Q ['Q1', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2011,None,150419000,192302000,265933000,74597000,38351000,None,721602000,197554000,134800000,22452000,13780000,None,1090188000,None,None,None,None,301009000,44123000,2141000,143045000,None,490318000,200000000,33564000,90584000,None,814466000,None,None,52000,51622000,590000,275080000,None,275722000,None,1090188000,None

All the pages from 10-Q document 0001193125-11-112061 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'September\xa030,2010', '\xa0', '\xa0\xa0', 'December\xa031,2009', '\xa0']
multi_list [['September', '30,2010'], ['December', '31,2009']]
new_column used for year ['September', '30,2010', 'December', '31,2009']
Q ['Q3', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2010,None,113108000,143705000,138389000,59322000,37723000,None,492247000,120047000,125057000,19219000,13713000,None,770283000,None,None,None,170120000,36974000,2027000,102986000,None,312107000,200000000,34659000,31542000,None,578308000,None,None,52000,1279000,190644000,None,191975000,None,770283000,None

All the pages from 10-Q document 0001193125-10-235785 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'June\xa030,2010', '\xa0\xa0', 'December\xa031,2009']
multi_list [['June', '30,2010'], ['December', '31,2009']]
new_column used for year ['June', '30,2010', 'December', '31,2009']
Q ['Q2', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2010,None,107327000,171758000,93123000,33837000,35173000,None,441218000,94666000,123292000,21951000,12845000,None,693972000,None,None,None,120031000,34746000,1971000,101419000,None,258167000,200000000,35185000,23980000,None,517332000,None,None,52000,802000,175786000,None,176640000,None,693972000,None

All the pages from 10-Q document 0001193125-10-167382 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'March\xa031,2010', '\xa0\xa0', 'December\xa031,2009']
multi_list [['March', '31,2010'], ['December', '31,2009']]
new_column used for year ['March', '31,2010', 'December', '31,2009']
Q ['Q1', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Prepaid and other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2010,None,79861000,186469000,55566000,31704000,25938000,None,379538000,109431000,127165000,18791000,13368000,None,648293000,None,None,None,102703000,38718000,1917000,100109000,None,243447000,200000000,35704000,22407000,None,501558000,None,None,52000,487000,146196000,None,146735000,None,648293000,None

All the pages from 10-Q document 0001193125-10-095215 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'September\xa030,2009', '\xa0', '\xa0', 'December\xa031,2008', '\xa0']
multi_list [['September', '30,2009'], ['December', '31,2008']]
new_column used for year ['September', '30,2009', 'December', '31,2008']
Q ['Q3', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost \nrespectively),Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2009,None,55717000,99745000,11947000,10671000,32937000,5706000,18239000,None,234962000,104539000,122119000,17244000,13267000,None,492131000,None,None,None,93451000,29606000,1342000,79123000,None,203522000,36940000,19467000,None,259929000,None,None,64000,378549000,340362000,552000,193399000,None,232202000,None,492131000,None

All the pages from 10-Q document 0001193125-09-213071 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'June\xa030,2009', '\xa0', '\xa0', 'December\xa031,2008', '\xa0']
multi_list [['June', '30,2009'], ['December', '31,2008']]
new_column used for year ['June', '30,2009', 'December', '31,2008']
Q ['Q2', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2009,None,87471000,167498000,11430000,14671000,33519000,5594000,22381000,None,342564000,100316000,120346000,17225000,11542000,None,591993000,None,None,None,101634000,27782000,1275000,80495000,None,211186000,37301000,19135000,None,267622000,None,None,64000,375574000,215250000,725000,163258000,None,324371000,None,591993000,None

All the pages from 10-Q document 0001193125-09-160729 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'March 31,2009', '\xa0', '\xa0', 'December\xa031,2008', '\xa0']
multi_list [['March', '31,2009'], ['December', '31,2008']]
new_column used for year ['March', '31,2009', 'December', '31,2008']
Q ['Q1', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2009,None,115131000,171358000,8210000,13957000,33299000,5542000,17383000,None,364880000,105361000,123817000,23107000,11513000,None,628678000,None,None,None,112767000,32108000,1215000,80623000,None,226713000,37656000,17997000,None,282366000,None,None,63000,358620000,142739000,447000,130815000,None,346312000,None,628678000,None

All the pages from 10-Q document 0001193125-09-103685 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'September\xa030,2008', '\xa0', '\xa0', 'December\xa031,2007']
multi_list [['September', '30,2008'], ['December', '31,2007']]
new_column used for year ['September', '30,2008', 'December', '31,2007']
Q ['Q3', 'Q4']

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2008,None,111524000,139304000,9982000,15274000,7023000,18268000,None,301375000,122558000,128541000,19831000,10694000,None,582999000,None,None,None,109277000,31625000,1090000,65897000,None,207889000,38287000,11990000,None,258166000,None,None,62000,331489000,90028000,2410000,85720000,None,324833000,None,582999000,None

All the pages from 10-Q document 0001193125-08-222820 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2019', '\xa0', '2018']
multi_list [['As', 'of', 'December', '31,'], ['2019'], ['2018']]
new_column used for year ['As', 'of', 'December', '31,', '2019', '2018']
Q ['Q4']

,Quarter,Year,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2019,5018437000000,5151186000000,1160067000000,6178504000000,24504567000000,565221000000,2727420000000,33975712000000,None,None,4413561000000,674347000000,843043000000,924745000000,6855696000000,3334323000000,14759260000000,1444276000000,26393555000000,None,None,None,2793929000000,23521000000,4811749000000,7582157000000,33975712000000

All the pages from 10-K document 0001065280-20-000040 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2018', '\xa0', '2017']
multi_list [['As', 'of', 'December', '31,'], ['2018'], ['2017']]
new_column used for year ['As', 'of', 'December', '31,', '2018', '2017']
Q ['Q4']

,Quarter,Year,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2018,3794483000000,5151186000000,748466000000,9694135000000,14960954000000,418281000000,901030000000,25974400000000,None,None,4686019000000,562985000000,477417000000,760899000000,6487320000000,3759026000000,10360058000000,129231000000,20735635000000,None,None,None,2315988000000,19582000000,2942359000000,5238765000000,25974400000000

All the pages from 10-K document 0001065280-19-000043 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2017', '\xa0', '2016']
multi_list [['As', 'of', 'December', '31,'], ['2017'], ['2016']]
new_column used for year ['As', 'of', 'December', '31,', '2017', '2016']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2017,2822795000000,266206000000,4310934000000,536245000000,7669974000000,10371055000000,319404000000,652309000000,19012742000000,None,None,4173041000000,359555000000,315094000000,618622000000,5466312000000,3329796000000,6499432000000,135246000000,15430786000000,None,None,None,1871396000000,20557000000,1731117000000,3581956000000,19012742000000

All the pages from 10-K document 0001065280-18-000069 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2016', '\xa0', '2015']
multi_list [['As', 'of', 'December', '31,'], ['2016'], ['2015']]
new_column used for year ['As', 'of', 'December', '31,', '2016', '2015']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2016,1467576000000,266206000000,3726307000000,260202000000,5720291000000,7274501000000,250395000000,341423000000,13586610000000,None,None,3632711000000,312842000000,197632000000,443472000000,4586657000000,2894654000000,3364311000000,61188000000,10906810000000,None,None,None,1599762000000,48565000000,1128603000000,2679800000000,13586610000000

All the pages from 10-K document 0001628280-17-000496 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2015', '\xa0', '2014']
multi_list [['As', 'of', 'December', '31,'], ['2015'], ['2014']]
new_column used for year ['As', 'of', 'December', '31,', '2015', '2014']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2015,1809330000000,501385000000,2905998000000,215127000000,5431840000000,4312817000000,173412000000,284802000000,10202871000000,None,None,2789023000000,253491000000,140389000000,346721000000,3529624000000,2026360000000,2371362000000,52099000000,7979445000000,None,None,None,1324809000000,43308000000,941925000000,2223426000000,10202871000000

All the pages from 10-K document 0001065280-16-000047 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2014', '\xa0', '2013']
multi_list [['As', 'of', 'December', '31,'], ['2014'], ['2013']]
new_column used for year ['As', 'of', 'December', '31,', '2014', '2013']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2014,1113608000000,494888000000,2125702000000,206271000000,3940469000000,2773326000000,149875000000,192981000000,7056651000000,None,None,2117241000000,201581000000,69746000000,274586000000,2663154000000,1575832000000,900000000000,59957000000,5198943000000,None,None,None,60000000,1042810000000,4446000000,819284000000,1857708000000,7056651000000

All the pages from 10-K document 0001065280-15-000006 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2013', '\xa0', '2012']
multi_list [['As', 'of', 'December', '31,'], ['2013'], ['2012']]
new_column used for year ['As', 'of', 'December', '31,', '2013', '2012']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2013,604965000000,595440000000,1706421000000,151937000000,3058763000000,2091071000000,133605000000,129124000000,5412563000000,None,None,1775983000000,108435000000,54018000000,215767000000,2154203000000,1345590000000,500000000000,200000000000,79209000000,4079002000000,None,None,None,60000000,777441000000,3575000000,552485000000,1333561000000,5412563000000

All the pages from 10-K document 0001065280-14-000006 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0', 'As of December\xa031,', '\xa0\xa0', '\xa0', '2012', '\xa0', '2011']
multi_list [['As', 'of', 'December', '31,'], ['2012'], ['2011']]
new_column used for year ['As', 'of', 'December', '31,', '2012', '2011']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2012,290291000000,457787000000,1368162000000,59929000000,64622000000,2240791000000,1506008000000,131681000000,89410000000,3967890000000,None,None,1366847000000,86468000000,53139000000,169472000000,1675926000000,1076622000000,200000000000,200000000000,70669000000,3223217000000,None,None,None,56000000,301616000000,2919000000,440082000000,744673000000,3967890000000

All the pages from 10-K document 0001065280-13-000008 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'As of December\xa031,', '\xa0', '\xa0\xa0', '\xa0\xa0', '2011', '\xa0', '\xa0\xa0', '2010', '\xa0']
multi_list [['As', 'of', 'December', '31,'], ['2011'], ['2010']]
new_column used for year ['As', 'of', 'December', '31,', '2011', '2010']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Non current content library,Property and Equipment,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Content accounts payable,Other accounts payable,Accrued expenses,Deferred Revenue,,Total current liabilities,Long term debt,Long term debt due to related party,Non current content liabilities,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2011,508053000000,289758000000,919709000000,56007000000,57330000000,None,1830857000000,1046934000000,136353000000,55052000000,None,3069196000000,None,None,None,924706000000,87860000000,63693000000,148796000000,None,1225055000000,200000000000,200000000000,739628000000,61703000000,None,2426386000000,None,None,None,55000000,219119000000,706000000,422930000000,None,642810000000,None,3069196000000,None

All the pages from 10-K document 0001193125-12-053009 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'As of December\xa031,', '\xa0', '\xa0', '\xa0\xa0', '2010', '\xa0', '\xa0\xa0', '2009', '\xa0']
multi_list [['As', 'of', 'December', '31,'], ['2010'], ['2009']]
new_column used for year ['As', 'of', 'December', '31,', '2010', '2009']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2010,194499000000,155888000000,181006000000,62217000000,47357000000,None,640967000000,180973000000,128570000000,17467000000,14090000000,None,982067000000,None,None,None,222824000000,36489000000,2083000000,127183000000,None,388579000000,200000000000,34123000000,69201000000,None,691903000000,None,None,None,53000000,51622000000,750000000,237739000000,None,290164000000,None,982067000000,None

All the pages from 10-K document 0001193125-11-040217 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'As of December\xa031,', '\xa0', '\xa0', '\xa0\xa0', '2009', '\xa0\xa0', '2008', '\xa0']
multi_list [['As', 'of', 'December', '31,'], ['2009'], ['2008']]
new_column used for year ['As', 'of', 'December', '31,', '2009', '2008']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2009,134224000000,186018000000,12491000000,17133000000,37329000000,23818000000,None,411013000000,108810000000,131653000000,15958000000,12300000000,None,679734000000,None,None,None,91475000000,33387000000,1410000000,100097000000,None,226369000000,200000000000,36572000000,17650000000,None,480591000000,None,None,None,53000000,338577000000,100020000000,273000000,198817000000,None,199143000000,None,679734000000,None

All the pages from 10-K document 0001193125-10-036181 have been tableized and saved.
--------------------------------------------------------------------------------
column used for quarter ['\xa0', '\xa0\xa0', 'As of\xa0December\xa031,', '\xa0', '\xa0\xa0', '2008', '\xa0', '\xa0', '2007']
multi_list [['As', 'of', 'December', '31,'], ['2008'], ['2007']]
new_column used for year ['As', 'of', 'December', '31,', '2008', '2007']
Q ['Q4']

,Quarter,Year,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2008,139881000000,157390000000,8122000000,18417000000,18691000000,5617000000,13329000000,None,361447000000,98547000000,124948000000,22409000000,10595000000,None,617946000000,None,None,None,100344000000,31394000000,1152000000,83127000000,None,216017000000,37988000000,16786000000,None,270791000000,None,None,None,62000000,338577000000,100020000000,84000000,108452000000,None,347155000000,None,617946000000,None

All the pages from 10-K document 0001193125-09-037430 have been tableized and saved.
--------------------------------------------------------------------------------

In [84]:
# Checklist of erroneous filings.  
for a, b in Checklist.items():
    if b != []:
        print('These have a problem.', '\n', a, b)

    else: 
        print(a, 'has no problem!! :) ' , '\n')
    
print(Checklist)

10-Q has no problem!! :)

10-K has no problem!! :)

{'10-Q': [], '10-K': []}

In [80]:
# Bring QorK over to Part 2. 
QorK = {'10-Q': ['0001065280-20-000309',
  '0001065280-20-000155',
  '0001065280-19-000368',
  '0001065280-19-000260',
  '0001065280-19-000157',
  '0001065280-18-000538',
  '0001065280-18-000360',
  '0001065280-18-000205',
  '0001065280-17-000180',
  '0001065280-17-000046',
  '0001628280-17-003939',
  '0001065280-16-000081',
  '0001065280-16-000072',
  '0001065280-16-000057',
  '0001065280-15-000038',
  '0001065280-15-000031',
  '0001065280-15-000017',
  '0001065280-14-000028',
  '0001065280-14-000021',
  '0001065280-14-000012',
  '0001065280-13-000036',
  '0001065280-13-000030',
  '0001065280-13-000020',
  '0001065280-12-000020',
  '0001065280-12-000012',
  '0001445305-12-001242',
  '0001193125-11-284366',
  '0001193125-11-198669',
  '0001193125-11-112061',
  '0001193125-10-235785',
  '0001193125-10-167382',
  '0001193125-10-095215',
  '0001193125-09-213071',
  '0001193125-09-160729',
  '0001193125-09-103685',
  '0001193125-08-222820'],
 '10-K': ['0001065280-20-000040',
  '0001065280-19-000043',
  '0001065280-18-000069',
  '0001628280-17-000496',
  '0001065280-16-000047',
  '0001065280-15-000006',
  '0001065280-14-000006',
  '0001065280-13-000008',
  '0001193125-12-053009',
  '0001193125-11-040217',
  '0001193125-10-036181',
  '0001193125-09-037430']}