# Capstone Project

# Libraries

In [1]:
# Import Library 

import re
import requests
import unicodedata
from bs4 import BeautifulSoup
from pprint import pprint
import numpy as np
from numpy import array
import pandas as pd 
import csv
import pickle
from IPython.display import display
import pickle
from collections import Counter
pd.set_option('display.max_columns', 100)
from IPython.core import display as ICD

# Define Text Normalization Function

In [2]:
def restore_windows_1252_characters(restore_string):
    """
    Replace C1 control characters in the Unicode string s by the
    characters at the corresponding code points in Windows-1252,
    where possible.
    """

def to_windows_1252(match):
    try:
        return bytes([ord(match.group(0))]).decode('windows-1252')
    except UnicodeDecodeError:
        # No character at the corresponding code point: remove it.
        return ''

    return re.sub(r'[\u0080-\u0099]', to_windows_1252, restore_string)

# Grab the Document Content

In [3]:
def grab_doc_content( brand, CIK ):
    
    company = {}
    
    company['auto'] = {}
    auto = {brand : CIK
           }
    company['auto'] = auto

    value = list(auto.copy().values())
    
    return value

In [4]:
GDC = grab_doc_content('Amazon', '0001018724')

In [5]:
master_filings_dict = {}
    
file_code = {}
    
file_text = {}

Accession_Number_URL = {}

In [6]:
# URL Directory For CIK    
dir_url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'
dir_url_list = [dir_url.format(x) for x in GDC]

#print('Directory URL: {}'.format(dir_url_list))
doc_url_list = [] 

# FOR-loop yielding Accession Numbers from CIK/URL Directory.
for CIK_num in GDC:

    doc_url = r'https://www.sec.gov/Archives/edgar/data/{CIKx}/{xx}/{yy}.txt'
    doc_url_new = doc_url.format(CIKx = CIK_num, xx='{xx}', yy ='{yy}')
    doc_url_list.append(doc_url_new)

In [7]:
def url_maker(dir_url):
    dir_url_list = [dir_url.format(x) for x in GDC]

    #print('Directory URL: {}'.format(dir_url_list))
    doc_url_list = [] 

    # FOR-loop yielding Accession Numbers from CIK/URL Directory.
    for CIK_num in GDC:

        doc_url = r'https://www.sec.gov/Archives/edgar/data/{CIKx}/{xx}/{yy}.txt'
        doc_url_new = doc_url.format(CIKx = CIK_num, xx='{xx}', yy ='{yy}')
        
        doc_url_list.append(doc_url_new)
        
        url_lists = zip( dir_url_list , doc_url_list )
        
    return url_lists

In [8]:
url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'
for dir_url, doc_url in url_maker(url): 
    print(1, dir_url)
    print(2, doc_url)

1 https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001018724&type=10-&dateb=&owner=include&count=100
2 https://www.sec.gov/Archives/edgar/data/0001018724/{xx}/{yy}.txt

In [9]:
Accession_Number_URL = {}
url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'

for dir_url, doc_url in url_maker(url):
    
    response = requests.get(dir_url)
    soup = BeautifulSoup(response.content, 'lxml')
    text = soup.get_text(strip=True)

    cleaned_text = re.findall('Acc-no: \d+-\d+-\d+' , text)

    accession_number = [n.replace('Acc-no: ', '') for n in cleaned_text]
    accessionnumber = [num.replace('-', '') for num in accession_number]

    accession_numbers = zip(accessionnumber, accession_number)
    
    cikk = [ cikk_.replace('CIK=', '') for cikk_ in re.findall('CIK=\d+', dir_url) ][0]
    CIKK = {cikk : accessionnumber}
    
    for (a,b) in accession_numbers: 
        master_filings_dict[b] = {}
        master_filings_dict[b]['sec_header_content'] = {}
        master_filings_dict[b]['filing_documents'] = None

        doc_url_single = doc_url.format(xx = a, yy = b)

        file_url_list = []

        

        file_url_list.append( doc_url_single )
        
        Accession_Number_URL.update({ b : file_url_list})

In [10]:
A_N = []
for AN, url in Accession_Number_URL.items():
    
    if AN == '0001445305-13-002495':
        break
    else:
        A_N.append(AN)
print(A_N, '\n')
print(len(A_N))

['0001018724-20-000010', '0001018724-20-000004', '0001018724-19-000089', '0001018724-19-000071', '0001018724-19-000043', '0001018724-19-000004', '0001018724-18-000159', '0001018724-18-000108', '0001018724-18-000072', '0001018724-18-000005', '0001018724-17-000135', '0001018724-17-000100', '0001018724-17-000051', '0001018724-17-000011', '0001018724-16-000324', '0001018724-16-000286', '0001018724-16-000227', '0001018724-16-000172', '0001018724-15-000126', '0001018724-15-000087', '0001018724-15-000038', '0001018724-15-000006', '0001018724-14-000055', '0001018724-14-000025', '0001018724-14-000014', '0001018724-14-000006']

26

## Save each Filing.

In [11]:
QorK = {'10-Q' : [],
        '10-K' : []
       }

for acc_num, url in Accession_Number_URL.items():
    
    master_document_dict = {}
    
    # create a stop point
    if acc_num == '0000320193-20-000010':
        break

    else:
        
        # grab the response
        response = requests.get(url[0])

    # Soupify
        # pass it through the parser, in this case let's just use lxml because the tags seem to follow xml.
        soup = BeautifulSoup(response.content, 'lxml')
        filing_document = soup.find('document')
        
    # Parsing
        # Document type ->> document_id
        document_id = filing_document.type.find(text=True, recursive=False).strip()
        # Document sequence ->> document_sequence
        document_sequence = filing_document.sequence.find(text=True, recursive=False).strip()
        # Document filename ->> document_filename
        document_filename = filing_document.filename.find(text=True, recursive=False).strip()
        # Document description ->> document_description
        document_description = filing_document.description.find(text=True, recursive=False).strip()
        
    # Storage    
        # initalize our document dictionary
        master_document_dict[document_id] = {}

        # add the different parts, we parsed up above.
        master_document_dict[document_id]['document_sequence'] = document_sequence
        master_document_dict[document_id]['document_filename'] = document_filename
        master_document_dict[document_id]['document_description'] = document_description
        
# Scraping
        # grab the text portion of the document, this will be used to split the document into pages.
        filing_doc_text = filing_document.find('text').extract()

        # find all the thematic breaks, these help define page numbers and page breaks.
        all_thematic_breaks = filing_doc_text.find_all('hr')

        # Locate and store page number via list comprehension.
        all_page_numbers = [thematic_break.previous_sibling.get_text(strip=True) for thematic_break in all_thematic_breaks if len(str(thematic_break))>6]

        # convert all thematic breaks to a string so it can be used for parsing
        all_thematic_breaks = [str(thematic_break) for thematic_break in all_thematic_breaks]

        # prep the document text for splitting, this means converting it to a string.
        filing_doc_string = str(filing_doc_text)
    
        # handle the case where there are thematic breaks.
        if len(all_thematic_breaks) > 0: 

            # define the regex delimiter pattern, this would just be all of our thematic breaks.
            regex_delimiter_pattern = '|'.join(map(re.escape, all_thematic_breaks))

            # split the document along each thematic break.
            split_filing_string = re.split(regex_delimiter_pattern, filing_doc_string)

            # store the document itself
            master_document_dict[document_id]['pages_code'] = split_filing_string

        # handle the case where there are no thematic breaks.
        elif len(all_thematic_breaks) == 0:

            # handles so it will display correctly.
            split_filing_string = all_thematic_breaks

            # store the document as is, since there are no thematic breaks. In other words, no splitting.
            master_document_dict[document_id]['pages_code'] = [filing_doc_string]
            
        # display some information to the user.
        print('-'*80)
        print('The document {} was parsed.'.format(document_id))
        print('There was {} page(s) found.'.format(len(all_page_numbers)))
        print('There was {} thematic breaks(s) found.'.format(len(all_thematic_breaks)))

        # store the documents in the master_filing_dictionary.
        master_filings_dict[acc_num]['filing_documents'] = master_document_dict
        
        # if document is 10-Q
        if document_id == '10-Q':
            QorK['10-Q'].append(acc_num) # add acc_num to QorK in 10-Q as key
        
        # if document is 10-K
        if document_id == '10-K':
            QorK['10-K'].append(acc_num) # add acc_num to QorK in 10-K as key
        
        del master_document_dict
        
        print('-'*80)
        print('All the documents for filing {} were parsed and stored.'.format(acc_num))

--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 45 page(s) found.
There was 45 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-20-000010 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 75 page(s) found.
There was 75 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-20-000004 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-19-000089 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-19-000071 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-19-000043 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 74 page(s) found.
There was 74 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-19-000004 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 45 page(s) found.
There was 45 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-18-000159 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 45 page(s) found.
There was 45 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-18-000108 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-18-000072 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 77 page(s) found.
There was 77 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-18-000005 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 45 page(s) found.
There was 45 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-17-000135 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 42 page(s) found.
There was 42 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-17-000100 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 41 page(s) found.
There was 41 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-17-000051 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 76 page(s) found.
There was 76 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-17-000011 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-16-000324 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-16-000286 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 43 page(s) found.
There was 43 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-16-000227 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 77 page(s) found.
There was 77 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-16-000172 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 47 page(s) found.
There was 47 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-15-000126 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 46 page(s) found.
There was 46 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-15-000087 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-15-000038 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 77 page(s) found.
There was 77 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-15-000006 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 42 page(s) found.
There was 42 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-14-000055 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 40 page(s) found.
There was 40 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-14-000025 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 39 page(s) found.
There was 39 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-14-000014 were parsed and stored.

--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 72 page(s) found.
There was 72 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001018724-14-000006 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 40 page(s) found.
There was 40 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001445305-13-002495 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 37 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-13-303204 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 36 page(s) found.
There was 36 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-13-174667 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 81 page(s) found.
There was 81 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-13-028520 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 40 page(s) found.
There was 40 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-12-436012 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 39 page(s) found.
There was 39 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-12-317409 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 36 page(s) found.
There was 36 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-12-187203 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 78 page(s) found.
There was 78 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-12-032846 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 37 page(s) found.
There was 37 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-280739 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 33 page(s) found.
There was 33 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-197823 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 32 page(s) found.
There was 32 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-110197 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K/A was parsed.
There was 3 page(s) found.
There was 3 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-050136 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 71 page(s) found.
There was 71 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-11-016253 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 33 page(s) found.
There was 33 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-10-233883 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 34 page(s) found.
There was 34 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-10-164083 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 38 page(s) found.
There was 38 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-10-090367 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 78 page(s) found.
There was 78 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-10-016098 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 45 page(s) found.
There was 45 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-09-212134 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 46 page(s) found.
There was 46 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-09-154174 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 46 page(s) found.
There was 46 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-09-085983 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 84 page(s) found.
There was 84 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-09-014406 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 53 page(s) found.
There was 53 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-08-214483 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 50 page(s) found.
There was 50 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-08-157451 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 47 page(s) found.
There was 47 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-08-089548 were parsed and stored.

--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 84 page(s) found.
There was 84 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-08-024707 were parsed and stored.

AttributeError: 'NavigableString' object has no attribute 'get_text'

In [ ]:
string_test = master_filings_dict['0000320193-20-000052']['filing_documents']['10-Q']['pages_code']

## Anchor Check Function

In [16]:
# Variations of HTML anchors.
CBS_A = 'CONDENSED CONSOLIDATED BALANCE SHEETS'
CBS_B = 'CONSOLIDATED BALANCE SHEETS'
# SoO_A = '<a name="Statements_of_Operations"' 
# SoO_B = 'id="CONSOLIDATED_STATEMENTS_OPERATIONS"'
# SoO3 = 'name="CONSOLIDATED_STATEMENTS_OPERATIONS"'
# CSoO10K = 'name="Consolidated_Statements_of_Operations"'
# CSoO10Knew = 'id="Consolidated_Statements_of_Operations"'

# CF_A = '<a name="Statements_of_Cash'
# CF_B = 'id="CONSOLIDATED_STATEMENTS_CASH_FLOWS"'
# CF3 = 'name="CONSOLIDATED_STATEMENTS_CASH_FLOWS"'
# CCF10K = 'name="Consolidated_Statements_of_Cash_Flows"'
# CCF10Knew = 'id="Consolidated_Statements_of_Cash_Flows"'

def anchor_check(page_code):
    
    # if the page has one of these anchors
    if (CBS_A in page_code) or (CBS_B in page_code):
        return True

    #elif (SoO_A in page_code) or (SoO_B in page_code) or (SoO3 in page_code) or (CSoO10K in page_code) or (CSoO10Knew in page_code) :
        #return True

    #elif (CF_A in page_code) or (CF_B in page_code) or (CF3 in page_code) or (CCF10K in page_code) or (CCF10Knew in page_code):
        #return True


    else:
        return False

## Cleaning Columns Function

In [17]:
month_dict = {'December' : 'Q4',
              'November' : 'Q4',
             'October' : 'Q4',
             'September' : 'Q3',
             'August': 'Q3',
             'July' : 'Q3',
             'June' : 'Q2',
             'May' : 'Q2',
             'April' : 'Q2',
             'March' : 'Q1',
             'Feburary' : 'Q1',
             'January' : 'Q1'}

In [18]:
col_name_variants = {
    'Inventor' : 'Inventory',
    'Total liabilities and' : 'Total liabilities and equity',
    'Common stock.*' : 'Common Stock',
    'Preferred stock.*': 'Preferred Stock',
    'Accounts receivable.*' : 'Accounts Receivable',
    'Accrued liabilities.*' : 'Accrued Liabilities',
    'Deferred revenue.*' : 'Deferred Revenue',
    'Redeemable noncontrolling interests in subsidiaries.*' : 'Noncontrolling interests in subsidiaries',
    'Short term investments.*' : 'Short term investments', 
    'Property|equipment.' : 'Property and Equipment',
    'Retained earnings.*' : 'Retained Earnings',
    'stockholders.*' : 'Shareholder Equity',
    '^Cash.*' : 'Cash',
    'Convertible senior notes.*' : 'Convertible Senior Notes'
}

In [19]:
def clean_col_name( name ):
    
    for detect, replacement in col_name_variants.items():

        if re.findall(detect, name, flags=re.I):

            n_column = name.replace(name, replacement) 

            return n_column 
            
    return name

In [20]:
# Throw column list-like object into cleaning function. 
def cleaning_column(r_column, m):
     
    column_list = []
    column_name = []
    
    for element_post, element in enumerate(r_column):
        try:
            ele= element.encode('cp1252').decode("utf-8", "ignore")
                
        except:
            ele= element.encode('latin1').decode("utf-8", "ignore")
            
        if ele =='':
            continue
            
        ele_norm = unicodedata.normalize('NFKD', ele)
        
        # Handling the first "row" in the table i.e. column name.
        if element_post == 0:
#             print(element)
            
            ele_norm = ele_norm.replace('net', '')
            
            ele_norm = ele_norm.replace( '-', ' ')
            
            s_ele_norm = re.sub(r"^\s+|\s+$", "", ele_norm)
            
            name = re.sub(r'(?=,|:|\.|\(){1}.*', repl='', string= s_ele_norm, flags=re.I)
            
            # clean_col_name function Choose old_if or new_dict
            clean_name = clean_col_name( name )
            ###
            column_name.append(clean_name)
            ###
            column_list.append(clean_name)
        
        # Handling the all the remaining "rows" in the table i.e. data/numbers.
        elif ele_norm not in ['\n$', '\n\xa0', '\n', '\xa0']:
            
            n_element = ele_norm.replace( ',', '' )

            pattern = re.compile(r'[\d]+,[\d]+|[\d]+')

            res = pattern.findall(n_element)
            
            result = [int(clean_ele) * m for clean_ele in res]

            column_list.extend(result)

    return column_list

## Cleaning Tables Function

In [161]:
# New and imporved.
def Quarter( column , k):
    
#     print('column used for quarter', column)
    
    multi_list = [element.split() for element in column if element.split() != []]
#     print('multi_list', multi_list)
    new_column = [item for sublist in multi_list for item in sublist]
#     print('new_column used for year', new_column)
    
    Q = []
    Y = []
    
    for letter in column:
#         print('letter', letter)
        try:
            month = re.findall(r'\w{}+'.format(list(month_dict.keys())), letter.replace(' ',  '') )[0]
            
            Q_num = month_dict[month] 
    #         print('Q_num' , Q_num)
    
            if Q_num != []:
                Q.append(Q_num)
                
        except:
            continue
    #         print('~'*20)
        
    print('Q' , Q) 
        
    if k == '10-K':
        Q_final =['Quarter'] + Qm
        Q_final.insert(1, 0)
        
        
    for letter in new_column:   
        
        #print( letter.split(',') )
        
        Year = [re.compile(r'^[0-9]{4}$').findall(p_s_ele_norm) for p_s_ele_norm in letter.split(',') if re.compile(r'^[0-9]{4}$').findall(p_s_ele_norm) != []]
        Y.append(Year)
#     print(f'Y - {Y}')   # Y - [[], [], [['2015']], [['2016']]]
    
    Y = sorted([num for sublist in Y for item in sublist for num in item])
    print(f'Y - {Y}')
    
#     if k == '10-K' and int(Y[0]) < 2017:
#         Y = [str(int(Y[0]) + 1)]
#         print(f'Changed Y into {Y}')

    
        
    if k == '10-Q' and int(Y[0]) > 2015:
        Q_final =['Quarter'] + sorted(Q, reverse=True)
            
    else:
        Q_final =['Quarter'] + sorted(Q)
    
    
    if k == '10-Q' and int(Y[0]) < 2016:
        Y = sorted(Y, reverse=True)
        Y.insert(0, 'Year')
        
    else:    
        Y.insert(0, 'Year')
    
    #Y.insert(1, 0)

    
    return Q_final, Y
    print( '\n', 'Q_final', Q_final, 'Y', Y)

In [185]:
Checklist = {}

for k, v in QorK_10Q_2.items():
    value_list = []
    for i, vv in enumerate(v):
        year = int(vv.split(sep='-')[1])
        # first grab 10-Q documents only
        pages = master_filings_dict[v[i]]['filing_documents'][k]['pages_code']

#         try:
        # Extract Table from html code and wrap it as a list of df.
        table_df = table(pages, k)[0]  
        
        if year > 16:
            table_df = table_df.drop([1]).reset_index(drop=True)
            
        else: 
            table_df = table_df.drop([2]).reset_index(drop=True)
        
        ICD.display(table_df)

        with open('{}-{}.csv'.format(v[i], k), "wb") as fp:   # Pickling
            pickle.dump(table_df, fp)

        # display a status to the user.
        print('All the pages from {} document {} have been tableized and saved.'.format(k, v[i]))
        
#         except: 
#             value_list.append(vv)
#             print('Something went wrong in file {}, file type = {}'.format(v[i], k))
        
        print('-'*80) 
    Checklist['{}'.format(k)] = value_list
#     del value_list

Q ['Q1', 'Q4']
Y - ['2012', '2013']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Property and Equipment,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 479 and 478,Outstanding shares 455 and 454,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q1,2013,None,None,None,4481000000,3414000000,5395000000,2516000000,507000000,None,16313000000,7674000000,123000000,2535000000,1732000000,None,28377000000,None,None,None,8916000000,5416000000,None,14332000000,3040000000,2573000000,None,None,None,None,None,None,None,None,5000000,1837000000,8585000000,319000000,1998000000,None,8432000000,None,28377000000,None

All the pages from 10-Q document 0001193125-13-174667 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2011', '2012']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 476 and 473,Outstanding shares 453 and 455,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q3,2012,None,None,2980000000,2268000000,5065000000,2392000000,413000000,None,13118000000,5662000000,38000000,2540000000,1476000000,None,22834000000,None,None,None,8369000000,4236000000,None,12605000000,2676000000,None,None,None,None,None,None,None,None,5000000,1837000000,7863000000,296000000,1818000000,None,7553000000,None,22834000000,None

All the pages from 10-Q document 0001193125-12-436012 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2011', '2012']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 476 and 473,Outstanding shares 452 and 455,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q2,2012,None,None,2335000000,2635000000,4380000000,2035000000,408000000,None,11793000000,5097000000,26000000,2521000000,1585000000,None,21022000000,None,None,None,7072000000,3892000000,None,10964000000,2553000000,None,None,None,None,None,None,None,None,5000000,1837000000,7573000000,328000000,2092000000,None,7505000000,None,21022000000,None

All the pages from 10-Q document 0001193125-12-317409 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q4']
Y - ['2011', '2012']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 474 and 473,Outstanding shares 450 and 455,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q1,2012,None,None,2288000000,3427000000,4255000000,1813000000,371000000,None,12154000000,4653000000,27000000,1970000000,1535000000,None,20339000000,None,None,None,6886000000,3602000000,None,10488000000,2580000000,None,None,None,None,None,None,None,None,5000000,1837000000,7192000000,174000000,2085000000,None,7271000000,None,20339000000,None

All the pages from 10-Q document 0001193125-12-187203 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2010', '2011']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 471 and 468,Outstanding shares 455 and 451,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q3,2011,None,None,2823000000,3503000000,3770000000,1496000000,312000000,None,11904000000,3999000000,27000000,1934000000,1190000000,None,19054000000,None,None,None,6552000000,2426000000,None,8978000000,2310000000,None,None,None,None,0,None,None,None,5000000,600000000,6824000000,241000000,1778000000,None,7766000000,None,19054000000,None

All the pages from 10-Q document 0001193125-11-280739 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2010', '2011']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 471 and 468,Outstanding shares 454 and 451,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q2,2011,None,None,2047000000,4308000000,3229000000,1438000000,257000000,None,11279000000,3470000000,30000000,1909000000,1253000000,None,17941000000,None,None,None,5721000000,2324000000,None,8045000000,2131000000,None,None,None,None,None,None,None,None,5000000,600000000,6675000000,30000000,1715000000,None,7765000000,None,17941000000,None

All the pages from 10-Q document 0001193125-11-197823 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q4']
Y - ['2010', '2011']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 469 and 468,Outstanding shares 452 and 451,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q1,2011,None,None,2641000000,4240000000,2888000000,1304000000,215000000,None,11288000000,2902000000,28000000,1513000000,1151000000,None,16882000000,None,None,None,5540000000,2190000000,None,7730000000,1805000000,None,None,None,None,None,None,None,None,5000000,600000000,6483000000,66000000,1525000000,None,7347000000,None,16882000000,None

All the pages from 10-Q document 0001193125-11-110197 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2009', '2010']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 466 and 461,Outstanding shares 449 and 444,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q3,2010,None,None,1539000000,4346000000,2515000000,959000000,200000000,None,9559000000,2099000000,43000000,1277000000,1184000000,None,14162000000,None,None,None,4614000000,1761000000,None,6375000000,164000000,1226000000,None,None,None,None,None,None,None,None,5000000,600000000,6215000000,131000000,908000000,None,6397000000,None,14162000000,None

All the pages from 10-Q document 0001193125-10-233883 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2009', '2010']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,NaN,Shareholder Equity,NaN,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,NaN,Commitments and contingencies,NaN,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 464 and 461,Outstanding shares 448 and 444,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q2,2010,None,None,1629000000,3479000000,1940000000,805000000,265000000,None,8118000000,1704000000,29000000,1229000000,1317000000,None,12397000000,None,None,None,None,None,3545000000,1705000000,None,5250000000,132000000,1158000000,None,None,None,None,None,None,None,None,None,None,5000000,600000000,6056000000,282000000,678000000,None,5857000000,None,12397000000,None

All the pages from 10-Q document 0001193125-10-164083 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q4']
Y - ['2009', '2010']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,NaN,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 462 and 461,Outstanding shares 446 and 444,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q1,2010,None,None,1844000000,3219000000,1820000000,815000000,266000000,None,7964000000,1436000000,16000000,1234000000,1392000000,None,12042000000,None,None,None,3619000000,1574000000,None,5193000000,131000000,1100000000,None,None,None,None,None,None,None,None,None,5000000,600000000,5887000000,145000000,471000000,None,5618000000,None,12042000000,None

All the pages from 10-Q document 0001193125-10-090367 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2008', '2009']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,NaN,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 449 and 445,Outstanding shares 433 and 428,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q3,2009,None,None,2514000000,1487000000,1617000000,671000000,80000000,None,6369000000,1086000000,206000000,457000000,854000000,None,8972000000,None,None,None,3354000000,1183000000,None,4537000000,116000000,734000000,None,None,None,None,None,None,None,None,None,4000000,600000000,4428000000,35000000,212000000,None,3585000000,None,8972000000,None

All the pages from 10-Q document 0001193125-09-212134 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2008', '2009']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,NaN,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 448 and 445,Outstanding shares 432 and 428,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q2,2009,None,None,1936000000,1276000000,1325000000,584000000,183000000,None,5304000000,981000000,118000000,451000000,821000000,None,7675000000,None,None,None,2508000000,1128000000,None,3636000000,109000000,674000000,None,None,None,None,None,None,None,None,None,4000000,600000000,4321000000,58000000,411000000,None,3256000000,None,7675000000,None

All the pages from 10-Q document 0001193125-09-154174 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q4']
Y - ['2008', '2009']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 446 and 445,Outstanding shares 429 and 428,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q1,2009,None,None,1701000000,1029000000,1266000000,587000000,192000000,None,4775000000,889000000,118000000,433000000,765000000,None,6980000000,None,None,None,2380000000,1030000000,None,3410000000,74000000,578000000,None,None,None,None,None,None,None,None,4000000,600000000,4210000000,143000000,553000000,None,2918000000,None,6980000000,None

All the pages from 10-Q document 0001193125-09-085983 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2007', '2008']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Current portion of long term debt,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 443 and 431,Outstanding shares 429 and 416,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q3,2008,None,None,1650000000,674000000,1315000000,597000000,194000000,None,4430000000,731000000,278000000,405000000,722000000,None,6566000000,None,None,None,2242000000,860000000,42000000,None,3144000000,393000000,502000000,None,None,None,None,None,None,None,None,4000000,500000000,4051000000,73000000,955000000,None,2527000000,None,6566000000,None

All the pages from 10-Q document 0001193125-08-214483 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2007', '2008']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Current portion of long term debt,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 440 and 431,Outstanding shares 426 and 416,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q2,2008,None,None,1548000000,832000000,1107000000,586000000,163000000,None,4236000000,651000000,284000000,400000000,751000000,None,6322000000,None,None,None,1963000000,812000000,441000000,None,3216000000,433000000,443000000,None,None,None,None,None,None,None,None,4000000,500000000,3794000000,6000000,1074000000,None,2230000000,None,6322000000,None

All the pages from 10-Q document 0001193125-08-157451 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q4']
Y - ['2007', '2008']

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Current portion of long term debt,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 432 and 431,Outstanding shares 417 and 416,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q1,2008,None,None,1496000000,655000000,1077000000,581000000,156000000,None,3965000000,594000000,280000000,392000000,652000000,None,5883000000,None,None,None,1864000000,781000000,906000000,None,3551000000,467000000,395000000,None,None,None,None,None,None,None,None,4000000,500000000,3191000000,7000000,1232000000,None,1470000000,None,5883000000,None

All the pages from 10-Q document 0001193125-08-089548 have been tableized and saved.
--------------------------------------------------------------------------------

In [184]:
def table_extractor( page, multiplier, k):
    
    # Convert string to BS object
    soup = BeautifulSoup(page, 'html5')

    # then get all the rows in the table.
    table_rows = soup.find_all('tr')
    
    if len( [tr.text for tr in table_rows[0].find_all('td')] ) < 3:
        del table_rows[0]
    
    single_table = []
    Date_column = []
    
    # Loop through each column, adding in three structures to single_table.
    for tr_post, tr in enumerate(table_rows):
        
        td = tr.find_all('td')

        column = [tr.text for tr in td]
#         print( tr_post, len(column), column)
        # 10-Q 
        if k == '10-Q':
            
            
            if tr_post == 1 or tr_post == 2:
                Date_column.extend(column)
            
            if tr_post == 2:
#                 print(Date_column)
                # Quarter Column
                col_Q, col_year = Quarter( Date_column, k )
                single_table.append( col_Q )
                # Year Column
                single_table.append( col_year )

            elif tr_post > 2: 

                # Features Columns
                cleaned_data = cleaning_column( column , multiplier )
#                 if len(cleaned_data) > 10:
#                     del cleaned_data[3]
                    
                single_table.append( cleaned_data )
                
        # 10-K
        elif k == '10-K':
            if tr_post == 1 or tr_post ==2:
                
                Date_column.append(column)               
                
            elif tr_post == 3:
                
                # Quarter Column
                col_date, col_year = Quarter([item for sublist in Date_column for item in sublist], k)
                single_table.append( col_date )
                # Year Column
                single_table.append( col_year )
                
            elif tr_post > 3:              
                
                cleaned_data = cleaning_column( column , 10**6 )
                if len(cleaned_data) > 10:
                    del cleaned_data[3]
                
                single_table.append( cleaned_data )
            
    return single_table

In [23]:
def df_clean( single_table ):
#     print(single_table)
    table_df = pd.DataFrame(single_table)

    table_df = table_df.transpose()  

    #table_df.drop(table_df.index[1:3], 0, inplace=True)

    #table_df.drop(table_df.index[2:], 0, inplace=True)

    table_df.columns = table_df.iloc[0]

    table_df = table_df.drop(table_df.index[0])
    
    return table_df

In [124]:
def table(page_code, k):
    
    doc_tables=[]

    for page_post, page in enumerate(page_code):
        
        if anchor_check(page) and ('in millions' in page):
            
            single_table = table_extractor( page, 10**6, k)
            
            table_df = df_clean(single_table)
                        
            doc_tables.append(table_df)
        
        elif anchor_check(page) and ('in thousands' in page):
            
            single_table = table_extractor( page, 10**3, k)
            
            table_df = df_clean(single_table)
            
            doc_tables.append(table_df)
            
                
    return doc_tables

# Special to deal with 10-Q

In [13]:
explore_dict = {}
for QK, AccNum_list in QorK.items():
    
    #for an_postition, acc_num in enumerate(AccNum_list): 
    if QK== '10-Q':
        Q_new = AccNum_list[0]
        Q_old = AccNum_list[-1]
        explore_dict[QK] = [Q_new, Q_old]

    if QK == '10-K':
        K_new = AccNum_list[0]
        K_old = AccNum_list[-1]
        explore_dict[QK] = [K_new, K_old]

In [46]:
explore_dict = {'10-Q' : ['0001193125-13-303204',
  '0001193125-13-174667',
  '0001193125-12-436012']}

In [60]:
QorK_10Q_1 = {'10-Q': ['0001018724-20-000010',
  '0001018724-19-000089',
  '0001018724-19-000071',
  '0001018724-19-000043',
  '0001018724-18-000159',
  '0001018724-18-000108',
  '0001018724-18-000072',
  '0001018724-17-000135',
  '0001018724-17-000100',
  '0001018724-17-000051',
  '0001018724-16-000324',
  '0001018724-16-000286',
  '0001018724-16-000227',
  '0001018724-15-000126',
  '0001018724-15-000087',
  '0001018724-15-000038',
  '0001018724-14-000055',
  '0001018724-14-000025',
  '0001018724-14-000014',
  '0001445305-13-002495',
  '0001193125-13-303204']}

In [164]:
Checklist = {}

for k, v in QorK_10Q_1.items():
    value_list = []
    for i, vv in enumerate(v):
        year = int(vv.split(sep='-')[1])
        # first grab 10-Q documents only
        pages = master_filings_dict[v[i]]['filing_documents'][k]['pages_code']

#         try:
        # Extract Table from html code and wrap it as a list of df.
        table_df = table(pages, k)[0]  
        
        if year > 16:
            table_df = table_df.drop([1]).reset_index(drop=True)
            
        else: 
            table_df = table_df.drop([2]).reset_index(drop=True)
        
        ICD.display(table_df)

        with open('{}-{}.csv'.format(v[i], k), "wb") as fp:   # Pickling
            pickle.dump(table_df, fp)

        # display a status to the user.
        print('All the pages from {} document {} have been tableized and saved.'.format(k, v[i]))
        
#         except: 
#             value_list.append(vv)
#             print('Something went wrong in file {}, file type = {}'.format(v[i], k))
        
        print('-'*80) 
    Checklist['{}'.format(k)] = value_list
#     del value_list

Q ['Q4', 'Q1']
Y - ['2019', '2020']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Operating leases,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term lease liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 521 and 522,Outstanding shares 498 and 499,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2020,None,None,None,27201000000,22091000000,18857000000,17836000000,85985000000,77779000000,26279000000,14739000000,16456000000,221238000000,None,None,40056000000,30791000000,8864000000,79711000000,40300000000,23437000000,12518000000,None,None,None,None,None,None,None,None,5000000,1837000000,35412000000,2063000000,33755000000,65272000000,221238000000

All the pages from 10-Q document 0001018724-20-000010 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - ['2018', '2019']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Operating leases,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term lease liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 514 and 519,Outstanding shares 491 and 495,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2019,None,None,None,23255000000,20146000000,18766000000,16887000000,79054000000,67662000000,None,14734000000,14535000000,199099000000,None,None,35794000000,28961000000,7381000000,72136000000,37058000000,22472000000,10925000000,None,None,None,None,None,None,None,None,5000000,1837000000,31817000000,1429000000,27952000000,56508000000,199099000000

All the pages from 10-Q document 0001018724-19-000089 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q2']
Y - ['2018', '2019']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Operating leases,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term lease liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 514 and 518,Outstanding shares 491 and 494,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2019,None,None,None,22616000000,18847000000,18580000000,16747000000,76790000000,64723000000,None,14727000000,13462000000,191351000000,None,None,36063000000,26140000000,7475000000,69678000000,35134000000,23329000000,10149000000,None,None,None,None,None,None,None,None,5000000,1837000000,30035000000,960000000,25818000000,53061000000,191351000000

All the pages from 10-Q document 0001018724-19-000071 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q1']
Y - ['2018', '2019']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Operating leases,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term lease liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 514 and 516,Outstanding shares 491 and 492,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2019,None,None,None,23115000000,13905000000,16432000000,15979000000,69431000000,61048000000,None,14708000000,12783000000,178102000000,None,None,31809000000,24588000000,7298000000,63695000000,33275000000,23322000000,9400000000,None,None,None,None,None,None,None,None,5000000,1837000000,28059000000,1010000000,23193000000,48410000000,178102000000

All the pages from 10-Q document 0001018724-19-000043 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - ['2017', '2018']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 507 and 512,Outstanding shares 484 and 489,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2018,None,None,None,20425000000,9340000000,15862000000,14258000000,59885000000,58019000000,14553000000,11238000000,143695000000,None,None,30904000000,18420000000,6000000000,55324000000,24684000000,24562000000,None,None,None,None,None,None,None,None,5000000,1837000000,25375000000,1034000000,16616000000,39125000000,143695000000

All the pages from 10-Q document 0001018724-18-000159 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q2']
Y - ['2017', '2018']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 507 and 511,Outstanding shares 484 and 487,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2018,None,None,None,19823000000,7227000000,14824000000,12607000000,54481000000,54768000000,13944000000,10907000000,134100000000,None,None,27657000000,17140000000,6004000000,50801000000,24638000000,23666000000,None,None,None,None,None,None,None,None,5000000,1837000000,24028000000,934000000,13733000000,34995000000,134100000000

All the pages from 10-Q document 0001018724-18-000108 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q1']
Y - ['2017', '2018']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 507 and 508,Outstanding shares 484 and 485,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2018,None,None,None,16676000000,8287000000,13840000000,12026000000,50829000000,52331000000,13388000000,9814000000,126362000000,None,None,25172000000,16691000000,6182000000,48045000000,24640000000,22214000000,None,None,None,None,None,None,None,None,5000000,1837000000,22563000000,467000000,11199000000,31463000000,126362000000

All the pages from 10-Q document 0001018724-18-000072 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - ['2016', '2017']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 500 and 505,Outstanding shares 477 and 482,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2017,None,None,None,12767000000,11543000000,13711000000,10557000000,48578000000,45335000000,13271000000,8083000000,115267000000,None,None,26075000000,15844000000,5153000000,47072000000,24710000000,18827000000,None,None,None,None,None,None,None,None,5000000,1837000000,20212000000,501000000,6779000000,24658000000,115267000000

All the pages from 10-Q document 0001018724-17-000135 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q2']
Y - ['2016', '2017']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 500 and 504,Outstanding shares 477 and 480,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2017,None,None,None,13203000000,8248000000,11510000000,8046000000,41007000000,37083000000,4254000000,5437000000,87781000000,None,None,21439000000,14016000000,5065000000,40520000000,7683000000,16364000000,None,None,None,None,None,None,None,None,5000000,1837000000,19129000000,607000000,6524000000,23214000000,87781000000

All the pages from 10-Q document 0001018724-17-000100 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q1']
Y - ['2016', '2017']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 500 and 501,Outstanding shares 477 and 478,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2017,None,None,None,15440000000,6091000000,10600000000,7329000000,39460000000,32632000000,3823000000,5054000000,80969000000,None,None,18891000000,13054000000,5454000000,37399000000,7691000000,14205000000,None,None,None,None,None,None,None,None,5000000,1837000000,17976000000,797000000,6327000000,21674000000,80969000000

All the pages from 10-Q document 0001018724-17-000051 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2015', '2016']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 498 and 494,Outstanding shares 475 and 471,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2016,None,None,None,13656000000,4691000000,10696000000,6566000000,35609000000,27177000000,3815000000,4296000000,70897000000,None,None,18801000000,10497000000,4200000000,33498000000,8205000000,11412000000,None,None,None,None,None,None,None,None,5000000,1837000000,15968000000,521000000,4167000000,17782000000,70897000000

All the pages from 10-Q document 0001018724-16-000324 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2015', '2016']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 497 and 494,Outstanding shares 474 and 471,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2016,None,None,None,12521000000,4019000000,9588000000,6092000000,32220000000,25190000000,3774000000,3892000000,65076000000,None,None,16123000000,9613000000,3851000000,29587000000,8212000000,10739000000,None,None,None,None,None,None,None,None,5000000,1837000000,15026000000,571000000,3915000000,16538000000,65076000000

All the pages from 10-Q document 0001018724-16-000286 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q4']
Y - ['2015', '2016']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 495 and 494,Outstanding shares 472 and 471,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2016,None,None,None,12470000000,3389000000,9582000000,5072000000,30513000000,23308000000,3785000000,3522000000,61128000000,None,None,14990000000,9431000000,3766000000,28187000000,8219000000,9966000000,None,None,None,None,None,None,None,None,5000000,1837000000,14144000000,614000000,3058000000,14756000000,61128000000

All the pages from 10-Q document 0001018724-16-000227 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2014', '2015']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 492 and 488,Outstanding shares 469 and 465,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2015,None,None,None,10709000000,3719000000,8981000000,5440000000,28849000000,20636000000,3529000000,3216000000,56230000000,None,None,14437000000,9157000000,3063000000,26657000000,8243000000,8900000000,None,None,None,None,None,None,None,None,5000000,1837000000,12874000000,675000000,2063000000,12430000000,56230000000

All the pages from 10-Q document 0001018724-15-000126 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2014', '2015']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 491 and 488,Outstanding shares 468 and 465,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2015,None,None,None,10269000000,3732000000,7470000000,4920000000,26391000000,19479000000,3523000000,3047000000,52440000000,None,None,12391000000,8959000000,2562000000,23912000000,8250000000,8510000000,None,None,None,None,None,None,None,None,5000000,1837000000,12233000000,617000000,1984000000,11768000000,52440000000

All the pages from 10-Q document 0001018724-15-000087 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q4']
Y - ['2014', '2015']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 489 and 488,Outstanding shares 466 and 465,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2015,None,None,None,10237000000,3544000000,7369000000,4772000000,25922000000,17736000000,3491000000,2926000000,50075000000,None,None,11917000000,8840000000,2420000000,23177000000,8257000000,7768000000,None,None,None,None,None,None,None,None,5000000,1837000000,11565000000,752000000,1892000000,10873000000,50075000000

All the pages from 10-Q document 0001018724-15-000038 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2013', '2014']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 487 and 483,Outstanding shares 463 and 459,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2014,None,None,None,5258000000,1625000000,7316000000,4373000000,18572000000,15702000000,3332000000,2813000000,40419000000,None,None,11811000000,7217000000,1814000000,20842000000,3099000000,6142000000,None,None,None,None,None,None,None,None,5000000,1837000000,10827000000,394000000,1735000000,10336000000,40419000000

All the pages from 10-Q document 0001018724-14-000055 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2013', '2014']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 486 and 483,Outstanding shares 462 and 459,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2014,None,None,None,5057000000,2929000000,6644000000,4125000000,18755000000,14089000000,2677000000,2377000000,37898000000,None,None,10457000000,6688000000,1606000000,18751000000,3119000000,5426000000,None,None,None,None,None,None,None,None,5000000,1837000000,10405000000,143000000,2172000000,10602000000,37898000000

All the pages from 10-Q document 0001018724-14-000025 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q4']
Y - ['2013', '2014']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 484 and 483,Outstanding shares 460 and 459,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2014,None,None,None,5074000000,3592000000,6716000000,3945000000,19327000000,12267000000,2653000000,2117000000,36364000000,None,None,10590000000,6251000000,1516000000,18357000000,3147000000,4532000000,None,None,None,None,None,None,None,None,5000000,1837000000,10019000000,157000000,2298000000,10328000000,36364000000

All the pages from 10-Q document 0001018724-14-000014 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q4']
Y - ['2012', '2013']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,Total current assets,Property and Equipment,Deferred tax assets,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 481 and 478,Outstanding shares 458 and 454,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2013,None,None,None,3872000000,3817000000,6068000000,3057000000,520000000,17334000000,9991000000,128000000,2635000000,1773000000,31861000000,None,None,10037000000,6098000000,16135000000,3043000000,3596000000,None,None,None,None,None,None,None,None,5000000,1837000000,9175000000,206000000,1950000000,9087000000,31861000000

All the pages from 10-Q document 0001445305-13-002495 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q4']
Y - ['2012', '2013']

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Property and Equipment,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 480 and 478,Outstanding shares 457 and 454,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q2,2013,None,None,None,3704000000,3759000000,5420000000,2861000000,541000000,None,16285000000,8789000000,128000000,2614000000,1807000000,None,29623000000,None,None,None,8990000000,5745000000,None,14735000000,3042000000,3113000000,None,None,None,None,None,None,None,None,5000000,1837000000,8893000000,319000000,1991000000,None,8733000000,None,29623000000,None

All the pages from 10-Q document 0001193125-13-303204 have been tableized and saved.
--------------------------------------------------------------------------------

In [165]:
Checklist

{'10-Q': []}

In [166]:
QorK_10Q_2 = {'10-Q' :['0001193125-13-174667',
  '0001193125-12-436012',
  '0001193125-12-317409',
  '0001193125-12-187203',
  '0001193125-11-280739',
  '0001193125-11-197823',
  '0001193125-11-110197',
  '0001193125-10-233883',
  '0001193125-10-164083',
  '0001193125-10-090367',
  '0001193125-09-212134',
  '0001193125-09-154174',
  '0001193125-09-085983',
  '0001193125-08-214483',
  '0001193125-08-157451',
  '0001193125-08-089548']}

In [165]:
Checklist

{'10-Q': []}

# Special 10-Q Ends

# ***************Making this only to rectify 10-Ks in Amazon***************

In [45]:
explore_10_K = {'10-K': ['0001018724-20-000004',
  '0001018724-19-000004',
  '0001018724-18-000005',
  '0001018724-17-000011',
  '0001018724-16-000172',
  '0001018724-15-000006',
  '0001018724-14-000006',
  '0001193125-13-028520',
  '0001193125-12-032846',
  '0001193125-11-016253',
  '0001193125-10-016098',
  '0001193125-09-014406',
  '0001193125-08-024707']}

In [71]:
for QK, N_O in explore_10_K.items():
    
    for an_postition, acc_num in enumerate(N_O): 
        
        pages = master_filings_dict[acc_num]['filing_documents'][QK]['pages_code']
        print('\n', 'This is {} a {} document.'.format(acc_num, QK))
        test_df = table(pages, QK)
        
        # Hereinafter is executed in part 2.
        table_df = test_df[0].drop([1]).reset_index(drop=True)
        print('Shape - ', table_df.shape)
        ICD.display(table_df)

 This is 0001018724-20-000004 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2019
Y - ['2019']
Shape -  (1, 37)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Operating leases,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term lease liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 514 and 521,Outstanding shares 491 and 498,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2019,None,36092000000,18929000000,20497000000,20816000000,96334000000,72705000000,None,14754000000,16314000000,225248000000,None,None,47183000000,32439000000,8190000000,87812000000,39791000000,23414000000,12171000000,None,None,None,None,None,None,None,None,5000000,1837000000,33658000000,986000000,31220000000,62060000000,225248000000

 This is 0001018724-19-000004 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2018
Y - ['2018']
Shape -  (1, 35)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 507 and 514,Outstanding shares 484 and 491,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2018,None,31750000000,9500000000,17174000000,16677000000,75101000000,61797000000,14548000000,11202000000,162648000000,None,None,38192000000,23663000000,6536000000,68391000000,23495000000,27213000000,None,None,None,None,None,None,None,None,5000000,1837000000,26791000000,1035000000,19625000000,43549000000,162648000000

 This is 0001018724-18-000005 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2017
Y - ['2017']
Shape -  (1, 35)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 500 and 507,Outstanding shares 477 and 484,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2017,None,20522000000,10464000000,16047000000,13164000000,60197000000,48866000000,13350000000,8897000000,131310000000,None,None,34616000000,18170000000,5097000000,57883000000,24743000000,20975000000,None,None,None,None,None,None,None,None,5000000,1837000000,21389000000,484000000,8636000000,27709000000,131310000000

 This is 0001018724-17-000011 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2016
Changed Y into ['2017']
Y - ['2017']
Shape -  (1, 35)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 494 and 500,Outstanding shares 471 and 477,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2017,None,19334000000,6647000000,11461000000,8339000000,45781000000,29114000000,3784000000,4723000000,83402000000,None,None,25309000000,13739000000,4768000000,43816000000,7694000000,12607000000,None,None,None,None,None,None,None,None,5000000,1837000000,17186000000,985000000,4916000000,19285000000,83402000000

 This is 0001018724-16-000172 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2014
Changed Y into ['2015']
Y - ['2015']
Shape -  (1, 35)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 494 and 488,Outstanding shares 471 and 465,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2015,None,14557000000,2859000000,8299000000,5612000000,31327000000,16967000000,3319000000,2892000000,54505000000,None,None,16459000000,9807000000,1823000000,28089000000,8265000000,7410000000,None,None,None,None,None,None,None,None,5000000,1837000000,11135000000,511000000,1949000000,10741000000,54505000000

 This is 0001018724-15-000006 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2013
Changed Y into ['2014']
Y - ['2014']
Shape -  (1, 35)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 488 and 483,Outstanding shares 465 and 459,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2014,None,8658000000,3789000000,7411000000,4767000000,24625000000,10949000000,2655000000,1930000000,40159000000,None,None,15133000000,6688000000,1159000000,22980000000,3191000000,4242000000,None,None,None,None,None,None,None,None,5000000,1837000000,9573000000,185000000,2190000000,9746000000,40159000000

 This is 0001018724-14-000006 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2012
Changed Y into ['2013']
Y - ['2013']
Shape -  (1, 35)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 483 and 478,Outstanding shares 459 and 454,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2013,None,8084000000,3364000000,6031000000,3817000000,21296000000,7060000000,2552000000,1647000000,32555000000,None,None,13318000000,4892000000,792000000,19002000000,3084000000,2277000000,None,None,None,None,None,None,None,None,5000000,1837000000,8347000000,239000000,1916000000,8192000000,32555000000

 This is 0001193125-13-028520 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2011
Changed Y into ['2012']
Y - ['2012']
Shape -  (1, 44)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Property and Equipment,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 478 and 473,Outstanding shares 454 and 455,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q4,2012,None,5269000000,4307000000,4992000000,2571000000,351000000,None,17490000000,4417000000,28000000,1955000000,1388000000,None,25278000000,None,None,None,None,11145000000,3751000000,None,14896000000,255000000,2370000000,None,None,None,None,None,None,None,None,5000000,877000000,6990000000,316000000,1955000000,None,7757000000,None,25278000000,None

 This is 0001193125-12-032846 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2010
Changed Y into ['2011']
Y - ['2011']
Shape -  (1, 42)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,L I A B I L I T I E SA N DS T O C K H O L D E R SE Q U I T Y,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 473 and 468,Outstanding shares 455 and 451,Treasury stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q4,2011,None,3777000000,4985000000,3202000000,1587000000,196000000,None,13747000000,2414000000,22000000,1349000000,1265000000,None,18797000000,None,None,None,8051000000,2321000000,None,10372000000,1561000000,None,None,None,None,0,None,None,None,5000000,600000000,6325000000,190000000,1324000000,None,6864000000,None,18797000000,None

 This is 0001193125-11-016253 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2009
Changed Y into ['2010']
Y - ['2010']
Shape -  (1, 42)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,L I A B I L I T I E SA N DS T O C K H O L D E R SE Q U I T Y,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares500,Issued and outstanding sharesnone,Common Stock,Authorized shares5,Issued shares468 and 461,Outstanding shares451 and 444,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q4,2010,None,3444000000,2922000000,2171000000,988000000,272000000,None,9797000000,1290000000,18000000,1234000000,1474000000,None,13813000000,None,None,None,5605000000,1759000000,None,7364000000,1192000000,None,None,None,None,None,None,None,None,5000000,600000000,5736000000,56000000,172000000,None,5257000000,None,13813000000,None

 This is 0001193125-10-016098 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2008
Changed Y into ['2009']
Y - ['2009']
Shape -  (1, 43)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,L I A B I L I T I E SA N DS T O C K H O L D E R SE Q U I T Y,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares500,Issued and outstanding sharesnone,Common Stock,Authorized shares5,Issued shares461 and 445,Outstanding shares444 and 428,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q4,2009,None,2769000000,958000000,1399000000,827000000,204000000,None,6157000000,854000000,145000000,438000000,720000000,None,8314000000,None,None,None,3594000000,1152000000,None,4746000000,409000000,487000000,None,None,None,None,None,None,None,None,4000000,600000000,4121000000,123000000,730000000,None,2672000000,None,8314000000,None

 This is 0001193125-09-014406 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2007
Changed Y into ['2008']
Y - ['2008']
Shape -  (1, 44)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,L I A B I L I T I E SA N DS T O C K H O L D E R SE Q U I T Y,Current liabilities,Accounts payable,Accrued expenses and other,Current portion of long term debt,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares500,Issued and outstanding sharesnone,Common Stock,Authorized shares5,Issued shares445 and 431,Outstanding shares428 and 416,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q4,2008,None,2539000000,573000000,1200000000,705000000,147000000,None,5164000000,543000000,260000000,222000000,296000000,None,6485000000,None,None,None,2795000000,902000000,17000000,None,3714000000,1282000000,292000000,None,None,None,None,None,None,None,None,4000000,500000000,3063000000,5000000,1375000000,None,1197000000,None,6485000000,None

 This is 0001193125-08-024707 a 10-K document.
Q ['Q4']
this is the interger version of Y -  2006
Changed Y into ['2007']
Y - ['2007']
Shape -  (1, 43)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,L I A B I L I T I E SA N DS T O C K H O L D E R SE Q U I T Y,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares500,Issued and outstanding sharesnone,Common Stock,Authorized shares5,Issued shares431 and 422,Outstanding shares416 and 414,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q4,2007,None,1022000000,997000000,877000000,399000000,78000000,None,3373000000,457000000,199000000,195000000,139000000,None,4363000000,None,None,None,1816000000,716000000,None,2532000000,1247000000,153000000,None,None,None,None,None,None,None,None,4000000,252000000,2517000000,1000000,1837000000,None,431000000,None,4363000000,None

# ***************Special Save for 10-Ks***************

In [73]:
Checklist = {}

for k, v in explore_10_K.items():
    value_list = []
    for i, vv in enumerate(v):

        # first grab 10-Q documents only
        pages = master_filings_dict[v[i]]['filing_documents'][k]['pages_code']

        try:
            # Extract Table from html code and wrap it as a list of df.
            table_df = table(pages, k)                 
            #ICD.display(table_df[0])

            with open('{}-{}.csv'.format(v[i], k), "wb") as fp:   # Pickling
                pickle.dump(table_df, fp)

            # display a status to the user.
            print('All the pages from {} document {} have been tableized and saved.'.format(k, v[i]))
        
        except: 
            value_list.append(vv)
            print('Something went wrong in file {}, file type = {}'.format(v[i], k))
        
        print('-'*80) 
    Checklist['{}'.format(k)] = value_list
    del value_list

Q ['Q4']
this is the interger version of Y -  2019
Y - ['2019']
All the pages from 10-K document 0001018724-20-000004 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2018
Y - ['2018']
All the pages from 10-K document 0001018724-19-000004 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2017
Y - ['2017']
All the pages from 10-K document 0001018724-18-000005 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2016
Changed Y into ['2017']
Y - ['2017']
All the pages from 10-K document 0001018724-17-000011 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2014
Changed Y into ['2015']
Y - ['2015']
All the pages from 10-K document 0001018724-16-000172 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2013
Changed Y into ['2014']
Y - ['2014']
All the pages from 10-K document 0001018724-15-000006 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2012
Changed Y into ['2013']
Y - ['2013']
All the pages from 10-K document 0001018724-14-000006 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2011
Changed Y into ['2012']
Y - ['2012']
All the pages from 10-K document 0001193125-13-028520 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2010
Changed Y into ['2011']
Y - ['2011']
All the pages from 10-K document 0001193125-12-032846 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2009
Changed Y into ['2010']
Y - ['2010']
All the pages from 10-K document 0001193125-11-016253 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2008
Changed Y into ['2009']
Y - ['2009']
All the pages from 10-K document 0001193125-10-016098 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2007
Changed Y into ['2008']
Y - ['2008']
All the pages from 10-K document 0001193125-09-014406 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4']
this is the interger version of Y -  2006
Changed Y into ['2007']
Y - ['2007']
All the pages from 10-K document 0001193125-08-024707 have been tableized and saved.
--------------------------------------------------------------------------------

# ***************10-K special ends***************

# Exploring the Data

In [21]:
explore_dict = {}
for QK, AccNum_list in QorK.items():
    
    #for an_postition, acc_num in enumerate(AccNum_list): 
    if QK== '10-Q':
        Q_new = AccNum_list[0]
        Q_old = AccNum_list[-1]
        explore_dict[QK] = [Q_new, Q_old]

    if QK == '10-K':
        K_new = AccNum_list[0]
        K_old = AccNum_list[-1]
        explore_dict[QK] = [K_new, K_old]

In [22]:
explore_dict

{'10-Q': ['0001018724-20-000010', '0001193125-08-089548'],
 '10-K': ['0001018724-20-000004', '0001193125-08-024707']}

In [40]:
for QK, N_O in explore_dict.items():
    
    for an_postition, acc_num in enumerate(N_O): 
        
        pages = master_filings_dict[acc_num]['filing_documents'][QK]['pages_code']
        print('\n', 'This is {} a {} document.'.format(acc_num, QK))
        test_df = table(pages, QK)
        
        table_df = test_df[0].drop([1]).reset_index(drop=True)
        print('Shape - ', table_df.shape)
        ICD.display(table_df)

 This is 0001018724-20-000010 a 10-Q document.
Q ['Q4', 'Q1']
Y - [[], [], [['2019']], [], [], [['2020']]]
Shape -  (1, 39)

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Operating leases,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term lease liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 521 and 522,Outstanding shares 498 and 499,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2020,None,None,None,27201000000,22091000000,18857000000,17836000000,85985000000,77779000000,26279000000,14739000000,16456000000,221238000000,None,None,40056000000,30791000000,8864000000,79711000000,40300000000,23437000000,12518000000,None,None,None,None,None,None,None,None,5000000,1837000000,35412000000,2063000000,33755000000,65272000000,221238000000

 This is 0001193125-08-089548 a 10-Q document.
Q ['Q1', 'Q4']
Y - [[], [['2008']], [], [['2007']]]
Shape -  (1, 46)

,Quarter,Year,NaN,ASSETS,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Current portion of long term debt,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 432 and 431,Outstanding shares 417 and 416,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,Q4,2007,None,None,None,2539000000,573000000,1200000000,705000000,147000000,None,5164000000,543000000,260000000,222000000,296000000,None,6485000000,None,None,None,2795000000,902000000,17000000,None,3714000000,1282000000,292000000,None,None,None,None,None,None,None,None,4000000,500000000,3063000000,5000000,1375000000,None,1197000000,None,6485000000,None

 This is 0001018724-20-000004 a 10-K document.
Q ['Q4']
Y - [[], [], [['2018']], [['2019']]]
Shape -  (1, 37)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Total current assets,Property and Equipment,Operating leases,Goodwill,Other assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses and other,Unearned revenue,Total current liabilities,Long term lease liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares 500,Issued and outstanding shares none,Common Stock,Authorized shares 5,Issued shares 514 and 521,Outstanding shares 491 and 498,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,None,2019,None,36092000000,18929000000,20497000000,20816000000,96334000000,72705000000,None,14754000000,16314000000,225248000000,None,None,47183000000,32439000000,8190000000,87812000000,39791000000,23414000000,12171000000,None,None,None,None,None,None,None,None,5000000,1837000000,33658000000,986000000,31220000000,62060000000,225248000000

 This is 0001193125-08-024707 a 10-K document.
Q ['Q4']
Y - [[], [], [['2007']], [['2006']]]
Shape -  (1, 43)

,Quarter,Year,Current assets,Cash,Marketable securities,Inventory,Accounts Receivable,Deferred tax assets,NaN,Total current assets,Fixed assets,Deferred tax assets,Goodwill,Other assets,NaN,Total assets,NaN,L I A B I L I T I E SA N DS T O C K H O L D E R SE Q U I T Y,Current liabilities,Accounts payable,Accrued expenses and other,NaN,Total current liabilities,Long term debt,Other long term liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Authorized shares500,Issued and outstanding sharesnone,Common Stock,Authorized shares5,Issued shares431 and 422,Outstanding shares416 and 414,Treasury stock,Additional paid in capital,Accumulated other comprehensive income,Accumulated deficit,NaN,Shareholder Equity,NaN,Total liabilities and equity,NaN
0,None,2006,None,1022000000,997000000,877000000,399000000,78000000,None,3373000000,457000000,199000000,195000000,139000000,None,4363000000,None,None,None,1816000000,716000000,None,2532000000,1247000000,153000000,None,None,None,None,None,None,None,None,4000000,252000000,2517000000,1000000,1837000000,None,431000000,None,4363000000,None

# Save Files Locally.

In [ ]:
Checklist = {}

for k, v in QorK.items():
    value_list = []
    for i, vv in enumerate(v):

        # first grab 10-Q documents only
        pages = master_filings_dict[v[i]]['filing_documents'][k]['pages_code']

        try:
            # Extract Table from html code and wrap it as a list of df.
            table_df = table(pages, k)                 
            #ICD.display(table_df[0])

            with open('{}-{}.csv'.format(v[i], k), "wb") as fp:   # Pickling
                pickle.dump(table_df, fp)

            # display a status to the user.
            print('All the pages from {} document {} have been tableized and saved.'.format(k, v[i]))
        
        except: 
            value_list.append(vv)
            print('Something went wrong in file {}, file type = {}'.format(v[i], k))
        
        print('-'*80) 
    Checklist['{}'.format(k)] = value_list
    del value_list

In [ ]:
# Checklist of erroneous filings.  
print('These have a problem.')
Checklist

In [42]:
# Bring QorK over to Part 2. 
QorK

{'10-Q': ['0001018724-20-000010',
  '0001018724-19-000089',
  '0001018724-19-000071',
  '0001018724-19-000043',
  '0001018724-18-000159',
  '0001018724-18-000108',
  '0001018724-18-000072',
  '0001018724-17-000135',
  '0001018724-17-000100',
  '0001018724-17-000051',
  '0001018724-16-000324',
  '0001018724-16-000286',
  '0001018724-16-000227',
  '0001018724-15-000126',
  '0001018724-15-000087',
  '0001018724-15-000038',
  '0001018724-14-000055',
  '0001018724-14-000025',
  '0001018724-14-000014',
  '0001445305-13-002495',
  '0001193125-13-303204',
  '0001193125-13-174667',
  '0001193125-12-436012',
  '0001193125-12-317409',
  '0001193125-12-187203',
  '0001193125-11-280739',
  '0001193125-11-197823',
  '0001193125-11-110197',
  '0001193125-10-233883',
  '0001193125-10-164083',
  '0001193125-10-090367',
  '0001193125-09-212134',
  '0001193125-09-154174',
  '0001193125-09-085983',
  '0001193125-08-214483',
  '0001193125-08-157451',
  '0001193125-08-089548'],
 '10-K': ['0001018724-20-000004',
  '0001018724-19-000004',
  '0001018724-18-000005',
  '0001018724-17-000011',
  '0001018724-16-000172',
  '0001018724-15-000006',
  '0001018724-14-000006',
  '0001193125-13-028520',
  '0001193125-12-032846',
  '0001193125-11-016253',
  '0001193125-10-016098',
  '0001193125-09-014406',
  '0001193125-08-024707']}