# Comparing the Old and the New.

In [10]:
# Import Library 

import re
import requests
import unicodedata
from bs4 import BeautifulSoup
from pprint import pprint
import numpy as np
from numpy import array
import pandas as pd 
import csv
import pickle
from IPython.display import display
import pickle
from collections import Counter
pd.set_option('display.max_columns', 100)
pd.set_option('display.precision',20)
from IPython.core import display as ICD

# Loading

In [11]:
QorK = {'10-Q': ['0000320193-20-000052',
  '0000320193-20-000010',
  '0000320193-19-000076',
  '0000320193-19-000066',
  '0000320193-19-000010',
  '0000320193-18-000100',
  '0000320193-18-000070',
  '0000320193-18-000007',
  '0000320193-17-000009',
  '0001628280-17-004790',
  '0001628280-17-000717',
  '0001628280-16-017809',
  '0001193125-16-559625',
  '0001193125-16-439878',
  '0001193125-15-259935',
  '0001193125-15-153166',
  '0001193125-15-023697',
  '0001193125-14-277160',
  '0001193125-14-157311',
  '0001193125-14-024487'],
 '10-K': ['0000320193-19-000119',
  '0000320193-18-000145',
  '0000320193-17-000070',
  '0001628280-16-020309',
  '0001193125-15-356351',
  '0001193125-14-383437']}

In [12]:
def duplicate_columns( DataF ):
    DataF = DataF.rename(columns = {None:'new_name'})

    duplicates = [col_name for (col_name,freq) in Counter(DataF.columns).items() if freq > 1] 
    print('{} duplicates '.format(len(duplicates)), duplicates)
    
    for dupli in duplicates: 
        #print(DataF[dupli].values)
        try:
            res = DataF[dupli].values.sum()
            DataF.drop(dupli, axis=1, inplace=True)
            DataF['Total {}'.format(dupli)] = res
            
        except: 
            DataF.drop(dupli, axis=1, inplace=True)
        
        #DataF.drop(dupli, axis=1, inplace=True)
        
    return DataF

In [13]:
df_list =[]
for k, v in QorK.items():
            
    for i, vv in enumerate(v):
        print('\nOpening File: ', vv, k)
        with open("{}-{}.csv".format(v[i], k), "rb") as fp:
            df = pickle.load(fp)
            
#         df = pd.read_pickle( "{}-{}.csv".format(v[i], k))
        
        ICD.display(df)
        # Add unique identity to row 
        df['Filing/Acc.No.'] = '{}, {}'.format(k, vv)
        # handle duplicate column name
        df_list.append( duplicate_columns(df) )
        
        #print(df_list[0].shape)
        
        
        abt = pd.concat(df_list, sort=False)

Opening File:  0000320193-20-000052 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper and repurchase agreement,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q1,2020,None,None,40174000000,53877000000,15722000000,3334000000,14955000000,15691000000,143753000000,None,None,98793000000,35889000000,41965000000,176647000000,320400000000,None,None,None,32421000000,37324000000,5928000000,10029000000,10392000000,96094000000,None,None,89086000000,56795000000,145881000000,241975000000,None,None,None,None,48032000000,33182000000,2789000000,78425000000,320400000000

3 duplicates  ['Marketable securities', 'new_name', 'Term debt']

Opening File:  0000320193-20-000010 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q4,2019,None,None,39771000000,67391000000,20970000000,4097000000,18976000000,12026000000,163231000000,None,None,99899000000,37031000000,40457000000,177387000000,340618000000,None,None,None,45111000000,36263000000,5573000000,4990000000,10224000000,102161000000,None,None,93078000000,55848000000,148926000000,251087000000,None,None,None,None,45972000000,43977000000,418000000,89531000000,340618000000

3 duplicates  ['Marketable securities', 'new_name', 'Term debt']

Opening File:  0000320193-19-000076 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q2,2019,None,None,50530000000,44084000000,14148000000,3355000000,12326000000,10530000000,134973000000,None,None,115996000000,37636000000,33634000000,187266000000,322239000000,None,None,None,29115000000,31673000000,5434000000,9953000000,13529000000,89704000000,None,None,84936000000,51143000000,136079000000,225783000000,None,None,None,None,43371000000,53724000000,639000000,96456000000,322239000000

3 duplicates  ['Marketable securities', 'new_name', 'Term debt']

Opening File:  0000320193-19-000066 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q1,2019,None,None,37988000000,42104000000,15085000000,4884000000,11193000000,12092000000,123346000000,None,None,145319000000,38746000000,34587000000,218652000000,341998000000,None,None,None,30443000000,35368000000,5532000000,11924000000,10505000000,93772000000,None,None,90201000000,52165000000,142366000000,236138000000,None,None,None,None,42801000000,64558000000,1499000000,105860000000,341998000000

3 duplicates  ['Marketable securities', 'new_name', 'Term debt']

Opening File:  0000320193-19-000010 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q4,2018,None,None,44771000000,41656000000,18077000000,4988000000,18904000000,12432000000,140828000000,None,None,158608000000,39597000000,34686000000,232891000000,373719000000,None,None,None,44293000000,36703000000,5546000000,11969000000,9772000000,108283000000,None,None,92989000000,54555000000,147544000000,255827000000,None,None,None,None,40970000000,80510000000,3588000000,117892000000,373719000000

3 duplicates  ['Marketable securities', 'new_name', 'Term debt']

Opening File:  0000320193-18-000100 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q2,2018,None,None,31971000000,38999000000,14104000000,5936000000,12263000000,12488000000,115761000000,None,172773000000,38117000000,22546000000,349197000000,None,None,None,38489000000,25184000000,7403000000,11974000000,5498000000,88548000000,None,2878000000,97128000000,45694000000,234248000000,None,None,None,None,38624000000,79436000000,3111000000,114949000000,349197000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0000320193-18-000070 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q1,2018,None,None,45059000000,42881000000,14324000000,7662000000,8084000000,12043000000,130053000000,None,179286000000,35077000000,23086000000,367502000000,None,None,None,34311000000,26756000000,7775000000,11980000000,8498000000,89320000000,None,3087000000,101362000000,46855000000,240624000000,None,None,None,None,38044000000,91898000000,3064000000,126878000000,367502000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0000320193-18-000007 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q4,2017,None,None,27491000000,49662000000,23440000000,4421000000,27459000000,11337000000,143810000000,None,207944000000,33679000000,5889000000,2149000000,13323000000,406794000000,None,None,None,62985000000,26281000000,8044000000,11980000000,6498000000,115788000000,None,3131000000,103922000000,43754000000,266595000000,None,None,None,None,36447000000,104593000000,841000000,140199000000,406794000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0000320193-17-000009 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2017,None,None,18571000000,58188000000,12399000000,3146000000,10233000000,10338000000,112875000000,None,184757000000,29286000000,5661000000,2444000000,10150000000,345173000000,None,None,None,31915000000,23304000000,7608000000,11980000000,6495000000,81302000000,None,2984000000,89864000000,38598000000,212748000000,None,None,None,None,34445000000,98525000000,545000000,132425000000,345173000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001628280-17-004790 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q2,2017,None,None,15157000000,51944000000,11579000000,2910000000,9033000000,11367000000,101990000000,None,189740000000,27163000000,5473000000,2617000000,7549000000,334532000000,None,None,None,28573000000,23096000000,7682000000,9992000000,3999000000,73342000000,None,3107000000,84531000000,39470000000,200450000000,None,None,None,None,33579000000,100925000000,422000000,134082000000,334532000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001628280-17-000717 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q4,2016,None,None,16371000000,44081000000,14057000000,2712000000,13920000000,12191000000,103332000000,None,185638000000,26510000000,5423000000,2848000000,7390000000,331141000000,None,None,None,38510000000,23739000000,7889000000,10493000000,3499000000,84130000000,None,3163000000,73557000000,37901000000,198751000000,None,None,None,None,32144000000,100001000000,245000000,132390000000,331141000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001628280-16-017809 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q2,2016,None,None,18237000000,43519000000,11714000000,1831000000,7328000000,11132000000,93761000000,None,169764000000,25448000000,5261000000,3506000000,7862000000,305602000000,None,None,None,26318000000,20820000000,8352000000,12496000000,3500000000,71486000000,None,3064000000,68939000000,35572000000,179061000000,None,None,None,None,30106000000,96542000000,107000000,126541000000,305602000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001193125-16-559625 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,NaN,Total current assets,,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,NaN,Total assets,NaN,,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,NaN,Total current liabilities,,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,,Commitments and contingencies,,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q1,2016,None,None,21514000000,33769000000,12229000000,2281000000,7595000000,10204000000,None,87592000000,None,177645000000,23203000000,5249000000,3843000000,7745000000,None,305277000000,None,None,None,None,25098000000,23208000000,9461000000,7998000000,2500000000,None,68265000000,None,3322000000,69374000000,33859000000,174820000000,None,None,None,None,None,29484000000,102021000000,1048000000,None,130457000000,None,305277000000,None

3 duplicates  ['new_name', '', 'Deferred Revenue']

Opening File:  0001193125-16-439878 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,NaN,Total current assets,,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,NaN,Total assets,NaN,,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,,Commitments and contingencies,,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q4,2015,None,None,16689000000,21385000000,12953000000,2451000000,11668000000,11073000000,None,76219000000,None,177665000000,22300000000,5202000000,3924000000,7974000000,None,293284000000,None,None,None,None,33312000000,24032000000,8989000000,7259000000,2500000000,None,76092000000,None,3546000000,53204000000,32175000000,None,165017000000,None,None,None,None,None,28253000000,101494000000,1480000000,None,128267000000,None,293284000000,None

3 duplicates  ['new_name', '', 'Deferred Revenue']

Opening File:  0001193125-15-259935 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,,Commitments and contingencies,,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q2,2015,None,None,15319000000,19384000000,10370000000,2042000000,5010000000,9537000000,9291000000,None,70953000000,None,168145000000,21149000000,5044000000,3779000000,4081000000,None,273151000000,None,None,None,None,26474000000,22724000000,9088000000,4499000000,2500000000,None,65285000000,None,3474000000,47419000000,31296000000,None,147474000000,None,None,None,None,None,26327000000,98252000000,1098000000,None,125677000000,None,273151000000,None

3 duplicates  ['new_name', '', 'Deferred Revenue']

Opening File:  0001193125-15-153166 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q1,2015,None,None,14489000000,18607000000,10905000000,2396000000,5141000000,7259000000,9094000000,None,67891000000,None,160443000000,20151000000,4711000000,4061000000,3937000000,None,261194000000,None,None,None,None,23159000000,22827000000,8944000000,3799000000,None,58729000000,None,3571000000,40072000000,29816000000,None,132188000000,None,None,None,None,None,25376000000,100920000000,2710000000,None,129006000000,None,261194000000,None

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001193125-15-023697 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q4,2014,None,None,19478000000,12985000000,16709000000,2283000000,5046000000,13267000000,13635000000,None,83403000000,None,145492000000,20392000000,4629000000,4370000000,3608000000,None,261894000000,None,None,None,None,38001000000,22724000000,8987000000,3899000000,None,73611000000,None,3480000000,32504000000,28971000000,None,138566000000,None,None,None,None,None,24187000000,97178000000,1963000000,None,123328000000,None,261894000000,None

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001193125-14-277160 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,NaN,Total liabilities and equity,NaN
0,Q2,2014,None,None,12977000000,24828000000,10788000000,1594000000,3884000000,6053000000,7825000000,None,67949000000,None,126685000000,17585000000,2374000000,3767000000,4160000000,None,222520000000,None,None,None,None,20535000000,15264000000,8396000000,2010000000,None,46205000000,None,3058000000,29030000000,23287000000,None,101580000000,None,None,None,None,None,22139000000,98715000000,86000000,None,120940000000,None,None,222520000000,None

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001193125-14-157311 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,NaN,Total liabilities and equity,NaN
0,Q1,2014,None,None,18949000000,22401000000,9700000000,1829000000,4014000000,6120000000,7528000000,None,70541000000,None,109239000000,15120000000,2055000000,3928000000,5106000000,None,205989000000,None,None,None,None,18914000000,15984000000,8310000000,None,43208000000,None,3164000000,16962000000,22476000000,None,85810000000,None,None,None,None,None,21496000000,98934000000,251000000,None,120179000000,None,None,205989000000,None

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001193125-14-024487 10-Q

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,NaN,Total liabilities and equity,NaN
0,Q4,2013,None,None,14077000000,26634000000,14200000000,2122000000,3742000000,10998000000,8574000000,None,80347000000,None,118131000000,15488000000,2022000000,4105000000,5091000000,None,225184000000,None,None,None,None,29588000000,15824000000,8357000000,None,53769000000,None,3071000000,16961000000,21699000000,None,95500000000,None,None,None,None,None,20559000000,109431000000,306000000,None,129684000000,None,None,225184000000,None

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0000320193-19-000119 10-K

,Quarter,Year,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2019,None,48844000000,51713000000,22926000000,4106000000,22878000000,12352000000,162819000000,None,None,105341000000,37378000000,32978000000,175697000000,338516000000,None,None,None,46236000000,37720000000,5522000000,5980000000,10260000000,105718000000,None,None,91807000000,50503000000,142310000000,248028000000,None,None,None,None,45174000000,45898000000,584000000,90488000000,338516000000

3 duplicates  ['Marketable securities', 'new_name', 'Term debt']

Opening File:  0000320193-18-000145 10-K

,Quarter,Year,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Deferred Revenue,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2018,None,25913000000,40388000000,23186000000,3956000000,25809000000,12087000000,131339000000,None,None,170799000000,41304000000,22283000000,234386000000,365725000000,None,None,None,55888000000,32687000000,7543000000,11964000000,8784000000,116866000000,None,None,2797000000,93735000000,45180000000,141712000000,258578000000,None,None,None,None,40201000000,70400000000,3454000000,107147000000,365725000000

4 duplicates  ['Marketable securities', 'new_name', 'Deferred Revenue', 'Term debt']

Opening File:  0000320193-17-000070 10-K

,Quarter,Year,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2017,None,20289000000,53892000000,17874000000,4855000000,17799000000,13936000000,128645000000,None,194714000000,33783000000,5717000000,2298000000,10162000000,375319000000,None,None,None,49049000000,25744000000,7548000000,11977000000,6496000000,100814000000,None,2836000000,97207000000,40415000000,241272000000,None,None,None,None,35867000000,98330000000,150000000,134047000000,375319000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001628280-16-020309 10-K

,Quarter,Year,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2016,None,20484000000,46671000000,15754000000,2132000000,13545000000,8283000000,106869000000,None,170430000000,27010000000,5414000000,3206000000,8757000000,321686000000,None,None,None,37294000000,22027000000,8080000000,8105000000,3500000000,79006000000,None,2930000000,75427000000,36074000000,193437000000,None,None,None,None,31251000000,96364000000,634000000,128249000000,321686000000

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001193125-15-356351 10-K

,Quarter,Year,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,NaN,Total current liabilities,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,Commitments and contingencies,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q3,2015,None,21120000000,20481000000,16849000000,2349000000,5546000000,13494000000,9539000000,None,89378000000,164065000000,22471000000,5116000000,3893000000,5556000000,None,290479000000,None,None,None,None,35490000000,25181000000,8940000000,8499000000,2500000000,None,80610000000,3624000000,53463000000,33427000000,None,171124000000,None,None,None,27416000000,92284000000,345000000,None,119355000000,None,290479000000,None

2 duplicates  ['new_name', 'Deferred Revenue']

Opening File:  0001193125-14-383437 10-K

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,NaN,Total current liabilities,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,Commitments and contingencies,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q3,2014,None,None,13844000000,11233000000,17460000000,2111000000,4318000000,9759000000,9806000000,None,68531000000,130162000000,20624000000,4616000000,4142000000,3764000000,None,231839000000,None,None,None,30196000000,18453000000,8491000000,6308000000,None,63448000000,3031000000,28987000000,24826000000,None,120292000000,None,None,None,23313000000,87152000000,1082000000,None,111547000000,None,231839000000,None

2 duplicates  ['new_name', 'Deferred Revenue']

In [14]:
print('Shape of abt: ', abt.shape )

Shape of abt:  (26, 48)

In [15]:

abt.reset_index(drop=True, inplace=True)

abt[ 'Convertible Senior Notes'].fillna(0, inplace=True)
abt[ 'Total Convertible Senior Notes'].fillna(0, inplace=True)
CSN_sum = abt['Total Convertible Senior Notes'] + abt['Convertible Senior Notes']
abt['New_CSN'] = CSN_sum
abt.drop(['Convertible Senior Notes', 'Total Convertible Senior Notes'], axis=1, inplace=True)

In [16]:
for columns in abt:
    print()
    print(columns)
    print(abt[columns].isna().astype(int).mean()>0.6)
    print()

Quarter
False


Year
False


ASSETS
True


Current assets
True


Cash
False


Accounts Receivable
False


Inventory
False


Vendor non trade receivables
False


Other current assets
False


Total current assets
False


Non current assets
True


Property and Equipment
False


Other non current assets
False


Total non current assets
True


Total assets
False


LIABILITIES AND SHAREHOLDERS EQUITY
True


Current liabilities
True


Accounts payable
False


Other current liabilities
True


Deferred Revenue
True


Commercial paper and repurchase agreement
True


Total current liabilities
False


Non current liabilities
True


Other non current liabilities
False


Total non current liabilities
True


Total liabilities
False


Commitments and contingencies
True


Shareholders equity
True


Common Stock
False


Retained Earnings
False


Accumulated other comprehensive income/
False


Total shareholders equity
False


Total liabilities and equity
False


Filing/Acc.No.
False


Total Marketable securities
True


Total Term debt
True


Commercial paper
False


Short term marketable securities
False


Long term marketable securities
False


Accrued expenses
False


Current portion of long term debt
False


Long term debt
False


Total Deferred Revenue
False


Goodwill
False


Acquired intangible assets
False


Deferred tax assets
True


Other assets
True


Accumulated other comprehensive income
True

In [17]:
abt['Deferred Revenue'] = abt[["Deferred Revenue", "Total Deferred Revenue"]].sum(axis=1)
abt.drop('Total Deferred Revenue', axis=1, inplace=True)

In [18]:
# What is the percentage of nulls in a given column.
count = 1
shares = []
for columns in abt:
    
    ratio = abt[columns].notna().astype(int).mean()
    if ratio > 0.5:
        print(f' {count}.  "{columns}" ')
        print( ratio )
        print()
        count+=1
        shares.append(columns)
        
print('Length of Shares: ',len(shares) )
print( shares )

 1.  "Quarter"
1.0

 2.  "Year"
1.0

 3.  "Cash"
1.0

 4.  "Accounts Receivable"
1.0

 5.  "Inventory"
1.0

 6.  "Vendor non trade receivables"
1.0

 7.  "Other current assets"
1.0

 8.  "Total current assets"
1.0

 9.  "Property and Equipment"
1.0

 10.  "Other non current assets"
0.6923076923076923

 11.  "Total assets"
1.0

 12.  "Accounts payable"
1.0

 13.  "Deferred Revenue"
1.0

 14.  "Total current liabilities"
1.0

 15.  "Other non current liabilities"
1.0

 16.  "Total liabilities"
1.0

 17.  "Common Stock"
1.0

 18.  "Retained Earnings"
1.0

 19.  "Accumulated other comprehensive income/"
0.8846153846153846

 20.  "Total shareholders equity"
1.0

 21.  "Total liabilities and equity"
1.0

 22.  "Filing/Acc.No."
1.0

 23.  "Commercial paper"
0.8846153846153846

 24.  "Short term marketable securities"
0.7307692307692307

 25.  "Long term marketable securities"
0.7307692307692307

 26.  "Accrued expenses"
0.7307692307692307

 27.  "Long term debt"
0.7307692307692307

 28.  "Goodwill"
0.6538461538461539

 29.  "Acquired intangible assets"
0.6538461538461539

Length of Shares:  29
['Quarter', 'Year', 'Cash', 'Accounts Receivable', 'Inventory', 'Vendor non trade receivables', 'Other current assets', 'Total current assets', 'Property and Equipment', 'Other non current assets', 'Total assets', 'Accounts payable', 'Deferred Revenue', 'Total current liabilities', 'Other non current liabilities', 'Total liabilities', 'Common Stock', 'Retained Earnings', 'Accumulated other comprehensive income/', 'Total shareholders equity', 'Total liabilities and equity', 'Filing/Acc.No.', 'Commercial paper', 'Short term marketable securities', 'Long term marketable securities', 'Accrued expenses', 'Long term debt', 'Goodwill', 'Acquired intangible assets']

In [19]:
def del_empty_col( df ):
    
    for columns in df:
        
        df.replace(0, np.nan, inplace=True)
        
        if df[columns].isna().astype(int).mean() > 0.6:
            df.drop([columns], inplace=True, axis=1)
            
    df.fillna(0)
        
    return df

In [20]:
del_empty_col(abt).fillna(0)

,Quarter,Year,Cash,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,Property and Equipment,Other non current assets,Total assets,Accounts payable,Deferred Revenue,Total current liabilities,Other non current liabilities,Total liabilities,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity,Filing/Acc.No.,Commercial paper,Short term marketable securities,Long term marketable securities,Accrued expenses,Current portion of long term debt,Long term debt,Goodwill,Acquired intangible assets
0,Q1,2020,40174000000,15722000000,3334000000,14955000000,15691000000,143753000000,35889000000,41965000000.0,320400000000,32421000000,5928000000.0,96094000000,56795000000,241975000000,48032000000,33182000000,2789000000.0,78425000000,320400000000,"10-Q, 0000320193-20-000052",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Q4,2019,39771000000,20970000000,4097000000,18976000000,12026000000,163231000000,37031000000,40457000000.0,340618000000,45111000000,5573000000.0,102161000000,55848000000,251087000000,45972000000,43977000000,418000000.0,89531000000,340618000000,"10-Q, 0000320193-20-000010",4990000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Q2,2019,50530000000,14148000000,3355000000,12326000000,10530000000,134973000000,37636000000,33634000000.0,322239000000,29115000000,5434000000.0,89704000000,51143000000,225783000000,43371000000,53724000000,639000000.0,96456000000,322239000000,"10-Q, 0000320193-19-000076",9953000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Q1,2019,37988000000,15085000000,4884000000,11193000000,12092000000,123346000000,38746000000,34587000000.0,341998000000,30443000000,5532000000.0,93772000000,52165000000,236138000000,42801000000,64558000000,1499000000.0,105860000000,341998000000,"10-Q, 0000320193-19-000066",11924000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Q4,2018,44771000000,18077000000,4988000000,18904000000,12432000000,140828000000,39597000000,34686000000.0,373719000000,44293000000,5546000000.0,108283000000,54555000000,255827000000,40970000000,80510000000,3588000000.0,117892000000,373719000000,"10-Q, 0000320193-19-000010",11969000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Q2,2018,31971000000,14104000000,5936000000,12263000000,12488000000,115761000000,38117000000,22546000000.0,349197000000,38489000000,10281000000.0,88548000000,45694000000,234248000000,38624000000,79436000000,3111000000.0,114949000000,349197000000,"10-Q, 0000320193-18-000100",11974000000.0,38999000000.0,172773000000.0,25184000000.0,5498000000.0,97128000000.0,0.0,0.0
6,Q1,2018,45059000000,14324000000,7662000000,8084000000,12043000000,130053000000,35077000000,23086000000.0,367502000000,34311000000,10862000000.0,89320000000,46855000000,240624000000,38044000000,91898000000,3064000000.0,126878000000,367502000000,"10-Q, 0000320193-18-000070",11980000000.0,42881000000.0,179286000000.0,26756000000.0,8498000000.0,101362000000.0,0.0,0.0
7,Q4,2017,27491000000,23440000000,4421000000,27459000000,11337000000,143810000000,33679000000,13323000000.0,406794000000,62985000000,11175000000.0,115788000000,43754000000,266595000000,36447000000,104593000000,841000000.0,140199000000,406794000000,"10-Q, 0000320193-18-000007",11980000000.0,49662000000.0,207944000000.0,26281000000.0,6498000000.0,103922000000.0,5889000000.0,2149000000.0
8,Q3,2017,18571000000,12399000000,3146000000,10233000000,10338000000,112875000000,29286000000,10150000000.0,345173000000,31915000000,10592000000.0,81302000000,38598000000,212748000000,34445000000,98525000000,545000000.0,132425000000,345173000000,"10-Q, 0000320193-17-000009",11980000000.0,58188000000.0,184757000000.0,23304000000.0,6495000000.0,89864000000.0,5661000000.0,2444000000.0
9,Q2,2017,15157000000,11579000000,2910000000,9033000000,11367000000,101990000000,27163000000,7549000000.0,334532000000,28573000000,10789000000.0,73342000000,39470000000,200450000000,33579000000,100925000000,422000000.0,134082000000,334532000000,"10-Q, 0001628280-17-004790",9992000000.0,51944000000.0,189740000000.0,23096000000.0,3999000000.0,84531000000.0,5473000000.0,2617000000.0
10,Q4,2016,16371000000,14057000000,2712000000,13920000000,12191000000,103332000000,26510000000,7390000000.0,331141000000,38510000000,11052000000.0,84130000000,37901000000,198751000000,32144000000,100001000000,245000000.0,132390000000,331141000000,"10-Q, 0001628280-17-000717",10493000000.0,44081000000.0,185638000000.0,23739000000.0,3499000000.0,73557000000.0,5423000000.0,2848000000.0
11,Q2,2016,18237000000,11714000000,1831000000,7328000000,11132000000,93761000000,25448000000,7862000000.0,305602000000,26318000000,11416000000.0,71486000000,35572000000,179061000000,30106000000,96542000000,107000000.0,126541000000,305602000000,"10-Q, 0001628280-16-017809",12496000000.0,43519000000.0,169764000000.0,20820000000.0,3500000000.0,68939000000.0,5261000000.0,3506000000.0
12,Q1,2016,21514000000,12229000000,2281000000,7595000000,10204000000,87592000000,23203000000,7745000000.0,305277000000,25098000000,12783000000.0,68265000000,33859000000,174820000000,29484000000,102021000000,1048000000.0,130457000000,305277000000,"10-Q, 0001193125-16-559625",7998000000.0,33769000000.0,177645000000.0,23208000000.0,2500000000.0,69374000000.0,5249000000.0,3843000000.0
13,Q4,2015,16689000000,12953000000,2451000000,11668000000,11073000000,76219000000,22300000000,7974000000.0,293284000000,33312000000,12535000000.0,76092000000,32175000000,165017000000,28253000000,101494000000,1480000000.0,128267000000,293284000000,"10-Q, 0001193125-16-439878",7259000000.0,21385000000.0,177665000000.0,24032000000.0,2500000000.0,53204000000.0,5202000000.0,3924000000.0
14,Q2,2015,15319000000,10370000000,2042000000,9537000000,9291000000,70953000000,21149000000,0.0,273151000000,26474000000,12562000000.0,65285000000,31296000000,147474000000,26327000000,98252000000,0.0,125677000000,273151000000,"10-Q, 0001193125-15-259935",4499000000.0,19384000000.0,168145000000.0,22724000000.0,2500000000.0,47419000000.0,5044000000.0,3779000000.0
15,Q1,2015,14489000000,10905000000,2396000000,7259000000,9094000000,67891000000,20151000000,0.0,261194000000,23159000000,12515000000.0,58729000000,29816000000,132188000000,25376000000,100920000000,0.0,129006000000,261194000000,"10-Q, 0001193125-15-153166",3799000000.0,18607000000.0,160443000000.0,22827000000.0,0.0,40072000000.0,4711000000.0,4061000000.0
16,Q4,2014,19478000000,16709000000,2283000000,13267000000,13635000000,83403000000,20392000000,0.0,261894000000,38001000000,12467000000.0,73611000000,28971000000,138566000000,24187000000,97178000000,1963000000.0,123328000000,261894000000,"10-Q, 0001193125-15-023697",3899000000.0,12985000000.0,145492000000.0,22724000000.0,0.0,32504000000.0,4629000000.0,4370000000.0
17,Q2,2014,12977000000,10788000000,1594000000,6053000000,7825000000,67949000000,17585000000,0.0,222520000000,20535000000,11454000000.0,46205000000,23287000000,101580000000,22139000000,98715000000,86000000.0,120940000000,222520000000,"10-Q, 0001193125-14-277160",2010000000.0,24828000000.0,126685000000.0,15264000000.0,0.0,29030000000.0,2374000000.0,3767000000.0
18,Q1,2014,18949000000,9700000000,1829000000,6120000000,7528000000,70541000000,15120000000,0.0,205989000000,18914000000,11474000000.0,43208000000,22476000000,85810000000,21496000000,98934000000,251000000.0,120179000000,205989000000,"10-Q, 0001193125-14-157311",0.0,22401000000.0,109239000000.0,15984000000.0,0.0,16962000000.0,2055000000.0,3928000000.0
19,Q4,2013,14077000000,14200000000,2122000000,10998000000,8574000000,80347000000,15488000000,0.0,225184000000,29588000000,11428000000.0,53769000000,21699000000,95500000000,20559000000,109431000000,306000000.0,129684000000,225184000000,"10-Q, 0001193125-14-024487",0.0,26634000000.0,118131000000.0,15824000000.0,0.0,16961000000.0,2022000000.0,4105000000.0
20,Q3,2019,48844000000,22926000000,4106000000,22878000000,12352000000,162819000000,37378000000,32978000000.0,338516000000,46236000000,5522000000.0,105718000000,50503000000,248028000000,45174000000,45898000000,584000000.0,90488000000,338516000000,"10-K, 0000320193-19-000119",5980000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,Q3,2018,25913000000,23186000000,3956000000,25809000000,12087000000,131339000000,41304000000,22283000000.0,365725000000,55888000000,10340000000.0,116866000000,45180000000,258578000000,40201000000,70400000000,3454000000.0,107147000000,365725000000,"10-K, 0000320193-18-000145",11964000000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,Q3,2017,20289000000,17874000000,4855000000,17799000000,13936000000,128645000000,33783000000,10162000000.0,375319000000,49049000000,10384000000.0,100814000000,40415000000,241272000000,35867000000,98330000000,150000000.0,134047000000,375319000000,"10-K, 0000320193-17-000070",11977000000.0,53892000000.0,194714000000.0,25744000000.0,6496000000.0,97207000000.0,5717000000.0,2298000000.0
23,Q3,2016,20484000000,15754000000,2132000000,13545000000,8283000000,106869000000,27010000000,8757000000.0,321686000000,37294000000,11010000000.0,79006000000,36074000000,193437000000,31251000000,96364000000,634000000.0,128249000000,321686000000,"10-K, 0001628280-16-020309",8105000000.0,46671000000.0,170430000000.0,22027000000.0,3500000000.0,75427000000.0,5414000000.0,3206000000.0
24,Q3,2015,21120000000,16849000000,2349000000,13494000000,9539000000,89378000000,22471000000,0.0,290479000000,35490000000,12564000000.0,80610000000,33427000000,171124000000,27416000000,92284000000,0.0,119355000000,290479000000,"10-K, 0001193125-15-356351",8499000000.0,20481000000.0,164065000000.0,25181000000.0,2500000000.0,53463000000.0,5116000000.0,3893000000.0
25,Q3,2014,13844000000,17460000000,2111000000,9759000000,9806000000,68531000000,20624000000,0.0,231839000000,30196000000,11522000000.0,63448000000,24826000000,120292000000,23313000000,87152000000,1082000000.0,111547000000,231839000000,"10-K, 0001193125-14-383437",6308000000.0,11233000000.0,130162000000.0,18453000000.0,0.0,28987000000.0,4616000000.0,4142000000.0

In [21]:
# Just for checking.
def checking_duplicate_columns( DataF ):
    
    duplicates = [k for (k,v) in Counter(DataF.columns).items() if v > 1] 
    
    print('Shape of df: ', DataF.shape )
    return duplicates

In [22]:
checking_duplicate_columns(abt)

Shape of df:  (26, 30)

[]

In [ ]:
abt

In [23]:
abt.to_csv('abt-Apple.csv', index=False)

https://stackoverflow.com/questions/50950614/converting-column-into-multi-index-column