# Capstone Project

# Libraries

In [1]:
# Import Library 

import re
import requests
import unicodedata
from bs4 import BeautifulSoup
from pprint import pprint
import numpy as np
from numpy import array
import pandas as pd 
import csv
import pickle
from IPython.display import display
import pickle
from collections import Counter
pd.set_option('display.max_columns', 100)
from IPython.core import display as ICD

# Define Text Normalization Function

In [2]:
def restore_windows_1252_characters(restore_string):
    """
    Replace C1 control characters in the Unicode string s by the
    characters at the corresponding code points in Windows-1252,
    where possible.
    """

def to_windows_1252(match):
    try:
        return bytes([ord(match.group(0))]).decode('windows-1252')
    except UnicodeDecodeError:
        # No character at the corresponding code point: remove it.
        return ''

    return re.sub(r'[\u0080-\u0099]', to_windows_1252, restore_string)

# Grab the Document Content

In [3]:
def grab_doc_content( brand, CIK ):
    
    company = {}
    
    company['auto'] = {}
    auto = {brand : CIK
           }
    company['auto'] = auto

    value = list(auto.copy().values())
    
    return value

In [4]:
GDC = grab_doc_content('Apple', '0000320193')

In [5]:
master_filings_dict = {}
    
file_code = {}
    
file_text = {}

Accession_Number_URL = {}

In [6]:
# URL Directory For CIK    
dir_url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'
dir_url_list = [dir_url.format(x) for x in GDC]

#print('Directory URL: {}'.format(dir_url_list))
doc_url_list = [] 

# FOR-loop yielding Accession Numbers from CIK/URL Directory.
for CIK_num in GDC:

    doc_url = r'https://www.sec.gov/Archives/edgar/data/{CIKx}/{xx}/{yy}.txt'
    doc_url_new = doc_url.format(CIKx = CIK_num, xx='{xx}', yy ='{yy}')
    doc_url_list.append(doc_url_new)

In [7]:
def url_maker(dir_url):
    dir_url_list = [dir_url.format(x) for x in GDC]

    #print('Directory URL: {}'.format(dir_url_list))
    doc_url_list = [] 

    # FOR-loop yielding Accession Numbers from CIK/URL Directory.
    for CIK_num in GDC:

        doc_url = r'https://www.sec.gov/Archives/edgar/data/{CIKx}/{xx}/{yy}.txt'
        doc_url_new = doc_url.format(CIKx = CIK_num, xx='{xx}', yy ='{yy}')
        
        doc_url_list.append(doc_url_new)
        
        url_lists = zip( dir_url_list , doc_url_list )
        
    return url_lists

In [8]:
url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'
for dir_url, doc_url in url_maker(url): 
    print(1, dir_url)
    print(2, doc_url)

1 https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000320193&type=10-&dateb=&owner=include&count=100
2 https://www.sec.gov/Archives/edgar/data/0000320193/{xx}/{yy}.txt

In [9]:
Accession_Number_URL = {}
url = r'https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK={}&type=10-&dateb=&owner=include&count=100'

for dir_url, doc_url in url_maker(url):
    
    response = requests.get(dir_url)
    soup = BeautifulSoup(response.content, 'lxml')
    text = soup.get_text(strip=True)

    cleaned_text = re.findall('Acc-no: \d+-\d+-\d+' , text)

    accession_number = [n.replace('Acc-no: ', '') for n in cleaned_text]
    accessionnumber = [num.replace('-', '') for num in accession_number]

    accession_numbers = zip(accessionnumber, accession_number)
    
    cikk = [ cikk_.replace('CIK=', '') for cikk_ in re.findall('CIK=\d+', dir_url) ][0]
    CIKK = {cikk : accessionnumber}
    
    for (a,b) in accession_numbers: 
        master_filings_dict[b] = {}
        master_filings_dict[b]['sec_header_content'] = {}
        master_filings_dict[b]['filing_documents'] = None

        doc_url_single = doc_url.format(xx = a, yy = b)

        file_url_list = []

        

        file_url_list.append( doc_url_single )
        
        Accession_Number_URL.update({ b : file_url_list})

In [10]:
A_N = []
for AN, url in Accession_Number_URL.items():
    
    if AN == '0001193125-13-416534':
        break
    else:
        A_N.append(AN)
print(A_N, '\n')
print(len(A_N))

['0000320193-20-000052', '0000320193-20-000010', '0000320193-19-000119', '0000320193-19-000076', '0000320193-19-000066', '0000320193-19-000010', '0000320193-18-000145', '0000320193-18-000100', '0000320193-18-000070', '0000320193-18-000007', '0000320193-17-000070', '0000320193-17-000009', '0001628280-17-004790', '0001628280-17-000717', '0001628280-16-020309', '0001628280-16-017809', '0001193125-16-559625', '0001193125-16-439878', '0001193125-15-356351', '0001193125-15-259935', '0001193125-15-153166', '0001193125-15-023697', '0001193125-14-383437', '0001193125-14-277160', '0001193125-14-157311', '0001193125-14-024487']

26

## Save each Filing.

In [11]:
QorK = {'10-Q' : [],
        '10-K' : []
       }

for acc_num, url in Accession_Number_URL.items():
    
    master_document_dict = {}
    
    # create a stop point
    if acc_num == '0001193125-13-416534':
        break

    else:
        
        # grab the response
        response = requests.get(url[0])

    # Soupify
        # pass it through the parser, in this case let's just use lxml because the tags seem to follow xml.
        soup = BeautifulSoup(response.content, 'lxml')
        filing_document = soup.find('document')
        
    # Parsing
        # Document type ->> document_id
        document_id = filing_document.type.find(text=True, recursive=False).strip()
        # Document sequence ->> document_sequence
        document_sequence = filing_document.sequence.find(text=True, recursive=False).strip()
        # Document filename ->> document_filename
        document_filename = filing_document.filename.find(text=True, recursive=False).strip()
        # Document description ->> document_description
        document_description = filing_document.description.find(text=True, recursive=False).strip()
        
    # Storage    
        # initalize our document dictionary
        master_document_dict[document_id] = {}

        # add the different parts, we parsed up above.
        master_document_dict[document_id]['document_sequence'] = document_sequence
        master_document_dict[document_id]['document_filename'] = document_filename
        master_document_dict[document_id]['document_description'] = document_description
        
# Scraping
        # grab the text portion of the document, this will be used to split the document into pages.
        filing_doc_text = filing_document.find('text').extract()

        # find all the thematic breaks, these help define page numbers and page breaks.
        all_thematic_breaks = filing_doc_text.find_all('hr')

        # Locate and store page number via list comprehension.
        all_page_numbers = [thematic_break.previous_sibling.get_text(strip=True) for thematic_break in all_thematic_breaks if len(str(thematic_break))>6]

        # convert all thematic breaks to a string so it can be used for parsing
        all_thematic_breaks = [str(thematic_break) for thematic_break in all_thematic_breaks]

        # prep the document text for splitting, this means converting it to a string.
        filing_doc_string = str(filing_doc_text)
    
        # handle the case where there are thematic breaks.
        if len(all_thematic_breaks) > 0: 

            # define the regex delimiter pattern, this would just be all of our thematic breaks.
            regex_delimiter_pattern = '|'.join(map(re.escape, all_thematic_breaks))

            # split the document along each thematic break.
            split_filing_string = re.split(regex_delimiter_pattern, filing_doc_string)

            # store the document itself
            master_document_dict[document_id]['pages_code'] = split_filing_string

        # handle the case where there are no thematic breaks.
        elif len(all_thematic_breaks) == 0:

            # handles so it will display correctly.
            split_filing_string = all_thematic_breaks

            # store the document as is, since there are no thematic breaks. In other words, no splitting.
            master_document_dict[document_id]['pages_code'] = [filing_doc_string]
            
        # display some information to the user.
        print('-'*80)
        print('The document {} was parsed.'.format(document_id))
        print('There was {} page(s) found.'.format(len(all_page_numbers)))
        print('There was {} thematic breaks(s) found.'.format(len(all_thematic_breaks)))

        # store the documents in the master_filing_dictionary.
        master_filings_dict[acc_num]['filing_documents'] = master_document_dict
        
        # if document is 10-Q
        if document_id == '10-Q':
            QorK['10-Q'].append(acc_num) # add acc_num to QorK in 10-Q as key
        
        # if document is 10-K
        if document_id == '10-K':
            QorK['10-K'].append(acc_num) # add acc_num to QorK in 10-K as key
        
        del master_document_dict
        
        print('-'*80)
        print('All the documents for filing {} were parsed and stored.'.format(acc_num))

--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 38 page(s) found.
There was 38 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-20-000052 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 36 page(s) found.
There was 36 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-20-000010 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 65 page(s) found.
There was 65 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-19-000119 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 48 page(s) found.
There was 48 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-19-000076 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 48 page(s) found.
There was 48 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-19-000066 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 47 page(s) found.
There was 47 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-19-000010 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 73 page(s) found.
There was 73 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-18-000145 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 49 page(s) found.
There was 49 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-18-000100 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 48 page(s) found.
There was 48 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-18-000070 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 46 page(s) found.
There was 46 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-18-000007 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 78 page(s) found.
There was 78 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-17-000070 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 47 page(s) found.
There was 47 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0000320193-17-000009 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001628280-17-004790 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 44 page(s) found.
There was 44 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001628280-17-000717 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 78 page(s) found.
There was 78 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001628280-16-020309 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 46 page(s) found.
There was 46 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001628280-16-017809 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 45 page(s) found.
There was 45 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-16-559625 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 45 page(s) found.
There was 45 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-16-439878 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 77 page(s) found.
There was 77 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-15-356351 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 51 page(s) found.
There was 51 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-15-259935 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 51 page(s) found.
There was 51 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-15-153166 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 52 page(s) found.
There was 52 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-15-023697 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-K was parsed.
There was 89 page(s) found.
There was 89 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-14-383437 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 55 page(s) found.
There was 55 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-14-277160 were parsed and stored.
--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 50 page(s) found.
There was 50 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-14-157311 were parsed and stored.

--------------------------------------------------------------------------------
The document 10-Q was parsed.
There was 55 page(s) found.
There was 55 thematic breaks(s) found.
--------------------------------------------------------------------------------
All the documents for filing 0001193125-14-024487 were parsed and stored.

In [18]:
string_test = master_filings_dict['0000320193-20-000052']['filing_documents']['10-Q']['pages_code']

## Anchor Check Function

In [12]:
# Variations of HTML anchors.
CBS_A = 'CONDENSED CONSOLIDATED BALANCE SHEETS'
CBS_B = 'CONSOLIDATED BALANCE SHEETS'
# SoO_A = '<a name="Statements_of_Operations"' 
# SoO_B = 'id="CONSOLIDATED_STATEMENTS_OPERATIONS"'
# SoO3 = 'name="CONSOLIDATED_STATEMENTS_OPERATIONS"'
# CSoO10K = 'name="Consolidated_Statements_of_Operations"'
# CSoO10Knew = 'id="Consolidated_Statements_of_Operations"'

# CF_A = '<a name="Statements_of_Cash'
# CF_B = 'id="CONSOLIDATED_STATEMENTS_CASH_FLOWS"'
# CF3 = 'name="CONSOLIDATED_STATEMENTS_CASH_FLOWS"'
# CCF10K = 'name="Consolidated_Statements_of_Cash_Flows"'
# CCF10Knew = 'id="Consolidated_Statements_of_Cash_Flows"'

def anchor_check(page_code):
    
    # if the page has one of these anchors
    if (CBS_A in page_code) or (CBS_B in page_code):
        return True

    #elif (SoO_A in page_code) or (SoO_B in page_code) or (SoO3 in page_code) or (CSoO10K in page_code) or (CSoO10Knew in page_code) :
        #return True

    #elif (CF_A in page_code) or (CF_B in page_code) or (CF3 in page_code) or (CCF10K in page_code) or (CCF10Knew in page_code):
        #return True


    else:
        return False

## Cleaning Columns Function

In [13]:
month_dict = {'December' : 'Q4',
              'November' : 'Q4',
             'October' : 'Q4',
             'September' : 'Q3',
             'August': 'Q3',
             'July' : 'Q3',
             'June' : 'Q2',
             'May' : 'Q2',
             'April' : 'Q2',
             'March' : 'Q1',
             'Feburary' : 'Q1',
             'January' : 'Q1'}

In [14]:
col_name_variants = {
    'Inventor' : 'Inventory',
    'Total liabilities and' : 'Total liabilities and equity',
    'Common stock.*' : 'Common Stock',
    'Preferred stock.*': 'Preferred Stock',
    'Accounts receivable.*' : 'Accounts Receivable',
    'Accrued liabilities.*' : 'Accrued Liabilities',
    'Deferred revenue.*' : 'Deferred Revenue',
    'Redeemable noncontrolling interests in subsidiaries.*' : 'Noncontrolling interests in subsidiaries',
    'Short term investments.*' : 'Short term investments', 
    'Property|equipment.' : 'Property and Equipment',
    'Retained earnings.*' : 'Retained Earnings',
    'stockholders.*' : 'Shareholder Equity',
    '^Cash.*' : 'Cash',
    'Convertible senior notes.*' : 'Convertible Senior Notes'
}

In [15]:
def clean_col_name( name ):
    
    for detect, replacement in col_name_variants.items():

        if re.findall(detect, name, flags=re.I):

            n_column = name.replace(name, replacement) 

            return n_column 
            
    return name

In [29]:
# Throw column list-like object into cleaning function. 
def cleaning_column(r_column, multiplier):
     
    column_list = []
    column_name = []
    
    for element_post, element in enumerate(r_column):
        try:
            ele= element.encode('cp1252').decode("utf-8", "ignore")
                
        except:
            ele= element.encode('latin1').decode("utf-8", "ignore")
            
        if ele =='':
            continue
            
        ele_norm = unicodedata.normalize('NFKD', ele)
        
        # Handling the first "row" in the table i.e. column name.
        if element_post == 0:
#             print(element)
            
            ele_norm = ele_norm.replace('net', '')
            
            ele_norm = ele_norm.replace( '-', ' ')
            
            s_ele_norm = re.sub(r"^\s+|\s+$", "", ele_norm)
            
            name = re.sub(r'(?=,|:|\.|\(){1}.*', repl='', string= s_ele_norm, flags=re.I)
            
            # clean_col_name function Choose old_if or new_dict
            clean_name = clean_col_name( name )
            ###
            column_name.append(clean_name)
            ###
            column_list.append(clean_name)
        
        # Handling the all the remaining "rows" in the table i.e. data/numbers.
        elif ele_norm not in ['\n$', '\n\xa0', '\n', '\xa0']:
            
            n_element = ele_norm.replace( ',', '' )

            pattern = re.compile(r'[\d]+,[\d]+|[\d]+')

            res = pattern.findall(n_element)
            
            result = [int(clean_ele) * multiplier for clean_ele in res]

            column_list.extend(result)

    return column_list

## Cleaning Tables Function

In [134]:
for QK, N_O in QorK.items():
    
    for an_postition, acc_num in enumerate(N_O): 
        
        pages = master_filings_dict[acc_num]['filing_documents'][QK]['pages_code']
        print('\n', 'This is {} a {} document.'.format(acc_num, QK))
        test_df = table(pages, QK)[0]
        table_df = test_df.drop([2]).reset_index(drop=True)
        print('Shape - ', table_df.shape)
        ICD.display(table_df)

 This is 0000320193-20-000052 a 10-Q document.
Q ['Q1', 'Q3']

 Q_final ['Quarter', 'Q1', 'Q3'] Y ['Year', '2020', '2019']
Shape -  (1, 42)

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper and repurchase agreement,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q1,2020,None,None,40174000000,53877000000,15722000000,3334000000,14955000000,15691000000,143753000000,None,None,98793000000,35889000000,41965000000,176647000000,320400000000,None,None,None,32421000000,37324000000,5928000000,10029000000,10392000000,96094000000,None,None,89086000000,56795000000,145881000000,241975000000,None,None,None,None,48032000000,33182000000,2789000000,78425000000,320400000000

 This is 0000320193-20-000010 a 10-Q document.
Q ['Q4', 'Q3']

 Q_final ['Quarter', 'Q4', 'Q3'] Y ['Year', '2019', '2019']
Shape -  (1, 42)

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q4,2019,None,None,39771000000,67391000000,20970000000,4097000000,18976000000,12026000000,163231000000,None,None,99899000000,37031000000,40457000000,177387000000,340618000000,None,None,None,45111000000,36263000000,5573000000,4990000000,10224000000,102161000000,None,None,93078000000,55848000000,148926000000,251087000000,None,None,None,None,45972000000,43977000000,418000000,89531000000,340618000000

 This is 0000320193-19-000076 a 10-Q document.
Q ['Q2', 'Q3']

 Q_final ['Quarter', 'Q2', 'Q3'] Y ['Year', '2019', '2018']
Shape -  (1, 42)

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q2,2019,None,None,50530000000,44084000000,14148000000,3355000000,12326000000,10530000000,134973000000,None,None,115996000000,37636000000,33634000000,187266000000,322239000000,None,None,None,29115000000,31673000000,5434000000,9953000000,13529000000,89704000000,None,None,84936000000,51143000000,136079000000,225783000000,None,None,None,None,43371000000,53724000000,639000000,96456000000,322239000000

 This is 0000320193-19-000066 a 10-Q document.
Q ['Q1', 'Q3']

 Q_final ['Quarter', 'Q1', 'Q3'] Y ['Year', '2019', '2018']
Shape -  (1, 42)

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q1,2019,None,None,37988000000,42104000000,15085000000,4884000000,11193000000,12092000000,123346000000,None,None,145319000000,38746000000,34587000000,218652000000,341998000000,None,None,None,30443000000,35368000000,5532000000,11924000000,10505000000,93772000000,None,None,90201000000,52165000000,142366000000,236138000000,None,None,None,None,42801000000,64558000000,1499000000,105860000000,341998000000

 This is 0000320193-19-000010 a 10-Q document.
Q ['Q4', 'Q3']

 Q_final ['Quarter', 'Q4', 'Q3'] Y ['Year', '2018', '2018']
Shape -  (1, 42)

,Quarter,Year,ASSETS,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q4,2018,None,None,44771000000,41656000000,18077000000,4988000000,18904000000,12432000000,140828000000,None,None,158608000000,39597000000,34686000000,232891000000,373719000000,None,None,None,44293000000,36703000000,5546000000,11969000000,9772000000,108283000000,None,None,92989000000,54555000000,147544000000,255827000000,None,None,None,None,40970000000,80510000000,3588000000,117892000000,373719000000

 This is 0000320193-18-000100 a 10-Q document.
Q ['Q2', 'Q3']

 Q_final ['Quarter', 'Q2', 'Q3'] Y ['Year', '2018', '2017']
Shape -  (1, 39)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q2,2018,None,None,31971000000,38999000000,14104000000,5936000000,12263000000,12488000000,115761000000,None,172773000000,38117000000,22546000000,349197000000,None,None,None,38489000000,25184000000,7403000000,11974000000,5498000000,88548000000,None,2878000000,97128000000,45694000000,234248000000,None,None,None,None,38624000000,79436000000,3111000000,114949000000,349197000000

 This is 0000320193-18-000070 a 10-Q document.
Q ['Q1', 'Q3']

 Q_final ['Quarter', 'Q1', 'Q3'] Y ['Year', '2018', '2017']
Shape -  (1, 39)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q1,2018,None,None,45059000000,42881000000,14324000000,7662000000,8084000000,12043000000,130053000000,None,179286000000,35077000000,23086000000,367502000000,None,None,None,34311000000,26756000000,7775000000,11980000000,8498000000,89320000000,None,3087000000,101362000000,46855000000,240624000000,None,None,None,None,38044000000,91898000000,3064000000,126878000000,367502000000

 This is 0000320193-18-000007 a 10-Q document.
Q ['Q4', 'Q3']

 Q_final ['Quarter', 'Q4', 'Q3'] Y ['Year', '2017', '2017']
Shape -  (1, 41)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q4,2017,None,None,27491000000,49662000000,23440000000,4421000000,27459000000,11337000000,143810000000,None,207944000000,33679000000,5889000000,2149000000,13323000000,406794000000,None,None,None,62985000000,26281000000,8044000000,11980000000,6498000000,115788000000,None,3131000000,103922000000,43754000000,266595000000,None,None,None,None,36447000000,104593000000,841000000,140199000000,406794000000

 This is 0000320193-17-000009 a 10-Q document.
Q ['Q3', 'Q3']

 Q_final ['Quarter', 'Q3', 'Q3'] Y ['Year', '2017', '2016']
Shape -  (1, 41)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2017,None,None,18571000000,58188000000,12399000000,3146000000,10233000000,10338000000,112875000000,None,184757000000,29286000000,5661000000,2444000000,10150000000,345173000000,None,None,None,31915000000,23304000000,7608000000,11980000000,6495000000,81302000000,None,2984000000,89864000000,38598000000,212748000000,None,None,None,None,34445000000,98525000000,545000000,132425000000,345173000000

 This is 0001628280-17-004790 a 10-Q document.
Q ['Q2', 'Q3']

 Q_final ['Quarter', 'Q2', 'Q3'] Y ['Year', '2017', '2016']
Shape -  (1, 41)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q2,2017,None,None,15157000000,51944000000,11579000000,2910000000,9033000000,11367000000,101990000000,None,189740000000,27163000000,5473000000,2617000000,7549000000,334532000000,None,None,None,28573000000,23096000000,7682000000,9992000000,3999000000,73342000000,None,3107000000,84531000000,39470000000,200450000000,None,None,None,None,33579000000,100925000000,422000000,134082000000,334532000000

 This is 0001628280-17-000717 a 10-Q document.
Q ['Q4', 'Q3']

 Q_final ['Quarter', 'Q4', 'Q3'] Y ['Year', '2016', '2016']
Shape -  (1, 41)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q4,2016,None,None,16371000000,44081000000,14057000000,2712000000,13920000000,12191000000,103332000000,None,185638000000,26510000000,5423000000,2848000000,7390000000,331141000000,None,None,None,38510000000,23739000000,7889000000,10493000000,3499000000,84130000000,None,3163000000,73557000000,37901000000,198751000000,None,None,None,None,32144000000,100001000000,245000000,132390000000,331141000000

 This is 0001628280-16-017809 a 10-Q document.
Q ['Q2', 'Q3']

 Q_final ['Quarter', 'Q2', 'Q3'] Y ['Year', '2016', '2015']
Shape -  (1, 41)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q2,2016,None,None,18237000000,43519000000,11714000000,1831000000,7328000000,11132000000,93761000000,None,169764000000,25448000000,5261000000,3506000000,7862000000,305602000000,None,None,None,26318000000,20820000000,8352000000,12496000000,3500000000,71486000000,None,3064000000,68939000000,35572000000,179061000000,None,None,None,None,30106000000,96542000000,107000000,126541000000,305602000000

 This is 0001193125-16-559625 a 10-Q document.
Q ['Q1', 'Q3']

 Q_final ['Quarter', 'Q1', 'Q3'] Y ['Year', '2016', '2015']
Shape -  (1, 49)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,NaN,Total current assets,,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,NaN,Total assets,NaN,,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,NaN,Total current liabilities,,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,,Commitments and contingencies,,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q1,2016,None,None,21514000000,33769000000,12229000000,2281000000,7595000000,10204000000,None,87592000000,None,177645000000,23203000000,5249000000,3843000000,7745000000,None,305277000000,None,None,None,None,25098000000,23208000000,9461000000,7998000000,2500000000,None,68265000000,None,3322000000,69374000000,33859000000,174820000000,None,None,None,None,None,29484000000,102021000000,1048000000,None,130457000000,None,305277000000,None

 This is 0001193125-16-439878 a 10-Q document.
Q ['Q4', 'Q3']

 Q_final ['Quarter', 'Q4', 'Q3'] Y ['Year', '2015', '2015']
Shape -  (1, 50)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,NaN,Total current assets,,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,NaN,Total assets,NaN,,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,,Commitments and contingencies,,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q4,2015,None,None,16689000000,21385000000,12953000000,2451000000,11668000000,11073000000,None,76219000000,None,177665000000,22300000000,5202000000,3924000000,7974000000,None,293284000000,None,None,None,None,33312000000,24032000000,8989000000,7259000000,2500000000,None,76092000000,None,3546000000,53204000000,32175000000,None,165017000000,None,None,None,None,None,28253000000,101494000000,1480000000,None,128267000000,None,293284000000,None

 This is 0001193125-15-259935 a 10-Q document.
Q ['Q2', 'Q3']

 Q_final ['Quarter', 'Q2', 'Q3'] Y ['Year', '2015', '2014']
Shape -  (1, 51)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,,Commitments and contingencies,,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q2,2015,None,None,15319000000,19384000000,10370000000,2042000000,5010000000,9537000000,9291000000,None,70953000000,None,168145000000,21149000000,5044000000,3779000000,4081000000,None,273151000000,None,None,None,None,26474000000,22724000000,9088000000,4499000000,2500000000,None,65285000000,None,3474000000,47419000000,31296000000,None,147474000000,None,None,None,None,None,26327000000,98252000000,1098000000,None,125677000000,None,273151000000,None

 This is 0001193125-15-153166 a 10-Q document.
Q ['Q1', 'Q3']

 Q_final ['Quarter', 'Q1', 'Q3'] Y ['Year', '2015', '2014']
Shape -  (1, 50)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q1,2015,None,None,14489000000,18607000000,10905000000,2396000000,5141000000,7259000000,9094000000,None,67891000000,None,160443000000,20151000000,4711000000,4061000000,3937000000,None,261194000000,None,None,None,None,23159000000,22827000000,8944000000,3799000000,None,58729000000,None,3571000000,40072000000,29816000000,None,132188000000,None,None,None,None,None,25376000000,100920000000,2710000000,None,129006000000,None,261194000000,None

 This is 0001193125-15-023697 a 10-Q document.
Q ['Q4', 'Q3']

 Q_final ['Quarter', 'Q4', 'Q3'] Y ['Year', '2014', '2014']
Shape -  (1, 50)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q4,2014,None,None,19478000000,12985000000,16709000000,2283000000,5046000000,13267000000,13635000000,None,83403000000,None,145492000000,20392000000,4629000000,4370000000,3608000000,None,261894000000,None,None,None,None,38001000000,22724000000,8987000000,3899000000,None,73611000000,None,3480000000,32504000000,28971000000,None,138566000000,None,None,None,None,None,24187000000,97178000000,1963000000,None,123328000000,None,261894000000,None

 This is 0001193125-14-277160 a 10-Q document.
Q ['Q2', 'Q3']

 Q_final ['Quarter', 'Q2', 'Q3'] Y ['Year', '2014', '2013']
Shape -  (1, 51)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,NaN,Total liabilities and equity,NaN
0,Q2,2014,None,None,12977000000,24828000000,10788000000,1594000000,3884000000,6053000000,7825000000,None,67949000000,None,126685000000,17585000000,2374000000,3767000000,4160000000,None,222520000000,None,None,None,None,20535000000,15264000000,8396000000,2010000000,None,46205000000,None,3058000000,29030000000,23287000000,None,101580000000,None,None,None,None,None,22139000000,98715000000,86000000,None,120940000000,None,None,222520000000,None

 This is 0001193125-14-157311 a 10-Q document.
Q ['Q1', 'Q3']

 Q_final ['Quarter', 'Q1', 'Q3'] Y ['Year', '2014', '2013']
Shape -  (1, 50)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,NaN,Total liabilities and equity,NaN
0,Q1,2014,None,None,18949000000,22401000000,9700000000,1829000000,4014000000,6120000000,7528000000,None,70541000000,None,109239000000,15120000000,2055000000,3928000000,5106000000,None,205989000000,None,None,None,None,18914000000,15984000000,8310000000,None,43208000000,None,3164000000,16962000000,22476000000,None,85810000000,None,None,None,None,None,21496000000,98934000000,251000000,None,120179000000,None,None,205989000000,None

 This is 0001193125-14-024487 a 10-Q document.
Q ['Q4', 'Q3']

 Q_final ['Quarter', 'Q4', 'Q3'] Y ['Year', '2013', '2013']
Shape -  (1, 50)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,NaN,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,NaN,Total liabilities and equity,NaN
0,Q4,2013,None,None,14077000000,26634000000,14200000000,2122000000,3742000000,10998000000,8574000000,None,80347000000,None,118131000000,15488000000,2022000000,4105000000,5091000000,None,225184000000,None,None,None,None,29588000000,15824000000,8357000000,None,53769000000,None,3071000000,16961000000,21699000000,None,95500000000,None,None,None,None,None,20559000000,109431000000,306000000,None,129684000000,None,None,225184000000,None

 This is 0000320193-19-000119 a 10-K document.
Q ['Q3', 'Q3']

 Q_final ['Quarter', 'Q3', 'Q3'] Y ['Year', '2019', '2018']
Shape -  (1, 41)

,Quarter,Year,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2019,None,48844000000,51713000000,22926000000,4106000000,22878000000,12352000000,162819000000,None,None,105341000000,37378000000,32978000000,175697000000,338516000000,None,None,None,46236000000,37720000000,5522000000,5980000000,10260000000,105718000000,None,None,91807000000,50503000000,142310000000,248028000000,None,None,None,None,45174000000,45898000000,584000000,90488000000,338516000000

 This is 0000320193-18-000145 a 10-K document.
Q ['Q3', 'Q3']

 Q_final ['Quarter', 'Q3', 'Q3'] Y ['Year', '2018', '2017']
Shape -  (1, 42)

,Quarter,Year,Current assets,Cash,Marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Non current assets,Marketable securities,Property and Equipment,Other non current assets,Total non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Other current liabilities,Deferred Revenue,Commercial paper,Term debt,Total current liabilities,NaN,Non current liabilities,Deferred Revenue,Term debt,Other non current liabilities,Total non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2018,None,25913000000,40388000000,23186000000,3956000000,25809000000,12087000000,131339000000,None,None,170799000000,41304000000,22283000000,234386000000,365725000000,None,None,None,55888000000,32687000000,7543000000,11964000000,8784000000,116866000000,None,None,2797000000,93735000000,45180000000,141712000000,258578000000,None,None,None,None,40201000000,70400000000,3454000000,107147000000,365725000000

 This is 0000320193-17-000070 a 10-K document.
Q ['Q3', 'Q3']

 Q_final ['Quarter', 'Q3', 'Q3'] Y ['Year', '2017', '2016']
Shape -  (1, 40)

,Quarter,Year,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2017,None,20289000000,53892000000,17874000000,4855000000,17799000000,13936000000,128645000000,None,194714000000,33783000000,5717000000,2298000000,10162000000,375319000000,None,None,None,49049000000,25744000000,7548000000,11977000000,6496000000,100814000000,None,2836000000,97207000000,40415000000,241272000000,None,None,None,None,35867000000,98330000000,150000000,134047000000,375319000000

 This is 0001628280-16-020309 a 10-K document.
Q ['Q3', 'Q3']

 Q_final ['Quarter', 'Q3', 'Q3'] Y ['Year', '2016', '2015']
Shape -  (1, 40)

,Quarter,Year,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Vendor non trade receivables,Other current assets,Total current assets,NaN,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other non current assets,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,Total current liabilities,NaN,Deferred Revenue,Long term debt,Other non current liabilities,Total liabilities,NaN,Commitments and contingencies,NaN,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,Total shareholders equity,Total liabilities and equity
0,Q3,2016,None,20484000000,46671000000,15754000000,2132000000,13545000000,8283000000,106869000000,None,170430000000,27010000000,5414000000,3206000000,8757000000,321686000000,None,None,None,37294000000,22027000000,8080000000,8105000000,3500000000,79006000000,None,2930000000,75427000000,36074000000,193437000000,None,None,None,None,31251000000,96364000000,634000000,128249000000,321686000000

 This is 0001193125-15-356351 a 10-K document.
Q ['Q3', 'Q3']

 Q_final ['Quarter', 'Q3', 'Q3'] Y ['Year', '2015', '2014']
Shape -  (1, 46)

,Quarter,Year,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,Current portion of long term debt,NaN,Total current liabilities,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,Commitments and contingencies,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q3,2015,None,21120000000,20481000000,16849000000,2349000000,5546000000,13494000000,9539000000,None,89378000000,164065000000,22471000000,5116000000,3893000000,5556000000,None,290479000000,None,None,None,None,35490000000,25181000000,8940000000,8499000000,2500000000,None,80610000000,3624000000,53463000000,33427000000,None,171124000000,None,None,None,27416000000,92284000000,345000000,None,119355000000,None,290479000000,None

 This is 0001193125-14-383437 a 10-K document.
Q ['Q3', 'Q3']

 Q_final ['Quarter', 'Q3', 'Q3'] Y ['Year', '2014', '2013']
Shape -  (1, 45)

,Quarter,Year,ASSETS,Current assets,Cash,Short term marketable securities,Accounts Receivable,Inventory,Deferred tax assets,Vendor non trade receivables,Other current assets,NaN,Total current assets,Long term marketable securities,Property and Equipment,Goodwill,Acquired intangible assets,Other assets,NaN,Total assets,NaN,LIABILITIES AND SHAREHOLDERS EQUITY,Current liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Commercial paper,NaN,Total current liabilities,Deferred Revenue,Long term debt,Other non current liabilities,NaN,Total liabilities,NaN,Commitments and contingencies,Shareholders equity,Common Stock,Retained Earnings,Accumulated other comprehensive income/,NaN,Total shareholders equity,NaN,Total liabilities and equity,NaN
0,Q3,2014,None,None,13844000000,11233000000,17460000000,2111000000,4318000000,9759000000,9806000000,None,68531000000,130162000000,20624000000,4616000000,4142000000,3764000000,None,231839000000,None,None,None,30196000000,18453000000,8491000000,6308000000,None,63448000000,3031000000,28987000000,24826000000,None,120292000000,None,None,None,23313000000,87152000000,1082000000,None,111547000000,None,231839000000,None

In [131]:
# New and imporved.
def Quarter( column , k):
    
#     print('column used for quarter', column)
    
    multi_list = [element.split() for element in column if element.split() != []]
#     print('multi_list', multi_list)
    new_column = [item for sublist in multi_list for item in sublist]
#     print('new_column used for year', new_column)
    
    Q = []
    Y = []
    
    for letter in column:
#         print('letter', letter)
        try:
            month = re.findall(r'\w{}+'.format(list(month_dict.keys())), letter.replace(' ',  '') )[0]
            
            Q_num = month_dict[month] 
    #         print('Q_num' , Q_num)
    
            if Q_num != []:
                Q.append(Q_num)
                
        except:
            continue
    #         print('~'*20)
        
    print('Q' , Q) 
#     Q_final = Q[0] 
#     print('Q_final' , Q_final)
    if k == '10-Q':
    
        Q_final =['Quarter'] + Q
        
    if k == '10-K':
        Q_final =['Quarter'] + Q
#         Q_final.insert(1, 0)
    
        
    for letter in new_column:   
        
        #print( letter.split(',') )
        
        Year = [re.compile(r'^[0-9]{4}$').findall(p_s_ele_norm) for p_s_ele_norm in letter.split(',') if re.compile(r'^[0-9]{4}$').findall(p_s_ele_norm) != []]
#         print(f'Year - {Year}')
        Y.append(Year)
#     print(f'Y - {Y}')   # Y - [[], [], [['2015']], [['2016']]]
    
    Y = [num for sublist in Y for item in sublist for num in item]
#     print(f'Y - {Y}')
    
#     print(f'Y - {Y}')   # Y - [[], [], [['2015']], [['2016']]]

#     Y = sorted([num for sublist in Y for item in sublist for num in item])
#     print('this is the interger version of Y - ', Y)
    
#     if k == '10-K' and int(Y[0]) < 2017:
#         Y = [str(int(Y[0]) + 1)]
#         print(f'Changed Y into {Y}')
        
#     print(f'Y - {Y}')
    
    Y.insert(0, 'Year')
#     Y.insert(1, 0)

    print( '\n', 'Q_final', Q_final, 'Y', Y)
    return Q_final, Y

In [28]:
def table_extractor( page, multiplier, k ):
    
    # Convert string to BS object
    soup = BeautifulSoup(page, 'html5')

    # then get all the rows in the table.
    table_rows = soup.find_all('tr')
    
    if len( [tr.text for tr in table_rows[0].find_all('td')] ) < 3:
        del table_rows[0]
    
    single_table = []
    
    # Loop through each column, adding in three structures to single_table.
    for tr_post, tr in enumerate(table_rows):
        
        td = tr.find_all('td')

        column = [tr.text for tr in td]
#         print( tr_post, len(column), column)
        # 10-Q 
        if k == '10-Q':
            
            if tr_post == 1:

                # Quarter Column
                col_Q, col_year = Quarter( column, k )
                single_table.append( col_Q )
                # Year Column
                single_table.append( col_year )

            elif tr_post > 1: 

                # Features Columns
                cleaned_data = cleaning_column( column , multiplier )
                if len(cleaned_data) > 10:
                    del cleaned_data[3]
                    
                single_table.append( cleaned_data )
                
        # 10-K
        elif k == '10-K':
                
            if tr_post == 1:
                
                # Quarter Column
                col_date, col_year = Quarter( column, k )
                single_table.append( col_date )
                # Year Column
                single_table.append( col_year )

            elif tr_post > 2: 
                
                cleaned_data = cleaning_column( column , multiplier)
                if len(cleaned_data) > 10:
                    del cleaned_data[3]
                
                single_table.append( cleaned_data )
            
    return single_table

In [20]:
def df_clean( single_table ):
#     print(single_table)
    table_df = pd.DataFrame(single_table)

    table_df = table_df.transpose()  

    #table_df.drop(table_df.index[1:3], 0, inplace=True)

    #table_df.drop(table_df.index[2:], 0, inplace=True)

    table_df.columns = table_df.iloc[0]

    table_df = table_df.drop(table_df.index[0])
    
    return table_df

In [101]:
def table(page_code, k):
    
    doc_tables=[]

    for page_post, page in enumerate(page_code):
        
        if anchor_check(page) and 'million' in page:
            
            single_table = table_extractor( page, 10**6, k )
            
            table_df = df_clean(single_table)
                        
            doc_tables.append(table_df)
        
        elif anchor_check(page) and ('In thousands' in page):
            
            single_table = table_extractor( page, 10**3, k )
            
            table_df = df_clean(single_table)
            
            doc_tables.append(table_df)
            
                
    return doc_tables

In [22]:
QorK

{'10-Q': ['0000320193-20-000052',
  '0000320193-20-000010',
  '0000320193-19-000076',
  '0000320193-19-000066',
  '0000320193-19-000010',
  '0000320193-18-000100',
  '0000320193-18-000070',
  '0000320193-18-000007',
  '0000320193-17-000009',
  '0001628280-17-004790',
  '0001628280-17-000717',
  '0001628280-16-017809',
  '0001193125-16-559625',
  '0001193125-16-439878',
  '0001193125-15-259935',
  '0001193125-15-153166',
  '0001193125-15-023697',
  '0001193125-14-277160',
  '0001193125-14-157311',
  '0001193125-14-024487'],
 '10-K': ['0000320193-19-000119',
  '0000320193-18-000145',
  '0000320193-17-000070',
  '0001628280-16-020309',
  '0001193125-15-356351',
  '0001193125-14-383437']}

# Exploring the Data

In [23]:
explore_dict = {}
for QK, AccNum_list in QorK.items():
    
    #for an_postition, acc_num in enumerate(AccNum_list): 
    if QK== '10-Q':
        Q_new = AccNum_list[0]
        Q_old = AccNum_list[-1]
        explore_dict[QK] = [Q_new, Q_old]

    if QK == '10-K':
        K_new = AccNum_list[0]
        K_old = AccNum_list[-1]
        explore_dict[QK] = [K_new, K_old]

In [24]:
explore_dict

{'10-Q': ['0000320193-20-000052', '0001193125-14-024487'],
 '10-K': ['0000320193-19-000119', '0001193125-14-383437']}

# Save Files Locally.

In [54]:
Checklist = {}

for k, v in QorK.items():
    value_list = []
    for i, vv in enumerate(v):

        # first grab 10-Q documents only
        pages = master_filings_dict[v[i]]['filing_documents'][k]['pages_code']

        try:
            # Extract Table from html code and wrap it as a list of df.
            table_df = table(pages, k)[0]                 
            #ICD.display(table_df)

            with open('{}-{}.csv'.format(v[i], k), "wb") as fp:   # Pickling
                pickle.dump(table_df, fp)

            # display a status to the user.
            print('All the pages from {} document {} have been tableized and saved.'.format(k, v[i]))
        
        except: 
            value_list.append(vv)
            print('Something went wrong in file {}, file type = {}'.format(v[i], k))
        
        print('-'*80) 
    Checklist['{}'.format(k)] = value_list
    del value_list

Q ['Q1', 'Q3']
Y - [[], [], [['2020']], [], [], [['2019']]]
Y - ['2019']
All the pages from 10-Q document 0000320193-20-000052 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - [[], [], [['2019']], [], [], [['2019']]]
Y - ['2019']
All the pages from 10-Q document 0000320193-20-000010 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q3']
Y - [[], [], [['2019']], [], [], [['2018']]]
Y - ['2018']
All the pages from 10-Q document 0000320193-19-000076 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q3']
Y - [[], [], [['2019']], [], [], [['2018']]]
Y - ['2018']
All the pages from 10-Q document 0000320193-19-000066 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - [[], [], [['2018']], [], [], [['2018']]]
Y - ['2018']
All the pages from 10-Q document 0000320193-19-000010 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q3']
Y - [[], [], [['2018']], [], [], [['2017']]]
Y - ['2017']
All the pages from 10-Q document 0000320193-18-000100 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q3']
Y - [[], [], [['2018']], [], [], [['2017']]]
Y - ['2017']
All the pages from 10-Q document 0000320193-18-000070 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - [[], [], [['2017']], [], [], [['2017']]]
Y - ['2017']
All the pages from 10-Q document 0000320193-18-000007 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q3']
Y - [[], [], [['2017']], [], [], [['2016']]]
Y - ['2016']
All the pages from 10-Q document 0000320193-17-000009 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q3']
Y - [[], [], [['2017']], [], [], [['2016']]]
Y - ['2016']
All the pages from 10-Q document 0001628280-17-004790 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - [[], [], [['2016']], [], [], [['2016']]]
Y - ['2016']
All the pages from 10-Q document 0001628280-17-000717 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q3']
Y - [[], [], [['2016']], [], [], [['2015']]]
Y - ['2015']
All the pages from 10-Q document 0001628280-16-017809 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q3']
Y - [[], [['2016']], [], [['2015']]]
Y - ['2015']
All the pages from 10-Q document 0001193125-16-559625 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - [[], [], [['2015']], [], [], [['2015']]]
Y - ['2015']
All the pages from 10-Q document 0001193125-16-439878 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q3']
Y - [[], [['2015']], [], [['2014']]]
Y - ['2014']
All the pages from 10-Q document 0001193125-15-259935 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q3']
Y - [[], [['2015']], [], [['2014']]]
Y - ['2014']
All the pages from 10-Q document 0001193125-15-153166 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - [[], [['2014']], [], [['2014']]]
Y - ['2014']
All the pages from 10-Q document 0001193125-15-023697 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q2', 'Q3']
Y - [[], [['2014']], [], [['2013']]]
Y - ['2013']
All the pages from 10-Q document 0001193125-14-277160 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q1', 'Q3']
Y - [[], [['2014']], [], [['2013']]]
Y - ['2013']
All the pages from 10-Q document 0001193125-14-157311 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q4', 'Q3']
Y - [[], [['2013']], [], [['2013']]]
Y - ['2013']
All the pages from 10-Q document 0001193125-14-024487 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q3']
Y - [[], [], [['2019']], [], [], [['2018']]]
Y - ['2018']
All the pages from 10-K document 0000320193-19-000119 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q3']
Y - [[], [], [['2018']], [], [], [['2017']]]
Y - ['2017']
All the pages from 10-K document 0000320193-18-000145 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q3']
Y - [[], [], [['2017']], [], [], [['2016']]]
Y - ['2016']
All the pages from 10-K document 0000320193-17-000070 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q3']
Y - [[], [], [['2016']], [], [], [['2015']]]
Y - ['2015']
All the pages from 10-K document 0001628280-16-020309 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q3']
Y - [[], [['2015']], [], [['2014']]]
Y - ['2014']
All the pages from 10-K document 0001193125-15-356351 have been tableized and saved.
--------------------------------------------------------------------------------
Q ['Q3', 'Q3']
Y - [[], [['2014']], [], [['2013']]]
Y - ['2013']
All the pages from 10-K document 0001193125-14-383437 have been tableized and saved.
--------------------------------------------------------------------------------

In [55]:
Checklist

{'10-Q': [], '10-K': []}

In [56]:
QorK

{'10-Q': ['0000320193-20-000052',
  '0000320193-20-000010',
  '0000320193-19-000076',
  '0000320193-19-000066',
  '0000320193-19-000010',
  '0000320193-18-000100',
  '0000320193-18-000070',
  '0000320193-18-000007',
  '0000320193-17-000009',
  '0001628280-17-004790',
  '0001628280-17-000717',
  '0001628280-16-017809',
  '0001193125-16-559625',
  '0001193125-16-439878',
  '0001193125-15-259935',
  '0001193125-15-153166',
  '0001193125-15-023697',
  '0001193125-14-277160',
  '0001193125-14-157311',
  '0001193125-14-024487'],
 '10-K': ['0000320193-19-000119',
  '0000320193-18-000145',
  '0000320193-17-000070',
  '0001628280-16-020309',
  '0001193125-15-356351',
  '0001193125-14-383437']}

In [ ]:
#imported from Amazon, create date July 24, 2020
# New and imporved.
def Quarter( column , k):
    
#     print('column used for quarter', column)
    
    multi_list = [element.split() for element in column if element.split() != []]
#     print('multi_list', multi_list)
    new_column = [item for sublist in multi_list for item in sublist]
#     print('new_column used for year', new_column)
    
    Q = []
    Y = []
    
    for letter in column:
#         print('letter', letter)
        try:
            month = re.findall(r'\w{}+'.format(list(month_dict.keys())), letter.replace(' ',  '') )[0]
            
            Q_num = month_dict[month] 
    #         print('Q_num' , Q_num)
    
            if Q_num != []:
                Q.append(Q_num)
                
        except:
            continue
    #         print('~'*20)
        
    print('Q' , Q) 
        
    if k == '10-K':
        Q_final =['Quarter'] + Qm
        Q_final.insert(1, 0)
        
        
    for letter in new_column:   
        
        #print( letter.split(',') )
        
        Year = [re.compile(r'^[0-9]{4}$').findall(p_s_ele_norm) for p_s_ele_norm in letter.split(',') if re.compile(r'^[0-9]{4}$').findall(p_s_ele_norm) != []]
        Y.append(Year)
#     print(f'Y - {Y}')   # Y - [[], [], [['2015']], [['2016']]]
    
    Y = sorted([num for sublist in Y for item in sublist for num in item])
    print(f'Y - {Y}')
    
#     if k == '10-K' and int(Y[0]) < 2017:
#         Y = [str(int(Y[0]) + 1)]
#         print(f'Changed Y into {Y}')

    
        
    if k == '10-Q' and int(Y[0]) > 2015:
        Q_final =['Quarter'] + sorted(Q, reverse=True)
            
    else:
        Q_final =['Quarter'] + sorted(Q)
    
    
    if k == '10-Q' and int(Y[0]) < 2016:
        Y = sorted(Y, reverse=True)
        Y.insert(0, 'Year')
        
    else:    
        Y.insert(0, 'Year')
    
    #Y.insert(1, 0)

    
    return Q_final, Y
    print( '\n', 'Q_final', Q_final, 'Y', Y)

# Comparing the Old and the New.

In [ ]:
# Sample: Older filing style. 
import pickle
pd.set_option('display.max_columns', 100)
with open("0001564590-19-038256-10-Q.csv", "rb") as fp:
    file = pickle.load(fp)
df01 = file[0]

# df01['CSN_SUM'] = df01['Convertible Senior Notes'].values.sum()
# del df01['Convertible Senior Notes']

# df01['DeferredRevenue'] = df01['Deferred Revenue'].values.sum()
# del df01['Deferred Revenue']

# df01['NoncontrollingInterests'] = df01['Noncontrolling interests in subsidiaries'].values.sum()
# del df01['Noncontrolling interests in subsidiaries']

print(df01.shape)
df01

In [ ]:
duplicate_columns( df01 )

### Newer Filing

In [ ]:
# Sample: Newer filing style. 
import pickle 
import pandas as pd
pd.set_option('display.max_columns', 100)
with open("0001564590-20-019931-10-Q.csv", "rb") as fp:
    file = pickle.load(fp)
df02 = file[0]
print(df02.shape) 
df02

In [ ]:
checking_duplicate_columns( df02 )

In [ ]:
print('Using the Function')

duplicate_columns( df02 )

In [ ]:
# Slamming the Raw DataFrame into the dissected column cleanser. 
print('Not Using the Function')
duplicates = [k for (k,v) in Counter(df02.columns).items() if v > 1] 

for dupli in duplicates: 
    res = df02[dupli].values.sum()
    df02['Total {}'.format(dupli)] = res
    df02.drop(dupli, axis=1, inplace=True)
    
df02

In [ ]:
df02.columns

# Duplicate col_name, add column tgt.
df2 = df02.copy()

# df2['CSN_SUM'] = df2['Convertible Senior Notes'].values.sum()
# del df2['Convertible Senior Notes']

df2['DeferredRevenue'] = df2['Deferred Revenue'].values.sum()
del df2['Deferred Revenue']

df2['NoncontrollingInterests'] = df2['Noncontrolling interests in subsidiaries'].values.sum()
del df2['Noncontrolling interests in subsidiaries']

#df2.set_index(['Year', 'Quarter'], inplace=True)

print( df2.shape )
df2

In [ ]:
checking_duplicate_columns( df2 )

# Concating dfs

### Example code:

In [ ]:
c_ = pd.concat([df2, df01], axis=0, sort=False)

print(c_.shape)
c_

In [ ]:
# Serious Stuff. 
def duplicate_columns( DataF ):
    
    duplicates = [k for (k,v) in Counter(DataF.columns).items() if v > 1] 

    for dupli in duplicates: 
        
        res = DataF[dupli].values.sum()
        
        DataF['Serious {}'.format(dupli)] = res
        
        DataF.drop(dupli, axis=1, inplace=True)

    return DataF

In [ ]:
# Just for checking.
def checking_duplicate_columns( DataF ):
    
    duplicates = [k for (k,v) in Counter(DataF.columns).items() if v > 1] 

    
    print('Shape of df: ', DataF.shape )
    return duplicates

In [ ]:
c_.set_index(['Year', 'Quarter'], inplace=True)
print(c_.shape)
c_

In [ ]:
c1 = c_.copy()
c1.dropna( axis= 1, inplace=True)
print(c1.shape)
c1

# Loading

In [ ]:
QorK = {
    '10-Q': ['0001564590-20-019931', '0001564590-19-038256', '0001564590-19-026445', '0001564590-19-013462', '0001564590-18-026353', '0001564590-18-019254', '0001564590-18-011086', '0001564590-17-021343', '0001564590-17-015705', '0001564590-17-009968', '0001564590-16-026820', '0001564590-16-023024', '0001564590-16-018886', '0001564590-15-009741', '0001564590-15-006666', '0001564590-15-003789'],
    '10-K': ['0001564590-20-004475', '0001564590-19-003165', '0001564590-18-002956', '0001564590-17-003118', '0001564590-16-013195', '0001564590-15-001031']}
QorK

In [ ]:
# Concating all Balance Sheet together.

for k, v in QorK.items():
    
    #if k == '10-Q' and v == '0001564590-17-009968':
        
        for i, vv in enumerate(v):

            # first grab 10-Q documents only
            pages = master_filings_dict[v[i]]['filing_documents'][k]['pages_code']

            try:
                # Extract Table from html code and wrap it as a list of df.
                table_df = table(pages)                 

            except: 
                print('Something went wrong in file {}, file type = {}'.format(v[i], k))

            with open('{}-{}.csv'.format(v[i], k), "wb") as fp:   # Pickling
                pickle.dump(table_df, fp)
                
                  
pd.set_option('display.max_columns', 100)
with open("0001564590-15-001031-10-K.csv", "rb") as fp:
    file = pickle.load(fp)
df1 = file[0]

# Statement Function

In [ ]:
def BS10_K(df)
    
    missing_values = [ '\n', None, '\n', '\n0', '\n$', '\n()']
    
    # Clean df.
    df = df.drop([1,4,5,6,7,8], axis=1, inplace=True)

In [ ]:
def CF10_K(df)

In [ ]:
def SoO10_K(df)

In [ ]:
def BS10_Q(table):
    
    BSdf = []
    missing_values = [ '\n', None, '\n', '\n0', '\n$', '\n()']
    
    # Clean the table. 
    
    row = table.replace(missing_values, '', regex=True)
    file = file.drop(axis=1, columns = [1,4:], inplace=True)

    statement = BSddf.DataFrame(row)
    BSdf.append(statement)
    
    return BSdf

In [ ]:
def CF10_Q(table)

In [ ]:
res_table = []
for table_num, table in enumerate(file):
    
    if table_num > 1:
        print(table_num)
        cleaned_row = cleaning_row(table)

        res_table.append(cleaned_row)

print(res_table)

In [ ]:
# Creating Statment specific files for 
TSLA_BS10_K = []
TSLA_CF10_K = []
TSLA_SoO10_K = []
TSLA_BS10_Q = []
TSLA_CF10_Q = []
TSLA_SoO10_Q = []

for k, v in QorK.items():
    
    if k == '10-K':
        
        for i in range(len(v)):
            
    if k == '10-Q'
    
        for i in range(len(v)):

https://stackoverflow.com/questions/50950614/converting-column-into-multi-index-column