# Comparing the Old and the New.

In [2]:
# Import Library 

import re
import requests
import unicodedata
from bs4 import BeautifulSoup
from pprint import pprint
import numpy as np
from numpy import array
import pandas as pd 
import csv
import pickle
from IPython.display import display
import pickle
from collections import Counter
pd.set_option('display.max_columns', 100)
pd.set_option('display.precision',20)
from IPython.core import display as ICD

# Loading

In [3]:
QorK = {'10-Q': ['0001564590-20-019706',
  '0001564590-20-002450',
  '0001564590-19-037549',
  '0001564590-19-012709',
  '0001564590-19-001392',
  '0001564590-18-024893',
  '0001564590-18-009307',
  '0001564590-18-001129',
  '0001564590-17-020171',
  '0001564590-17-007547',
  '0001564590-17-000654',
  '0001193125-16-742796',
  '0001193125-16-550254',
  '0001193125-16-441821',
  '0001193125-15-350718',
  '0001193125-15-144151',
  '0001193125-15-020351',
  '0001193125-14-380252',
  '0001193125-14-157088',
  '0001193125-14-018634',
  '0001193125-13-409855',
  '0001193125-13-160748',
  '0001193125-13-022207',
  '0001193125-12-427209'],
 '10-K': ['0001564590-19-027952',
  '0001564590-18-019062',
  '0001564590-17-014900',
  '0001193125-16-662209',
  '0001193125-15-272806',
  '0001193125-14-289961',
  '0001193125-13-310206',
  '0001193125-12-316848']}

In [4]:
def duplicate_columns( DataF ):
    
    duplicates = [col_name for (col_name,freq) in Counter(DataF.columns).items() if freq > 1] 
    print('{} duplicates '.format(len(duplicates)), duplicates, '\n')
    
    for dupli in duplicates: 
        #print(DataF[dupli].values)
        try:
            
            res = DataF[dupli].fillna(0).values.sum()
            DataF['Total {}'.format(dupli)] = res
            DataF.drop(dupli, axis=1, inplace=True)
            
        except: 
            DataF.drop(dupli, axis=1, inplace=True)
        
        #DataF.drop(dupli, axis=1, inplace=True)
        
    return DataF

In [5]:
df_list =[]
for k, v in QorK.items():
            
    for i, vv in enumerate(v):
        print(vv, k)
                
        dfs = pd.read_pickle( "{}-{}.csv".format(v[i], k))
        #dfm = dfs[0]
        
        #dfm.drop([2], inplace=True)
        
        ICD.display(dfs)
        
        # Add unique identity to row 
        dfs['Filing/Acc.No.'] = '{}, {}'.format(k, vv)
        # handle duplicate column name
        df_list.append( duplicate_columns(dfs) )
        
        #print(df_list[0].shape)
        
#ICD.display(abt)

0001564590-20-019706 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Equity investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other current liabilities,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q1,2020,None,None,11710000000,125916000000,137626000000,22699000000,1644000000,8536000000,170505000000,41221000000,8448000000,2660000000,42064000000,6855000000,13696000000,285449000000,None,None,9246000000,3748000000,6254000000,3296000000,27012000000,9151000000,58707000000,62862000000,28888000000,3385000000,185000000,7248000000,9673000000,170948000000,None,None,79813000000,32012000000,2676000000,114501000000,285449000000

1 duplicates  ['Shareholder Equity']

0001564590-20-002450 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Equity investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other current liabilities,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive loss,Shareholder Equity,Total liabilities and equity
0,None,Q4,2019,None,None,8864000000,125389000000,134253000000,23525000000,1823000000,7473000000,167074000000,40522000000,8439000000,2755000000,42248000000,7126000000,14630000000,282794000000,None,None,8811000000,6247000000,5421000000,2687000000,27343000000,9131000000,59640000000,63361000000,28754000000,3878000000,222000000,7172000000,9658000000,172685000000,None,None,79625000000,30739000000,255000000,110109000000,282794000000

1 duplicates  ['Shareholder Equity']

0001564590-19-037549 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other current assets,Total current assets,Property and Equipment,Operating lease right of use assets,Equity investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other current liabilities,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive loss,Shareholder Equity,Total liabilities and equity
0,None,Q3,2019,None,None,13117000000,123519000000,136636000000,19087000000,2622000000,7551000000,165896000000,38409000000,7890000000,2684000000,42113000000,7508000000,14455000000,278955000000,None,None,8574000000,3017000000,4676000000,3440000000,29904000000,8507000000,58118000000,66478000000,28457000000,4122000000,234000000,6659000000,8826000000,172894000000,None,None,78882000000,27240000000,61000000,106061000000,278955000000

1 duplicates  ['Shareholder Equity']

0001564590-19-012709 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Operating lease right of use assets,Equity investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive loss,Shareholder Equity,Total liabilities and equity
0,None,Q1,2019,None,None,11212000000,120406000000,131618000000,19269000000,1951000000,7049000000,159887000000,33648000000,7121000000,2403000000,41861000000,8103000000,10258000000,263281000000,None,None,7544000000,6515000000,5764000000,1950000000,24251000000,7837000000,53861000000,66585000000,29514000000,3884000000,1838000000,5972000000,6763000000,168417000000,None,None,77791000000,18338000000,1265000000,94864000000,263281000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-19-001392 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Operating lease right of use assets,Equity investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive loss,Shareholder Equity,Total liabilities and equity
0,None,Q4,2018,None,None,6638000000,121024000000,127662000000,19680000000,1961000000,7571000000,156874000000,32717000000,6806000000,2274000000,41577000000,8482000000,10129000000,258859000000,None,None,7563000000,3516000000,4624000000,2033000000,24285000000,8297000000,50318000000,69653000000,29161000000,3799000000,2062000000,5683000000,6055000000,166731000000,None,None,77556000000,16585000000,2013000000,92128000000,258859000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-18-024893 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Operating lease right of use assets,Equity investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive loss,Shareholder Equity,Total liabilities and equity
0,None,Q3,2018,None,None,15137000000,120743000000,135880000000,17390000000,3614000000,7311000000,164195000000,31430000000,6734000000,2034000000,35855000000,7579000000,9792000000,257619000000,None,None,8511000000,6497000000,4271000000,2341000000,26704000000,7953000000,56277000000,69733000000,28936000000,3538000000,1977000000,5652000000,5539000000,171652000000,None,None,71303000000,17279000000,2615000000,85967000000,257619000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-18-009307 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Operating lease right of use assets,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q1,2018,None,None,9221000000,123049000000,132270000000,17208000000,2084000000,5097000000,156659000000,27929000000,6859000000,2818000000,35582000000,8544000000,7106000000,245497000000,None,None,7623000000,230000000,3447000000,5149000000,814000000,21370000000,7500000000,46133000000,73480000000,30669000000,2585000000,2417000000,5751000000,5223000000,166258000000,None,None,70418000000,9974000000,1153000000,79239000000,245497000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-18-001129 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Operating lease right of use assets,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q4,2017,None,None,12859000000,129921000000,142780000000,18428000000,2003000000,4422000000,167633000000,26304000000,6749000000,3961000000,35355000000,9034000000,6967000000,256003000000,None,None,7850000000,12466000000,3446000000,4427000000,788000000,21309000000,26000000,7787000000,58099000000,73348000000,30050000000,2500000000,3186000000,5640000000,4820000000,177643000000,None,None,70192000000,8567000000,399000000,78360000000,256003000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-17-020171 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Operating lease right of use assets,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q3,2017,None,None,6884000000,131587000000,138471000000,14561000000,3211000000,4788000000,161031000000,24809000000,6844000000,5343000000,35389000000,9598000000,6083000000,249097000000,None,None,6866000000,8170000000,1050000000,4108000000,920000000,22778000000,203000000,7520000000,51615000000,76255000000,2126000000,5513000000,5768000000,18173000000,159450000000,None,None,69419000000,19702000000,526000000,89647000000,249097000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-17-007547 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q1,2017,None,None,6713000000,119305000000,126018000000,12882000000,1979000000,5434000000,146313000000,21962000000,7381000000,34668000000,10547000000,4146000000,225017000000,None,None,6217000000,7187000000,599000000,4604000000,654000000,26518000000,201000000,6025000000,52005000000,76222000000,9215000000,465000000,17381000000,155288000000,None,None,68554000000,531000000,644000000,69729000000,225017000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-17-000654 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q4,2016,None,None,8468000000,114313000000,122781000000,14343000000,1961000000,5864000000,144949000000,21379000000,8912000000,34524000000,11001000000,3845000000,224610000000,None,None,6580000000,25065000000,599000000,3982000000,508000000,26085000000,1280000000,6688000000,70787000000,59306000000,8595000000,1133000000,15980000000,155801000000,None,None,68177000000,120000000,512000000,68809000000,224610000000

2 duplicates  ['Other', 'Shareholder Equity']

0001193125-16-742796 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q3,2016,None,None,13928000000,123004000000,136932000000,11129000000,3122000000,6726000000,157909000000,19224000000,10486000000,17907000000,3522000000,3476000000,212524000000,None,None,6296000000,14536000000,3621000000,720000000,26304000000,210000000,7123000000,58810000000,60154000000,7284000000,1564000000,14340000000,142152000000,None,None,67747000000,944000000,1681000000,70372000000,212524000000

2 duplicates  ['Other', 'Shareholder Equity']

0001193125-16-550254 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q1,2016,None,None,7170000000,98382000000,105552000000,12247000000,2450000000,1574000000,6598000000,128421000000,16831000000,11315000000,17948000000,4459000000,2895000000,181869000000,None,None,6759000000,5498000000,0,4276000000,685000000,20876000000,373000000,5887000000,44354000000,40896000000,5017000000,2674000000,14122000000,107063000000,None,None,68012000000,4954000000,1840000000,74806000000,181869000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-16-441821 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q4,2015,None,None,7185000000,95455000000,102640000000,14507000000,2702000000,1618000000,6345000000,127812000000,15789000000,11514000000,17436000000,4619000000,2928000000,180098000000,None,None,6936000000,3000000000,750000000,3649000000,493000000,20929000000,439000000,6447000000,42643000000,40679000000,4102000000,2194000000,13700000000,103318000000,None,None,68279000000,6728000000,1773000000,76780000000,180098000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-15-350718 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q3,2015,None,None,5431000000,93924000000,99355000000,11444000000,3816000000,1447000000,5594000000,121656000000,15046000000,11438000000,17142000000,4745000000,2869000000,172896000000,None,None,6630000000,9998000000,750000000,3450000000,607000000,21603000000,154000000,6207000000,49399000000,27819000000,2784000000,2169000000,13280000000,95451000000,None,None,68093000000,7614000000,1738000000,77445000000,172896000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-15-144151 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q1,2015,None,None,7414000000,88024000000,95438000000,12427000000,2469000000,1688000000,6376000000,118398000000,14375000000,12019000000,21728000000,6963000000,3200000000,176683000000,None,None,6690000000,1725000000,2499000000,3902000000,758000000,18232000000,96000000,6846000000,40748000000,27644000000,1966000000,2919000000,13274000000,86551000000,None,None,68475000000,18186000000,3471000000,90132000000,176683000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-15-020351 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q4,2014,None,None,6426000000,83823000000,90249000000,16186000000,2053000000,1701000000,6173000000,116362000000,13607000000,12665000000,21855000000,7299000000,3060000000,174848000000,None,None,6932000000,8299000000,1749000000,3479000000,711000000,19192000000,430000000,6623000000,47415000000,18260000000,2051000000,2820000000,12423000000,82969000000,None,None,68765000000,19731000000,3383000000,91879000000,174848000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-14-380252 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q3,2014,None,None,6302000000,82891000000,89193000000,12887000000,3141000000,1784000000,5434000000,112439000000,13229000000,13943000000,20081000000,6693000000,3271000000,169656000000,None,None,6769000000,3500000000,1748000000,3740000000,903000000,20713000000,191000000,7130000000,44694000000,18472000000,1825000000,2714000000,11781000000,79486000000,None,None,68362000000,18051000000,3757000000,90170000000,169656000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-14-157088 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q1,2014,None,None,11572000000,76853000000,88425000000,13497000000,1920000000,1424000000,3740000000,109006000000,11771000000,14792000000,14751000000,2901000000,2898000000,156119000000,None,None,4583000000,2000000000,3887000000,694000000,17670000000,794000000,4275000000,33903000000,20679000000,1842000000,2318000000,9953000000,68695000000,None,None,67803000000,16289000000,3332000000,87424000000,156119000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-14-018634 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q4,2013,None,None,10059000000,73885000000,83944000000,15986000000,1594000000,1328000000,4018000000,106870000000,11567000000,14607000000,14680000000,2945000000,2874000000,153543000000,None,None,5398000000,300000000,2000000000,3169000000,591000000,17616000000,748000000,3920000000,33742000000,20676000000,1858000000,2377000000,9790000000,68443000000,None,None,67476000000,14347000000,3277000000,85100000000,153543000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-13-409855 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q3,2013,None,None,4023000000,76649000000,80672000000,11007000000,2613000000,1258000000,3900000000,99450000000,10774000000,11995000000,14667000000,2982000000,2480000000,142348000000,None,None,4841000000,1300000000,2000000000,2856000000,834000000,18585000000,582000000,3625000000,34623000000,12632000000,1629000000,2236000000,9587000000,60707000000,None,None,67230000000,11680000000,2731000000,81641000000,142348000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-13-160748 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q1,2013,None,None,5240000000,69243000000,74483000000,11991000000,2133000000,1676000000,3241000000,93524000000,9204000000,11193000000,14682000000,3240000000,2262000000,134105000000,None,None,4532000000,2246000000,3474000000,689000000,16511000000,564000000,3913000000,31929000000,11949000000,1394000000,2424000000,9721000000,57417000000,None,None,66826000000,7657000000,2205000000,76688000000,134105000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-13-022207 10-Q

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q4,2012,None,None,6017000000,62295000000,68312000000,14317000000,1661000000,1983000000,3301000000,89574000000,8698000000,10707000000,14727000000,3341000000,1636000000,128683000000,None,None,4356000000,2241000000,2942000000,630000000,18354000000,21000000,3366000000,31910000000,11947000000,1459000000,2394000000,8397000000,56107000000,None,None,66334000000,4236000000,2006000000,72576000000,128683000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-12-427209 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,Q3,2012,None,None,5036000000,61608000000,66644000000,9871000000,1624000000,2052000000,3860000000,84051000000,8329000000,10038000000,14466000000,3423000000,1569000000,121876000000,None,None,3631000000,2236000000,2666000000,847000000,18295000000,415000000,3312000000,31402000000,9714000000,1292000000,2209000000,8423000000,53040000000,None,None,66084000000,932000000,1820000000,68836000000,121876000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001564590-19-027952 10-K

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Operating lease right of use assets,Equity investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive loss,Shareholder Equity,Total liabilities and equity
0,None,Q2,2019,None,None,11356000000,122463000000,133819000000,29524000000,2063000000,10146000000,175552000000,36477000000,7379000000,2649000000,42026000000,7750000000,14723000000,286556000000,None,None,9382000000,5516000000,6830000000,5665000000,32676000000,9351000000,69420000000,66662000000,29612000000,4530000000,233000000,6188000000,7581000000,184226000000,None,None,78520000000,24150000000,340000000,102330000000,286556000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-18-019062 10-K

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Operating lease right of use assets,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Short term income taxes,Short term unearned revenue,Other,Total current liabilities,Long term debt,Long term income taxes,Long term unearned revenue,Deferred income taxes,Operating lease liabilities,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q2,2018,None,None,11946000000,121822000000,133768000000,26481000000,2662000000,6751000000,169662000000,29460000000,6686000000,1862000000,35683000000,8053000000,7442000000,258848000000,None,None,8617000000,0,3998000000,6103000000,2121000000,28905000000,8744000000,58488000000,72242000000,30265000000,3815000000,541000000,5568000000,5211000000,176130000000,None,None,71223000000,13682000000,2187000000,82718000000,258848000000

2 duplicates  ['Other', 'Shareholder Equity']

0001564590-17-014900 10-K

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q2,2017,None,None,7663000000,125318000000,132981000000,19792000000,2181000000,4897000000,159851000000,23734000000,6023000000,35122000000,10106000000,6250000000,241086000000,None,None,7390000000,9072000000,1049000000,5819000000,718000000,34102000000,97000000,6280000000,64527000000,76073000000,10377000000,531000000,17184000000,168692000000,None,None,69315000000,2648000000,431000000,72394000000,241086000000

2 duplicates  ['Other', 'Shareholder Equity']

0001193125-16-662209 10-K

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q2,2016,None,None,6510000000,106730000000,113240000000,18277000000,2251000000,5892000000,139660000000,18356000000,10431000000,17872000000,3733000000,3642000000,193694000000,None,None,6898000000,12904000000,0,5264000000,580000000,27468000000,294000000,5949000000,59357000000,40783000000,6441000000,1476000000,13640000000,121697000000,None,None,68178000000,2282000000,1537000000,71997000000,193694000000

2 duplicates  ['Other', 'Shareholder Equity']

0001193125-15-272806 10-K

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q2,2015,None,None,5595000000,90931000000,96526000000,17908000000,2902000000,1915000000,5461000000,124712000000,14731000000,12053000000,16939000000,4835000000,2953000000,176223000000,None,None,6591000000,4985000000,2499000000,5096000000,606000000,23223000000,92000000,6766000000,49858000000,27808000000,2095000000,2835000000,13544000000,96140000000,None,None,68465000000,9096000000,2522000000,80083000000,176223000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-14-289961 10-K

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Short term debt,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q2,2014,None,None,8669000000,77040000000,85709000000,19544000000,2660000000,1941000000,4392000000,114246000000,13011000000,14597000000,20127000000,6981000000,3422000000,172384000000,None,None,7432000000,2000000000,0,4797000000,782000000,23150000000,558000000,6906000000,45625000000,20645000000,2008000000,2728000000,11594000000,82600000000,None,None,68366000000,17710000000,3708000000,89784000000,172384000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-13-310206 10-K

,,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Accumulated other comprehensive income,Shareholder Equity,Total liabilities and equity
0,None,Q2,2013,None,None,3804000000,73218000000,77022000000,17486000000,1938000000,1632000000,3388000000,101466000000,9991000000,10844000000,14655000000,3083000000,2392000000,142431000000,None,None,4828000000,2999000000,4117000000,592000000,20639000000,645000000,3597000000,37417000000,12601000000,1760000000,1709000000,10000000000,63487000000,None,None,67306000000,9895000000,1743000000,78944000000,142431000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

0001193125-12-316848 10-K

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Total cash,Accounts Receivable,Inventory,Deferred income taxes,Other,Total current assets,Property and Equipment,Equity and other investments,Goodwill,Intangible assets,Other long term assets,Total assets,Shareholder Equity,Current liabilities,Accounts payable,Current portion of long term debt,Accrued compensation,Income taxes,Short term unearned revenue,Securities lending payable,Other,Total current liabilities,Long term debt,Long term unearned revenue,Deferred income taxes,Other long term liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2012,None,None,6938000000,56102000000,63040000000,15780000000,1137000000,2035000000,3092000000,85084000000,8269000000,9776000000,13452000000,3170000000,1520000000,121271000000,None,None,4175000000,1231000000,3875000000,789000000,18653000000,814000000,3151000000,32688000000,10713000000,1406000000,1893000000,8208000000,54908000000,None,None,65797000000,566000000,66363000000,121271000000

3 duplicates  ['Deferred income taxes', 'Other', 'Shareholder Equity']

In [6]:
abt = pd.concat(df_list, sort=False)

In [7]:
abt.reset_index(drop=True, inplace=True)

In [8]:
print(list(abt.columns))
print(abt.shape)

['', 'Quarter', 'Year', 'Assets', 'Current assets', 'Cash', 'Short term investments', 'Total cash', 'Accounts Receivable', 'Inventory', 'Other current assets', 'Total current assets', 'Property and Equipment', 'Operating lease right of use assets', 'Equity investments', 'Goodwill', 'Intangible assets', 'Other long term assets', 'Total assets', 'Current liabilities', 'Accounts payable', 'Current portion of long term debt', 'Accrued compensation', 'Short term income taxes', 'Short term unearned revenue', 'Other current liabilities', 'Total current liabilities', 'Long term debt', 'Long term income taxes', 'Long term unearned revenue', 'Deferred income taxes', 'Operating lease liabilities', 'Other long term liabilities', 'Total liabilities', 'Commitments and contingencies', 'Common Stock', 'Retained Earnings', 'Accumulated other comprehensive income ', 'Total liabilities and equity', 'Filing/Acc.No.', 'Total Shareholder Equity', 'Accumulated other comprehensive loss', 'Total Other', 'Equity and other investments', 'Short term debt', 'Securities lending payable', 'Income taxes', 'Accumulated other comprehensive income', 'Total Deferred income taxes']
(32, 49)

In [9]:
del_col = ['Assets',
 'Commitments and contingencies',
 'Current assets',
 'Current liabilities',
 'Current portion of long term debt',
 'Deferred income taxes',
 'Equity and other investments',
 'Equity investments',
 'Income taxes',
 'Long term income taxes',
 'Operating lease liabilities',
 'Operating lease right of use assets',
 'Other current assets',
 'Other current liabilities',
 'Securities lending payable',
 'Short term debt',
 'Short term income taxes',
 'Total Deferred income taxes']

In [10]:
# Total cash encompasses Cash, 
abt.drop(['Total cash'], axis=1, inplace=True )

In [11]:
OCI = ['Accumulated other comprehensive income', 'Accumulated other comprehensive income ', 'Accumulated other comprehensive loss']
abt['Accumulated comprehensive income'] = abt[OCI].sum(axis=1)
abt.drop(OCI, axis=1, inplace=True)

In [12]:
count = 0 
for columns in abt:
    
    ratio = abt[columns].isna().astype(int).mean()
    if 0.9 > ratio > 0.5:
        print(f' {count}.  "{columns}" ')
        print( ratio )
        print()
        count+=1

 0.  "Operating lease right of use assets"
0.65625

 1.  "Equity investments"
0.78125

 2.  "Short term income taxes"
0.6875

 3.  "Long term income taxes"
0.6875

 4.  "Operating lease liabilities"
0.65625

In [13]:
abt[['Year', 'Quarter', 'Current portion of long term debt']].notna().astype(int).mean()

Year                                 1.00000
Quarter                              1.00000
Current portion of long term debt    0.96875
dtype: float64

In [14]:
def del_empty_col( df ):
    
    for columns in df:
        
        df.replace(0, np.nan, inplace=True)
        
        if df[columns].isna().astype(int).mean() > 0.1:
            df.drop([columns], inplace=True, axis=1)
            
    df.fillna(0)
        
    return df

In [15]:
del_empty_col(abt).fillna(0)

,Quarter,Year,Cash,Short term investments,Accounts Receivable,Inventory,Total current assets,Property and Equipment,Goodwill,Intangible assets,Other long term assets,Total assets,Accounts payable,Accrued compensation,Short term unearned revenue,Total current liabilities,Long term debt,Long term unearned revenue,Other long term liabilities,Total liabilities,Common Stock,Retained Earnings,Total liabilities and equity,Filing/Acc.No.,Total Shareholder Equity,Total Other,Accumulated comprehensive income
0,Q1,2020,11710000000,125916000000,22699000000,1644000000,170505000000,41221000000,42064000000,6855000000,13696000000,285449000000,9246000000,6254000000,27012000000,58707000000,62862000000,3385000000,9673000000,170948000000,79813000000,32012000000,285449000000,"10-Q, 0001564590-20-019706",114501000000,0.0,2676000000.0
1,Q4,2019,8864000000,125389000000,23525000000,1823000000,167074000000,40522000000,42248000000,7126000000,14630000000,282794000000,8811000000,5421000000,27343000000,59640000000,63361000000,3878000000,9658000000,172685000000,79625000000,30739000000,282794000000,"10-Q, 0001564590-20-002450",110109000000,0.0,255000000.0
2,Q3,2019,13117000000,123519000000,19087000000,2622000000,165896000000,38409000000,42113000000,7508000000,14455000000,278955000000,8574000000,4676000000,29904000000,58118000000,66478000000,4122000000,8826000000,172894000000,78882000000,27240000000,278955000000,"10-Q, 0001564590-19-037549",106061000000,0.0,61000000.0
3,Q1,2019,11212000000,120406000000,19269000000,1951000000,159887000000,33648000000,41861000000,8103000000,10258000000,263281000000,7544000000,5764000000,24251000000,53861000000,66585000000,3884000000,6763000000,168417000000,77791000000,18338000000,263281000000,"10-Q, 0001564590-19-012709",94864000000,14886000000.0,1265000000.0
4,Q4,2018,6638000000,121024000000,19680000000,1961000000,156874000000,32717000000,41577000000,8482000000,10129000000,258859000000,7563000000,4624000000,24285000000,50318000000,69653000000,3799000000,6055000000,166731000000,77556000000,16585000000,258859000000,"10-Q, 0001564590-19-001392",92128000000,15868000000.0,2013000000.0
5,Q3,2018,15137000000,120743000000,17390000000,3614000000,164195000000,31430000000,35855000000,7579000000,9792000000,257619000000,8511000000,4271000000,26704000000,56277000000,69733000000,3538000000,5539000000,171652000000,71303000000,17279000000,257619000000,"10-Q, 0001564590-18-024893",85967000000,15264000000.0,2615000000.0
6,Q1,2018,9221000000,123049000000,17208000000,2084000000,156659000000,27929000000,35582000000,8544000000,7106000000,245497000000,7623000000,5149000000,21370000000,46133000000,73480000000,2585000000,5223000000,166258000000,70418000000,9974000000,245497000000,"10-Q, 0001564590-18-009307",79239000000,12597000000.0,1153000000.0
7,Q4,2017,12859000000,129921000000,18428000000,2003000000,167633000000,26304000000,35355000000,9034000000,6967000000,256003000000,7850000000,4427000000,21309000000,58099000000,73348000000,2500000000,4820000000,177643000000,70192000000,8567000000,256003000000,"10-Q, 0001564590-18-001129",78360000000,12209000000.0,399000000.0
8,Q3,2017,6884000000,131587000000,14561000000,3211000000,161031000000,24809000000,35389000000,9598000000,6083000000,249097000000,6866000000,4108000000,22778000000,51615000000,76255000000,2126000000,18173000000,159450000000,69419000000,19702000000,249097000000,"10-Q, 0001564590-17-020171",89647000000,12308000000.0,526000000.0
9,Q1,2017,6713000000,119305000000,12882000000,1979000000,146313000000,21962000000,34668000000,10547000000,4146000000,225017000000,6217000000,4604000000,26518000000,52005000000,76222000000,9215000000,17381000000,155288000000,68554000000,531000000,225017000000,"10-Q, 0001564590-17-007547",69729000000,11459000000.0,644000000.0
10,Q4,2016,8468000000,114313000000,14343000000,1961000000,144949000000,21379000000,34524000000,11001000000,3845000000,224610000000,6580000000,3982000000,26085000000,70787000000,59306000000,8595000000,15980000000,155801000000,68177000000,120000000,224610000000,"10-Q, 0001564590-17-000654",68809000000,12552000000.0,512000000.0
11,Q3,2016,13928000000,123004000000,11129000000,3122000000,157909000000,19224000000,17907000000,3522000000,3476000000,212524000000,6296000000,3621000000,26304000000,58810000000,60154000000,7284000000,14340000000,142152000000,67747000000,944000000,212524000000,"10-Q, 0001193125-16-742796",70372000000,13849000000.0,1681000000.0
12,Q1,2016,7170000000,98382000000,12247000000,2450000000,128421000000,16831000000,17948000000,4459000000,2895000000,181869000000,6759000000,4276000000,20876000000,44354000000,40896000000,5017000000,14122000000,107063000000,68012000000,4954000000,181869000000,"10-Q, 0001193125-16-550254",74806000000,12485000000.0,1840000000.0
13,Q4,2015,7185000000,95455000000,14507000000,2702000000,127812000000,15789000000,17436000000,4619000000,2928000000,180098000000,6936000000,3649000000,20929000000,42643000000,40679000000,4102000000,13700000000,103318000000,68279000000,6728000000,180098000000,"10-Q, 0001193125-16-441821",76780000000,12792000000.0,1773000000.0
14,Q3,2015,5431000000,93924000000,11444000000,3816000000,121656000000,15046000000,17142000000,4745000000,2869000000,172896000000,6630000000,3450000000,21603000000,49399000000,27819000000,2784000000,13280000000,95451000000,68093000000,7614000000,172896000000,"10-Q, 0001193125-15-350718",77445000000,11801000000.0,1738000000.0
15,Q1,2015,7414000000,88024000000,12427000000,2469000000,118398000000,14375000000,21728000000,6963000000,3200000000,176683000000,6690000000,3902000000,18232000000,40748000000,27644000000,1966000000,13274000000,86551000000,68475000000,18186000000,176683000000,"10-Q, 0001193125-15-144151",90132000000,13222000000.0,3471000000.0
16,Q4,2014,6426000000,83823000000,16186000000,2053000000,116362000000,13607000000,21855000000,7299000000,3060000000,174848000000,6932000000,3479000000,19192000000,47415000000,18260000000,2051000000,12423000000,82969000000,68765000000,19731000000,174848000000,"10-Q, 0001193125-15-020351",91879000000,12796000000.0,3383000000.0
17,Q3,2014,6302000000,82891000000,12887000000,3141000000,112439000000,13229000000,20081000000,6693000000,3271000000,169656000000,6769000000,3740000000,20713000000,44694000000,18472000000,1825000000,11781000000,79486000000,68362000000,18051000000,169656000000,"10-Q, 0001193125-14-380252",90170000000,12564000000.0,3757000000.0
18,Q1,2014,11572000000,76853000000,13497000000,1920000000,109006000000,11771000000,14751000000,2901000000,2898000000,156119000000,4583000000,3887000000,17670000000,33903000000,20679000000,1842000000,9953000000,68695000000,67803000000,16289000000,156119000000,"10-Q, 0001193125-14-157088",87424000000,8015000000.0,3332000000.0
19,Q4,2013,10059000000,73885000000,15986000000,1594000000,106870000000,11567000000,14680000000,2945000000,2874000000,153543000000,5398000000,3169000000,17616000000,33742000000,20676000000,1858000000,9790000000,68443000000,67476000000,14347000000,153543000000,"10-Q, 0001193125-14-018634",85100000000,7938000000.0,3277000000.0
20,Q3,2013,4023000000,76649000000,11007000000,2613000000,99450000000,10774000000,14667000000,2982000000,2480000000,142348000000,4841000000,2856000000,18585000000,34623000000,12632000000,1629000000,9587000000,60707000000,67230000000,11680000000,142348000000,"10-Q, 0001193125-13-409855",81641000000,7525000000.0,2731000000.0
21,Q1,2013,5240000000,69243000000,11991000000,2133000000,93524000000,9204000000,14682000000,3240000000,2262000000,134105000000,4532000000,3474000000,16511000000,31929000000,11949000000,1394000000,9721000000,57417000000,66826000000,7657000000,134105000000,"10-Q, 0001193125-13-160748",76688000000,7154000000.0,2205000000.0
22,Q4,2012,6017000000,62295000000,14317000000,1661000000,89574000000,8698000000,14727000000,3341000000,1636000000,128683000000,4356000000,2942000000,18354000000,31910000000,11947000000,1459000000,8397000000,56107000000,66334000000,4236000000,128683000000,"10-Q, 0001193125-13-022207",72576000000,6667000000.0,2006000000.0
23,Q3,2012,5036000000,61608000000,9871000000,1624000000,84051000000,8329000000,14466000000,3423000000,1569000000,121876000000,3631000000,2666000000,18295000000,31402000000,9714000000,1292000000,8423000000,53040000000,66084000000,932000000,121876000000,"10-Q, 0001193125-12-427209",68836000000,7172000000.0,1820000000.0
24,Q2,2019,11356000000,122463000000,29524000000,2063000000,175552000000,36477000000,42026000000,7750000000,14723000000,286556000000,9382000000,6830000000,32676000000,69420000000,66662000000,4530000000,7581000000,184226000000,78520000000,24150000000,286556000000,"10-K, 0001564590-19-027952",102330000000,19497000000.0,340000000.0
25,Q2,2018,11946000000,121822000000,26481000000,2662000000,169662000000,29460000000,35683000000,8053000000,7442000000,258848000000,8617000000,6103000000,28905000000,58488000000,72242000000,3815000000,5211000000,176130000000,71223000000,13682000000,258848000000,"10-K, 0001564590-18-019062",82718000000,15495000000.0,2187000000.0
26,Q2,2017,7663000000,125318000000,19792000000,2181000000,159851000000,23734000000,35122000000,10106000000,6250000000,241086000000,7390000000,5819000000,34102000000,64527000000,76073000000,10377000000,17184000000,168692000000,69315000000,2648000000,241086000000,"10-K, 0001564590-17-014900",72394000000,11177000000.0,431000000.0
27,Q2,2016,6510000000,106730000000,18277000000,2251000000,139660000000,18356000000,17872000000,3733000000,3642000000,193694000000,6898000000,5264000000,27468000000,59357000000,40783000000,6441000000,13640000000,121697000000,68178000000,2282000000,193694000000,"10-K, 0001193125-16-662209",71997000000,11841000000.0,1537000000.0
28,Q2,2015,5595000000,90931000000,17908000000,2902000000,124712000000,14731000000,16939000000,4835000000,2953000000,176223000000,6591000000,5096000000,23223000000,49858000000,27808000000,2095000000,13544000000,96140000000,68465000000,9096000000,176223000000,"10-K, 0001193125-15-272806",80083000000,12227000000.0,2522000000.0
29,Q2,2014,8669000000,77040000000,19544000000,2660000000,114246000000,13011000000,20127000000,6981000000,3422000000,172384000000,7432000000,4797000000,23150000000,45625000000,20645000000,2008000000,11594000000,82600000000,68366000000,17710000000,172384000000,"10-K, 0001193125-14-289961",89784000000,11298000000.0,3708000000.0
30,Q2,2013,3804000000,73218000000,17486000000,1938000000,101466000000,9991000000,14655000000,3083000000,2392000000,142431000000,4828000000,4117000000,20639000000,37417000000,12601000000,1760000000,10000000000,63487000000,67306000000,9895000000,142431000000,"10-K, 0001193125-13-310206",78944000000,6985000000.0,1743000000.0
31,Q2,2012,6938000000,56102000000,15780000000,1137000000,85084000000,8269000000,13452000000,3170000000,1520000000,121271000000,4175000000,3875000000,18653000000,32688000000,10713000000,1406000000,8208000000,54908000000,65797000000,566000000,121271000000,"10-K, 0001193125-12-316848",66363000000,6243000000.0,0.0

In [16]:
# Just for checking.
def checking_duplicate_columns( DataF ):
    
    duplicates = [k for (k,v) in Counter(DataF.columns).items() if v > 1] 
    
    print('Shape of df: ', DataF.shape )
    return duplicates

In [17]:
checking_duplicate_columns(abt)

Shape of df:  (32, 27)

[]

In [18]:
abt

,Quarter,Year,Cash,Short term investments,Accounts Receivable,Inventory,Total current assets,Property and Equipment,Goodwill,Intangible assets,Other long term assets,Total assets,Accounts payable,Accrued compensation,Short term unearned revenue,Total current liabilities,Long term debt,Long term unearned revenue,Other long term liabilities,Total liabilities,Common Stock,Retained Earnings,Total liabilities and equity,Filing/Acc.No.,Total Shareholder Equity,Total Other,Accumulated comprehensive income
0,Q1,2020,11710000000,125916000000,22699000000,1644000000,170505000000,41221000000,42064000000,6855000000,13696000000,285449000000,9246000000,6254000000,27012000000,58707000000,62862000000,3385000000,9673000000,170948000000,79813000000,32012000000,285449000000,"10-Q, 0001564590-20-019706",114501000000,NaN,2676000000.0
1,Q4,2019,8864000000,125389000000,23525000000,1823000000,167074000000,40522000000,42248000000,7126000000,14630000000,282794000000,8811000000,5421000000,27343000000,59640000000,63361000000,3878000000,9658000000,172685000000,79625000000,30739000000,282794000000,"10-Q, 0001564590-20-002450",110109000000,NaN,255000000.0
2,Q3,2019,13117000000,123519000000,19087000000,2622000000,165896000000,38409000000,42113000000,7508000000,14455000000,278955000000,8574000000,4676000000,29904000000,58118000000,66478000000,4122000000,8826000000,172894000000,78882000000,27240000000,278955000000,"10-Q, 0001564590-19-037549",106061000000,NaN,61000000.0
3,Q1,2019,11212000000,120406000000,19269000000,1951000000,159887000000,33648000000,41861000000,8103000000,10258000000,263281000000,7544000000,5764000000,24251000000,53861000000,66585000000,3884000000,6763000000,168417000000,77791000000,18338000000,263281000000,"10-Q, 0001564590-19-012709",94864000000,14886000000.0,1265000000.0
4,Q4,2018,6638000000,121024000000,19680000000,1961000000,156874000000,32717000000,41577000000,8482000000,10129000000,258859000000,7563000000,4624000000,24285000000,50318000000,69653000000,3799000000,6055000000,166731000000,77556000000,16585000000,258859000000,"10-Q, 0001564590-19-001392",92128000000,15868000000.0,2013000000.0
5,Q3,2018,15137000000,120743000000,17390000000,3614000000,164195000000,31430000000,35855000000,7579000000,9792000000,257619000000,8511000000,4271000000,26704000000,56277000000,69733000000,3538000000,5539000000,171652000000,71303000000,17279000000,257619000000,"10-Q, 0001564590-18-024893",85967000000,15264000000.0,2615000000.0
6,Q1,2018,9221000000,123049000000,17208000000,2084000000,156659000000,27929000000,35582000000,8544000000,7106000000,245497000000,7623000000,5149000000,21370000000,46133000000,73480000000,2585000000,5223000000,166258000000,70418000000,9974000000,245497000000,"10-Q, 0001564590-18-009307",79239000000,12597000000.0,1153000000.0
7,Q4,2017,12859000000,129921000000,18428000000,2003000000,167633000000,26304000000,35355000000,9034000000,6967000000,256003000000,7850000000,4427000000,21309000000,58099000000,73348000000,2500000000,4820000000,177643000000,70192000000,8567000000,256003000000,"10-Q, 0001564590-18-001129",78360000000,12209000000.0,399000000.0
8,Q3,2017,6884000000,131587000000,14561000000,3211000000,161031000000,24809000000,35389000000,9598000000,6083000000,249097000000,6866000000,4108000000,22778000000,51615000000,76255000000,2126000000,18173000000,159450000000,69419000000,19702000000,249097000000,"10-Q, 0001564590-17-020171",89647000000,12308000000.0,526000000.0
9,Q1,2017,6713000000,119305000000,12882000000,1979000000,146313000000,21962000000,34668000000,10547000000,4146000000,225017000000,6217000000,4604000000,26518000000,52005000000,76222000000,9215000000,17381000000,155288000000,68554000000,531000000,225017000000,"10-Q, 0001564590-17-007547",69729000000,11459000000.0,644000000.0
10,Q4,2016,8468000000,114313000000,14343000000,1961000000,144949000000,21379000000,34524000000,11001000000,3845000000,224610000000,6580000000,3982000000,26085000000,70787000000,59306000000,8595000000,15980000000,155801000000,68177000000,120000000,224610000000,"10-Q, 0001564590-17-000654",68809000000,12552000000.0,512000000.0
11,Q3,2016,13928000000,123004000000,11129000000,3122000000,157909000000,19224000000,17907000000,3522000000,3476000000,212524000000,6296000000,3621000000,26304000000,58810000000,60154000000,7284000000,14340000000,142152000000,67747000000,944000000,212524000000,"10-Q, 0001193125-16-742796",70372000000,13849000000.0,1681000000.0
12,Q1,2016,7170000000,98382000000,12247000000,2450000000,128421000000,16831000000,17948000000,4459000000,2895000000,181869000000,6759000000,4276000000,20876000000,44354000000,40896000000,5017000000,14122000000,107063000000,68012000000,4954000000,181869000000,"10-Q, 0001193125-16-550254",74806000000,12485000000.0,1840000000.0
13,Q4,2015,7185000000,95455000000,14507000000,2702000000,127812000000,15789000000,17436000000,4619000000,2928000000,180098000000,6936000000,3649000000,20929000000,42643000000,40679000000,4102000000,13700000000,103318000000,68279000000,6728000000,180098000000,"10-Q, 0001193125-16-441821",76780000000,12792000000.0,1773000000.0
14,Q3,2015,5431000000,93924000000,11444000000,3816000000,121656000000,15046000000,17142000000,4745000000,2869000000,172896000000,6630000000,3450000000,21603000000,49399000000,27819000000,2784000000,13280000000,95451000000,68093000000,7614000000,172896000000,"10-Q, 0001193125-15-350718",77445000000,11801000000.0,1738000000.0
15,Q1,2015,7414000000,88024000000,12427000000,2469000000,118398000000,14375000000,21728000000,6963000000,3200000000,176683000000,6690000000,3902000000,18232000000,40748000000,27644000000,1966000000,13274000000,86551000000,68475000000,18186000000,176683000000,"10-Q, 0001193125-15-144151",90132000000,13222000000.0,3471000000.0
16,Q4,2014,6426000000,83823000000,16186000000,2053000000,116362000000,13607000000,21855000000,7299000000,3060000000,174848000000,6932000000,3479000000,19192000000,47415000000,18260000000,2051000000,12423000000,82969000000,68765000000,19731000000,174848000000,"10-Q, 0001193125-15-020351",91879000000,12796000000.0,3383000000.0
17,Q3,2014,6302000000,82891000000,12887000000,3141000000,112439000000,13229000000,20081000000,6693000000,3271000000,169656000000,6769000000,3740000000,20713000000,44694000000,18472000000,1825000000,11781000000,79486000000,68362000000,18051000000,169656000000,"10-Q, 0001193125-14-380252",90170000000,12564000000.0,3757000000.0
18,Q1,2014,11572000000,76853000000,13497000000,1920000000,109006000000,11771000000,14751000000,2901000000,2898000000,156119000000,4583000000,3887000000,17670000000,33903000000,20679000000,1842000000,9953000000,68695000000,67803000000,16289000000,156119000000,"10-Q, 0001193125-14-157088",87424000000,8015000000.0,3332000000.0
19,Q4,2013,10059000000,73885000000,15986000000,1594000000,106870000000,11567000000,14680000000,2945000000,2874000000,153543000000,5398000000,3169000000,17616000000,33742000000,20676000000,1858000000,9790000000,68443000000,67476000000,14347000000,153543000000,"10-Q, 0001193125-14-018634",85100000000,7938000000.0,3277000000.0
20,Q3,2013,4023000000,76649000000,11007000000,2613000000,99450000000,10774000000,14667000000,2982000000,2480000000,142348000000,4841000000,2856000000,18585000000,34623000000,12632000000,1629000000,9587000000,60707000000,67230000000,11680000000,142348000000,"10-Q, 0001193125-13-409855",81641000000,7525000000.0,2731000000.0
21,Q1,2013,5240000000,69243000000,11991000000,2133000000,93524000000,9204000000,14682000000,3240000000,2262000000,134105000000,4532000000,3474000000,16511000000,31929000000,11949000000,1394000000,9721000000,57417000000,66826000000,7657000000,134105000000,"10-Q, 0001193125-13-160748",76688000000,7154000000.0,2205000000.0
22,Q4,2012,6017000000,62295000000,14317000000,1661000000,89574000000,8698000000,14727000000,3341000000,1636000000,128683000000,4356000000,2942000000,18354000000,31910000000,11947000000,1459000000,8397000000,56107000000,66334000000,4236000000,128683000000,"10-Q, 0001193125-13-022207",72576000000,6667000000.0,2006000000.0
23,Q3,2012,5036000000,61608000000,9871000000,1624000000,84051000000,8329000000,14466000000,3423000000,1569000000,121876000000,3631000000,2666000000,18295000000,31402000000,9714000000,1292000000,8423000000,53040000000,66084000000,932000000,121876000000,"10-Q, 0001193125-12-427209",68836000000,7172000000.0,1820000000.0
24,Q2,2019,11356000000,122463000000,29524000000,2063000000,175552000000,36477000000,42026000000,7750000000,14723000000,286556000000,9382000000,6830000000,32676000000,69420000000,66662000000,4530000000,7581000000,184226000000,78520000000,24150000000,286556000000,"10-K, 0001564590-19-027952",102330000000,19497000000.0,340000000.0
25,Q2,2018,11946000000,121822000000,26481000000,2662000000,169662000000,29460000000,35683000000,8053000000,7442000000,258848000000,8617000000,6103000000,28905000000,58488000000,72242000000,3815000000,5211000000,176130000000,71223000000,13682000000,258848000000,"10-K, 0001564590-18-019062",82718000000,15495000000.0,2187000000.0
26,Q2,2017,7663000000,125318000000,19792000000,2181000000,159851000000,23734000000,35122000000,10106000000,6250000000,241086000000,7390000000,5819000000,34102000000,64527000000,76073000000,10377000000,17184000000,168692000000,69315000000,2648000000,241086000000,"10-K, 0001564590-17-014900",72394000000,11177000000.0,431000000.0
27,Q2,2016,6510000000,106730000000,18277000000,2251000000,139660000000,18356000000,17872000000,3733000000,3642000000,193694000000,6898000000,5264000000,27468000000,59357000000,40783000000,6441000000,13640000000,121697000000,68178000000,2282000000,193694000000,"10-K, 0001193125-16-662209",71997000000,11841000000.0,1537000000.0
28,Q2,2015,5595000000,90931000000,17908000000,2902000000,124712000000,14731000000,16939000000,4835000000,2953000000,176223000000,6591000000,5096000000,23223000000,49858000000,27808000000,2095000000,13544000000,96140000000,68465000000,9096000000,176223000000,"10-K, 0001193125-15-272806",80083000000,12227000000.0,2522000000.0
29,Q2,2014,8669000000,77040000000,19544000000,2660000000,114246000000,13011000000,20127000000,6981000000,3422000000,172384000000,7432000000,4797000000,23150000000,45625000000,20645000000,2008000000,11594000000,82600000000,68366000000,17710000000,172384000000,"10-K, 0001193125-14-289961",89784000000,11298000000.0,3708000000.0
30,Q2,2013,3804000000,73218000000,17486000000,1938000000,101466000000,9991000000,14655000000,3083000000,2392000000,142431000000,4828000000,4117000000,20639000000,37417000000,12601000000,1760000000,10000000000,63487000000,67306000000,9895000000,142431000000,"10-K, 0001193125-13-310206",78944000000,6985000000.0,1743000000.0
31,Q2,2012,6938000000,56102000000,15780000000,1137000000,85084000000,8269000000,13452000000,3170000000,1520000000,121271000000,4175000000,3875000000,18653000000,32688000000,10713000000,1406000000,8208000000,54908000000,65797000000,566000000,121271000000,"10-K, 0001193125-12-316848",66363000000,6243000000.0,NaN

In [29]:
abt.iloc[31, -1:] = 1422*(10**6)

In [30]:
abt.iloc[31, -1:]

Accumulated comprehensive income    1422000000
Name: 31, dtype: object

In [32]:
abt.iloc[31]

Quarter                                                     Q2
Year                                                      2012
Cash                                                6938000000
Short term investments                             56102000000
Accounts Receivable                                15780000000
Inventory                                           1137000000
Total current assets                               85084000000
Property and Equipment                              8269000000
Goodwill                                           13452000000
Intangible assets                                   3170000000
Other long term assets                              1520000000
Total assets                                      121271000000
Accounts payable                                    4175000000
Accrued compensation                                3875000000
Short term unearned revenue                        18653000000
Total current liabilities                          32688000000
Long term debt                                     10713000000
Long term unearned revenue                          1406000000
Other long term liabilities                         8208000000
Total liabilities                                  54908000000
Common Stock                                       65797000000
Retained Earnings                                    566000000
Total liabilities and equity                      121271000000
Filing/Acc.No.                      10-K, 0001193125-12-316848
Total Shareholder Equity                           66363000000
Total Other                                         6243000000
Accumulated comprehensive income                    1422000000
Name: 31, dtype: object

https://stackoverflow.com/questions/50950614/converting-column-into-multi-index-column

In [18]:
original_col = ['Quarter', 'Year', 'Assets', 'Current assets', 'Cash', 'Short term investments', 'Total cash', 'Accounts Receivable', 'Inventory', 'Other current assets', 'Total current assets', 'Property and Equipment', 'Operating lease right of use assets', 'Equity investments', 'Goodwill', 'Intangible assets', 'Other long term assets', 'Total assets', 'Current liabilities', 'Accounts payable', 'Current portion of long term debt', 'Accrued compensation', 'Short term income taxes', 'Short term unearned revenue', 'Other current liabilities', 'Total current liabilities', 'Long term debt', 'Long term income taxes', 'Long term unearned revenue', 'Deferred income taxes', 'Operating lease liabilities', 'Other long term liabilities', 'Total liabilities', 'Commitments and contingencies', 'Common Stock', 'Retained Earnings', 'Accumulated other comprehensive income ', 'Total liabilities and equity', 'Filing/Acc.No.', 'Total Shareholder Equity', 'Accumulated other comprehensive loss', 'Total Other', 'Equity and other investments', 'Short term debt', 'Securities lending payable', 'Income taxes', 'Accumulated other comprehensive income', 'Total Deferred income taxes']

In [19]:
set(original_col) - set(abt.columns)

{'Accumulated other comprehensive income',
 'Accumulated other comprehensive income ',
 'Accumulated other comprehensive loss',
 'Assets',
 'Commitments and contingencies',
 'Current assets',
 'Current liabilities',
 'Current portion of long term debt',
 'Deferred income taxes',
 'Equity and other investments',
 'Equity investments',
 'Income taxes',
 'Long term income taxes',
 'Operating lease liabilities',
 'Operating lease right of use assets',
 'Other current assets',
 'Other current liabilities',
 'Securities lending payable',
 'Short term debt',
 'Short term income taxes',
 'Total Deferred income taxes',
 'Total cash'}

In [33]:
abt.to_csv('abt-Microsoft.csv', index=False)

In [21]:
imported_df = pd.read_csv('abt-Microsoft.csv')
imported_df.shape

(32, 27)