# Comparing the Old and the New.

In [1]:
# Import Library 

import re
import requests
import unicodedata
from bs4 import BeautifulSoup
from pprint import pprint
import numpy as np
from numpy import array
import pandas as pd 
import csv
import pickle
from IPython.display import display
import pickle
from collections import Counter
pd.set_option('display.max_columns', 100)
pd.set_option('display.precision',20)
from IPython.core import display as ICD

# Loading

In [2]:
QorK = {'10-Q': ['0001065280-20-000309',
  '0001065280-20-000155',
  '0001065280-19-000368',
  '0001065280-19-000260',
  '0001065280-19-000157',
  '0001065280-18-000538',
  '0001065280-18-000360',
  '0001065280-18-000205',
  '0001065280-17-000180',
  '0001065280-17-000046',
  '0001628280-17-003939',
  '0001065280-16-000081',
  '0001065280-16-000072',
  '0001065280-16-000057',
  '0001065280-15-000038',
  '0001065280-15-000031',
  '0001065280-15-000017',
  '0001065280-14-000028',
  '0001065280-14-000021',
  '0001065280-14-000012',
  '0001065280-13-000036',
  '0001065280-13-000030',
  '0001065280-13-000020',
  '0001065280-12-000020',
  '0001065280-12-000012',
  '0001445305-12-001242',
  '0001193125-11-284366',
  '0001193125-11-198669',
  '0001193125-11-112061',
  '0001193125-10-235785',
  '0001193125-10-167382',
  '0001193125-10-095215',
  '0001193125-09-213071',
  '0001193125-09-160729',
  '0001193125-09-103685',
  '0001193125-08-222820'],
 '10-K': ['0001065280-20-000040',
  '0001065280-19-000043',
  '0001065280-18-000069',
  '0001628280-17-000496',
  '0001065280-16-000047',
  '0001065280-15-000006',
  '0001065280-14-000006',
  '0001065280-13-000008',
  '0001193125-12-053009',
  '0001193125-11-040217',
  '0001193125-10-036181',
  '0001193125-09-037430']}

In [3]:
def duplicate_columns( DataF ):
    
    try: 
        DataF.drop(DataF[None], axis =1, inplace=True)
        
    except:
        pass 
    
    new_col = list(DataF.columns)

    clean_col = [str(column).strip() for column in new_col]

    DataF.set_axis(clean_col, axis=1, inplace=True)
    
    duplicates = [col_name for (col_name,freq) in Counter(DataF.columns).items() if freq > 1] 
    print('{} duplicates '.format(len(duplicates)), duplicates, '\n')
    
    for dupli in duplicates: 
#         print(type(DataF[dupli].values))            
        
        try:
            res = DataF[dupli].fillna(0).values.sum()
            DataF['Total {}'.format(dupli)] = res
            DataF.drop(columns =dupli, axis=1, inplace=True)

        except: 
            DataF.drop(columns =dupli, axis=1, inplace=True)

        #DataF.drop(dupli, axis=1, inplace=True)
        
    return DataF

In [4]:
df_list =[]
for k, v in QorK.items():
            
    for i, vv in enumerate(v):
        print(vv, k)
                
        df = pd.read_pickle( "{}-{}.csv".format(v[i], k))        
        ICD.display(df)
        
        # Add unique identity to row 
        df['Filing/Acc.No.'] = '{}, {}'.format(k, vv)
        
        df.fillna(0, inplace=True)
        # handle duplicate column name
        df_list.append( duplicate_columns(df) )
        
        #print(df_list[0].shape)

0001065280-20-000309 10-Q

,Quarter,Year,Assets,Current assets,Cash,Other current assets,Total current assets,Content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Short term debt,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2020,None,None,7153248000,1410891000,8564139000,25155117000,751941000,2704084000,37175281000,None,None,4664733000,446668000,986595000,1029261000,499161000,7626418000,3208164000,15294998000,1710948000,27840528000,None,None,3127813000,34072000,6241012000,9334753000,37175281000

1 duplicates  ['Shareholder Equity']

0001065280-20-000155 10-Q

,Quarter,Year,Assets,Current assets,Cash,Other current assets,Total current assets,Content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Short term debt,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2020,None,None,5151884000,1295897000,6447781000,25266889000,650455000,2694785000,35059910000,None,None,4761585000,545488000,1061090000,986753000,498809000,7853725000,3206051000,14170692000,1420148000,26650616000,None,None,2935532000,47054000,5520816000,8409294000,35059910000

1 duplicates  ['Shareholder Equity']

0001065280-19-000368 10-Q

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2019,None,None,4435018000,5151186000,892740000,5327758000,23234994000,481992000,1896967000,30941711000,None,None,4860542000,444129000,1037723000,915506000,7257900000,3419552000,12425746000,977008000,24080206000,None,None,2677972000,41246000,4224779000,6861505000,30941711000

1 duplicates  ['Shareholder Equity']

0001065280-19-000260 10-Q

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2019,None,None,5004247000,5151186000,872910000,5877157000,21945740000,452399000,1896043000,30171339000,None,None,4848201000,442194000,750812000,892777000,6933984000,3564440000,12594135000,973232000,24065791000,None,None,2566365000,20352000,3559535000,6105548000,30171339000

1 duplicates  ['Shareholder Equity']

0001065280-19-000157 10-Q

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2019,None,None,3348557000,5151186000,820350000,4168907000,20888785000,434372000,1726568000,27218632000,None,None,4863351000,439496000,746268000,808692000,6857807000,3560364000,10305023000,792380000,21515574000,None,None,2439773000,25600000,3288885000,5703058000,27218632000

1 duplicates  ['Shareholder Equity']

0001065280-18-000538 10-Q

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2018,None,None,3067534000,4987916000,674531000,8729981000,13408443000,371152000,856653000,23366229000,None,None,4613011000,441427000,527079000,716723000,6298240000,3593823000,8336586000,127927000,18356576000,None,None,2215736000,14508000,2808425000,5009653000,23366229000

1 duplicates  ['Shareholder Equity']

0001065280-18-000360 10-Q

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2018,None,None,3906357000,4803663000,636869000,9346889000,12292070000,349646000,674932000,22663537000,None,None,4541087000,448219000,392595000,697740000,6079641000,3604158000,8342067000,141071000,18166937000,None,None,2103437000,12427000,2405590000,4496600000,22663537000

1 duplicates  ['Shareholder Equity']

0001065280-18-000205 10-Q

,Quarter,Year,Assets,Current assets,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2018,None,None,2593666000,4626522000,597388000,7817576000,11314803000,341932000,678486000,20152797000,None,None,4466081000,436183000,429431000,673892000,6005587000,3444476000,6542373000,139631000,16132067000,None,None,1995225000,4264000,2021241000,4020730000,20152797000

1 duplicates  ['Shareholder Equity']

0001065280-17-000180 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2017,None,None,1746469000,266206000,4223387000,415492000,6385348000,9739704000,322421000,504067000,16951540000,None,None,4142086000,301443000,331723000,535425000,5310677000,3296504000,4888783000,128215000,13624179000,None,None,1807123000,25362000,1545600000,3327361000,16951540000

1 duplicates  ['Shareholder Equity']

0001065280-17-000046 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2017,None,None,1918777000,246125000,4149111000,386772000,6700785000,9078474000,309831000,428133000,16517223000,None,None,4095374000,273398000,248871000,505302000,5122945000,3356090000,4836502000,89186000,13404723000,None,None,1727858000,31368000,1416010000,3112500000,16517223000

1 duplicates  ['Shareholder Equity']

0001628280-17-003939 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2017,None,None,1077824000,263405000,4026615000,292486000,5660330000,8029112000,275083000,394571000,14359096000,None,None,3861447000,294831000,296258000,458693000,4911229000,3035430000,3365431000,73323000,11385413000,None,None,1669132000,45859000,1350410000,2973683000,14359096000

1 duplicates  ['Shareholder Equity']

0001065280-16-000081 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2016,None,None,969158000,374098000,3632399000,218238000,5193893000,6677674000,191876000,283895000,12347338000,None,None,3497214000,285753000,201232000,427206000,4411405000,2975189000,2373966000,57812000,9818372000,None,None,1503641000,36530000,1061855000,2528966000,12347338000

1 duplicates  ['Shareholder Equity']

0001065280-16-000072 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2016,None,None,1390925000,443303000,3349262000,203428000,5386918000,5742938000,162864000,300787000,11593507000,None,None,3242330000,240458000,172073000,396976000,4051837000,2698520000,2373085000,54231000,9177673000,None,None,1443707000,38211000,1010338000,2415834000,11593507000

1 duplicates  ['Shareholder Equity']

0001065280-16-000057 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2016,None,None,1605244000,467227000,3258641000,212724000,5543836000,5260160000,166254000,292024000,11262274000,None,None,3145861000,231914000,181634000,374223000,3933632000,2586098000,2372218000,53093000,8945041000,None,None,1382051000,34401000,969583000,2317233000,11262274000

1 duplicates  ['Shareholder Equity']

0001065280-15-000038 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2015,None,None,2115437000,494205000,2695184000,264887000,5569713000,3891790000,181268000,273496000,9916267000,None,None,2622964000,209365000,179350000,329739000,3341418000,1966854000,2400000000,40677000,7748949000,None,None,1306461000,37890000,898747000,2167318000,9916267000

1 duplicates  ['Shareholder Equity']

0001065280-15-000031 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2015,None,None,2293872000,502886000,2510946000,292806000,5600510000,3640767000,171396000,242188000,9654861000,None,None,2556180000,211729000,150406000,301754000,3220069000,1942624000,2400000000,60093000,7622786000,None,None,1200880000,38120000,869315000,2032075000,9654861000

1 duplicates  ['Shareholder Equity']

0001065280-15-000017 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2015,None,None,2454777000,502931000,2370447000,210901000,5539056000,3312353000,145816000,243401000,9240626000,None,None,2425619000,190567000,107323000,285340000,3008849000,1861791000,2400000000,60772000,7331412000,None,None,61000,1109327000,43154000,842980000,1909214000,9240626000

1 duplicates  ['Shareholder Equity']

0001065280-14-000028 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2014,None,None,1183217000,483602000,2006981000,149682000,3823482000,2631882000,144147000,178818000,6778329000,None,None,2074766000,150374000,70559000,252956000,2548655000,1510403000,900000000,94397000,5053455000,None,None,60000,987256000,1645000,735913000,1724874000,6778329000

1 duplicates  ['Shareholder Equity']

0001065280-14-000021 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2014,None,None,1214244000,500121000,1786341000,167674000,3668380000,2348796000,141715000,166931000,6325822000,None,None,1858020000,137226000,98548000,241330000,2335124000,1390770000,900000000,90223000,4716117000,None,None,60000,926525000,6502000,676618000,1609705000,6325822000

1 duplicates  ['Shareholder Equity']

0001065280-14-000012 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2014,None,None,1157450000,510793000,1771410000,147131000,3586784000,2179474000,133473000,148375000,6048106000,None,None,1844897000,133883000,54858000,230015000,2263653000,1321879000,900000000,84216000,4569748000,None,None,60000,868195000,4503000,605600000,1478358000,6048106000

1 duplicates  ['Shareholder Equity']

0001065280-13-000036 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2013,None,None,439056000,695931000,1577514000,30522000,106255000,2849278000,1808387000,127263000,116397000,4901325000,None,None,1591981000,100899000,46433000,195823000,1935136000,1179055000,500000000,200000000,82764000,3696955000,None,None,59000,698677000,1570000,504064000,1204370000,4901325000

1 duplicates  ['Shareholder Equity']

0001065280-13-000030 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2013,None,None,370678000,709432000,1363609000,32064000,94539000,2570322000,1682202000,127931000,100296000,4480751000,None,None,1321217000,103441000,59035000,186571000,1670264000,1124249000,500000000,200000000,80616000,3375129000,None,None,59000,634985000,1664000,472242000,1105622000,4480751000

1 duplicates  ['Shareholder Equity']

0001065280-13-000020 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2013,None,None,418051000,607821000,1391505000,57254000,82469000,2557100000,1576674000,129319000,100196000,4363289000,None,None,1355010000,102822000,52004000,178878000,1688714000,1083427000,500000000,200000000,78229000,3550370000,None,None,56000,369801000,291000,442771000,812919000,4363289000

1 duplicates  ['Shareholder Equity']

0001065280-12-000020 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q3,2012,None,None,370298000,428057000,1335769000,33152000,57742000,2225018000,1366566000,133603000,83646000,3808833000,None,None,1280885000,91511000,70681000,155146000,1598223000,1030979000,200000000,200000000,62791000,3091993000,None,None,56000,281593000,3006000,432185000,716840000,3808833000

1 duplicates  ['Shareholder Equity']

0001065280-12-000012 10-Q

,Quarter,Year,Assets,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q2,2012,None,None,402251000,411092000,1223638000,48510000,52294000,2137785000,1147805000,124644000,68056000,3478290000,None,None,1204209000,90961000,50884000,152790000,1498844000,829163000,200000000,200000000,62057000,2790064000,None,None,56000,262699000,961000,424510000,688226000,3478290000

1 duplicates  ['Shareholder Equity']

0001445305-12-001242 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Long term debt,Long term debt due to related party,Non current content liabilities,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q1,2012,None,395992000,408534000,1155443000,53013000,45759000,2058741000,1226274000,128197000,67247000,3480459000,None,None,1163839000,83119000,49106000,150602000,1446666000,200000000,200000000,908188000,62203000,2817057000,None,None,55000,243424000,1577000,418346000,663402000,3480459000

1 duplicates  ['Shareholder Equity']

0001193125-11-284366 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2011,None,159199000,206573000,705398000,77146000,41797000,None,1190113000,570210000,143993000,28743000,28499000,None,1961558000,None,None,None,750107000,54671000,2259000,160929000,None,967966000,200000000,32400000,372840000,None,1573206000,None,None,53000,51622000,588000,387711000,None,388352000,None,1961558000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-11-198669 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2011,None,175207000,201200000,499434000,59811000,33792000,None,969444000,425246000,136948000,25883000,13172000,None,1570693000,None,None,None,533436000,44137000,2199000,146937000,None,726709000,200000000,32986000,276964000,None,1236659000,None,None,53000,51622000,884000,333097000,None,334034000,None,1570693000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-11-112061 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2011,None,150419000,192302000,265933000,74597000,38351000,None,721602000,197554000,134800000,22452000,13780000,None,1090188000,None,None,None,None,301009000,44123000,2141000,143045000,None,490318000,200000000,33564000,90584000,None,814466000,None,None,52000,51622000,590000,275080000,None,275722000,None,1090188000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-10-235785 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2010,None,113108000,143705000,138389000,59322000,37723000,None,492247000,120047000,125057000,19219000,13713000,None,770283000,None,None,None,170120000,36974000,2027000,102986000,None,312107000,200000000,34659000,31542000,None,578308000,None,None,52000,1279000,190644000,None,191975000,None,770283000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-10-167382 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2010,None,107327000,171758000,93123000,33837000,35173000,None,441218000,94666000,123292000,21951000,12845000,None,693972000,None,None,None,120031000,34746000,1971000,101419000,None,258167000,200000000,35185000,23980000,None,517332000,None,None,52000,802000,175786000,None,176640000,None,693972000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-10-095215 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Current content library,Prepaid content,Prepaid and other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2010,None,79861000,186469000,55566000,31704000,25938000,None,379538000,109431000,127165000,18791000,13368000,None,648293000,None,None,None,102703000,38718000,1917000,100109000,None,243447000,200000000,35704000,22407000,None,501558000,None,None,52000,487000,146196000,None,146735000,None,648293000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-09-213071 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost \nrespectively),Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2009,None,55717000,99745000,11947000,10671000,32937000,5706000,18239000,None,234962000,104539000,122119000,17244000,13267000,None,492131000,None,None,None,93451000,29606000,1342000,79123000,None,203522000,36940000,19467000,None,259929000,None,None,64000,378549000,340362000,552000,193399000,None,232202000,None,492131000,None

3 duplicates  ['Deferred tax assets', '', 'Shareholder Equity']

0001193125-09-160729 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q2,2009,None,87471000,167498000,11430000,14671000,33519000,5594000,22381000,None,342564000,100316000,120346000,17225000,11542000,None,591993000,None,None,None,101634000,27782000,1275000,80495000,None,211186000,37301000,19135000,None,267622000,None,None,64000,375574000,215250000,725000,163258000,None,324371000,None,591993000,None

3 duplicates  ['Deferred tax assets', '', 'Shareholder Equity']

0001193125-09-103685 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q1,2009,None,115131000,171358000,8210000,13957000,33299000,5542000,17383000,None,364880000,105361000,123817000,23107000,11513000,None,628678000,None,None,None,112767000,32108000,1215000,80623000,None,226713000,37656000,17997000,None,282366000,None,None,63000,358620000,142739000,447000,130815000,None,346312000,None,628678000,None

3 duplicates  ['Deferred tax assets', '', 'Shareholder Equity']

0001193125-08-222820 10-Q

,Quarter,Year,Current assets,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q3,2008,None,111524000,139304000,9982000,15274000,7023000,18268000,None,301375000,122558000,128541000,19831000,10694000,None,582999000,None,None,None,109277000,31625000,1090000,65897000,None,207889000,38287000,11990000,None,258166000,None,None,62000,331489000,90028000,2410000,85720000,None,324833000,None,582999000,None

3 duplicates  ['Deferred tax assets', '', 'Shareholder Equity']

0001065280-20-000040 10-K

,Quarter,Year,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2019,5018437000000,5151186000000,1160067000000,6178504000000,24504567000000,565221000000,2727420000000,33975712000000,None,None,4413561000000,674347000000,843043000000,924745000000,6855696000000,3334323000000,14759260000000,1444276000000,26393555000000,None,None,None,2793929000000,23521000000,4811749000000,7582157000000,33975712000000

1 duplicates  ['Shareholder Equity']

0001065280-19-000043 10-K

,Quarter,Year,Cash,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2018,3794483000000,5151186000000,748466000000,9694135000000,14960954000000,418281000000,901030000000,25974400000000,None,None,4686019000000,562985000000,477417000000,760899000000,6487320000000,3759026000000,10360058000000,129231000000,20735635000000,None,None,None,2315988000000,19582000000,2942359000000,5238765000000,25974400000000

1 duplicates  ['Shareholder Equity']

0001065280-18-000069 10-K

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2017,2822795000000,266206000000,4310934000000,536245000000,7669974000000,10371055000000,319404000000,652309000000,19012742000000,None,None,4173041000000,359555000000,315094000000,618622000000,5466312000000,3329796000000,6499432000000,135246000000,15430786000000,None,None,None,1871396000000,20557000000,1731117000000,3581956000000,19012742000000

1 duplicates  ['Shareholder Equity']

0001628280-17-000496 10-K

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2016,1467576000000,266206000000,3726307000000,260202000000,5720291000000,7274501000000,250395000000,341423000000,13586610000000,None,None,3632711000000,312842000000,197632000000,443472000000,4586657000000,2894654000000,3364311000000,61188000000,10906810000000,None,None,None,1599762000000,48565000000,1128603000000,2679800000000,13586610000000

1 duplicates  ['Shareholder Equity']

0001065280-16-000047 10-K

,Quarter,Year,Cash,Short term investments,Current content assets,Other current assets,Total current assets,Non current content assets,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2015,1809330000000,501385000000,2905998000000,215127000000,5431840000000,4312817000000,173412000000,284802000000,10202871000000,None,None,2789023000000,253491000000,140389000000,346721000000,3529624000000,2026360000000,2371362000000,52099000000,7979445000000,None,None,None,1324809000000,43308000000,941925000000,2223426000000,10202871000000

1 duplicates  ['Shareholder Equity']

0001065280-15-000006 10-K

,Quarter,Year,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2014,1113608000000,494888000000,2125702000000,206271000000,3940469000000,2773326000000,149875000000,192981000000,7056651000000,None,None,2117241000000,201581000000,69746000000,274586000000,2663154000000,1575832000000,900000000000,59957000000,5198943000000,None,None,None,60000000,1042810000000,4446000000,819284000000,1857708000000,7056651000000

1 duplicates  ['Shareholder Equity']

0001065280-14-000006 10-K

,Quarter,Year,Cash,Short term investments,Current content library,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2013,604965000000,595440000000,1706421000000,151937000000,3058763000000,2091071000000,133605000000,129124000000,5412563000000,None,None,1775983000000,108435000000,54018000000,215767000000,2154203000000,1345590000000,500000000000,200000000000,79209000000,4079002000000,None,None,None,60000000,777441000000,3575000000,552485000000,1333561000000,5412563000000

1 duplicates  ['Shareholder Equity']

0001065280-13-000008 10-K

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,Total current assets,Non current content library,Property and Equipment,Other non current assets,Total assets,Shareholder Equity,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses,Deferred Revenue,Total current liabilities,Non current content liabilities,Long term debt,Long term debt due to related party,Other non current liabilities,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,Shareholder Equity,Total liabilities and equity
0,Q4,2012,290291000000,457787000000,1368162000000,59929000000,64622000000,2240791000000,1506008000000,131681000000,89410000000,3967890000000,None,None,1366847000000,86468000000,53139000000,169472000000,1675926000000,1076622000000,200000000000,200000000000,70669000000,3223217000000,None,None,None,56000000,301616000000,2919000000,440082000000,744673000000,3967890000000

1 duplicates  ['Shareholder Equity']

0001193125-12-053009 10-K

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Non current content library,Property and Equipment,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Content accounts payable,Other accounts payable,Accrued expenses,Deferred Revenue,,Total current liabilities,Long term debt,Long term debt due to related party,Non current content liabilities,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2011,508053000000,289758000000,919709000000,56007000000,57330000000,None,1830857000000,1046934000000,136353000000,55052000000,None,3069196000000,None,None,None,924706000000,87860000000,63693000000,148796000000,None,1225055000000,200000000000,200000000000,739628000000,61703000000,None,2426386000000,None,None,None,55000000,219119000000,706000000,422930000000,None,642810000000,None,3069196000000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-11-040217 10-K

,Quarter,Year,Cash,Short term investments,Current content library,Prepaid content,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2010,194499000000,155888000000,181006000000,62217000000,47357000000,None,640967000000,180973000000,128570000000,17467000000,14090000000,None,982067000000,None,None,None,222824000000,36489000000,2083000000,127183000000,None,388579000000,200000000000,34123000000,69201000000,None,691903000000,None,None,None,53000000,51622000000,750000000,237739000000,None,290164000000,None,982067000000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-10-036181 10-K

,Quarter,Year,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other non current assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Long term debt,Lease financing obligations,Other non current liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2009,134224000000,186018000000,12491000000,17133000000,37329000000,23818000000,None,411013000000,108810000000,131653000000,15958000000,12300000000,None,679734000000,None,None,None,91475000000,33387000000,1410000000,100097000000,None,226369000000,200000000000,36572000000,17650000000,None,480591000000,None,None,None,53000000,338577000000,100020000000,273000000,198817000000,None,199143000000,None,679734000000,None

2 duplicates  ['', 'Shareholder Equity']

0001193125-09-037430 10-K

,Quarter,Year,Cash,Short term investments,Prepaid expenses,Prepaid revenue sharing expenses,Current content library,Deferred tax assets,Other current assets,,Total current assets,Content library,Property and Equipment,Deferred tax assets,Other assets,,Total assets,,Shareholder Equity,Current liabilities,Accounts payable,Accrued expenses,Current portion of lease financing obligations,Deferred Revenue,,Total current liabilities,Lease financing obligations,Other liabilities,,Total liabilities,Commitments and contingencies,Shareholder Equity,Preferred Stock,Common Stock,Additional paid in capital,Treasury stock at cost,Accumulated other comprehensive income,Retained Earnings,,Shareholder Equity,,Total liabilities and equity,
0,Q4,2008,139881000000,157390000000,8122000000,18417000000,18691000000,5617000000,13329000000,None,361447000000,98547000000,124948000000,22409000000,10595000000,None,617946000000,None,None,None,100344000000,31394000000,1152000000,83127000000,None,216017000000,37988000000,16786000000,None,270791000000,None,None,None,62000000,338577000000,100020000000,84000000,108452000000,None,347155000000,None,617946000000,None

3 duplicates  ['Deferred tax assets', '', 'Shareholder Equity']

In [5]:
abt = pd.concat(df_list, sort=False)
abt

,Quarter,Year,Assets,Current assets,Cash,Other current assets,Total current assets,Content assets,Property and Equipment,Other non current assets,Total assets,Current liabilities,Current content liabilities,Accounts payable,Accrued expenses and other liabilities,Deferred Revenue,Short term debt,Total current liabilities,Non current content liabilities,Long term debt,Other non current liabilities,Total liabilities,Commitments and contingencies,Common Stock,Accumulated other comprehensive loss,Retained Earnings,Total liabilities and equity,Filing/Acc.No.,Total Shareholder Equity,Current content assets,Non current content assets,Accrued expenses,Accumulated other comprehensive income,Short term investments,Current content library,Non current content library,Additional paid in capital,Prepaid content,Long term debt due to related party,Accumulated other comprehensive,Content liabilities,Content library,Deferred tax assets,Current portion of lease financing obligations,Lease financing obligations,Total,Prepaid and other current assets,Prepaid expenses,Prepaid revenue sharing expenses,Other assets,Other liabilities,Treasury stock at cost \nrespectively),Total Deferred tax assets,Treasury stock at cost,Current portion lease financing obligations,Preferred Stock,Content accounts payable,Other accounts payable
0,Q2,2020,0.0,0.0,7153248000,1410891000.0,8564139000,25155117000.0,751941000,2704084000.0,37175281000,0,4664733000.0,446668000.0,986595000.0,1029261000,499161000.0,7626418000,3208164000.0,15294998000.0,1710948000.0,27840528000,0,3127813000,34072000.0,6241012000,37175281000,"10-Q, 0001065280-20-000309",9334753000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2020,0.0,0.0,5151884000,1295897000.0,6447781000,25266889000.0,650455000,2694785000.0,35059910000,0,4761585000.0,545488000.0,1061090000.0,986753000,498809000.0,7853725000,3206051000.0,14170692000.0,1420148000.0,26650616000,0,2935532000,47054000.0,5520816000,35059910000,"10-Q, 0001065280-20-000155",8409294000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2019,0.0,0.0,4435018000,892740000.0,5327758000,NaN,481992000,1896967000.0,30941711000,0,4860542000.0,444129000.0,1037723000.0,915506000,NaN,7257900000,3419552000.0,12425746000.0,977008000.0,24080206000,0,2677972000,41246000.0,4224779000,30941711000,"10-Q, 0001065280-19-000368",6861505000,5151186000.0,23234994000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2019,0.0,0.0,5004247000,872910000.0,5877157000,NaN,452399000,1896043000.0,30171339000,0,4848201000.0,442194000.0,750812000.0,892777000,NaN,6933984000,3564440000.0,12594135000.0,973232000.0,24065791000,0,2566365000,20352000.0,3559535000,30171339000,"10-Q, 0001065280-19-000260",6105548000,5151186000.0,21945740000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2019,0.0,0.0,3348557000,820350000.0,4168907000,NaN,434372000,1726568000.0,27218632000,0,4863351000.0,439496000.0,746268000.0,808692000,NaN,6857807000,3560364000.0,10305023000.0,792380000.0,21515574000,0,2439773000,25600000.0,3288885000,27218632000,"10-Q, 0001065280-19-000157",5703058000,5151186000.0,20888785000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2018,0.0,0.0,3067534000,674531000.0,8729981000,NaN,371152000,856653000.0,23366229000,0,4613011000.0,441427000.0,NaN,716723000,NaN,6298240000,3593823000.0,8336586000.0,127927000.0,18356576000,0,2215736000,14508000.0,2808425000,23366229000,"10-Q, 0001065280-18-000538",5009653000,4987916000.0,13408443000.0,527079000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2018,0.0,0.0,3906357000,636869000.0,9346889000,NaN,349646000,674932000.0,22663537000,0,4541087000.0,448219000.0,NaN,697740000,NaN,6079641000,3604158000.0,8342067000.0,141071000.0,18166937000,0,2103437000,12427000.0,2405590000,22663537000,"10-Q, 0001065280-18-000360",4496600000,4803663000.0,12292070000.0,392595000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2018,0.0,0.0,2593666000,597388000.0,7817576000,NaN,341932000,678486000.0,20152797000,0,4466081000.0,436183000.0,NaN,673892000,NaN,6005587000,3444476000.0,6542373000.0,139631000.0,16132067000,0,1995225000,NaN,2021241000,20152797000,"10-Q, 0001065280-18-000205",4020730000,4626522000.0,11314803000.0,429431000.0,4264000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2017,0.0,0.0,1746469000,415492000.0,6385348000,NaN,322421000,504067000.0,16951540000,0,4142086000.0,301443000.0,NaN,535425000,NaN,5310677000,3296504000.0,4888783000.0,128215000.0,13624179000,0,1807123000,25362000.0,1545600000,16951540000,"10-Q, 0001065280-17-000180",3327361000,4223387000.0,9739704000.0,331723000.0,NaN,266206000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2017,0.0,0.0,1918777000,386772000.0,6700785000,NaN,309831000,428133000.0,16517223000,0,4095374000.0,273398000.0,NaN,505302000,NaN,5122945000,3356090000.0,4836502000.0,89186000.0,13404723000,0,1727858000,31368000.0,1416010000,16517223000,"10-Q, 0001065280-17-000046",3112500000,4149111000.0,9078474000.0,248871000.0,NaN,246125000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2017,0.0,0.0,1077824000,292486000.0,5660330000,NaN,275083000,394571000.0,14359096000,0,3861447000.0,294831000.0,NaN,458693000,NaN,4911229000,3035430000.0,3365431000.0,73323000.0,11385413000,0,1669132000,45859000.0,1350410000,14359096000,"10-Q, 0001628280-17-003939",2973683000,4026615000.0,8029112000.0,296258000.0,NaN,263405000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2016,0.0,0.0,969158000,218238000.0,5193893000,NaN,191876000,283895000.0,12347338000,0,3497214000.0,285753000.0,NaN,427206000,NaN,4411405000,2975189000.0,2373966000.0,57812000.0,9818372000,0,1503641000,36530000.0,1061855000,12347338000,"10-Q, 0001065280-16-000081",2528966000,3632399000.0,6677674000.0,201232000.0,NaN,374098000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2016,0.0,0.0,1390925000,203428000.0,5386918000,NaN,162864000,300787000.0,11593507000,0,3242330000.0,240458000.0,NaN,396976000,NaN,4051837000,2698520000.0,2373085000.0,54231000.0,9177673000,0,1443707000,38211000.0,1010338000,11593507000,"10-Q, 0001065280-16-000072",2415834000,3349262000.0,5742938000.0,172073000.0,NaN,443303000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2016,0.0,0.0,1605244000,212724000.0,5543836000,NaN,166254000,292024000.0,11262274000,0,3145861000.0,231914000.0,NaN,374223000,NaN,3933632000,2586098000.0,2372218000.0,53093000.0,8945041000,0,1382051000,34401000.0,969583000,11262274000,"10-Q, 0001065280-16-000057",2317233000,3258641000.0,5260160000.0,181634000.0,NaN,467227000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2015,0.0,0.0,2115437000,264887000.0,5569713000,NaN,181268000,273496000.0,9916267000,0,2622964000.0,209365000.0,NaN,329739000,NaN,3341418000,1966854000.0,2400000000.0,40677000.0,7748949000,0,1306461000,37890000.0,898747000,9916267000,"10-Q, 0001065280-15-000038",2167318000,NaN,NaN,179350000.0,NaN,494205000.0,2695184000.0,3891790000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2015,0.0,0.0,2293872000,292806000.0,5600510000,NaN,171396000,242188000.0,9654861000,0,2556180000.0,211729000.0,NaN,301754000,NaN,3220069000,1942624000.0,2400000000.0,60093000.0,7622786000,0,1200880000,38120000.0,869315000,9654861000,"10-Q, 0001065280-15-000031",2032075000,NaN,NaN,150406000.0,NaN,502886000.0,2510946000.0,3640767000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2015,0.0,0.0,2454777000,210901000.0,5539056000,NaN,145816000,243401000.0,9240626000,0,2425619000.0,190567000.0,NaN,285340000,NaN,3008849000,1861791000.0,2400000000.0,60772000.0,7331412000,0,61000,43154000.0,842980000,9240626000,"10-Q, 0001065280-15-000017",1909214000,NaN,NaN,107323000.0,NaN,502931000.0,2370447000.0,3312353000.0,1109327000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2014,0.0,0.0,1183217000,149682000.0,3823482000,NaN,144147000,178818000.0,6778329000,0,2074766000.0,150374000.0,NaN,252956000,NaN,2548655000,1510403000.0,900000000.0,94397000.0,5053455000,0,60000,NaN,735913000,6778329000,"10-Q, 0001065280-14-000028",1724874000,NaN,NaN,70559000.0,1645000.0,483602000.0,2006981000.0,2631882000.0,987256000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2014,0.0,0.0,1214244000,167674000.0,3668380000,NaN,141715000,166931000.0,6325822000,0,1858020000.0,137226000.0,NaN,241330000,NaN,2335124000,1390770000.0,900000000.0,90223000.0,4716117000,0,60000,NaN,676618000,6325822000,"10-Q, 0001065280-14-000021",1609705000,NaN,NaN,98548000.0,6502000.0,500121000.0,1786341000.0,2348796000.0,926525000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2014,0.0,0.0,1157450000,147131000.0,3586784000,NaN,133473000,148375000.0,6048106000,0,1844897000.0,133883000.0,NaN,230015000,NaN,2263653000,1321879000.0,900000000.0,84216000.0,4569748000,0,60000,NaN,605600000,6048106000,"10-Q, 0001065280-14-000012",1478358000,NaN,NaN,54858000.0,4503000.0,510793000.0,1771410000.0,2179474000.0,868195000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2013,0.0,0.0,439056000,106255000.0,2849278000,NaN,127263000,116397000.0,4901325000,0,1591981000.0,100899000.0,NaN,195823000,NaN,1935136000,1179055000.0,500000000.0,82764000.0,3696955000,0,59000,NaN,504064000,4901325000,"10-Q, 0001065280-13-000036",1204370000,NaN,NaN,46433000.0,1570000.0,695931000.0,1577514000.0,1808387000.0,698677000.0,30522000.0,200000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2013,0.0,0.0,370678000,94539000.0,2570322000,NaN,127931000,100296000.0,4480751000,0,1321217000.0,103441000.0,NaN,186571000,NaN,1670264000,1124249000.0,500000000.0,80616000.0,3375129000,0,59000,NaN,472242000,4480751000,"10-Q, 0001065280-13-000030",1105622000,NaN,NaN,59035000.0,NaN,709432000.0,1363609000.0,1682202000.0,634985000.0,32064000.0,200000000.0,1664000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2013,0.0,0.0,418051000,82469000.0,2557100000,NaN,129319000,100196000.0,4363289000,0,1355010000.0,102822000.0,NaN,178878000,NaN,1688714000,1083427000.0,500000000.0,78229000.0,3550370000,0,56000,NaN,442771000,4363289000,"10-Q, 0001065280-13-000020",812919000,NaN,NaN,52004000.0,291000.0,607821000.0,1391505000.0,1576674000.0,369801000.0,57254000.0,200000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2012,0.0,0.0,370298000,57742000.0,2225018000,NaN,133603000,83646000.0,3808833000,0,NaN,91511000.0,NaN,155146000,NaN,1598223000,1030979000.0,200000000.0,62791000.0,3091993000,0,56000,NaN,432185000,3808833000,"10-Q, 0001065280-12-000020",716840000,NaN,NaN,70681000.0,3006000.0,428057000.0,1335769000.0,1366566000.0,281593000.0,33152000.0,200000000.0,NaN,1280885000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2012,0.0,0.0,402251000,52294000.0,2137785000,NaN,124644000,68056000.0,3478290000,0,NaN,90961000.0,NaN,152790000,NaN,1498844000,829163000.0,200000000.0,62057000.0,2790064000,0,56000,NaN,424510000,3478290000,"10-Q, 0001065280-12-000012",688226000,NaN,NaN,50884000.0,961000.0,411092000.0,1223638000.0,1147805000.0,262699000.0,48510000.0,200000000.0,NaN,1204209000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2012,NaN,0.0,395992000,45759000.0,2058741000,NaN,128197000,67247000.0,3480459000,0,NaN,83119000.0,NaN,150602000,NaN,1446666000,908188000.0,200000000.0,62203000.0,2817057000,0,55000,NaN,418346000,3480459000,"10-Q, 0001445305-12-001242",663402000,NaN,NaN,49106000.0,1577000.0,408534000.0,1155443000.0,1226274000.0,243424000.0,53013000.0,200000000.0,NaN,1163839000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2011,NaN,0.0,159199000,41797000.0,1190113000,NaN,143993000,28499000.0,1961558000,0,NaN,750107000.0,NaN,160929000,NaN,967966000,NaN,200000000.0,372840000.0,1573206000,0,53000,NaN,387711000,1961558000,"10-Q, 0001193125-11-284366",388352000,NaN,NaN,54671000.0,588000.0,206573000.0,705398000.0,NaN,51622000.0,77146000.0,NaN,NaN,NaN,570210000.0,28743000.0,2259000.0,32400000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2011,NaN,0.0,175207000,33792000.0,969444000,NaN,136948000,13172000.0,1570693000,0,NaN,533436000.0,NaN,146937000,NaN,726709000,NaN,200000000.0,276964000.0,1236659000,0,53000,NaN,333097000,1570693000,"10-Q, 0001193125-11-198669",334034000,NaN,NaN,44137000.0,884000.0,201200000.0,499434000.0,NaN,51622000.0,59811000.0,NaN,NaN,NaN,425246000.0,25883000.0,2199000.0,32986000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2011,NaN,0.0,150419000,38351000.0,721602000,NaN,134800000,13780000.0,1090188000,0,NaN,301009000.0,NaN,143045000,NaN,490318000,NaN,200000000.0,90584000.0,814466000,0,52000,NaN,275080000,1090188000,"10-Q, 0001193125-11-112061",275722000,NaN,NaN,44123000.0,590000.0,192302000.0,265933000.0,NaN,51622000.0,74597000.0,NaN,NaN,NaN,197554000.0,22452000.0,2141000.0,33564000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2010,NaN,0.0,113108000,37723000.0,492247000,NaN,125057000,13713000.0,770283000,0,NaN,170120000.0,NaN,102986000,NaN,312107000,NaN,200000000.0,31542000.0,578308000,0,52000,NaN,190644000,770283000,"10-Q, 0001193125-10-235785",191975000,NaN,NaN,36974000.0,1279000.0,143705000.0,138389000.0,NaN,NaN,59322000.0,NaN,NaN,NaN,120047000.0,19219000.0,2027000.0,34659000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q2,2010,NaN,0.0,107327000,35173000.0,441218000,NaN,123292000,12845000.0,693972000,0,NaN,120031000.0,NaN,101419000,NaN,258167000,NaN,200000000.0,23980000.0,517332000,0,52000,NaN,175786000,693972000,"10-Q, 0001193125-10-167382",176640000,NaN,NaN,34746000.0,802000.0,171758000.0,93123000.0,NaN,NaN,33837000.0,NaN,NaN,NaN,94666000.0,21951000.0,1971000.0,35185000.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q1,2010,NaN,0.0,79861000,NaN,379538000,NaN,127165000,13368000.0,648293000,0,NaN,102703000.0,NaN,100109000,NaN,243447000,NaN,200000000.0,22407000.0,501558000,0,52000,NaN,146196000,648293000,"10-Q, 0001193125-10-095215",146735000,NaN,NaN,38718000.0,487000.0,186469000.0,55566000.0,NaN,NaN,31704000.0,NaN,NaN,NaN,109431000.0,18791000.0,1917000.0,35704000.0,0.0,25938000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Q3,2009,NaN,0.0,55717000,18239000.0,234962000,NaN,122119000,NaN,492131000,0,NaN,93451000.0,NaN,79123000,NaN,203522000,NaN,NaN,NaN,259929000,0,64000,NaN,193399000,492131000,"10-Q, 0001193125-09-213071",232202000,NaN,NaN,29606000.0,552000.0,99745000.0,32937000.0,NaN,378549000.0,NaN,NaN,NaN,NaN,104539000.0,NaN,1342000.0,36940000.0,0.0,NaN,11947000.0,10671000.0,13267000.0,19467000.0,340362000.0,22950000.0,NaN,NaN,NaN,NaN,NaN
0,Q2,2009,NaN,0.0,87471000,22381000.0,342564000,NaN,120346000,NaN,591993000,0,NaN,101634000.0,NaN,80495000,NaN,211186000,NaN,NaN,NaN,267622000,0,64000,NaN,163258000,591993000,"10-Q, 0001193125-09-160729",324371000,NaN,NaN,27782000.0,725000.0,167498000.0,33519000.0,NaN,375574000.0,NaN,NaN,NaN,NaN,100316000.0,NaN,1275000.0,37301000.0,0.0,NaN,11430000.0,14671000.0,11542000.0,19135000.0,NaN,22819000.0,215250000.0,NaN,NaN,NaN,NaN
0,Q1,2009,NaN,0.0,115131000,17383000.0,364880000,NaN,123817000,NaN,628678000,0,NaN,112767000.0,NaN,80623000,NaN,226713000,NaN,NaN,NaN,282366000,0,63000,NaN,130815000,628678000,"10-Q, 0001193125-09-103685",346312000,NaN,NaN,32108000.0,NaN,171358000.0,33299000.0,NaN,358620000.0,NaN,NaN,447000.0,NaN,105361000.0,NaN,1215000.0,37656000.0,0.0,NaN,8210000.0,13957000.0,11513000.0,17997000.0,NaN,28649000.0,142739000.0,NaN,NaN,NaN,NaN
0,Q3,2008,NaN,0.0,111524000,18268000.0,301375000,NaN,128541000,NaN,582999000,0,NaN,109277000.0,NaN,65897000,NaN,207889000,NaN,NaN,NaN,258166000,0,62000,NaN,85720000,582999000,"10-Q, 0001193125-08-222820",324833000,NaN,NaN,31625000.0,NaN,139304000.0,NaN,NaN,331489000.0,NaN,NaN,2410000.0,NaN,122558000.0,NaN,NaN,38287000.0,0.0,NaN,9982000.0,15274000.0,10694000.0,11990000.0,NaN,26854000.0,90028000.0,1090000.0,NaN,NaN,NaN
0,Q4,2019,NaN,NaN,5018437000000,1160067000000.0,6178504000000,NaN,565221000000,2727420000000.0,33975712000000,0,4413561000000.0,674347000000.0,843043000000.0,924745000000,NaN,6855696000000,3334323000000.0,14759260000000.0,1444276000000.0,26393555000000,0,2793929000000,23521000000.0,4811749000000,33975712000000,"10-K, 0001065280-20-000040",7582157000000,5151186000000.0,24504567000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
0,Q4,2018,NaN,NaN,3794483000000,748466000000.0,9694135000000,NaN,418281000000,901030000000.0,25974400000000,0,4686019000000.0,562985000000.0,NaN,760899000000,NaN,6487320000000,3759026000000.0,10360058000000.0,129231000000.0,20735635000000,0,2315988000000,19582000000.0,2942359000000,25974400000000,"10-K, 0001065280-19-000043",5238765000000,5151186000000.0,14960954000000.0,477417000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
0,Q4,2017,NaN,NaN,2822795000000,536245000000.0,7669974000000,NaN,319404000000,652309000000.0,19012742000000,0,4173041000000.0,359555000000.0,NaN,618622000000,NaN,5466312000000,3329796000000.0,6499432000000.0,135246000000.0,15430786000000,0,1871396000000,20557000000.0,1731117000000,19012742000000,"10-K, 0001065280-18-000069",3581956000000,4310934000000.0,10371055000000.0,315094000000.0,NaN,266206000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
0,Q4,2016,NaN,NaN,1467576000000,260202000000.0,5720291000000,NaN,250395000000,341423000000.0,13586610000000,0,3632711000000.0,312842000000.0,NaN,443472000000,NaN,4586657000000,2894654000000.0,3364311000000.0,61188000000.0,10906810000000,0,1599762000000,48565000000.0,1128603000000,13586610000000,"10-K, 0001628280-17-000496",2679800000000,3726307000000.0,7274501000000.0,197632000000.0,NaN,266206000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
0,Q4,2015,NaN,NaN,1809330000000,215127000000.0,5431840000000,NaN,173412000000,284802000000.0,10202871000000,0,2789023000000.0,253491000000.0,NaN,346721000000,NaN,3529624000000,2026360000000.0,2371362000000.0,52099000000.0,7979445000000,0,1324809000000,43308000000.0,941925000000,10202871000000,"10-K, 0001065280-16-000047",2223426000000,2905998000000.0,4312817000000.0,140389000000.0,NaN,501385000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
0,Q4,2014,NaN,NaN,1113608000000,206271000000.0,3940469000000,NaN,149875000000,192981000000.0,7056651000000,0,2117241000000.0,201581000000.0,NaN,274586000000,NaN,2663154000000,1575832000000.0,900000000000.0,59957000000.0,5198943000000,0,60000000,NaN,819284000000,7056651000000,"10-K, 0001065280-15-000006",1857708000000,NaN,NaN,69746000000.0,NaN,494888000000.0,2125702000000.0,2773326000000.0,1042810000000.0,NaN,NaN,4446000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [6]:
abt.reset_index(drop=True, inplace=True)

## Exploring the ABT

In [7]:
# All column names are unique, the duplicate column function did its job.
original_col = list(abt.columns)
len(original_col) == len(set(original_col))

True

In [8]:
original_col

['Quarter',
 'Year',
 'Assets',
 'Current assets',
 'Cash',
 'Other current assets',
 'Total current assets',
 'Content assets',
 'Property and Equipment',
 'Other non current assets',
 'Total assets',
 'Current liabilities',
 'Current content liabilities',
 'Accounts payable',
 'Accrued expenses and other liabilities',
 'Deferred Revenue',
 'Short term debt',
 'Total current liabilities',
 'Non current content liabilities',
 'Long term debt',
 'Other non current liabilities',
 'Total liabilities',
 'Commitments and contingencies',
 'Common Stock',
 'Accumulated other comprehensive loss',
 'Retained Earnings',
 'Total liabilities and equity',
 'Filing/Acc.No.',
 'Total Shareholder Equity',
 'Current content assets',
 'Non current content assets',
 'Accrued expenses',
 'Accumulated other comprehensive income',
 'Short term investments',
 'Current content library',
 'Non current content library',
 'Additional paid in capital',
 'Prepaid content',
 'Long term debt due to related party',
 'Accumulated other comprehensive',
 'Content liabilities',
 'Content library',
 'Deferred tax assets',
 'Current portion of lease financing obligations',
 'Lease financing obligations',
 'Total ',
 'Prepaid and other current assets',
 'Prepaid expenses',
 'Prepaid revenue sharing expenses',
 'Other assets',
 'Other liabilities',
 'Treasury stock at cost \nrespectively)',
 'Total Deferred tax assets',
 'Treasury stock at cost',
 'Current portion lease financing obligations',
 'Preferred Stock',
 'Content accounts payable',
 'Other accounts payable']

### After running the del_empty_col one-time we get a list of columns that will be deleted.

In [9]:
new_col =['Quarter',
 'Year',
 'Cash',
 'Other current assets',
 'Total current assets',
 'Property and Equipment',
 'Total assets',
 'Accounts payable',
 'Deferred Revenue',
 'Total current liabilities',
 'Total liabilities',
 'Common Stock',
 'Retained Earnings',
 'Total liabilities and equity',
 'Filing/Acc.No.',
 'Total Shareholder Equity']

### But if left unattended, a lot of data will be unused.

In [10]:
### Following was deleted using .isna().astype(int).mean() > 0.1
del_col = set(original_col) - set(new_col)
print(f'{len(del_col)} of {len(original_col)} columns was deleted.')
print(del_col)

42 of 58 columns was deleted.
{'Total ', 'Additional paid in capital', 'Content library', 'Accumulated other comprehensive loss', 'Long term debt', 'Short term debt', 'Other assets', 'Current content library', 'Prepaid expenses', 'Accrued expenses', 'Other liabilities', 'Prepaid content', 'Long term debt due to related party', 'Other accounts payable', 'Current portion of lease financing obligations', 'Current assets', 'Lease financing obligations', 'Other non current liabilities', 'Current content assets', 'Other non current assets', 'Deferred tax assets', 'Accumulated other comprehensive income', 'Current content liabilities', 'Preferred Stock', 'Commitments and contingencies', 'Short term investments', 'Content liabilities', 'Content accounts payable', 'Prepaid and other current assets', 'Content assets', 'Accrued expenses and other liabilities', 'Assets', 'Current portion lease financing obligations', 'Treasury stock at cost \nrespectively)', 'Treasury stock at cost', 'Accumulated other comprehensive', 'Prepaid revenue sharing expenses', 'Total Deferred tax assets', 'Current liabilities', 'Non current content liabilities', 'Non current content assets', 'Non current content library'}

In [11]:
abt['Current content library']

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN
10                NaN
11                NaN
12                NaN
13                NaN
14       2695184000.0
15       2510946000.0
16       2370447000.0
17       2006981000.0
18       1786341000.0
19       1771410000.0
20       1577514000.0
21       1363609000.0
22       1391505000.0
23       1335769000.0
24       1223638000.0
25       1155443000.0
26        705398000.0
27        499434000.0
28        265933000.0
29        138389000.0
30         93123000.0
31         55566000.0
32         32937000.0
33         33519000.0
34         33299000.0
35                NaN
36                NaN
37                NaN
38                NaN
39                NaN
40                NaN
41    2125702000000.0
42    1706421000000.0
43    1368162000000.0
44     919709000000.0
45     181006000000.0
46      37329000000.0
47      18691000000.0
Name: Current content library, dtype: float64

In [12]:
Content = ['Content assets', 'Current content assets', 'Non current content assets','Current content library']

abt[Content]

,Content assets,Current content assets,Non current content assets,Current content library
0,25155117000.0,NaN,NaN,NaN
1,25266889000.0,NaN,NaN,NaN
2,NaN,5151186000.0,23234994000.0,NaN
3,NaN,5151186000.0,21945740000.0,NaN
4,NaN,5151186000.0,20888785000.0,NaN
5,NaN,4987916000.0,13408443000.0,NaN
6,NaN,4803663000.0,12292070000.0,NaN
7,NaN,4626522000.0,11314803000.0,NaN
8,NaN,4223387000.0,9739704000.0,NaN
9,NaN,4149111000.0,9078474000.0,NaN
10,NaN,4026615000.0,8029112000.0,NaN
11,NaN,3632399000.0,6677674000.0,NaN
12,NaN,3349262000.0,5742938000.0,NaN
13,NaN,3258641000.0,5260160000.0,NaN
14,NaN,NaN,NaN,2695184000.0
15,NaN,NaN,NaN,2510946000.0
16,NaN,NaN,NaN,2370447000.0
17,NaN,NaN,NaN,2006981000.0
18,NaN,NaN,NaN,1786341000.0
19,NaN,NaN,NaN,1771410000.0
20,NaN,NaN,NaN,1577514000.0
21,NaN,NaN,NaN,1363609000.0
22,NaN,NaN,NaN,1391505000.0
23,NaN,NaN,NaN,1335769000.0
24,NaN,NaN,NaN,1223638000.0
25,NaN,NaN,NaN,1155443000.0
26,NaN,NaN,NaN,705398000.0
27,NaN,NaN,NaN,499434000.0
28,NaN,NaN,NaN,265933000.0
29,NaN,NaN,NaN,138389000.0
30,NaN,NaN,NaN,93123000.0
31,NaN,NaN,NaN,55566000.0
32,NaN,NaN,NaN,32937000.0
33,NaN,NaN,NaN,33519000.0
34,NaN,NaN,NaN,33299000.0
35,NaN,NaN,NaN,NaN
36,NaN,5151186000000.0,24504567000000.0,NaN
37,NaN,5151186000000.0,14960954000000.0,NaN
38,NaN,4310934000000.0,10371055000000.0,NaN
39,NaN,3726307000000.0,7274501000000.0,NaN
40,NaN,2905998000000.0,4312817000000.0,NaN
41,NaN,NaN,NaN,2125702000000.0
42,NaN,NaN,NaN,1706421000000.0
43,NaN,NaN,NaN,1368162000000.0
44,NaN,NaN,NaN,919709000000.0
45,NaN,NaN,NaN,181006000000.0
46,NaN,NaN,NaN,37329000000.0
47,NaN,NaN,NaN,18691000000.0

In [13]:
abt['Content Assets'] = abt[Content].sum(axis=1)

In [14]:
abt.drop(Content, axis=1, inplace=True)

In [15]:
abt[['Content Assets']]

      Content Assets
0      25155117000.0
1      25266889000.0
2      28386180000.0
3      27096926000.0
4      26039971000.0
5      18396359000.0
6      17095733000.0
7      15941325000.0
8      13963091000.0
9      13227585000.0
10     12055727000.0
11     10310073000.0
12      9092200000.0
13      8518801000.0
14      2695184000.0
15      2510946000.0
16      2370447000.0
17      2006981000.0
18      1786341000.0
19      1771410000.0
20      1577514000.0
21      1363609000.0
22      1391505000.0
23      1335769000.0
24      1223638000.0
25      1155443000.0
26       705398000.0
27       499434000.0
28       265933000.0
29       138389000.0
30        93123000.0
31        55566000.0
32        32937000.0
33        33519000.0
34        33299000.0
35               0.0
36  29655753000000.0
37  20112140000000.0
38  14681989000000.0
39  11000808000000.0
40   7218815000000.0
41   2125702000000.0
42   1706421000000.0
43   1368162000000.0
44    919709000000.0
45    181006000000.0
46     37329000000.0
47     18691000000.0

In [16]:
# Testing
fixed_assets = ['Accrued expenses and other liabilities', 'Additional paid in capital', 'Long term debt due to related party', 'Deferred tax assets', 'Current portion of lease financing obligations', 'Lease financing obligations', 'Prepaid expenses', 'Prepaid revenue sharing expenses','Long term debt due to related party', 'Other assets', 'Other liabilities', 'Total Deferred tax assets', 'Treasury stock at cost']
abt[fixed_assets]

,Accrued expenses and other liabilities,Additional paid in capital,Long term debt due to related party,Deferred tax assets,Current portion of lease financing obligations,Lease financing obligations,Prepaid expenses,Prepaid revenue sharing expenses,Long term debt due to related party,Other assets,Other liabilities,Total Deferred tax assets,Treasury stock at cost
0,986595000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1061090000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1037723000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,750812000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,746268000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,1109327000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,987256000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,926525000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,868195000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,698677000.0,200000000.0,NaN,NaN,NaN,NaN,NaN,200000000.0,NaN,NaN,NaN,NaN
21,NaN,634985000.0,200000000.0,NaN,NaN,NaN,NaN,NaN,200000000.0,NaN,NaN,NaN,NaN
22,NaN,369801000.0,200000000.0,NaN,NaN,NaN,NaN,NaN,200000000.0,NaN,NaN,NaN,NaN
23,NaN,281593000.0,200000000.0,NaN,NaN,NaN,NaN,NaN,200000000.0,NaN,NaN,NaN,NaN
24,NaN,262699000.0,200000000.0,NaN,NaN,NaN,NaN,NaN,200000000.0,NaN,NaN,NaN,NaN
25,NaN,243424000.0,200000000.0,NaN,NaN,NaN,NaN,NaN,200000000.0,NaN,NaN,NaN,NaN
26,NaN,51622000.0,NaN,28743000.0,2259000.0,32400000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,51622000.0,NaN,25883000.0,2199000.0,32986000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,51622000.0,NaN,22452000.0,2141000.0,33564000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,19219000.0,2027000.0,34659000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,21951000.0,1971000.0,35185000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,18791000.0,1917000.0,35704000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,378549000.0,NaN,NaN,1342000.0,36940000.0,11947000.0,10671000.0,NaN,13267000.0,19467000.0,22950000.0,NaN
33,NaN,375574000.0,NaN,NaN,1275000.0,37301000.0,11430000.0,14671000.0,NaN,11542000.0,19135000.0,22819000.0,215250000.0
34,NaN,358620000.0,NaN,NaN,1215000.0,37656000.0,8210000.0,13957000.0,NaN,11513000.0,17997000.0,28649000.0,142739000.0
35,NaN,331489000.0,NaN,NaN,NaN,38287000.0,9982000.0,15274000.0,NaN,10694000.0,11990000.0,26854000.0,90028000.0
36,843043000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,1042810000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,777441000000.0,200000000000.0,NaN,NaN,NaN,NaN,NaN,200000000000.0,NaN,NaN,NaN,NaN
43,NaN,301616000000.0,200000000000.0,NaN,NaN,NaN,NaN,NaN,200000000000.0,NaN,NaN,NaN,NaN
44,NaN,219119000000.0,200000000000.0,NaN,NaN,NaN,NaN,NaN,200000000000.0,NaN,NaN,NaN,NaN
45,NaN,51622000000.0,NaN,17467000000.0,2083000000.0,34123000000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,338577000000.0,NaN,15958000000.0,1410000000.0,36572000000.0,12491000000.0,17133000000.0,NaN,NaN,NaN,NaN,100020000000.0
47,NaN,338577000000.0,NaN,NaN,1152000000.0,37988000000.0,8122000000.0,18417000000.0,NaN,10595000000.0,16786000000.0,28026000000.0,100020000000.0

In [17]:
abt['Accumulated comprehensive loss'] = abt[['Accumulated other comprehensive income', 'Accumulated other comprehensive loss', 'Accumulated other comprehensive']].sum(axis=1)
abt.drop(['Accumulated other comprehensive income', 'Accumulated other comprehensive loss'], axis=1, inplace=True)

In [18]:
abt[[ 'Long term debt', "Other liabilities", "Other non current liabilities"]]

      Long term debt  Other liabilities  Other non current liabilities
0      15294998000.0                NaN                   1710948000.0
1      14170692000.0                NaN                   1420148000.0
2      12425746000.0                NaN                    977008000.0
3      12594135000.0                NaN                    973232000.0
4      10305023000.0                NaN                    792380000.0
5       8336586000.0                NaN                    127927000.0
6       8342067000.0                NaN                    141071000.0
7       6542373000.0                NaN                    139631000.0
8       4888783000.0                NaN                    128215000.0
9       4836502000.0                NaN                     89186000.0
10      3365431000.0                NaN                     73323000.0
11      2373966000.0                NaN                     57812000.0
12      2373085000.0                NaN                     54231000.0
13      2372218000.0                NaN                     53093000.0
14      2400000000.0                NaN                     40677000.0
15      2400000000.0                NaN                     60093000.0
16      2400000000.0                NaN                     60772000.0
17       900000000.0                NaN                     94397000.0
18       900000000.0                NaN                     90223000.0
19       900000000.0                NaN                     84216000.0
20       500000000.0                NaN                     82764000.0
21       500000000.0                NaN                     80616000.0
22       500000000.0                NaN                     78229000.0
23       200000000.0                NaN                     62791000.0
24       200000000.0                NaN                     62057000.0
25       200000000.0                NaN                     62203000.0
26       200000000.0                NaN                    372840000.0
27       200000000.0                NaN                    276964000.0
28       200000000.0                NaN                     90584000.0
29       200000000.0                NaN                     31542000.0
30       200000000.0                NaN                     23980000.0
31       200000000.0                NaN                     22407000.0
32               NaN         19467000.0                            NaN
33               NaN         19135000.0                            NaN
34               NaN         17997000.0                            NaN
35               NaN         11990000.0                            NaN
36  14759260000000.0                NaN                1444276000000.0
37  10360058000000.0                NaN                 129231000000.0
38   6499432000000.0                NaN                 135246000000.0
39   3364311000000.0                NaN                  61188000000.0
40   2371362000000.0                NaN                  52099000000.0
41    900000000000.0                NaN                  59957000000.0
42    500000000000.0                NaN                  79209000000.0
43    200000000000.0                NaN                  70669000000.0
44    200000000000.0                NaN                  61703000000.0
45    200000000000.0                NaN                  69201000000.0
46    200000000000.0                NaN                  17650000000.0
47               NaN      16786000000.0                            NaN

In [19]:
abt['Non Current liabilities'] = abt[["Other liabilities", "Other non current liabilities"]].sum(axis=1)
abt.drop(["Other liabilities", "Other non current liabilities", 'Long term debt'], axis=1, inplace=True)

In [20]:
abt.drop(["Assets", "Current assets"], axis=1, inplace=True)

In [21]:
abt[[ "Short term investments", "Non current content liabilities", "Additional paid in capital", "Prepaid content", "Other assets","Prepaid expenses", "Prepaid revenue sharing expenses"  ]]

,Short term investments,Non current content liabilities,Additional paid in capital,Prepaid content,Other assets,Prepaid expenses,Prepaid revenue sharing expenses
0,NaN,3208164000.0,NaN,NaN,NaN,NaN,NaN
1,NaN,3206051000.0,NaN,NaN,NaN,NaN,NaN
2,NaN,3419552000.0,NaN,NaN,NaN,NaN,NaN
3,NaN,3564440000.0,NaN,NaN,NaN,NaN,NaN
4,NaN,3560364000.0,NaN,NaN,NaN,NaN,NaN
5,NaN,3593823000.0,NaN,NaN,NaN,NaN,NaN
6,NaN,3604158000.0,NaN,NaN,NaN,NaN,NaN
7,NaN,3444476000.0,NaN,NaN,NaN,NaN,NaN
8,266206000.0,3296504000.0,NaN,NaN,NaN,NaN,NaN
9,246125000.0,3356090000.0,NaN,NaN,NaN,NaN,NaN
10,263405000.0,3035430000.0,NaN,NaN,NaN,NaN,NaN
11,374098000.0,2975189000.0,NaN,NaN,NaN,NaN,NaN
12,443303000.0,2698520000.0,NaN,NaN,NaN,NaN,NaN
13,467227000.0,2586098000.0,NaN,NaN,NaN,NaN,NaN
14,494205000.0,1966854000.0,NaN,NaN,NaN,NaN,NaN
15,502886000.0,1942624000.0,NaN,NaN,NaN,NaN,NaN
16,502931000.0,1861791000.0,1109327000.0,NaN,NaN,NaN,NaN
17,483602000.0,1510403000.0,987256000.0,NaN,NaN,NaN,NaN
18,500121000.0,1390770000.0,926525000.0,NaN,NaN,NaN,NaN
19,510793000.0,1321879000.0,868195000.0,NaN,NaN,NaN,NaN
20,695931000.0,1179055000.0,698677000.0,30522000.0,NaN,NaN,NaN
21,709432000.0,1124249000.0,634985000.0,32064000.0,NaN,NaN,NaN
22,607821000.0,1083427000.0,369801000.0,57254000.0,NaN,NaN,NaN
23,428057000.0,1030979000.0,281593000.0,33152000.0,NaN,NaN,NaN
24,411092000.0,829163000.0,262699000.0,48510000.0,NaN,NaN,NaN
25,408534000.0,908188000.0,243424000.0,53013000.0,NaN,NaN,NaN
26,206573000.0,NaN,51622000.0,77146000.0,NaN,NaN,NaN
27,201200000.0,NaN,51622000.0,59811000.0,NaN,NaN,NaN
28,192302000.0,NaN,51622000.0,74597000.0,NaN,NaN,NaN
29,143705000.0,NaN,NaN,59322000.0,NaN,NaN,NaN
30,171758000.0,NaN,NaN,33837000.0,NaN,NaN,NaN
31,186469000.0,NaN,NaN,31704000.0,NaN,NaN,NaN
32,99745000.0,NaN,378549000.0,NaN,13267000.0,11947000.0,10671000.0
33,167498000.0,NaN,375574000.0,NaN,11542000.0,11430000.0,14671000.0
34,171358000.0,NaN,358620000.0,NaN,11513000.0,8210000.0,13957000.0
35,139304000.0,NaN,331489000.0,NaN,10694000.0,9982000.0,15274000.0
36,NaN,3334323000000.0,NaN,NaN,NaN,NaN,NaN
37,NaN,3759026000000.0,NaN,NaN,NaN,NaN,NaN
38,266206000000.0,3329796000000.0,NaN,NaN,NaN,NaN,NaN
39,266206000000.0,2894654000000.0,NaN,NaN,NaN,NaN,NaN
40,501385000000.0,2026360000000.0,NaN,NaN,NaN,NaN,NaN
41,494888000000.0,1575832000000.0,1042810000000.0,NaN,NaN,NaN,NaN
42,595440000000.0,1345590000000.0,777441000000.0,NaN,NaN,NaN,NaN
43,457787000000.0,1076622000000.0,301616000000.0,59929000000.0,NaN,NaN,NaN
44,289758000000.0,739628000000.0,219119000000.0,56007000000.0,NaN,NaN,NaN
45,155888000000.0,NaN,51622000000.0,62217000000.0,NaN,NaN,NaN
46,186018000000.0,NaN,338577000000.0,NaN,NaN,12491000000.0,17133000000.0
47,157390000000.0,NaN,338577000000.0,NaN,10595000000.0,8122000000.0,18417000000.0

In [22]:
abt['Additional paid in capital'].isna().astype(int).mean() > 0.49

True

In [23]:
# What is the percentage of nulls in a given column.
count = 1
shares = []
for columns in abt:
    
    ratio = abt[columns].notna().astype(int).mean()
    if ratio > 0.5:
        print(f' {count}.  "{columns}" ')
        print( ratio )
        print()
        count+=1
        shares.append(columns)
        
print('Length of Shares: ',len(shares) )
print( shares )

 1.  "Quarter"
1.0

 2.  "Year"
1.0

 3.  "Cash"
1.0

 4.  "Other current assets"
0.9791666666666666

 5.  "Total current assets"
1.0

 6.  "Property and Equipment"
1.0

 7.  "Other non current assets"
0.8958333333333334

 8.  "Total assets"
1.0

 9.  "Current liabilities"
1.0

 10.  "Current content liabilities"
0.6458333333333334

 11.  "Accounts payable"
0.9791666666666666

 12.  "Deferred Revenue"
1.0

 13.  "Total current liabilities"
1.0

 14.  "Non current content liabilities"
0.7291666666666666

 15.  "Total liabilities"
1.0

 16.  "Commitments and contingencies"
1.0

 17.  "Common Stock"
1.0

 18.  "Retained Earnings"
1.0

 19.  "Total liabilities and equity"
1.0

 20.  "Filing/Acc.No."
1.0

 21.  "Total Shareholder Equity"
1.0

 22.  "Accrued expenses"
0.875

 23.  "Short term investments"
0.7916666666666666

 24.  "Content Assets"
1.0

 25.  "Accumulated comprehensive loss"
1.0

 26.  "Non Current liabilities"
1.0

Length of Shares:  26
['Quarter', 'Year', 'Cash', 'Other current assets', 'Total current assets', 'Property and Equipment', 'Other non current assets', 'Total assets', 'Current liabilities', 'Current content liabilities', 'Accounts payable', 'Deferred Revenue', 'Total current liabilities', 'Non current content liabilities', 'Total liabilities', 'Commitments and contingencies', 'Common Stock', 'Retained Earnings', 'Total liabilities and equity', 'Filing/Acc.No.', 'Total Shareholder Equity', 'Accrued expenses', 'Short term investments', 'Content Assets', 'Accumulated comprehensive loss', 'Non Current liabilities']

In [24]:
abt['Accumulated comprehensive loss']

0        34072000.0
1        47054000.0
2        41246000.0
3        20352000.0
4        25600000.0
5        14508000.0
6        12427000.0
7         4264000.0
8        25362000.0
9        31368000.0
10       45859000.0
11       36530000.0
12       38211000.0
13       34401000.0
14       37890000.0
15       38120000.0
16       43154000.0
17        1645000.0
18        6502000.0
19        4503000.0
20        1570000.0
21        1664000.0
22         291000.0
23        3006000.0
24         961000.0
25        1577000.0
26         588000.0
27         884000.0
28         590000.0
29        1279000.0
30         802000.0
31         487000.0
32         552000.0
33         725000.0
34         447000.0
35        2410000.0
36    23521000000.0
37    19582000000.0
38    20557000000.0
39    48565000000.0
40    43308000000.0
41     4446000000.0
42     3575000000.0
43     2919000000.0
44      706000000.0
45      750000000.0
46      273000000.0
47       84000000.0
Name: Accumulated comprehensive loss, dtype: float64

##  Deleting columns with null values above a certain threshold.

In [24]:
df['Additional paid in capital'].values == 0

array([False])

In [25]:
def del_empty_col( df ):
    
    for columns in df:
        
        df.replace(0, np.nan, inplace=True)
        
        if df[columns].isna().astype(int).mean() > 0.49:
            df.drop([columns], inplace=True, axis=1)
            
    df.fillna(0)
        
    return df

In [26]:
del_empty_col(abt).fillna(0)

,Quarter,Year,Cash,Other current assets,Total current assets,Property and Equipment,Other non current assets,Total assets,Current content liabilities,Accounts payable,Deferred Revenue,Total current liabilities,Non current content liabilities,Total liabilities,Common Stock,Retained Earnings,Total liabilities and equity,Filing/Acc.No.,Total Shareholder Equity,Accrued expenses,Short term investments,Content Assets,Accumulated comprehensive loss,Non Current liabilities
0,Q2,2020,7153248000,1410891000.0,8564139000,751941000,2704084000.0,37175281000,4664733000.0,446668000.0,1029261000,7626418000,3208164000.0,27840528000,3127813000,6241012000,37175281000,"10-Q, 0001065280-20-000309",9334753000,0.0,0.0,25155117000.0,34072000.0,1710948000.0
1,Q1,2020,5151884000,1295897000.0,6447781000,650455000,2694785000.0,35059910000,4761585000.0,545488000.0,986753000,7853725000,3206051000.0,26650616000,2935532000,5520816000,35059910000,"10-Q, 0001065280-20-000155",8409294000,0.0,0.0,25266889000.0,47054000.0,1420148000.0
2,Q3,2019,4435018000,892740000.0,5327758000,481992000,1896967000.0,30941711000,4860542000.0,444129000.0,915506000,7257900000,3419552000.0,24080206000,2677972000,4224779000,30941711000,"10-Q, 0001065280-19-000368",6861505000,0.0,0.0,28386180000.0,41246000.0,977008000.0
3,Q2,2019,5004247000,872910000.0,5877157000,452399000,1896043000.0,30171339000,4848201000.0,442194000.0,892777000,6933984000,3564440000.0,24065791000,2566365000,3559535000,30171339000,"10-Q, 0001065280-19-000260",6105548000,0.0,0.0,27096926000.0,20352000.0,973232000.0
4,Q1,2019,3348557000,820350000.0,4168907000,434372000,1726568000.0,27218632000,4863351000.0,439496000.0,808692000,6857807000,3560364000.0,21515574000,2439773000,3288885000,27218632000,"10-Q, 0001065280-19-000157",5703058000,0.0,0.0,26039971000.0,25600000.0,792380000.0
5,Q3,2018,3067534000,674531000.0,8729981000,371152000,856653000.0,23366229000,4613011000.0,441427000.0,716723000,6298240000,3593823000.0,18356576000,2215736000,2808425000,23366229000,"10-Q, 0001065280-18-000538",5009653000,527079000.0,0.0,18396359000.0,14508000.0,127927000.0
6,Q2,2018,3906357000,636869000.0,9346889000,349646000,674932000.0,22663537000,4541087000.0,448219000.0,697740000,6079641000,3604158000.0,18166937000,2103437000,2405590000,22663537000,"10-Q, 0001065280-18-000360",4496600000,392595000.0,0.0,17095733000.0,12427000.0,141071000.0
7,Q1,2018,2593666000,597388000.0,7817576000,341932000,678486000.0,20152797000,4466081000.0,436183000.0,673892000,6005587000,3444476000.0,16132067000,1995225000,2021241000,20152797000,"10-Q, 0001065280-18-000205",4020730000,429431000.0,0.0,15941325000.0,4264000.0,139631000.0
8,Q3,2017,1746469000,415492000.0,6385348000,322421000,504067000.0,16951540000,4142086000.0,301443000.0,535425000,5310677000,3296504000.0,13624179000,1807123000,1545600000,16951540000,"10-Q, 0001065280-17-000180",3327361000,331723000.0,266206000.0,13963091000.0,25362000.0,128215000.0
9,Q2,2017,1918777000,386772000.0,6700785000,309831000,428133000.0,16517223000,4095374000.0,273398000.0,505302000,5122945000,3356090000.0,13404723000,1727858000,1416010000,16517223000,"10-Q, 0001065280-17-000046",3112500000,248871000.0,246125000.0,13227585000.0,31368000.0,89186000.0
10,Q1,2017,1077824000,292486000.0,5660330000,275083000,394571000.0,14359096000,3861447000.0,294831000.0,458693000,4911229000,3035430000.0,11385413000,1669132000,1350410000,14359096000,"10-Q, 0001628280-17-003939",2973683000,296258000.0,263405000.0,12055727000.0,45859000.0,73323000.0
11,Q3,2016,969158000,218238000.0,5193893000,191876000,283895000.0,12347338000,3497214000.0,285753000.0,427206000,4411405000,2975189000.0,9818372000,1503641000,1061855000,12347338000,"10-Q, 0001065280-16-000081",2528966000,201232000.0,374098000.0,10310073000.0,36530000.0,57812000.0
12,Q2,2016,1390925000,203428000.0,5386918000,162864000,300787000.0,11593507000,3242330000.0,240458000.0,396976000,4051837000,2698520000.0,9177673000,1443707000,1010338000,11593507000,"10-Q, 0001065280-16-000072",2415834000,172073000.0,443303000.0,9092200000.0,38211000.0,54231000.0
13,Q1,2016,1605244000,212724000.0,5543836000,166254000,292024000.0,11262274000,3145861000.0,231914000.0,374223000,3933632000,2586098000.0,8945041000,1382051000,969583000,11262274000,"10-Q, 0001065280-16-000057",2317233000,181634000.0,467227000.0,8518801000.0,34401000.0,53093000.0
14,Q3,2015,2115437000,264887000.0,5569713000,181268000,273496000.0,9916267000,2622964000.0,209365000.0,329739000,3341418000,1966854000.0,7748949000,1306461000,898747000,9916267000,"10-Q, 0001065280-15-000038",2167318000,179350000.0,494205000.0,2695184000.0,37890000.0,40677000.0
15,Q2,2015,2293872000,292806000.0,5600510000,171396000,242188000.0,9654861000,2556180000.0,211729000.0,301754000,3220069000,1942624000.0,7622786000,1200880000,869315000,9654861000,"10-Q, 0001065280-15-000031",2032075000,150406000.0,502886000.0,2510946000.0,38120000.0,60093000.0
16,Q1,2015,2454777000,210901000.0,5539056000,145816000,243401000.0,9240626000,2425619000.0,190567000.0,285340000,3008849000,1861791000.0,7331412000,61000,842980000,9240626000,"10-Q, 0001065280-15-000017",1909214000,107323000.0,502931000.0,2370447000.0,43154000.0,60772000.0
17,Q3,2014,1183217000,149682000.0,3823482000,144147000,178818000.0,6778329000,2074766000.0,150374000.0,252956000,2548655000,1510403000.0,5053455000,60000,735913000,6778329000,"10-Q, 0001065280-14-000028",1724874000,70559000.0,483602000.0,2006981000.0,1645000.0,94397000.0
18,Q2,2014,1214244000,167674000.0,3668380000,141715000,166931000.0,6325822000,1858020000.0,137226000.0,241330000,2335124000,1390770000.0,4716117000,60000,676618000,6325822000,"10-Q, 0001065280-14-000021",1609705000,98548000.0,500121000.0,1786341000.0,6502000.0,90223000.0
19,Q1,2014,1157450000,147131000.0,3586784000,133473000,148375000.0,6048106000,1844897000.0,133883000.0,230015000,2263653000,1321879000.0,4569748000,60000,605600000,6048106000,"10-Q, 0001065280-14-000012",1478358000,54858000.0,510793000.0,1771410000.0,4503000.0,84216000.0
20,Q3,2013,439056000,106255000.0,2849278000,127263000,116397000.0,4901325000,1591981000.0,100899000.0,195823000,1935136000,1179055000.0,3696955000,59000,504064000,4901325000,"10-Q, 0001065280-13-000036",1204370000,46433000.0,695931000.0,1577514000.0,1570000.0,82764000.0
21,Q2,2013,370678000,94539000.0,2570322000,127931000,100296000.0,4480751000,1321217000.0,103441000.0,186571000,1670264000,1124249000.0,3375129000,59000,472242000,4480751000,"10-Q, 0001065280-13-000030",1105622000,59035000.0,709432000.0,1363609000.0,1664000.0,80616000.0
22,Q1,2013,418051000,82469000.0,2557100000,129319000,100196000.0,4363289000,1355010000.0,102822000.0,178878000,1688714000,1083427000.0,3550370000,56000,442771000,4363289000,"10-Q, 0001065280-13-000020",812919000,52004000.0,607821000.0,1391505000.0,291000.0,78229000.0
23,Q3,2012,370298000,57742000.0,2225018000,133603000,83646000.0,3808833000,0.0,91511000.0,155146000,1598223000,1030979000.0,3091993000,56000,432185000,3808833000,"10-Q, 0001065280-12-000020",716840000,70681000.0,428057000.0,1335769000.0,3006000.0,62791000.0
24,Q2,2012,402251000,52294000.0,2137785000,124644000,68056000.0,3478290000,0.0,90961000.0,152790000,1498844000,829163000.0,2790064000,56000,424510000,3478290000,"10-Q, 0001065280-12-000012",688226000,50884000.0,411092000.0,1223638000.0,961000.0,62057000.0
25,Q1,2012,395992000,45759000.0,2058741000,128197000,67247000.0,3480459000,0.0,83119000.0,150602000,1446666000,908188000.0,2817057000,55000,418346000,3480459000,"10-Q, 0001445305-12-001242",663402000,49106000.0,408534000.0,1155443000.0,1577000.0,62203000.0
26,Q3,2011,159199000,41797000.0,1190113000,143993000,28499000.0,1961558000,0.0,750107000.0,160929000,967966000,0.0,1573206000,53000,387711000,1961558000,"10-Q, 0001193125-11-284366",388352000,54671000.0,206573000.0,705398000.0,588000.0,372840000.0
27,Q2,2011,175207000,33792000.0,969444000,136948000,13172000.0,1570693000,0.0,533436000.0,146937000,726709000,0.0,1236659000,53000,333097000,1570693000,"10-Q, 0001193125-11-198669",334034000,44137000.0,201200000.0,499434000.0,884000.0,276964000.0
28,Q1,2011,150419000,38351000.0,721602000,134800000,13780000.0,1090188000,0.0,301009000.0,143045000,490318000,0.0,814466000,52000,275080000,1090188000,"10-Q, 0001193125-11-112061",275722000,44123000.0,192302000.0,265933000.0,590000.0,90584000.0
29,Q3,2010,113108000,37723000.0,492247000,125057000,13713000.0,770283000,0.0,170120000.0,102986000,312107000,0.0,578308000,52000,190644000,770283000,"10-Q, 0001193125-10-235785",191975000,36974000.0,143705000.0,138389000.0,1279000.0,31542000.0
30,Q2,2010,107327000,35173000.0,441218000,123292000,12845000.0,693972000,0.0,120031000.0,101419000,258167000,0.0,517332000,52000,175786000,693972000,"10-Q, 0001193125-10-167382",176640000,34746000.0,171758000.0,93123000.0,802000.0,23980000.0
31,Q1,2010,79861000,0.0,379538000,127165000,13368000.0,648293000,0.0,102703000.0,100109000,243447000,0.0,501558000,52000,146196000,648293000,"10-Q, 0001193125-10-095215",146735000,38718000.0,186469000.0,55566000.0,487000.0,22407000.0
32,Q3,2009,55717000,18239000.0,234962000,122119000,0.0,492131000,0.0,93451000.0,79123000,203522000,0.0,259929000,64000,193399000,492131000,"10-Q, 0001193125-09-213071",232202000,29606000.0,99745000.0,32937000.0,552000.0,19467000.0
33,Q2,2009,87471000,22381000.0,342564000,120346000,0.0,591993000,0.0,101634000.0,80495000,211186000,0.0,267622000,64000,163258000,591993000,"10-Q, 0001193125-09-160729",324371000,27782000.0,167498000.0,33519000.0,725000.0,19135000.0
34,Q1,2009,115131000,17383000.0,364880000,123817000,0.0,628678000,0.0,112767000.0,80623000,226713000,0.0,282366000,63000,130815000,628678000,"10-Q, 0001193125-09-103685",346312000,32108000.0,171358000.0,33299000.0,447000.0,17997000.0
35,Q3,2008,111524000,18268000.0,301375000,128541000,0.0,582999000,0.0,109277000.0,65897000,207889000,0.0,258166000,62000,85720000,582999000,"10-Q, 0001193125-08-222820",324833000,31625000.0,139304000.0,0.0,2410000.0,11990000.0
36,Q4,2019,5018437000000,1160067000000.0,6178504000000,565221000000,2727420000000.0,33975712000000,4413561000000.0,674347000000.0,924745000000,6855696000000,3334323000000.0,26393555000000,2793929000000,4811749000000,33975712000000,"10-K, 0001065280-20-000040",7582157000000,0.0,0.0,29655753000000.0,23521000000.0,1444276000000.0
37,Q4,2018,3794483000000,748466000000.0,9694135000000,418281000000,901030000000.0,25974400000000,4686019000000.0,562985000000.0,760899000000,6487320000000,3759026000000.0,20735635000000,2315988000000,2942359000000,25974400000000,"10-K, 0001065280-19-000043",5238765000000,477417000000.0,0.0,20112140000000.0,19582000000.0,129231000000.0
38,Q4,2017,2822795000000,536245000000.0,7669974000000,319404000000,652309000000.0,19012742000000,4173041000000.0,359555000000.0,618622000000,5466312000000,3329796000000.0,15430786000000,1871396000000,1731117000000,19012742000000,"10-K, 0001065280-18-000069",3581956000000,315094000000.0,266206000000.0,14681989000000.0,20557000000.0,135246000000.0
39,Q4,2016,1467576000000,260202000000.0,5720291000000,250395000000,341423000000.0,13586610000000,3632711000000.0,312842000000.0,443472000000,4586657000000,2894654000000.0,10906810000000,1599762000000,1128603000000,13586610000000,"10-K, 0001628280-17-000496",2679800000000,197632000000.0,266206000000.0,11000808000000.0,48565000000.0,61188000000.0
40,Q4,2015,1809330000000,215127000000.0,5431840000000,173412000000,284802000000.0,10202871000000,2789023000000.0,253491000000.0,346721000000,3529624000000,2026360000000.0,7979445000000,1324809000000,941925000000,10202871000000,"10-K, 0001065280-16-000047",2223426000000,140389000000.0,501385000000.0,7218815000000.0,43308000000.0,52099000000.0
41,Q4,2014,1113608000000,206271000000.0,3940469000000,149875000000,192981000000.0,7056651000000,2117241000000.0,201581000000.0,274586000000,2663154000000,1575832000000.0,5198943000000,60000000,819284000000,7056651000000,"10-K, 0001065280-15-000006",1857708000000,69746000000.0,494888000000.0,2125702000000.0,4446000000.0,59957000000.0
42,Q4,2013,604965000000,151937000000.0,3058763000000,133605000000,129124000000.0,5412563000000,1775983000000.0,108435000000.0,215767000000,2154203000000,1345590000000.0,4079002000000,60000000,552485000000,5412563000000,"10-K, 0001065280-14-000006",1333561000000,54018000000.0,595440000000.0,1706421000000.0,3575000000.0,79209000000.0
43,Q4,2012,290291000000,64622000000.0,2240791000000,131681000000,89410000000.0,3967890000000,1366847000000.0,86468000000.0,169472000000,1675926000000,1076622000000.0,3223217000000,56000000,440082000000,3967890000000,"10-K, 0001065280-13-000008",744673000000,53139000000.0,457787000000.0,1368162000000.0,2919000000.0,70669000000.0
44,Q4,2011,508053000000,57330000000.0,1830857000000,136353000000,55052000000.0,3069196000000,0.0,0.0,148796000000,1225055000000,739628000000.0,2426386000000,55000000,422930000000,3069196000000,"10-K, 0001193125-12-053009",642810000000,63693000000.0,289758000000.0,919709000000.0,706000000.0,61703000000.0
45,Q4,2010,194499000000,47357000000.0,640967000000,128570000000,14090000000.0,982067000000,0.0,222824000000.0,127183000000,388579000000,0.0,691903000000,53000000,237739000000,982067000000,"10-K, 0001193125-11-040217",290164000000,36489000000.0,155888000000.0,181006000000.0,750000000.0,69201000000.0
46,Q4,2009,134224000000,23818000000.0,411013000000,131653000000,12300000000.0,679734000000,0.0,91475000000.0,100097000000,226369000000,0.0,480591000000,53000000,198817000000,679734000000,"10-K, 0001193125-10-036181",199143000000,33387000000.0,186018000000.0,37329000000.0,273000000.0,17650000000.0
47,Q4,2008,139881000000,13329000000.0,361447000000,124948000000,0.0,617946000000,0.0,100344000000.0,83127000000,216017000000,0.0,270791000000,62000000,108452000000,617946000000,"10-K, 0001193125-09-037430",347155000000,31394000000.0,157390000000.0,18691000000.0,84000000.0,16786000000.0

In [27]:
# Just for checking.
def checking_duplicate_columns( DataF ):
    
    duplicates = [k for (k,v) in Counter(DataF.columns).items() if v > 1] 
    
    print('Shape of df: ', DataF.shape )
    return duplicates

In [28]:
checking_duplicate_columns(abt)

Shape of df:  (48, 24)

[]

In [29]:
new_col = list(abt.columns)

In [30]:
abt

,Quarter,Year,Cash,Other current assets,Total current assets,Property and Equipment,Other non current assets,Total assets,Current content liabilities,Accounts payable,Deferred Revenue,Total current liabilities,Non current content liabilities,Total liabilities,Common Stock,Retained Earnings,Total liabilities and equity,Filing/Acc.No.,Total Shareholder Equity,Accrued expenses,Short term investments,Content Assets,Accumulated comprehensive loss,Non Current liabilities
0,Q2,2020,7153248000,1410891000.0,8564139000,751941000,2704084000.0,37175281000,4664733000.0,446668000.0,1029261000,7626418000,3208164000.0,27840528000,3127813000,6241012000,37175281000,"10-Q, 0001065280-20-000309",9334753000,NaN,NaN,25155117000.0,34072000.0,1710948000.0
1,Q1,2020,5151884000,1295897000.0,6447781000,650455000,2694785000.0,35059910000,4761585000.0,545488000.0,986753000,7853725000,3206051000.0,26650616000,2935532000,5520816000,35059910000,"10-Q, 0001065280-20-000155",8409294000,NaN,NaN,25266889000.0,47054000.0,1420148000.0
2,Q3,2019,4435018000,892740000.0,5327758000,481992000,1896967000.0,30941711000,4860542000.0,444129000.0,915506000,7257900000,3419552000.0,24080206000,2677972000,4224779000,30941711000,"10-Q, 0001065280-19-000368",6861505000,NaN,NaN,28386180000.0,41246000.0,977008000.0
3,Q2,2019,5004247000,872910000.0,5877157000,452399000,1896043000.0,30171339000,4848201000.0,442194000.0,892777000,6933984000,3564440000.0,24065791000,2566365000,3559535000,30171339000,"10-Q, 0001065280-19-000260",6105548000,NaN,NaN,27096926000.0,20352000.0,973232000.0
4,Q1,2019,3348557000,820350000.0,4168907000,434372000,1726568000.0,27218632000,4863351000.0,439496000.0,808692000,6857807000,3560364000.0,21515574000,2439773000,3288885000,27218632000,"10-Q, 0001065280-19-000157",5703058000,NaN,NaN,26039971000.0,25600000.0,792380000.0
5,Q3,2018,3067534000,674531000.0,8729981000,371152000,856653000.0,23366229000,4613011000.0,441427000.0,716723000,6298240000,3593823000.0,18356576000,2215736000,2808425000,23366229000,"10-Q, 0001065280-18-000538",5009653000,527079000.0,NaN,18396359000.0,14508000.0,127927000.0
6,Q2,2018,3906357000,636869000.0,9346889000,349646000,674932000.0,22663537000,4541087000.0,448219000.0,697740000,6079641000,3604158000.0,18166937000,2103437000,2405590000,22663537000,"10-Q, 0001065280-18-000360",4496600000,392595000.0,NaN,17095733000.0,12427000.0,141071000.0
7,Q1,2018,2593666000,597388000.0,7817576000,341932000,678486000.0,20152797000,4466081000.0,436183000.0,673892000,6005587000,3444476000.0,16132067000,1995225000,2021241000,20152797000,"10-Q, 0001065280-18-000205",4020730000,429431000.0,NaN,15941325000.0,4264000.0,139631000.0
8,Q3,2017,1746469000,415492000.0,6385348000,322421000,504067000.0,16951540000,4142086000.0,301443000.0,535425000,5310677000,3296504000.0,13624179000,1807123000,1545600000,16951540000,"10-Q, 0001065280-17-000180",3327361000,331723000.0,266206000.0,13963091000.0,25362000.0,128215000.0
9,Q2,2017,1918777000,386772000.0,6700785000,309831000,428133000.0,16517223000,4095374000.0,273398000.0,505302000,5122945000,3356090000.0,13404723000,1727858000,1416010000,16517223000,"10-Q, 0001065280-17-000046",3112500000,248871000.0,246125000.0,13227585000.0,31368000.0,89186000.0
10,Q1,2017,1077824000,292486000.0,5660330000,275083000,394571000.0,14359096000,3861447000.0,294831000.0,458693000,4911229000,3035430000.0,11385413000,1669132000,1350410000,14359096000,"10-Q, 0001628280-17-003939",2973683000,296258000.0,263405000.0,12055727000.0,45859000.0,73323000.0
11,Q3,2016,969158000,218238000.0,5193893000,191876000,283895000.0,12347338000,3497214000.0,285753000.0,427206000,4411405000,2975189000.0,9818372000,1503641000,1061855000,12347338000,"10-Q, 0001065280-16-000081",2528966000,201232000.0,374098000.0,10310073000.0,36530000.0,57812000.0
12,Q2,2016,1390925000,203428000.0,5386918000,162864000,300787000.0,11593507000,3242330000.0,240458000.0,396976000,4051837000,2698520000.0,9177673000,1443707000,1010338000,11593507000,"10-Q, 0001065280-16-000072",2415834000,172073000.0,443303000.0,9092200000.0,38211000.0,54231000.0
13,Q1,2016,1605244000,212724000.0,5543836000,166254000,292024000.0,11262274000,3145861000.0,231914000.0,374223000,3933632000,2586098000.0,8945041000,1382051000,969583000,11262274000,"10-Q, 0001065280-16-000057",2317233000,181634000.0,467227000.0,8518801000.0,34401000.0,53093000.0
14,Q3,2015,2115437000,264887000.0,5569713000,181268000,273496000.0,9916267000,2622964000.0,209365000.0,329739000,3341418000,1966854000.0,7748949000,1306461000,898747000,9916267000,"10-Q, 0001065280-15-000038",2167318000,179350000.0,494205000.0,2695184000.0,37890000.0,40677000.0
15,Q2,2015,2293872000,292806000.0,5600510000,171396000,242188000.0,9654861000,2556180000.0,211729000.0,301754000,3220069000,1942624000.0,7622786000,1200880000,869315000,9654861000,"10-Q, 0001065280-15-000031",2032075000,150406000.0,502886000.0,2510946000.0,38120000.0,60093000.0
16,Q1,2015,2454777000,210901000.0,5539056000,145816000,243401000.0,9240626000,2425619000.0,190567000.0,285340000,3008849000,1861791000.0,7331412000,61000,842980000,9240626000,"10-Q, 0001065280-15-000017",1909214000,107323000.0,502931000.0,2370447000.0,43154000.0,60772000.0
17,Q3,2014,1183217000,149682000.0,3823482000,144147000,178818000.0,6778329000,2074766000.0,150374000.0,252956000,2548655000,1510403000.0,5053455000,60000,735913000,6778329000,"10-Q, 0001065280-14-000028",1724874000,70559000.0,483602000.0,2006981000.0,1645000.0,94397000.0
18,Q2,2014,1214244000,167674000.0,3668380000,141715000,166931000.0,6325822000,1858020000.0,137226000.0,241330000,2335124000,1390770000.0,4716117000,60000,676618000,6325822000,"10-Q, 0001065280-14-000021",1609705000,98548000.0,500121000.0,1786341000.0,6502000.0,90223000.0
19,Q1,2014,1157450000,147131000.0,3586784000,133473000,148375000.0,6048106000,1844897000.0,133883000.0,230015000,2263653000,1321879000.0,4569748000,60000,605600000,6048106000,"10-Q, 0001065280-14-000012",1478358000,54858000.0,510793000.0,1771410000.0,4503000.0,84216000.0
20,Q3,2013,439056000,106255000.0,2849278000,127263000,116397000.0,4901325000,1591981000.0,100899000.0,195823000,1935136000,1179055000.0,3696955000,59000,504064000,4901325000,"10-Q, 0001065280-13-000036",1204370000,46433000.0,695931000.0,1577514000.0,1570000.0,82764000.0
21,Q2,2013,370678000,94539000.0,2570322000,127931000,100296000.0,4480751000,1321217000.0,103441000.0,186571000,1670264000,1124249000.0,3375129000,59000,472242000,4480751000,"10-Q, 0001065280-13-000030",1105622000,59035000.0,709432000.0,1363609000.0,1664000.0,80616000.0
22,Q1,2013,418051000,82469000.0,2557100000,129319000,100196000.0,4363289000,1355010000.0,102822000.0,178878000,1688714000,1083427000.0,3550370000,56000,442771000,4363289000,"10-Q, 0001065280-13-000020",812919000,52004000.0,607821000.0,1391505000.0,291000.0,78229000.0
23,Q3,2012,370298000,57742000.0,2225018000,133603000,83646000.0,3808833000,NaN,91511000.0,155146000,1598223000,1030979000.0,3091993000,56000,432185000,3808833000,"10-Q, 0001065280-12-000020",716840000,70681000.0,428057000.0,1335769000.0,3006000.0,62791000.0
24,Q2,2012,402251000,52294000.0,2137785000,124644000,68056000.0,3478290000,NaN,90961000.0,152790000,1498844000,829163000.0,2790064000,56000,424510000,3478290000,"10-Q, 0001065280-12-000012",688226000,50884000.0,411092000.0,1223638000.0,961000.0,62057000.0
25,Q1,2012,395992000,45759000.0,2058741000,128197000,67247000.0,3480459000,NaN,83119000.0,150602000,1446666000,908188000.0,2817057000,55000,418346000,3480459000,"10-Q, 0001445305-12-001242",663402000,49106000.0,408534000.0,1155443000.0,1577000.0,62203000.0
26,Q3,2011,159199000,41797000.0,1190113000,143993000,28499000.0,1961558000,NaN,750107000.0,160929000,967966000,NaN,1573206000,53000,387711000,1961558000,"10-Q, 0001193125-11-284366",388352000,54671000.0,206573000.0,705398000.0,588000.0,372840000.0
27,Q2,2011,175207000,33792000.0,969444000,136948000,13172000.0,1570693000,NaN,533436000.0,146937000,726709000,NaN,1236659000,53000,333097000,1570693000,"10-Q, 0001193125-11-198669",334034000,44137000.0,201200000.0,499434000.0,884000.0,276964000.0
28,Q1,2011,150419000,38351000.0,721602000,134800000,13780000.0,1090188000,NaN,301009000.0,143045000,490318000,NaN,814466000,52000,275080000,1090188000,"10-Q, 0001193125-11-112061",275722000,44123000.0,192302000.0,265933000.0,590000.0,90584000.0
29,Q3,2010,113108000,37723000.0,492247000,125057000,13713000.0,770283000,NaN,170120000.0,102986000,312107000,NaN,578308000,52000,190644000,770283000,"10-Q, 0001193125-10-235785",191975000,36974000.0,143705000.0,138389000.0,1279000.0,31542000.0
30,Q2,2010,107327000,35173000.0,441218000,123292000,12845000.0,693972000,NaN,120031000.0,101419000,258167000,NaN,517332000,52000,175786000,693972000,"10-Q, 0001193125-10-167382",176640000,34746000.0,171758000.0,93123000.0,802000.0,23980000.0
31,Q1,2010,79861000,NaN,379538000,127165000,13368000.0,648293000,NaN,102703000.0,100109000,243447000,NaN,501558000,52000,146196000,648293000,"10-Q, 0001193125-10-095215",146735000,38718000.0,186469000.0,55566000.0,487000.0,22407000.0
32,Q3,2009,55717000,18239000.0,234962000,122119000,NaN,492131000,NaN,93451000.0,79123000,203522000,NaN,259929000,64000,193399000,492131000,"10-Q, 0001193125-09-213071",232202000,29606000.0,99745000.0,32937000.0,552000.0,19467000.0
33,Q2,2009,87471000,22381000.0,342564000,120346000,NaN,591993000,NaN,101634000.0,80495000,211186000,NaN,267622000,64000,163258000,591993000,"10-Q, 0001193125-09-160729",324371000,27782000.0,167498000.0,33519000.0,725000.0,19135000.0
34,Q1,2009,115131000,17383000.0,364880000,123817000,NaN,628678000,NaN,112767000.0,80623000,226713000,NaN,282366000,63000,130815000,628678000,"10-Q, 0001193125-09-103685",346312000,32108000.0,171358000.0,33299000.0,447000.0,17997000.0
35,Q3,2008,111524000,18268000.0,301375000,128541000,NaN,582999000,NaN,109277000.0,65897000,207889000,NaN,258166000,62000,85720000,582999000,"10-Q, 0001193125-08-222820",324833000,31625000.0,139304000.0,NaN,2410000.0,11990000.0
36,Q4,2019,5018437000000,1160067000000.0,6178504000000,565221000000,2727420000000.0,33975712000000,4413561000000.0,674347000000.0,924745000000,6855696000000,3334323000000.0,26393555000000,2793929000000,4811749000000,33975712000000,"10-K, 0001065280-20-000040",7582157000000,NaN,NaN,29655753000000.0,23521000000.0,1444276000000.0
37,Q4,2018,3794483000000,748466000000.0,9694135000000,418281000000,901030000000.0,25974400000000,4686019000000.0,562985000000.0,760899000000,6487320000000,3759026000000.0,20735635000000,2315988000000,2942359000000,25974400000000,"10-K, 0001065280-19-000043",5238765000000,477417000000.0,NaN,20112140000000.0,19582000000.0,129231000000.0
38,Q4,2017,2822795000000,536245000000.0,7669974000000,319404000000,652309000000.0,19012742000000,4173041000000.0,359555000000.0,618622000000,5466312000000,3329796000000.0,15430786000000,1871396000000,1731117000000,19012742000000,"10-K, 0001065280-18-000069",3581956000000,315094000000.0,266206000000.0,14681989000000.0,20557000000.0,135246000000.0
39,Q4,2016,1467576000000,260202000000.0,5720291000000,250395000000,341423000000.0,13586610000000,3632711000000.0,312842000000.0,443472000000,4586657000000,2894654000000.0,10906810000000,1599762000000,1128603000000,13586610000000,"10-K, 0001628280-17-000496",2679800000000,197632000000.0,266206000000.0,11000808000000.0,48565000000.0,61188000000.0
40,Q4,2015,1809330000000,215127000000.0,5431840000000,173412000000,284802000000.0,10202871000000,2789023000000.0,253491000000.0,346721000000,3529624000000,2026360000000.0,7979445000000,1324809000000,941925000000,10202871000000,"10-K, 0001065280-16-000047",2223426000000,140389000000.0,501385000000.0,7218815000000.0,43308000000.0,52099000000.0
41,Q4,2014,1113608000000,206271000000.0,3940469000000,149875000000,192981000000.0,7056651000000,2117241000000.0,201581000000.0,274586000000,2663154000000,1575832000000.0,5198943000000,60000000,819284000000,7056651000000,"10-K, 0001065280-15-000006",1857708000000,69746000000.0,494888000000.0,2125702000000.0,4446000000.0,59957000000.0
42,Q4,2013,604965000000,151937000000.0,3058763000000,133605000000,129124000000.0,5412563000000,1775983000000.0,108435000000.0,215767000000,2154203000000,1345590000000.0,4079002000000,60000000,552485000000,5412563000000,"10-K, 0001065280-14-000006",1333561000000,54018000000.0,595440000000.0,1706421000000.0,3575000000.0,79209000000.0
43,Q4,2012,290291000000,64622000000.0,2240791000000,131681000000,89410000000.0,3967890000000,1366847000000.0,86468000000.0,169472000000,1675926000000,1076622000000.0,3223217000000,56000000,440082000000,3967890000000,"10-K, 0001065280-13-000008",744673000000,53139000000.0,457787000000.0,1368162000000.0,2919000000.0,70669000000.0
44,Q4,2011,508053000000,57330000000.0,1830857000000,136353000000,55052000000.0,3069196000000,NaN,NaN,148796000000,1225055000000,739628000000.0,2426386000000,55000000,422930000000,3069196000000,"10-K, 0001193125-12-053009",642810000000,63693000000.0,289758000000.0,919709000000.0,706000000.0,61703000000.0
45,Q4,2010,194499000000,47357000000.0,640967000000,128570000000,14090000000.0,982067000000,NaN,222824000000.0,127183000000,388579000000,NaN,691903000000,53000000,237739000000,982067000000,"10-K, 0001193125-11-040217",290164000000,36489000000.0,155888000000.0,181006000000.0,750000000.0,69201000000.0
46,Q4,2009,134224000000,23818000000.0,411013000000,131653000000,12300000000.0,679734000000,NaN,91475000000.0,100097000000,226369000000,NaN,480591000000,53000000,198817000000,679734000000,"10-K, 0001193125-10-036181",199143000000,33387000000.0,186018000000.0,37329000000.0,273000000.0,17650000000.0
47,Q4,2008,139881000000,13329000000.0,361447000000,124948000000,NaN,617946000000,NaN,100344000000.0,83127000000,216017000000,NaN,270791000000,62000000,108452000000,617946000000,"10-K, 0001193125-09-037430",347155000000,31394000000.0,157390000000.0,18691000000.0,84000000.0,16786000000.0

https://stackoverflow.com/questions/50950614/converting-column-into-multi-index-column

In [31]:
print(len(set(abt.columns)))
print('\n')
print(list(set(abt.columns)))

24


['Total Shareholder Equity', 'Non Current liabilities', 'Total current liabilities', 'Accumulated comprehensive loss', 'Accounts payable', 'Accrued expenses', 'Property and Equipment', 'Total liabilities and equity', 'Common Stock', 'Deferred Revenue', 'Other non current assets', 'Retained Earnings', 'Total current assets', 'Total liabilities', 'Current content liabilities', 'Content Assets', 'Short term investments', 'Other current assets', 'Filing/Acc.No.', 'Cash', 'Total assets', 'Quarter', 'Year', 'Non current content liabilities']

# Save the ABT

In [32]:
abt.to_csv('abt-Netflix.csv', index=False)
abt.shape

(48, 24)

In [33]:
# Check shape to see if the save file is up-to-date. 
imported_df = pd.read_csv('abt-Netflix.csv')
imported_df.shape

(48, 24)

In [34]:
imported_df

,Quarter,Year,Cash,Other current assets,Total current assets,Property and Equipment,Other non current assets,Total assets,Current content liabilities,Accounts payable,Deferred Revenue,Total current liabilities,Non current content liabilities,Total liabilities,Common Stock,Retained Earnings,Total liabilities and equity,Filing/Acc.No.,Total Shareholder Equity,Accrued expenses,Short term investments,Content Assets,Accumulated comprehensive loss,Non Current liabilities
0,Q2,2020,7153248000,1410891000.0,8564139000,751941000,2704084000.0,37175281000,4664733000.0,446668000.0,1029261000,7626418000,3208164000.0,27840528000,3127813000,6241012000,37175281000,"10-Q, 0001065280-20-000309",9334753000,NaN,NaN,25155117000.0,34072000.0,1710948000.0
1,Q1,2020,5151884000,1295897000.0,6447781000,650455000,2694785000.0,35059910000,4761585000.0,545488000.0,986753000,7853725000,3206051000.0,26650616000,2935532000,5520816000,35059910000,"10-Q, 0001065280-20-000155",8409294000,NaN,NaN,25266889000.0,47054000.0,1420148000.0
2,Q3,2019,4435018000,892740000.0,5327758000,481992000,1896967000.0,30941711000,4860542000.0,444129000.0,915506000,7257900000,3419552000.0,24080206000,2677972000,4224779000,30941711000,"10-Q, 0001065280-19-000368",6861505000,NaN,NaN,28386180000.0,41246000.0,977008000.0
3,Q2,2019,5004247000,872910000.0,5877157000,452399000,1896043000.0,30171339000,4848201000.0,442194000.0,892777000,6933984000,3564440000.0,24065791000,2566365000,3559535000,30171339000,"10-Q, 0001065280-19-000260",6105548000,NaN,NaN,27096926000.0,20352000.0,973232000.0
4,Q1,2019,3348557000,820350000.0,4168907000,434372000,1726568000.0,27218632000,4863351000.0,439496000.0,808692000,6857807000,3560364000.0,21515574000,2439773000,3288885000,27218632000,"10-Q, 0001065280-19-000157",5703058000,NaN,NaN,26039971000.0,25600000.0,792380000.0
5,Q3,2018,3067534000,674531000.0,8729981000,371152000,856653000.0,23366229000,4613011000.0,441427000.0,716723000,6298240000,3593823000.0,18356576000,2215736000,2808425000,23366229000,"10-Q, 0001065280-18-000538",5009653000,527079000.0,NaN,18396359000.0,14508000.0,127927000.0
6,Q2,2018,3906357000,636869000.0,9346889000,349646000,674932000.0,22663537000,4541087000.0,448219000.0,697740000,6079641000,3604158000.0,18166937000,2103437000,2405590000,22663537000,"10-Q, 0001065280-18-000360",4496600000,392595000.0,NaN,17095733000.0,12427000.0,141071000.0
7,Q1,2018,2593666000,597388000.0,7817576000,341932000,678486000.0,20152797000,4466081000.0,436183000.0,673892000,6005587000,3444476000.0,16132067000,1995225000,2021241000,20152797000,"10-Q, 0001065280-18-000205",4020730000,429431000.0,NaN,15941325000.0,4264000.0,139631000.0
8,Q3,2017,1746469000,415492000.0,6385348000,322421000,504067000.0,16951540000,4142086000.0,301443000.0,535425000,5310677000,3296504000.0,13624179000,1807123000,1545600000,16951540000,"10-Q, 0001065280-17-000180",3327361000,331723000.0,266206000.0,13963091000.0,25362000.0,128215000.0
9,Q2,2017,1918777000,386772000.0,6700785000,309831000,428133000.0,16517223000,4095374000.0,273398000.0,505302000,5122945000,3356090000.0,13404723000,1727858000,1416010000,16517223000,"10-Q, 0001065280-17-000046",3112500000,248871000.0,246125000.0,13227585000.0,31368000.0,89186000.0
10,Q1,2017,1077824000,292486000.0,5660330000,275083000,394571000.0,14359096000,3861447000.0,294831000.0,458693000,4911229000,3035430000.0,11385413000,1669132000,1350410000,14359096000,"10-Q, 0001628280-17-003939",2973683000,296258000.0,263405000.0,12055727000.0,45859000.0,73323000.0
11,Q3,2016,969158000,218238000.0,5193893000,191876000,283895000.0,12347338000,3497214000.0,285753000.0,427206000,4411405000,2975189000.0,9818372000,1503641000,1061855000,12347338000,"10-Q, 0001065280-16-000081",2528966000,201232000.0,374098000.0,10310073000.0,36530000.0,57812000.0
12,Q2,2016,1390925000,203428000.0,5386918000,162864000,300787000.0,11593507000,3242330000.0,240458000.0,396976000,4051837000,2698520000.0,9177673000,1443707000,1010338000,11593507000,"10-Q, 0001065280-16-000072",2415834000,172073000.0,443303000.0,9092200000.0,38211000.0,54231000.0
13,Q1,2016,1605244000,212724000.0,5543836000,166254000,292024000.0,11262274000,3145861000.0,231914000.0,374223000,3933632000,2586098000.0,8945041000,1382051000,969583000,11262274000,"10-Q, 0001065280-16-000057",2317233000,181634000.0,467227000.0,8518801000.0,34401000.0,53093000.0
14,Q3,2015,2115437000,264887000.0,5569713000,181268000,273496000.0,9916267000,2622964000.0,209365000.0,329739000,3341418000,1966854000.0,7748949000,1306461000,898747000,9916267000,"10-Q, 0001065280-15-000038",2167318000,179350000.0,494205000.0,2695184000.0,37890000.0,40677000.0
15,Q2,2015,2293872000,292806000.0,5600510000,171396000,242188000.0,9654861000,2556180000.0,211729000.0,301754000,3220069000,1942624000.0,7622786000,1200880000,869315000,9654861000,"10-Q, 0001065280-15-000031",2032075000,150406000.0,502886000.0,2510946000.0,38120000.0,60093000.0
16,Q1,2015,2454777000,210901000.0,5539056000,145816000,243401000.0,9240626000,2425619000.0,190567000.0,285340000,3008849000,1861791000.0,7331412000,61000,842980000,9240626000,"10-Q, 0001065280-15-000017",1909214000,107323000.0,502931000.0,2370447000.0,43154000.0,60772000.0
17,Q3,2014,1183217000,149682000.0,3823482000,144147000,178818000.0,6778329000,2074766000.0,150374000.0,252956000,2548655000,1510403000.0,5053455000,60000,735913000,6778329000,"10-Q, 0001065280-14-000028",1724874000,70559000.0,483602000.0,2006981000.0,1645000.0,94397000.0
18,Q2,2014,1214244000,167674000.0,3668380000,141715000,166931000.0,6325822000,1858020000.0,137226000.0,241330000,2335124000,1390770000.0,4716117000,60000,676618000,6325822000,"10-Q, 0001065280-14-000021",1609705000,98548000.0,500121000.0,1786341000.0,6502000.0,90223000.0
19,Q1,2014,1157450000,147131000.0,3586784000,133473000,148375000.0,6048106000,1844897000.0,133883000.0,230015000,2263653000,1321879000.0,4569748000,60000,605600000,6048106000,"10-Q, 0001065280-14-000012",1478358000,54858000.0,510793000.0,1771410000.0,4503000.0,84216000.0
20,Q3,2013,439056000,106255000.0,2849278000,127263000,116397000.0,4901325000,1591981000.0,100899000.0,195823000,1935136000,1179055000.0,3696955000,59000,504064000,4901325000,"10-Q, 0001065280-13-000036",1204370000,46433000.0,695931000.0,1577514000.0,1570000.0,82764000.0
21,Q2,2013,370678000,94539000.0,2570322000,127931000,100296000.0,4480751000,1321217000.0,103441000.0,186571000,1670264000,1124249000.0,3375129000,59000,472242000,4480751000,"10-Q, 0001065280-13-000030",1105622000,59035000.0,709432000.0,1363609000.0,NaN,80616000.0
22,Q1,2013,418051000,82469000.0,2557100000,129319000,100196000.0,4363289000,1355010000.0,102822000.0,178878000,1688714000,1083427000.0,3550370000,56000,442771000,4363289000,"10-Q, 0001065280-13-000020",812919000,52004000.0,607821000.0,1391505000.0,291000.0,78229000.0
23,Q3,2012,370298000,57742000.0,2225018000,133603000,83646000.0,3808833000,NaN,91511000.0,155146000,1598223000,1030979000.0,3091993000,56000,432185000,3808833000,"10-Q, 0001065280-12-000020",716840000,70681000.0,428057000.0,1335769000.0,3006000.0,62791000.0
24,Q2,2012,402251000,52294000.0,2137785000,124644000,68056000.0,3478290000,NaN,90961000.0,152790000,1498844000,829163000.0,2790064000,56000,424510000,3478290000,"10-Q, 0001065280-12-000012",688226000,50884000.0,411092000.0,1223638000.0,961000.0,62057000.0
25,Q1,2012,395992000,45759000.0,2058741000,128197000,67247000.0,3480459000,NaN,83119000.0,150602000,1446666000,908188000.0,2817057000,55000,418346000,3480459000,"10-Q, 0001445305-12-001242",663402000,49106000.0,408534000.0,1155443000.0,1577000.0,62203000.0
26,Q3,2011,159199000,41797000.0,1190113000,143993000,28499000.0,1961558000,NaN,750107000.0,160929000,967966000,NaN,1573206000,53000,387711000,1961558000,"10-Q, 0001193125-11-284366",388352000,54671000.0,206573000.0,705398000.0,588000.0,372840000.0
27,Q2,2011,175207000,33792000.0,969444000,136948000,13172000.0,1570693000,NaN,533436000.0,146937000,726709000,NaN,1236659000,53000,333097000,1570693000,"10-Q, 0001193125-11-198669",334034000,44137000.0,201200000.0,499434000.0,884000.0,276964000.0
28,Q1,2011,150419000,38351000.0,721602000,134800000,13780000.0,1090188000,NaN,301009000.0,143045000,490318000,NaN,814466000,52000,275080000,1090188000,"10-Q, 0001193125-11-112061",275722000,44123000.0,192302000.0,265933000.0,590000.0,90584000.0
29,Q3,2010,113108000,37723000.0,492247000,125057000,13713000.0,770283000,NaN,170120000.0,102986000,312107000,NaN,578308000,52000,190644000,770283000,"10-Q, 0001193125-10-235785",191975000,36974000.0,143705000.0,138389000.0,1279000.0,31542000.0
30,Q2,2010,107327000,35173000.0,441218000,123292000,12845000.0,693972000,NaN,120031000.0,101419000,258167000,NaN,517332000,52000,175786000,693972000,"10-Q, 0001193125-10-167382",176640000,34746000.0,171758000.0,93123000.0,802000.0,23980000.0
31,Q1,2010,79861000,NaN,379538000,127165000,13368000.0,648293000,NaN,102703000.0,100109000,243447000,NaN,501558000,52000,146196000,648293000,"10-Q, 0001193125-10-095215",146735000,38718000.0,186469000.0,55566000.0,487000.0,22407000.0
32,Q3,2009,55717000,18239000.0,234962000,122119000,NaN,492131000,NaN,93451000.0,79123000,203522000,NaN,259929000,64000,193399000,492131000,"10-Q, 0001193125-09-213071",232202000,29606000.0,99745000.0,32937000.0,552000.0,19467000.0
33,Q2,2009,87471000,22381000.0,342564000,120346000,NaN,591993000,NaN,101634000.0,80495000,211186000,NaN,267622000,64000,163258000,591993000,"10-Q, 0001193125-09-160729",324371000,27782000.0,167498000.0,33519000.0,725000.0,19135000.0
34,Q1,2009,115131000,17383000.0,364880000,123817000,NaN,628678000,NaN,112767000.0,80623000,226713000,NaN,282366000,63000,130815000,628678000,"10-Q, 0001193125-09-103685",346312000,32108000.0,171358000.0,33299000.0,NaN,17997000.0
35,Q3,2008,111524000,18268000.0,301375000,128541000,NaN,582999000,NaN,109277000.0,65897000,207889000,NaN,258166000,62000,85720000,582999000,"10-Q, 0001193125-08-222820",324833000,31625000.0,139304000.0,NaN,NaN,11990000.0
36,Q4,2019,5018437000000,1160067000000.0,6178504000000,565221000000,2727420000000.0,33975712000000,4413561000000.0,674347000000.0,924745000000,6855696000000,3334323000000.0,26393555000000,2793929000000,4811749000000,33975712000000,"10-K, 0001065280-20-000040",7582157000000,NaN,NaN,29655753000000.0,23521000000.0,1444276000000.0
37,Q4,2018,3794483000000,748466000000.0,9694135000000,418281000000,901030000000.0,25974400000000,4686019000000.0,562985000000.0,760899000000,6487320000000,3759026000000.0,20735635000000,2315988000000,2942359000000,25974400000000,"10-K, 0001065280-19-000043",5238765000000,477417000000.0,NaN,20112140000000.0,19582000000.0,129231000000.0
38,Q4,2017,2822795000000,536245000000.0,7669974000000,319404000000,652309000000.0,19012742000000,4173041000000.0,359555000000.0,618622000000,5466312000000,3329796000000.0,15430786000000,1871396000000,1731117000000,19012742000000,"10-K, 0001065280-18-000069",3581956000000,315094000000.0,266206000000.0,14681989000000.0,20557000000.0,135246000000.0
39,Q4,2016,1467576000000,260202000000.0,5720291000000,250395000000,341423000000.0,13586610000000,3632711000000.0,312842000000.0,443472000000,4586657000000,2894654000000.0,10906810000000,1599762000000,1128603000000,13586610000000,"10-K, 0001628280-17-000496",2679800000000,197632000000.0,266206000000.0,11000808000000.0,48565000000.0,61188000000.0
40,Q4,2015,1809330000000,215127000000.0,5431840000000,173412000000,284802000000.0,10202871000000,2789023000000.0,253491000000.0,346721000000,3529624000000,2026360000000.0,7979445000000,1324809000000,941925000000,10202871000000,"10-K, 0001065280-16-000047",2223426000000,140389000000.0,501385000000.0,7218815000000.0,43308000000.0,52099000000.0
41,Q4,2014,1113608000000,206271000000.0,3940469000000,149875000000,192981000000.0,7056651000000,2117241000000.0,201581000000.0,274586000000,2663154000000,1575832000000.0,5198943000000,60000000,819284000000,7056651000000,"10-K, 0001065280-15-000006",1857708000000,69746000000.0,494888000000.0,2125702000000.0,NaN,59957000000.0
42,Q4,2013,604965000000,151937000000.0,3058763000000,133605000000,129124000000.0,5412563000000,1775983000000.0,108435000000.0,215767000000,2154203000000,1345590000000.0,4079002000000,60000000,552485000000,5412563000000,"10-K, 0001065280-14-000006",1333561000000,54018000000.0,595440000000.0,1706421000000.0,3575000000.0,79209000000.0
43,Q4,2012,290291000000,64622000000.0,2240791000000,131681000000,89410000000.0,3967890000000,1366847000000.0,86468000000.0,169472000000,1675926000000,1076622000000.0,3223217000000,56000000,440082000000,3967890000000,"10-K, 0001065280-13-000008",744673000000,53139000000.0,457787000000.0,1368162000000.0,2919000000.0,70669000000.0
44,Q4,2011,508053000000,57330000000.0,1830857000000,136353000000,55052000000.0,3069196000000,NaN,NaN,148796000000,1225055000000,739628000000.0,2426386000000,55000000,422930000000,3069196000000,"10-K, 0001193125-12-053009",642810000000,63693000000.0,289758000000.0,919709000000.0,706000000.0,61703000000.0
45,Q4,2010,194499000000,47357000000.0,640967000000,128570000000,14090000000.0,982067000000,NaN,222824000000.0,127183000000,388579000000,NaN,691903000000,53000000,237739000000,982067000000,"10-K, 0001193125-11-040217",290164000000,36489000000.0,155888000000.0,181006000000.0,750000000.0,69201000000.0
46,Q4,2009,134224000000,23818000000.0,411013000000,131653000000,12300000000.0,679734000000,NaN,91475000000.0,100097000000,226369000000,NaN,480591000000,53000000,198817000000,679734000000,"10-K, 0001193125-10-036181",199143000000,33387000000.0,186018000000.0,37329000000.0,273000000.0,17650000000.0
47,Q4,2008,139881000000,13329000000.0,361447000000,124948000000,NaN,617946000000,NaN,100344000000.0,83127000000,216017000000,NaN,270791000000,62000000,108452000000,617946000000,"10-K, 0001193125-09-037430",347155000000,31394000000.0,157390000000.0,18691000000.0,84000000.0,16786000000.0